<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.sftpFile.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
			<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<style type="text/css">
				.modal-body {
					min-height: 200px;
					padding: 10px 0;
				}
				
				td.text-center > div {
					display: flex;
					justify-content: center;
					gap: 4px;
				}
			</style>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-12">
					<h3 class="header-title">Archivos SFTP</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label >Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Nómina
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								<label>Archivos SFTP</label>
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
                        <div th:if="${downloadErrMsg != null}" class="row">
                           	<div class="col-lg-12" style="padding-left: 0;">
	                           	<div class="alert alert-danger alert-dismissable" role="alert" style="margin-bottom: 5px !important;">
	                           		<button type="button" data-dismiss="alert" class="close" aria-label="Close">×</button>
	                           		<i id="i-global-message" aria-hidden="true" class="fa fa-warning"></i>
	                           		<span id="global-message-text" th:text="${downloadErrMsg}"></span>
	                           	</div>
                           	</div>
                        </div>
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="row animated fadeInRight">
								<div class="col-lg-12" style="padding-left: 0;">
                    				<div class="row">
                    					<div class="col-lg-12">
	                    					<!-- Criterios de busqueda -->
											<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
				                                <div class="ibox-title">
				                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
				                                    <label>Criterios de búsqueda</label>
				                                    <div class="ibox-tools pull-right">
				                                        <a class="collapse-link">
				                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
				                                        </a>
				                                    </div>
				                                </div>
				                                <div class="ibox-content" style="padding-bottom: 0; display: none">
				                               		<div class="panel-body" style="padding: 0;">
														<div class="div-form-content">
				                                			<div class="row"><!-- form-group -->
																<div id="div-searchName" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchName" class="label-form" for="searchName">
																		Nombre:
																	</label>
																	<input type="text" id="searchName" name="searchName" class="form-control">
																	<span id="span-searchName" class="field-validation-error-extended"></span>
																</div>
																<div id="div-searchDate" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchDate" class="label-form" for="searchDate">
																		Fecha carga:
																	</label>
																	<input type="text" id="searchDate" name="searchDate" class="form-control" placeholder="dd/mm/yyyy">
																	<span id="span-searchDate" class="field-validation-error-extended"></span>
																</div>
				                                			</div>
				                                		</div>
				                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px; padding-right: 0;">
															<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-search" aria-hidden="true"></i> 
																Buscar
															</button>
															<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-retweet" aria-hidden="true"></i> 
																Limipiar filtros
															</button>
														</div>                                		
				                               		</div>
												</div>
				                            </div>
                    					</div>
                        				<div class="col-lg-12">
											<div class="div-form-facet" style="margin-top: 0px; padding: 15px 15px 7px;">
												<h4>
													<i class="fa fa-file-code-o" aria-hidden="true"></i>													
													<span>Listado de archivos</span> <small id="total-elements-result"></small>
													<div class="panel-heading-controls">
				                						<select id="pagination-page-size" class="form-control input-sm custom-select">
				                                        	<option id="pag-opt-10" value="10">10</option>
				                                        	<option id="pag-opt-50" value="50">50</option>
				                                        	<option id="pag-opt-100" value="100">100</option>
				                                        	<option id="pag-opt-150" value="150">150</option>
				                                        	<option id="pag-opt-200" value="200">200</option>
				                                        	<option id="pag-opt-250" value="250">250</option>
				                                        	<option id="pag-opt-500" value="500">500</option>				                                        	
				                                      	</select>
				                                    </div>
												</h4>
											</div>
											<div class="ibox-content" style="padding: 0;">
												<div id="panel-search-result-empty-content" class="hidden" style="padding: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												<div id="div-sftp-file-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="25%">
															<col width="15%" span="5">
														</colgroup>
														<thead>
															<tr>
																<th>Nombre</th>
																<th class="text-center">Área</th>
																<th class="text-center">Fecha carga</th>
																<th class="text-center">Estatus</th>
																<th class="text-center">Contenido</th>
																<th class="text-center">Errores</th>
															</tr>
														</thead>
														<tbody id="tbdoy-sftp-file-custom-list"></tbody>
													</table>
												</div>
												<!-- Paginado -->
												<div id="div-pagination-sftp-file-content" class="hidden">
													<div id="div-pagination-sftpFile" style="text-align: center;"></div>
												</div>
											</div>
										</div>
                        			</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var cssClassDanger = /*[[${cssAlertDanger}]]*/;
				var invalidSftpFileMessage = /*[[${invalidSftpFile}]]*/;
				
				var sftpFileSourceRequest = /*[[@{/sftp/files/payroll}]]*/;				
				
				var contextPath = /*[[@{/}]]*/;
				
				var display = null;
				var page = null;
				
				//##### Valor del total de registros por pagina
				var paginationPageSize = 10;
				var paginationPageSizeValues = ['10', '50', '100', '150', '200', '250', '500'];
				
				$(document).ready(function() {
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					sftpFileLoad();
					
					$('#div-searchDate input').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
					
					$('#btn-search').click(function() {
						search();
					});
					
					$('#btn-search-clean').click(function() {
						searchClean();
					});
					
					$('#pagination-page-size').change(function() {
						if (isSelectHasValue(this.id)) {
							globalMessageHide();
							paginationPageSize = getElementValue(this.id);
							if (isElementInArray(paginationPageSizeValues, paginationPageSize)) {
								sftpFiles = [];
								page = null;
								sftpFileLoad();
							} else {
								globalMessageShow('El valor de registros por página no es válido', null, true);
							}
						}
					});
				});
				
				var sftpFiles = [];
				function sftpFileLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if (!isElementExist('div-loading-initial-content')) {
						processing(loadingRequest);	
					}
					
					$.ajax({
						url: sftpFileSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchName : encodeValue(getElementValue('searchName')),
				       		searchDate: encodeValue(getElementValue('searchDate')),
				       		page: page == null ? encodeValue("0") : page,
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.sftpFiles;
								var sftpFilePagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (sftpFilePagination != null) {
									if (sftpFilePagination.paginator != null) {
										paginator = sftpFilePagination.paginator;
									}
									
									paginatorPage = sftpFilePagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = decodeValue(item.id);
											obj.name = decodeValue(item.name);
											obj.area = decodeValue(item.area);
											obj.uploadDate = decodeValue(item.uploadDate);
											obj.fileStatus = decodeValue(item.fileStatus);
											obj.sftpPath = decodeValue(item.sftpPath);
											obj.sftpErrorPath = decodeValue(item.sftpErrorPath);
											obj.errorValidationPath = decodeValue(item.errorValidationPath);
											obj.errorContentPath = decodeValue(item.errorContentPath);
											obj.errorS3Path = decodeValue(item.errorS3Path);
											
											sftpFiles[sftpFiles.length] = obj;
										}
										sftpFileCustomList();
										pagination('pagination-sftpFile', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-sftp-file-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function sftpFileReload() {
					sftpFiles = [];
					page = w2utils.isInt(page) ? encodeValue(page) : page;
					$.ajax({
						url: sftpFileSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchName : encodeValue(getElementValue('searchName')),
				       		searchDate: encodeValue(getElementValue('searchDate')),
				       		page: page == null ? encodeValue("0") : page,
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.sftpFiles;
								var sftpFilePagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (sftpFilePagination != null) {
									if (sftpFilePagination.paginator != null) {
										paginator = sftpFilePagination.paginator;
									}
									
									paginatorPage = sftpFilePagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = decodeValue(item.id);
											obj.name = decodeValue(item.name);
											obj.area = decodeValue(item.area);
											obj.uploadDate = decodeValue(item.uploadDate);
											obj.fileStatus = decodeValue(item.fileStatus);
											obj.sftpPath = decodeValue(item.sftpPath);
											obj.errorValidationPath = decodeValue(item.errorValidationPath);
											obj.errorContentPath = decodeValue(item.errorContentPath);
											obj.errorS3Path = decodeValue(item.errorS3Path);
											sftpFiles[sftpFiles.length] = obj;
										}
										sftpFileCustomList();
										pagination('pagination-sftpFile', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-sftp-file-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function sftpFileCustomList() {
					$('#tbdoy-sftp-file-custom-list').html("");
					if (sftpFiles.length >= 1) {
						for (var i = 0; i < sftpFiles.length; i ++) {
							const item = sftpFiles[i];
							var id = item.id;
							var name = item.name;
							var area = item.area;
							var uploadDate = item.uploadDate;
							var fileStatus = item.fileStatus;
							var sftpPath = item.sftpPath;
							var errorValidationPath = item.errorValidationPath;
							var errorContentPath = item.errorContentPath;
							var errorS3Path = item.errorS3Path;
							
							var contentDownload = contextPath + 'sftp/files/download/payroll/'+id+'/content';
							var errorValidationDownload = contextPath + 'sftp/files/download/payroll/'+id+'/errorValidation';
							var errorContentDownload = contextPath + 'sftp/files/download/payroll/'+id+'/errorContent';
							var errorS3Download = contextPath + 'sftp/files/download/payroll/'+id+'/errorS3';
							
							var downloadContent = '';
							if (sftpPath !== '' && sftpPath !== null) {
								downloadContent = 	'<div title="Descargar Contenido"> ' +
														'<a href="'+contentDownload+'"> ' +
															'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
														'</a> ' +
												  	'</div>';
							}
							
							var errorValidation = '';
							if (errorValidationPath !== '' && errorValidationPath !== null) {
								errorValidation = 	'<div title="Descargar Error Validación"> ' +
														'<a href="'+errorValidationDownload+'"> ' +
															'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
														'</a> ' +
													'</div>';
							}
							
							var errorContent = '';
							if (errorContentPath !== '' && errorContentPath !== null) {
								errorContent = 	'<div title="Descargar Error Contenido"> ' +
													'<a href="'+errorContentDownload+'"> ' +
														'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
													'</a> ' +
												'</div>';
							}
							
							var errorS3 = '';
							if (errorS3Path !== '' && errorS3Path !== null) {
								errorS3 =	'<div title="Descargar Error S3"> ' +
												'<a href="'+errorS3Download+'"> ' +
													'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div>';
							}
							
							var downloadError = '<div>'+errorValidation+''+errorContent+''+errorS3+'</div>';
							
							$("#tbdoy-sftp-file-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
									'<td class="text-center">'+area+'</td> ' +
									'<td class="text-center">'+uploadDate+'</td> ' +
									'<td class="text-center">'+fileStatus+'</td> ' +
									'<td class="text-center">'+downloadContent+'</td> ' +
									'<td class="text-center">'+downloadError+'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-sftp-file-custom-list');
					} else {
						hiddenClass('div-sftp-file-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList() {
					$("#tbdoy-sftp-file-custom-list").html("");
					hiddenClass('div-sftp-file-custom-list');
				}
				
				function paginate(pPage) {
					page = pPage;
					sftpFiles = [];
					sftpFileLoad();
				}
				
				function search() {
					page = null;
					sftpFiles = [];
					sftpFileLoad();
				}
				
				var searchFields = ['searchName', 'searchDate'];
				function searchClean() {
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if (bValid) {
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if (isCriteriaDefined) {
						formFieldsClear(searchFields);
						search();
					}
				}
				
				function paginationHidden() {
					$('#div-pagination-sftpFile').html("");
					hiddenClass('div-pagination-sftp-file-content');
				}
			</script>
		</div>
	</body>
</html>