<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div th:fragment="cfdi-column-header(headerText, columnName, pageWrapperModel, currentPage, sortBy, direction, searchUuid, searchRfc, searchClave, searchDateStart, searchDateEnd)">
			<a th:if="${not (columnName == sortBy)}" style="text-decoration: none;" th:href="@{${pageWrapperModel.url}(page=${currentPage},sortProperty=${columnName},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
				<span th:text="${headerText}"></span>
			</a>
			<a th:if="${columnName == sortBy and direction == 'DESC'}" th:href="@{${pageWrapperModel.url}(page=${currentPage},sortProperty=${columnName},sortDirection=ASC,searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
				<span th:text="${headerText}"></span>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
			</a>
			<a th:if="${columnName == sortBy and direction == 'ASC'}" th:href="@{${pageWrapperModel.url}(page=${currentPage},sortProperty=${columnName},sortDirection=DESC,searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
				<span th:text="${headerText}"></span>
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
			</a>
		</div>
	</body>
</html>