<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>	
	<body>
		<div id="application-page-footer" th:fragment="application-page-footer" class="application-page-footer row hidden">
			<style>
				.footer-copyright, .footer-term, .footer-social {
					text-align: center;
					float: none;
					width: 100%;
					margin-bottom: 40px;
				}				
				.footer-social-inner {
					margin-right: 0px;
				}
				@media (min-width: 768px) {
					.footer-copyright, .footer-term, .footer-social {
						margin-bottom: 0px;
					}
					.footer-copyright {
						text-align: left;
						float: left;
						width: 33%;
					}
					.footer-term {
						text-align: center;
						float: left;
						width: 33%;
					}
					.footer-social {
						float: left;
						width: 33%;
						text-align: right;
					}
					.footer-social-inner {
						margin-right: 15px;
					}
				}
			</style>
			<div class="footer-copyright"><!-- style="float: left; width: 33%;" -->
				<div>
					<img th:src="@{'/resources/img/footer/megapractical-logo.png'}" class="footer-mega-logo" style="margin-right: 10px;">
				</div>
				<strong>Copyright</strong> MegaPractical &copy; 2014-<span>[[${#dates.year(#dates.createNow())}]]</span>
				<p>
					<span>MEGA-CFDI RELEASE 3.0.0</span>
				</p>
				<p>
					<div>
						<span>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							Tierra Mz. A Lt. 2 
						</span></br>
						<span style="margin-left: 10px;">Cantíl del pedregal, Coyoacán, Ciudad de México</span></br>
						<span style="margin-left: 10px;">CP: 04730</span>
					</div>
				</p>
				<p>
					<span>
						<i class="fa fa-phone" aria-hidden="true"></i>
						+52 (55) 5171 0701
					</span>
				</p>
			</div>
			<div class="footer-term"><!-- style="float: left; width: 33%; text-align: center;" -->
				<div>
					<img th:src="@{'/resources/img/footer/megafactura-logo.png'}" class="footer-megafact-logo" style="margin-right: 10px;">
				</div>
				<div style="margin-top: 5px">
					<span style="font-size: 12px">
						<a th:href="@{'/resources/file/megapractical-terminos.pdf'}" target="_blank">Términos y condiciones</a>
					</span>
					<span>|</span>
					<span style="font-size: 12px">
						<!--<a href="http://www.sat.gob.mx/terceros_autorizados/receptor_doctos_electronicos/Documents/caracteristicas_funcionales_psrdd.pdf"
						   target="_blank">Niveles de servicio</a>-->
						   <a href="http://m.sat.gob.mx/terceros_autorizados/receptor_doctos_electronicos/Documents/caracteristicas_funcionales_psrdd.pdf"
						   target="_blank">Niveles de servicio</a>
					</span>
					<span>|</span>
					<span style="font-size: 12px">												   
					  	<a th:href="@{/HelpDesk}" >Mesa de ayuda</a> 
					</span>
				</div>
			</div>
			<div class="footer-social"><!--style="float: left; width: 33%; text-align: right;" class="pull-right" -->
				<div class="footer-social-inner"><!-- style="margin-right: 15px;" -->
					<span style="margin-right: 5px;font-weight: bold;">Síguenos en</span></br>
					<span>
						<a href="https://twitter.com/megapractical" target="_blank">
							<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
						</a>							
					</span>
					<span style="margin-left: 5px;">
						<a href="https://www.facebook.com/Megapractical-671914606198465/?fref=ts" target="_blank">
							<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
						</a>							
					</span>
					<span style="margin-left: 5px;">
						<a href="https://www.linkedin.com/company/megapractical-sa-de-cv" target="_blank">
							<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
						</a>					
					</span>
				</div>
			</div>
		</div>
	</body>
</html>