<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div th:fragment="cfdi-pagination(pageWrapperModel, sortBy, direction, searchUuid, searchRfc, searchClave, searchDateStart, searchDateEnd)" style="text-align: center;">
			<ul class="pagination">
				<!-- Inicio -->
				<li th:class="${pageWrapperModel.isFirstPage()}? disabled">
					<span th:if="${pageWrapperModel.isFirstPage()}">← Inicio</span>
					<a th:if="${not pageWrapperModel.isFirstPage()}" th:href="@{${pageWrapperModel.url}(page=1,sortProperty=${sortBy},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
						← Inicio
					</a>
				</li>
				<li th:class="${not pageWrapperModel.hasPreviousPage()}? disabled">
					<!-- Anterior -->
					<span th:if="${not pageWrapperModel.hasPreviousPage()}">
						«
					</span>
					<a th:if="${pageWrapperModel.hasPreviousPage()}" 
					   th:href="@{${pageWrapperModel.url}(page=${pageWrapperModel.number-1},sortProperty=${sortBy},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}" 
					   title='Anterior'>«</a>
				</li>
				<!-- Paginas -->
				<li th:each='item : ${pageWrapperModel.items}' th:class="${item.current}? active">
					<span th:if="${item.current}" th:text="${item.number}">1</span>
					<a th:if="${not item.current}" th:href="@{${pageWrapperModel.url}(page=${item.number},sortProperty=${sortBy},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
						<span th:text="${item.number}">1</span>
					</a>
				</li>
				<!-- Siguiente -->
				<li th:class="${not pageWrapperModel.hasNextPage()}? disabled">
					<span th:if="${not pageWrapperModel.hasNextPage()}">»</span>
					<a th:if="${pageWrapperModel.hasNextPage()}"
					   th:href="@{${pageWrapperModel.url}(page=${pageWrapperModel.number+1},sortProperty=${sortBy},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}"
					   title="Siguiente">»</a>
				</li>
				<!-- Fin -->
				<li th:class="${pageWrapperModel.isLastPage()}? disabled">
					<span th:if="${pageWrapperModel.isLastPage()}">Fin →</span>
					<a th:if="${not pageWrapperModel.isLastPage()}" th:href="@{${pageWrapperModel.url}(page=${pageWrapperModel.totalPages},sortProperty=${sortBy},sortDirection=${direction},searchUuid=${searchUuid},searchRfc=${searchRfc},searchClave=${searchClave},searchDateStart=${searchDateStart},searchDateEnd=${searchDateEnd})}">
						Fin →
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>