h3.header-title{
	margin-top: 20px; 
	margin-bottom: 5px;
}

.label-form{
	float: left !important;
	margin-bottom: 0px;
}

.button-form-right{
	text-align: right !important;
}

.button-form-left{
	text-align: left !important;
}

.div-heading-nav{
	padding-top: 15px;
	padding-left: 15px;
}

.div-heading{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: -15px;
    text-align: justify;
}

.div-form-input-bottom{
	margin-bottom: 10px;
}

.form-group-separator{
	height: 2px;
}

.div-form-content{
	float: left;
	width: 100%;
}

.div-form-facet {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: none none solid;
    border-width: 1px 0;
    color: inherit;
}

.div-form-facet h2,
.div-form-facet h3 {
	margin-bottom: 0px !important;
}

.stamp-activate-button{
	top: 4px; 
	position: relative; 
	width: 250px; 
	margin-left: 25px; 
	font-weight: 800; 
	background-color: #f8ac59;	
	color: #ffffff !important;
}

.stamp-activate-button:hover{
	background-color: #1a7bb9;
}

.label-menu{
	font-weight: 600 !important;
	/*margin-top: -18px;
	padding-left: 22px;*/
}

.panel-body-inner {
    border: medium none !important;
    padding-left: 0 !important;
    padding-right: 0 !important; 
    padding-top: 0 !important; 
}

.panel-body-inner-single {
    border: medium none !important;
}

.modal-dialog-big-content{
	width: 80% !important;
}

.sidebar-container .setings-item-title{
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7eaec;
}

.sidebar-container .setings-item{
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 0px;
	border-bottom: none;	
}

.setings-item .setings-item-tooltip{
	cursor: pointer;
}

.setings-item .setings-item-tooltip:hover{
	color: #1c84c6;
}

.onoffswitch-inner:before {
  content: "SI";
  padding-left: 10px;
  background-color: #1ab394;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #FFFFFF;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch-disabled{
	border: 2px solid #ccc !important;
}

.onoffswitch-inner-disabled::before {
	background-color: #ccc !important;
}

.onoffswitch-label-disabled {
	border: 2px solid #ccc !important;
}

.w2ui-tag .w2ui-tag-body {
	width: 230px;
	white-space: pre-wrap;
}

.panel-info {
	background-color: #fff;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    list-style: none outside none;
    text-shadow: none;
}

/*===== Modal Panel con opciones =====*/
.modal-panel-options {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    text-shadow: none;
}

.dropdown-options-container{
	overflow: auto; 
	position: relative; 
	width: 700px; 
	padding: 10px;
}

.dropdown-options{
	float: left; 
	width: 210px;
	text-align: left;
	font-weight: normal;
	margin-right: 25px;
}

.dropdown-options .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-options-container .dropdown-options:last-child{
	margin-right: 0;
} 

.dropdown-options-ul{
	list-style: none outside none;
	padding: 0;
}

.dropdown-options-li span{
	font-weight: bold;
	padding: 10px;
}

.dropdown-options-li label{
	font-weight: normal;
	width: 170px;
}

.dropdown-options-li > a{
	border-radius: 3px;
	color: #676a6c;
	line-height: 25px;
	padding: 10px;
}

.dropdown-options-li > a:hover{
	background-color: #f5f5f5;
	color: #262626;
	text-decoration: none;				
}

.dropdown-options-li > a.disabled{
	color: #DFE4ED;
}

.dropdown-options-li > a.disabled:hover{
	background-color: transparent;
	cursor: not-allowed;
	text-decoration: none;
}

/*===== Folder list =====*/
.folder-list li a{
	line-height: 25px;
	padding: 10px;
}

.folder-list li a:hover{
	background-color: #f5f5f5;
	color: #000;
	text-decoration: none;
	font-weight: bold;				
}

.folder-list li a.selected{
	color: #000;
	text-decoration: none;
	font-weight: bold;				
}

/*===== Select2 Plugin =====*/
.select2{
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e5e6e7 !important;
    border-radius: unset !important;
    height: 34px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 3px 12px !important;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676a6c !important;
    font-size: 14px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 7px 6px 0 6px !important;
	margin-left: -6px !important;
	margin-top: 1px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 6px 7px 6px !important;
}

/*===== TABLE ==============*/
.table-without-border{
	margin-bottom: 0px !important;
}

.table-without-border > thead > tr > th, 
.table-without-border > tbody > tr > th, 
.table-without-border > tfoot > tr > th, 
.table-without-border > thead > tr > td, 
.table-without-border > tbody > tr > td, 
.table-without-border > tfoot > tr > td {
    border-top: none !important;    
}

.table-list{
	width: auto !important;
	max-width: auto !important;
}

.table-list > thead > tr > th,
.table-list > tbody > tr > td {
	width: 1px;
	white-space: nowrap;
}

.table-list > tbody > tr td:nth-child(1),
.table-list > tbody > tr td:nth-child(3),
.table-list > tbody > tr td:nth-child(5) {
	color: #666;
	font-weight: 600;
}

.table-list > tbody > tr td:nth-child(2),
.table-list > tbody > tr td:nth-child(4) {
	color: #999;
    padding-right: 30px;
}

.table-list > tbody > tr td:nth-child(6) {
	color: #999;
}

/*===== NAV ==============*/
.nav-fnc-active{
	background-color: #293846;
	color: white !important;
}

.nav > li.active {
    border-left: none;
}

.nav > li.active > a.fnc-node {
    background-color: #27b6af;
    color: white;
}

.nav > li.active > a.fnc-node:hover,
.nav > li.active > a.fnc-node:focus {
    background-color: #27b6af;
    color: white;
}

.nav > li > a.fnc-node:hover {
    background-color: #ffffff;
    color: #1d2939;
}

.nav-second-level li a {
    padding-bottom: 5px;
    padding-left: 25px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {  
	min-width: 180px !important;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {    
    white-space: nowrap;
}

/*===== SPINNER ==============*/

.sk-spinner-wave.sk-spinner {
    width: 50px;
    height: 30px;
    text-align: left;
    font-size: 10px;
    margin-top: -8px;
    margin-left: auto !important;
}

.sk-spinner-wave div {
	background-color: #999;
}

.sk-spinner-fading-circle .sk-circle13::before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.sk-spinner-fading-circle .sk-circle13 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-spinner-fading-circle .sk-circle14::before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.sk-spinner-fading-circle .sk-circle14 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-spinner-fading-circle .sk-circle15::before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.sk-spinner-fading-circle .sk-circle15 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-spinner-fading-circle .sk-circle::before {
    background-color: #fff;
}

.sk-spinner-three-bounce div {
    width: 12px;
    height: 12px;
    background-color: #676A6C;
}

/*===== Toastr ===================================*/
#toast-container > .toast-warning:before {
  content: "" !important;
}
#toast-container > .toast-error:before {
  content: "" !important;
}
#toast-container > .toast-info:before {
  content: "" !important;
}
#toast-container > .toast-success:before {
  content: "" !important;
}

.toast-message {
	-ms-word-wrap: normal !important;
  	word-wrap: normal !important;
}

/* FIELDS CLASS*/
.required {
    color: red !important;
}

.blocked{
	color: red !important;
    text-decoration: line-through;
}

.hidden {
	display: none !important;
}

.input-invisible {
    opacity: 0 !important;
}

.has-error .input-control {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-error .input-control:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

.has-error .form-control:focus{
	border-color: #843534 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

.has-error .field-validation-error{
	color: red !important;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	white-space: nowrap;
}

.has-error .field-validation-error-extended{
	color: red !important;
	font-size: 11px;
	font-weight: bold;
	position: relative;
}

.div-form-input-bottom-has-error{
	margin-bottom: 20px !important;
}

.div-file-input-span-has-error{
	float: left;
	position: relative;
	width: 100%;
	margin-top: -10px;	
}

/*CUSTOM SELECT*/
.custom-select,
.custom-select:focus {
    outline: 0!important
}

.custom-select {
    vertical-align: middle;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 12px center no-repeat #fff;
    background-image: none\9;
    background-size: 8px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0;
	margin-right: 20px;
}

.custom-select.form-control {
    line-height: 1.61539
}

.custom-select.input-sm,
.form-group-sm .custom-select.form-control {
    line-height: 1.42
}

.custom-select:disabled {
    background-color: #eceeef!important
}

.panel-heading-controls{
	float: right;
	margin-top: -7px;
}