/*
	@author 	Maikel Guerra Ferrer
	@date		20170808
	@location	D.F, Mexico
*/

html, body {
	background: url("../../../img/dashboard/register-bg-01.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo{
	float:left;
	margin-left: 20px;
    margin-top: 20px;
}

.logo-megafactura{
	float:right;
	margin-right: 20px;
    margin-top: 20px;
}