.block-div{
	background-color: #333 !important;	
	border: 1px solid #000 !important;
	border-radius: 0.3em !important;
    box-shadow: 0 0 5px #aaa !important;
	height:56px !important;
	opacity: 0.8 !important;
	text-shadow: -1px -1px #000 !important;
	width:auto !important;
}

.block-content{
	padding: 20px;	
}

.block-text{
	color: #fff !important;
    font-weight: bold;
	letter-spacing: 0.2px;
    margin-left: 10px;
}