.application-page-footer{
	background: none repeat scroll 0 0 white;
	border-top: 1px solid #e7eaec;
	left: 0;
	padding: 10px 20px;
	position: relative;
	right: 0;
	
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.footer-megafact-logo{
	/*background-image: url("../../../img/footer/megafactura-logo.png");
	background-repeat: no-repeat;*/
	height: 44px;
	width: 166px;'
}

.footer-mega-logo{
	/*background-image: url("../../../img/footer/megapractical-logo.png");
	background-repeat: no-repeat;*/
	height: 43px;
	width: 173px;'
}

.footer-amexipac-logo{
	/*background-image: url("../../../img/footer/amexipac-logo.png");
	background-repeat: no-repeat;*/
	height: 50px;
	width: 50px;
}

.footer-proveedor-sat-logo{
	/*background-image: url("../../../img/footer/proveedor-sat-logo.png");
	background-repeat: no-repeat;*/
	height: 65px;
	width: 45px;
}

.application-page-footer a{
	color: #676A6C;
}

.application-page-footer a:hover{
	color: #888888;
	font-weight: 700;
}