<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
	</head>
	<body>
		<div th:fragment="content"><!-- class="container" -->
			<!-- CSS :: Register -->
			<link th:href="@{'/resources/css/app-style/register/register.css'}" rel="stylesheet">
			<!-- CSS :: Responsive -->
			<link th:href="@{'/resources/css/app-style/responsive/responsive.css'}" rel="stylesheet" media="screen" type="text/css"/>

			<body id="body-content">
				<div class="header">
			    	<div class="">
			    		<div class="logo-menu">
			        		<div class="logo">
			            		<a th:href="@{'/login'}">
			            			<img th:src="@{'/resources/img/dashboard/megapractical-white.png'}" width="250px">
			            		</a>
			            	</div>
			            	<div class="logo-megafactura">
			            		<a th:href="@{'/login'}">
			            			<img th:src="@{'/resources/img/dashboard/megafactura-white.png'}" width="250px">
			            		</a>
			            	</div>
			            </div>
					</div>
				</div>
				<div class="container">
					<div class="loginscreen animated fadeInDown text-center" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0;">
						<div id="box-content" class="box-content" style="overflow: auto;">
							<div class="app-logo"></div>
							<div id="create-account-content" class="create-account-content text-center">
								<p>Crear cuenta</p>
							</div>
							<div class="div-form-content" style="margin-top: 15px;">
								<h3><b>¡Su cuenta ha sido registrada satisfactoriamente!</b></h3>
								<div class="form-group" style="margin-top: 15px;">
									<p>Por favor revise el correo especificado en el registro de la cuenta 
									y siga los pasos para activarla. Por seguridad, si en 7 días 
									no activa su cuenta, la misma será eliminada automáticamente.</p>
								</div>
								<div class="form-group" style="margin-top: 50px;">
									<a th:href="@{'/login'}">
										<small>Iniciar sesión</small>
									</a>
									<a th:href="@{'/registerAccount'}" style="margin-left: 10px;">
										<small>Crear cuenta</small>
									</a>
								</div>
								<div class="form-group" style="margin-top: 70px; margin-bottom: -40px;">
									<p>
										<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</body>
		</div>
	</body>
</html>

