<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<title>Inicio</title>
</head>
<body>
	<div th:fragment="content"><!-- class="container" -->
	
		<!-- CSS :: Register -->
		<link th:href="@{'/resources/css/app-style/register/register.css'}" rel="stylesheet">
		<!-- CSS :: Awesome Bootstrap Checkbox -->
    	<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
		<!-- iCheck -->
		<!--<link th:href="@{'/resources/css/plugins/iCheck/custom.css'}" rel="stylesheet">
		<script th:src="@{'/resources/js/plugins/iCheck/icheck.min.js'}" type="text/javascript"></script>-->
		
		<style type="text/css">
			.control-label {
				white-space: nowrap;
			}
			
			.loginscreen.middle-box {
				width: 400px;
			}
			
			.middle-box {
				max-width: 400px;
			}
			
			.col-md-4 {
				text-align: right !important;
			}
		</style>

		<body id="body-content">
			<div class="header">
		    	<div class="">
		    		<div class="logo-menu">
		        		<div class="logo">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megapractical-white.png'}" width="250px">
		            		</a>
		            	</div>
		            	<div class="logo-megafactura">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megafactura-white.png'}" width="250px">
		            		</a>
		            	</div>
		            </div>
				</div>
			</div>
			<div class="container">
				<div class="loginscreen animated fadeInDown" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0;">
					<div id="box-content" class="box-content">
						<div class="app-logo"></div>
<!-- 						<div id="create-account-content" class="create-account-content text-center"> -->
<!-- 							<h4>¡Regístrate y factura en línea con la versión 3.3 todos <b>los CFDI's que necesites GRATIS por 10 días!</b></h4> -->
<!-- 							<p>Crear cuenta</p> -->
<!-- 						</div> -->
						
						<div id="create-account-content" class="create-account-content text-center">
							<h4>¡Funcionalidad no disponible por el momento!</b></h4>
						</div>
	
						<!-- Area de mensajes -->
						<div id="global-message" class="hidden" style="margin-bottom: 5px;">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<span id="global-message-text"></span>
						</div>
	
						<form id="form-register-account" class="m-t" role="form" th:action='@{/registerSuccessfully}' method="post">
							<div class="div-form-content">
								<div class="form-group">
									Contribuyente :: Nombre o razon social
									<div id="div-name" class="col-xs-6 div-form-input-bottom" style="padding-left: 0; padding-right: 5px;">
										<label id="label-name" class="label-form" for="name">
											Nombre o razón social (*):
										</label>
										<input type="text" id="name" name="name" class="form-control">
										<span id="span-name" class="field-validation-error-extended"></span>
									</div>
									Contribuyente :: RFC
									<div id="div-rfc" class="col-xs-6 div-form-input-bottom" style="padding-right: 0; padding-left: 5px;">
										<label id="label-rfc" class="label-form" for="rfc">
											RFC (*):
										</label>
										<input type="text" id="rfc" name="rfc" class="form-control">
										<span id="span-rfc" class="field-validation-error-extended"></span>
									</div>
								</div>
								<div class="form-group">
									Usuario :: Correo electronico
									<div id="div-email" class="col-xs-6 div-form-input-bottom" style="padding-left: 0; padding-right: 5px;">
										<label id="label-email" class="label-form" for="email">
											Correo electrónico (*):
										</label>
										<input type="email" id="email" name="email" class="form-control">
										<span id="span-email" class="field-validation-error-extended"></span>
									</div>
									Contribuyente :: Telefono
									<div id="div-phone" class="col-xs-6 div-form-input-bottom" style="padding-right: 0; padding-left: 5px;">
										<label id="label-phone" class="label-form" for="phone">
											Teléfono/Celular (*):
										</label>
										<input type="text" id="phone" name="phone" class="form-control">
										<span id="span-phone" class="field-validation-error-extended"></span>
									</div>
								</div>
								<div class="form-group">
									Usuario :: Contraseña
									<div id="div-passwd" class="col-xs-6 div-form-input-bottom" style="padding-left: 0; padding-right: 5px;">
										<label id="label-passwd" class="label-form" for="passwd">
											Contraseña (*):
										</label>
										<input type="password" id="passwd" name="passwd" class="form-control">
										<span id="span-passwd" class="field-validation-error-extended"></span>
									</div>
									Usuario :: Repetir contraseña
									<div id="div-passwd-repeat" class="col-xs-6 div-form-input-bottom" style="padding-right: 0; padding-left: 5px;">
										<label id="label-passwd-repeat" class="label-form" for="passwd-repeat">
											Repetir contraseña (*):
										</label>
										<input type="password" id="passwd-repeat" name="passwd-repeat" class="form-control">
										<span id="span-passwd-repeat" class="field-validation-error-extended"></span>
									</div>
								</div>
								<div class="form-group">
									Terminos y condiciones
									<div id="div-accept" class="checkbox checkbox-primary checkbox-inline text-center col-xs-12 div-form-input-bottom" style="padding-right: 0; padding-left: 5px;">
										<input type="checkbox" id="accept" name="accept">
										<label id="label-accept" for="accept">
											Acepto los términos y condiciones											
										</label>
										</br>
										<small>
											<a th:href="@{'/resources/file/megapractical-terminos.pdf'}" target="_blank">
												Leer términos y condiciones
											</a>
										</small>
									</div>
									<span id="span-accept" class="field-validation-error-extended"></span>
									
									<div class="login-access">
										<p class="text-muted text-center">
											<small>
												¿Ya tiene una cuenta?
												<a th:href="@{'/login'}">
													Iniciar sesión
												</a>
											</small>
										</p>
									</div>		
								</div>
							</div>
							
							<div style="text-align: center !important;" class="form-group">
								<button id="btn-account-register" type="button" class="btn btn-primary" style="width: 100%">
									Registrarse
								</button>
							</div>
						</form>
						<div class="login-signature">
							<p>
								<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				var passwdNotMatch = /*[[${passwdNotMatch}]]*/;
				var passwdInvalidRegex = /*[[${passwdInvalidRegex}]]*/;
				
				var registerAccount = /*[[@{/registerAccount}]]*/;
				var registerSuccessfully = /*[[@{/registerSuccessfully}]]*/;
				
				$(document).ready(function() {
					appValidationSetRequiredMessage(requiredMessage);
					
					$('#name').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#rfc').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#email').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#passwd-repeat').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#phone').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-account-register').click(function(){
						register();
					});
					
					$('#accept').click(function(){
						if(isElementChecked(this.id)){
							elementFieldClassReset(this.id);	
						}
					});
					
					/*$('.i-checks').iCheck({
						checkboxClass : 'icheckbox_square-green',
						radioClass : 'iradio_square-green',
					});*/
				});
				
				var fields = ["name", "rfc", "email", "passwd", "passwd-repeat", "phone"];
				
				function fieldReady(){
					elementFieldClassReset("name");
					elementFieldClassReset("rfc");
					elementFieldClassReset("email");
					elementFieldClassReset("passwd");
					elementFieldClassReset("passwd-repeat");
					elementFieldClassReset("phone");
				}
				
				function register(){
					fieldReady();
					
					var bValid = true;
					
					bValid = bValid && fieldsCheck(fields, true);
					
					if(bValid){
						if(validateExpression('name')){
							elementTagError('name', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(bValid){
						if(validateExpression('rfc')){
							elementTagError('rfc', invalidValue, 'top');
							bValid = false;
						}
					}
					
					// Correo
					if(bValid){
						if(!w2utils.isEmail(getElementValue('email'))){
							elementTagError('email', invalidValue, 'top');
							bValid = false;
						}
					}
					
					// Telefono
					if(bValid){
						if(!w2utils.isInt(getElementValue('phone'))){
							elementTagError('phone', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(bValid){
						if(validateExpression('passwd')){
							//elementForceError('passwd', passwdInvalidRegex);
							elementTagError('passwd', passwdInvalidRegex, 'bottom');
							bValid = false;
						}else if(getElementValue('passwd') != getElementValue('passwd-repeat')){
							//elementForceError('passwd-repeat', passwdNotMatch);
							elementTagError('passwd-repeat', passwdNotMatch, 'bottom');
							bValid = false;
						}
					}
					
					if(bValid){
						if(!isElementChecked('accept')){
							elementTagError('accept', 'Debe aceptar los términos y condiciones.', 'bottom');
							bValid = false;
						}
					}
					
					if(!bValid){
						return false;
					}else{
						processing(processingRequest);
						
						var objAccount = new Object();
						objAccount.nameOrBusinessName = encodeValue(getElementValue('name'));
						objAccount.rfc = encodeValue(getElementValue('rfc'));
						objAccount.email = encodeValue(getElementValue('email'));
						objAccount.passwd = encodeValue(getElementValue('passwd'));
						objAccount.passwdRepeat = encodeValue(getElementValue('passwd-repeat'));
						objAccount.phone = encodeValue(getElementValue('phone'));
						
						var objAccountRequest = JSON.stringify(objAccount);
						
						$.ajax({
							url: registerAccount,
							type: 'POST',
							data: {
								objAccountRegister : objAccountRequest
							},
							success:  function(data) {
								if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var tax = objJson.tax;  
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										redirect('form-register-account');
									}else if(response.error){
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var position = (field == 'passwd' || field == 'passwd-repeat') ? 'bottom' : 'top';
											elementTagError(field, message, position);
										}
										processingEnd();
									}
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								processingEnd();
								console.log("ERROR! " + thrownError);
							}
						});
					}
				}
				
			</script>
		</body>
	</div>
</body>
</html>