<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>MEGA-CFDI  BUSINESS WEBAPP</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
    		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">MegaCFDI - Cancelación masiva</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/management'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-cogs" aria-hidden="true"></i>
							Administración
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-files-o" aria-hidden="true"></i>
								Cancelación masiva
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3"></div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Cancelación masiva de CFDI</h5>
								<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-cancel-cfdi-content">
									<div class="panel-body" style="padding-bottom: 0;">
										<div id="div-cancel-cfdi-masive" class="col-xs-12" style="padding-left: 0; padding-right: 0;">
											<div class="panel panel-default">
												<div id="div-cancel-cfdi-title" class="panel-heading">
		                                            Información del CFDI a cancelar
		                                        </div>
												<div class="panel-body panel-body-inner">
													<div class="div-form-content">
														<div class="form-group" style="margin-top: 10px">
															<div id="div-uuid-file" class="col-xs-12 div-form-input-bottom">
																<label id="label-uuid-file" class="label-form" for="uuid-file">
																	Fichero (*):
																</label>
																<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
																    <div class="form-control" data-trigger="fileinput">
																        <i class="glyphicon glyphicon-file fileinput-exists"></i>
																    	<span class="fileinput-filename"></span>
																    </div>
																    <span class="input-group-addon btn btn-default btn-file">
																        <span class="fileinput-new">Seleccionar</span>
																        <span class="fileinput-exists">Cambiar</span>
																        <input type="file" id="uuid-file" name="uuid-file"/>
																        <input type="hidden" id="uuid-file-hdd" name="uuid-file-hdd">
																    </span>
																    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
																</div>
																<div id="div-uuid-file-error"><!-- div-file-input-span-has-error -->
																	<span id="span-uuid-file" class="field-validation-error-extended"></span>
																</div>
															</div>
															<div class="form-group">
																<div class="col-xs-12">
																	<div class="checkbox checkbox-primary checkbox-inline">
									                                    <input id="checkbox-force-cancelation" type="checkbox">
									                                    <label id="label-checkbox-force-cancelation" for="checkbox-force-cancelation" style="font-weight: 700;">
									                                        Forzar cancelación <i id="tooltip-force-cancelation" class="fa fa-info-circle"></i>
									                                    </label>
									                                </div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 div-form-input-bottom" style="padding-right: 0;">
												<div class="button-form-right">
													<button id="cancel-cfdi-btn" class="btn btn-danger">
														<i class="fa fa-ban" aria-hidden="true"></i>
														<span>Cancelar masivamente</span>
													</button>
													<!--  <input id="cancel-cfdi-btn" type="button" value="Cancelar CFDI" class="btn btn-success" style="width: 100%;" /> -->
												</div>
											</div>
										</div>
										
										<div id="cfdi-masive-cancel-error-custom-list" class="col-xs-12 table-responsive hidden" style="padding-left: 0; padding-right: 0;">
											<table class="table table-striped"><!-- table-hover -->
												<colgroup id="colgroup-cfdi-masive-cancel-error-custom-list">
													<col span="3" width="33.3%">
												</colgroup>
												<thead id="thead-cfdi-masive-cancel-error-custom-list">
													<tr>
														<th>
															<span th:text="#{mega.cfdi.text.cancelate.masive.uuid}">UUID</span>
														</th>
														<th>
															<span th:text="#{mega.cfdi.text.cancelate.masive.error.code}">Código del error</span>
														</th>
														<th>
															<span th:text="#{mega.cfdi.text.cancelate.masive.error.description}">Descripción del error</span>
														</th>
													</tr>
												</thead>
												<tbody id="tbdoy-cfdi-masive-cancel-error-custom-list"></tbody>
											</table>
										</div>
										
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var cancelationRequest = /*[[@{/cancelationCfdiMasive}]]*/;
				
				$(document).ready(function(){
					appValidationSetRequiredMessage(requiredMessage);
					
					$('#uuid-file').change(function(){			
						elementFieldClassReset(this.id);
						
						hiddenClass('cfdi-masive-cancel-error-custom-list');
						elementClear('tbdoy-cfdi-masive-cancel-error-custom-list');
						
						globalMessageHide();
					});
					
					$('#tooltip-force-cancelation').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Marcar cuando se necesite cancelar un CFDI cuyo status actual sea "En proceso de cancelación".';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
					
					//##### Cancel cfdi buton
					$('#cancel-cfdi-btn').click(function(){
						uuidFileUpload();
					});
					
					afterDocumentLoad();
				});
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var uuidFields = ['uuid-file'];
				
				function uuidUploadClear(){
					formFieldsClear(uuidFields);
					elementUnchecked('checkbox-force-cancelation');
					
					hiddenClass('cfdi-masive-cancel-error-custom-list');
					elementClear('tbdoy-cfdi-masive-cancel-error-custom-list');					
				}
				
				function uuidUploadDataReady(){					
					elementFieldClassReset('uuid-file');
					
					hiddenClass('cfdi-masive-cancel-error-custom-list');
					elementClear('tbdoy-cfdi-masive-cancel-error-custom-list');
				}
				
				function uuidFileUpload(){
					var bValid = true;
					
					uuidUploadDataReady();
					
					bValid = bValid && fieldsCheck(uuidFields);
					
					if(!bValid){
						if(!isElementHasValue('uuid-file')){
							elementClassAdd('div-uuid-file-error', 'div-file-input-span-has-error');
						}
						return false;
					}else{
						globalMessageHide();
						
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
												
						formData.append('fileUploaded', $('#uuid-file')[0].files[0]);
						formData.append('forceCancelation', isElementChecked('checkbox-force-cancelation'));
						
						$.ajax({
							url: cancelationRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									var cfdiCancels = objJson.cfdiCancels;
									
									if(response.success){
										uuidUploadClear();
										processingEnd();
										
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
										
										var toastr = response.notification.toastr;
										if(toastr != null){
											var ToastrType = toastr['type'];
											var toastrTitle = toastr['title'];
											var toastrMessage = toastr['message'];
											systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
										}
									}else if(response.error){
										if(cfdiCancels != null){
											elementClear('tbdoy-cfdi-masive-cancel-error-custom-list');
											if(cfdiCancels.length >= 1){
												for (var i = 0; i < cfdiCancels.length; i++) {
													var item = cfdiCancels[i];
													
													var uuid = decodeValue(item['uuid']);
													var errorCode = decodeValue(item['cancelationCode']);
													var errorMsg = decodeValue(item['cancelationMessage']);
													
													$('#tbdoy-cfdi-masive-cancel-error-custom-list').append(
														'<tr> ' +
															'<td>'+uuid+'</td> ' +
															'<td>'+errorCode+'</td> ' +
															'<td>'+errorMsg+'</td> ' +
														'</tr>'
													);
												}
												hiddenClassRemove('cfdi-masive-cancel-error-custom-list');
											}
										}
										
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = decodeValue(notification.message);
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
																				
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] CFDI masive cancelation failed!");
					      		processingEnd();
					        }
						});
					}
				}
			</script>
				
		</div>
	</body>
</html>