<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>MEGA-CFDI  BUSINESS WEBAPP</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">MegaCFDI - Cancelar CFDI</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/management'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-cogs" aria-hidden="true"></i>
							Administración
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-ban" aria-hidden="true"></i>
								Cancelar CFDI
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3"></div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Cancelar CFDI</h5>
								<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-cancel-cfdi-content">
									<div class="panel-body" style="padding-bottom: 0;">
										<div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
											<div class="panel panel-default">
												<div id="div-cancel-cfdi-title" class="panel-heading">
		                                            Información del CFDI a cancelar
		                                        </div>
												<div class="panel-body panel-body-inner">
													<div class="div-form-content">
														<div class="form-group" style="margin-top: 10px">
															<div id="div-uuid" class="col-xs-12 div-form-input-bottom">
																<label id="label-uuid" class="label-form" for="uuid">
																	Folio fiscal (UUID) (*):
																</label>
																<input type="text" id="uuid" name="uuid" class="form-control">
																<span id="span-uuid" class="field-validation-error-extended"></span>
															</div>
															<div class="form-group">
																<div class="col-xs-12">
																	<div class="checkbox checkbox-primary checkbox-inline">
									                                    <input id="checkbox-force-cancelation" type="checkbox">
									                                    <label id="label-checkbox-force-cancelation" for="checkbox-force-cancelation" style="font-weight: 700;">
									                                        Forzar cancelación <i id="tooltip-force-cancelation" class="fa fa-info-circle"></i>
									                                    </label>
									                                </div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 div-form-input-bottom" style="padding-right: 0;">
											<div class="button-form-right">
												<button id="cancel-cfdi-btn" class="btn btn-danger">
													<i class="fa fa-ban" aria-hidden="true"></i>
													<span>Cancelar CFDI</span>
												</button>
												<!--  <input id="cancel-cfdi-btn" type="button" value="Cancelar CFDI" class="btn btn-success" style="width: 100%;" /> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var cancelationRequest = /*[[@{/cancelationCfdi}]]*/;
				
				$(document).ready(function(){
					appValidationSetRequiredMessage(requiredMessage);
					
					$('#uuid').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#tooltip-force-cancelation').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Marcar cuando se necesite cancelar un CFDI cuyo status actual sea "En proceso de cancelación".';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
					
					//##### Cancel cfdi buton
					$('#cancel-cfdi-btn').click(function(){
						cancelCfdi();
					});
					
					afterDocumentLoad();
				});
				
				var cancelCfdiFields = ['uuid'];
				
				function cancelCfdiClear(){
					formFieldsClear(cancelCfdiFields);
				}
				
				function cancelCfdiDataReady(){
					elementFieldClassReset('uuid');
				}
				
				function cancelCfdi(){
					var bValid = true;
					
					cancelCfdiDataReady();
					
					bValid = bValid && fieldsCheck(cancelCfdiFields);
					
					if(!bValid){
						return false;
					}else{
						globalMessageHide();
						
						processing(processingRequest);
						
						$.ajax({
							url: cancelationRequest,
					       	type: 'POST',
					       	data: {
					       		uuid : encodeValue(getElementValue('uuid')),
					       		forceCancelation : isElementChecked('checkbox-force-cancelation')},
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response;
									var notification = response.notification;
									var confirmationCode = objJson.confirmationCode;
									var message = objJson.message;
									if(response.success){
										processingEnd();
										
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
										
										var toastr = response.notification.toastr;
										if(toastr != null){
											var ToastrType = toastr['type'];
											var toastrTitle = toastr['title'];
											var toastrMessage = toastr['message'];
											systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
										}
										
										formFieldsClear('uuid');
										elementUnchecked('checkbox-force-cancelation');
										
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												elementForceError(field, message);
											}	
										}
										
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
									}
									processingEnd();
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("ERROR! " + thrownError);
					      		processingEnd();
					        }
						});
					}	
				}
				
			</script>
				
		</div>
	</body>
</html>