<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<title>Inicio</title>
	</head>
	<body>
		<div th:fragment="content">
	
			<!-- CSS :: Sidr -->
			<link th:href="@{'/resources/css/plugins/sidr/jquery.sidr.dark.css'}" rel="stylesheet">
			
			<!-- ChartJs -->
    		<script th:src="@{'/resources/js/plugins/chartJs/Chart.min.js'}"></script>
			<!-- Nicescroll -->
			<script th:src="@{'/resources/js/plugins/nicescroll/jquery.nicescroll.min.js'}" type="text/javascript"></script>
			<!-- Sidr -->			
			<script th:src="@{'/resources/js/plugins/sidr/jquery.sidr.min.js'}" type="text/javascript"></script>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-6">
					<h3 class="header-title">MegaCFDI - Información general</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/management'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-cogs" aria-hidden="true"></i>
							Administración
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								Información general
							</strong>
						</li>
					</ol>
				</div>
			</div>
	
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			<div id="div-reloading-content" class="col-lg-12 hidden" style="padding: 20px; display: none;">
	       		<div class="sk-spinner sk-spinner-three-bounce">
                     <div class="sk-bounce1"></div>
                     <div class="sk-bounce2"></div>
                     <div class="sk-bounce3"></div>
                 </div>
	       	</div>
	
			<div class="gray-bg">
	            <div id="application-page-content" class="wrapper wrapper-content hidden">
	                <div class="row">
	                    <div id="div-left-content" class="col-lg-8">
	                    	<div class="col-lg-12" style="padding-left: 0; padding-right: 0;">
		                        <div class="ibox float-e-margins">
		                            <div id="dashboard-info-user-char-content" class="ibox-content"><!-- style="height: 350px; overflow: auto;" -->
										<div>
											<span class="pull-right text-right">
												<small><strong>Total Usuarios Mega-CFDI +: </strong></small>
												<small id="dashboard-info-mega-cfdi-plus-total-user"></small>
		                                        <br/>
		                                        <small><strong>Total Usuarios Mega-CFDI Free: </strong></small>
		                                        <small id="dashboard-info-mega-cfdi-free-total-user"></small>
											</span>
											<h4 class="font-bold no-margins">
												Estadísticas de usuarios
											</h4>
											<small>Usuarios emisores de facturas</small>
										</div>
		                                <div style="margin-top: 20px;">
		                                    <canvas id="userChart" height="70"></canvas>
		                                </div>
		                                <div class="m-t-md">
		                                    <span class="pull-right">
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-1"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!-- Estadisticas de timbrado -->
		                    <div class="col-lg-12" style="padding-left: 0; padding-right: 0;">
		                        <div class="ibox float-e-margins">
		                            <div id="dashboard-info-stamp-char-content" class="ibox-content"><!-- style="height: 350px; overflow: auto;" -->
										<div>
											<span class="pull-right text-right">
												<small><strong>Total CFDI generados: </strong></small>
												<small id="dashboard-info-mega-cfdi-total-generated"></small>
		                                        <br/>
		                                        <small><strong>Total CFDI cancelados: </strong></small>
		                                        <small id="dashboard-info-mega-cfdi-total-canceled"></small>
											</span>
											<h4 class="font-bold no-margins">
												Estadísticas de timbrado
											</h4>
											<small>Facturas generadas y canceladas</small>
										</div>
		                                <div style="margin-top: 20px;">
		                                    <canvas id="stampChart" height="70"></canvas>
		                                </div>
		                                <div class="m-t-md">
		                                    <span class="pull-right">
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-2"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    
		                    <div class="col-lg-6" style="padding-left: 0;">
		                        <div id="dashboard-info-vistors-panel" class="ibox float-e-margins" style="height: 139px; overflow: hidden;">
		                            <div class="ibox-title">
		                                <span class="label label-warning pull-right">Hoy</span>
		                                <h5 class="font-bold no-margins">
		                                	<i class="fa fa-sign-in" aria-hidden="true"></i>		                                	
											Visitas
										</h5>
		                            </div>
		                            <div class="ibox-content">
		                                <div>
						                    <table class="table table-without-border">
						                        <tbody>
							                        <tr>
							                            <td>
							                                <button type="button" class="btn btn-warning m-r-sm" id="dashboard-info-mega-cfdi-free-vistors-today"></button>
							                                CFDI Free
							                            </td>
							                            <td>
							                                <button type="button" class="btn btn-warning m-r-sm" id="dashboard-info-mega-cfdi-plus-vistors-today"></button>
							                                CFDI Plus
							                            </td>
							                        </tr>
						                        </tbody>
						                    </table>
						                </div>
		                                <div class="pull-right">
		                                    <span>
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-3"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-lg-6" style="padding-right: 0;">
		                        <div id="dashboard-info-registered-panel" class="ibox float-e-margins" style="height: 139px; overflow: hidden;">
		                            <div class="ibox-title">
		                                <span class="label label-info pull-right">Hoy</span>
		                                <h5 class="font-bold no-margins">
											<i class="fa fa-users" aria-hidden="true"></i>											
											Usuarios registrados
										</h5>
		                            </div>
		                            <div class="ibox-content">
		                                <div>
						                    <table class="table table-without-border">
						                        <tbody>
							                        <tr>
							                            <td>
							                                <button type="button" class="btn btn-info m-r-sm" id="dashboard-info-mega-cfdi-free-user-registered-today"></button>
							                                CFDI Free
							                            </td>
							                            <td>
							                                <button type="button" class="btn btn-info m-r-sm" id="dashboard-info-mega-cfdi-plus-user-registered-today"></button>
							                                CFDI Plus
							                            </td>
							                        </tr>
						                        </tbody>
						                    </table>
						                </div>
						                <div class="pull-right">
		                                    <span>
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-4"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-lg-6" style="padding-left: 0;">
		                        <div id="dashboard-info-invoice-panel" class="ibox float-e-margins" style="height: 139px; overflow: hidden;">
		                            <div class="ibox-title">
		                                <span class="label label-primary pull-right">Hoy</span>
		                                <h5 class="font-bold no-margins">
		                                	<i class="fa fa-file-code-o" aria-hidden="true"></i>		                                	
		                                	Facturas generadas
		                                </h5>
		                            </div>
		                            <div class="ibox-content">
		                                <div>
						                    <table class="table table-without-border">
						                        <tbody>
							                        <tr>
							                            <td>
							                                <button type="button" class="btn btn-primary m-r-sm" id="dashboard-info-mega-cfdi-free-invoice-generated-today"></button>
							                                CFDI Free
							                            </td>
							                            <td>
							                                <button type="button" class="btn btn-primary m-r-sm" id="dashboard-info-mega-cfdi-plus-invoice-generated-today"></button>
							                                CFDI Plus
							                            </td>
							                        </tr>
						                        </tbody>
						                    </table>
						                </div>
						                <div class="pull-right">
		                                    <span>
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-5"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-lg-6" style="padding-right: 0;">
		                        <div id="dashboard-info-canceled-panel" class="ibox float-e-margins" style="height: 139px; overflow: hidden;">
		                            <div class="ibox-title">
		                                <span class="label label-danger pull-right">Hoy</span>
		                                <h5 class="font-bold no-margins">		                                	
		                                	<i class="fa fa-ban" aria-hidden="true"></i>
		                                	Facturas canceladas
		                                </h5>
		                            </div>
		                            <div class="ibox-content">
		                                <div>
						                    <table class="table table-without-border">
						                        <tbody>
							                        <tr>
							                            <td>
							                                <button type="button" class="btn btn-danger m-r-sm" id="dashboard-info-mega-cfdi-free-invoice-canceled-today"></button>
							                                CFDI Free
							                            </td>
							                            <td>
							                                <button type="button" class="btn btn-danger m-r-sm" id="dashboard-info-mega-cfdi-plus-invoice-canceled-today"></button>
							                                CFDI Plus
							                            </td>
							                        </tr>
						                        </tbody>
						                    </table>
						                </div>
						                <div class="pull-right">
		                                    <span>
		                                    	<i class="fa fa-clock-o"> </i>
		                                    	<small id="last-update-6"></small>
		                                    </span>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
	                    </div>
	                    <div class="col-lg-4">
	                    	<div id="div-management-timeline-content" class="ibox float-e-margins" style="overflow: hidden;">
		                        <div class="ibox-title">
		                            <h5>Bitácora de sucesos</h5>
		                            <span id="span-timeline-date" class="label label-primary pull-right"></span>
		                        </div>
		                        <div id="div-management-timeline" class="ibox-content inspinia-timeline" style="padding-top: 1px;">
		                        	<div id="div-management-timeline-load" style="padding: 20px;">
			                    		<div class="sk-spinner sk-spinner-three-bounce">
		                                    <div class="sk-bounce1"></div>
		                                    <div class="sk-bounce2"></div>
		                                    <div class="sk-bounce3"></div>
		                                </div>
			                    	</div>
		                            <div id="div-management-timeline-items" class="hidden"></div>
		                        </div>
		                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>

			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var loadingRequest = /*[[${loadingRequest}]]*/;
			
				var managementGeneralInfoRequest = /*[[@{/managementGeneralInfo}]]*/;
				var managementGeneralInfoReloadRequest = /*[[@{/managementGeneralInfoReload}]]*/;
				
				var generalInfoLoaded = false;
				var logInfoLoaded = false;
				var userCharInfoLoaded = false;
				var stampCharInfoLoaded = false;
				
				var realoadInfo = false;
				
				scrollToHere('page-wrapper');
				$(document).ready(function(){
	
					//$(".ibox-content").niceScroll();
					$("#div-management-timeline").niceScroll();
					
					$("#div-management-timeline").mouseover(function() {
						  $("#div-management-timeline").getNiceScroll().resize();
					});
					
					loadInfo();
					checkDocumentLoad();
					
					updateInterval = 1;
					updateIntervalId = interval(reloadInfo, convertMiliseg(updateInterval));
		        });
				
				$(window).resize(					
					function(){
						waitForFinalEvent(function(){
							timelineAdjust();
					    }, 500, "timelineDashboard");
					}
				);
				
				function timelineReAdjust(){
					setTimeout('timelineAdjust()', '5000');
				}
				
				function timelineAdjust(){
									
					var userCharContentHeigth = null;
					userCharContentHeigth = getElementHeight('dashboard-info-user-char-content');
					if(userCharContentHeigth < 220){
						userCharContentHeigth = 220;
					}
					
					var stampCharContentHeigth = null;
					stampCharContentHeigth = getElementHeight('dashboard-info-stamp-char-content');
					if(stampCharContentHeigth < 220){
						stampCharContentHeigth = 220;
					}
					
					var vistorsPanelContentHeigth = null;
					vistorsPanelContentHeigth = getElementHeight('dashboard-info-vistors-panel');
					
					var registeredPanelContentHeigth = null;
					registeredPanelContentHeigth = getElementHeight('dashboard-info-registered-panel');
					
					var invoicePanelContentHeigth = null;
					invoicePanelContentHeigth = getElementHeight('dashboard-info-invoice-panel');
					
					var canceledPanelContentHeigth = null;
					canceledPanelContentHeigth = getElementHeight('dashboard-info-canceled-panel');
					
					var cssPadding = 100;
					var timelineHeigth = userCharContentHeigth + stampCharContentHeigth + (vistorsPanelContentHeigth * 2) + cssPadding;
					setElementHeight('div-management-timeline', timelineHeigth);
					
					hiddenClass('div-management-timeline-load');
					elementHide('div-management-timeline-load');
					hiddenClassRemove('div-management-timeline-items');
				}
				
				var counter = 0;
				function checkDocumentLoad(){
					if(generalInfoLoaded && logInfoLoaded && userCharInfoLoaded && stampCharInfoLoaded){
						afterDocumentLoad();
						
						timelineReAdjust();
						
					}else{
						if(counter < 20){
							setTimeout('checkDocumentLoad()', 3000);
							counter ++;
						}else{
							processingEnd();
							console.log("[ERROR] Page content failed!");
						}
					}
				}
				
				function reloadInfo(){
					if(generalInfoLoaded && logInfoLoaded && userCharInfoLoaded && stampCharInfoLoaded){
						hiddenClassRemove('div-reloading-content');
						elementShow('div-reloading-content');
						
						realoadInfo = true;
						
						loadInfo();
					}
				}
				
				function loadInfo(){
					
					var request = !realoadInfo ? managementGeneralInfoRequest : managementGeneralInfoReloadRequest; 
					
					$.ajax({
						url: request,
						type: "POST",
						data: {}
					}).done(function (data) {
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);								
							var generalInfo = objJson.generalInfo;
							
							var response = objJson.response;
							var notification = response.notification;
							
							var log = objJson.log;
							var logDate = null;
							var logs = null;
							
							if(log != null){
								logDate = log.logDate;
								logs = log.logs;
							}
							
							var lineData = objJson.lineData;
							var lineData1 = objJson.lineData1;
							
							if(response.success){
								
								if(logDate != null){
									elementTextChange('span-timeline-date', decodeValue(logDate));
								}
								
								var lastUpdate = objJson.lastUpdate != null ? decodeValue(objJson.lastUpdate) : '';
								
								if(generalInfo != null){
									
									elementTextChange('last-update-1', 'Última actualización ' + lastUpdate);
									elementTextChange('last-update-2', 'Última actualización ' + lastUpdate);
									elementTextChange('last-update-3', 'Última actualización ' + lastUpdate);
									elementTextChange('last-update-4', 'Última actualización ' + lastUpdate);
									elementTextChange('last-update-5', 'Última actualización ' + lastUpdate);
									elementTextChange('last-update-6', 'Última actualización ' + lastUpdate);
									
									var megaCfdiFreeRegisteredUsers = generalInfo.megaCfdiFreeRegisteredUsers;
									if(megaCfdiFreeRegisteredUsers != null){
										elementTextChange('dashboard-info-mega-cfdi-free-total-user', decodeValue(megaCfdiFreeRegisteredUsers));
									}
									
									var megaCfdiPlusRegisteredUsers = generalInfo.megaCfdiPlusRegisteredUsers;
									if(megaCfdiPlusRegisteredUsers != null){
										elementTextChange('dashboard-info-mega-cfdi-plus-total-user', decodeValue(megaCfdiPlusRegisteredUsers));
									}
									
									// Visitas Free
									var cfdiFreeVisitsToday = generalInfo.cfdiFreeVisitsToday;
									if(cfdiFreeVisitsToday != null){
										elementTextChange('dashboard-info-mega-cfdi-free-vistors-today', decodeValue(cfdiFreeVisitsToday));
									}
									
									// Visitas Plus
									var cfdiPlusVisitsToday = generalInfo.cfdiPlusVisitsToday;
									if(cfdiPlusVisitsToday != null){
										elementTextChange('dashboard-info-mega-cfdi-plus-vistors-today', decodeValue(cfdiPlusVisitsToday));
									}
									
									// Usuarios registrados Free
									var cfdiFreeRegisteredUsersToday = generalInfo.cfdiFreeRegisteredUsersToday;
									if(cfdiFreeRegisteredUsersToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-free-user-registered-today', decodeValue(cfdiFreeRegisteredUsersToday));
									}
									
									// Usuarios resgistrados Plus
									var cfdiPlusRegisteredUsersToday = generalInfo.cfdiPlusRegisteredUsersToday;
									if(cfdiPlusRegisteredUsersToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-plus-user-registered-today', decodeValue(cfdiPlusRegisteredUsersToday));
									}
									
									// CFDI generados Free
									var cfdiFreeGeneratedInvoicesToday = generalInfo.cfdiFreeGeneratedInvoicesToday;
									if(cfdiFreeGeneratedInvoicesToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-free-invoice-generated-today', decodeValue(cfdiFreeGeneratedInvoicesToday));
									}
									
									// CFDI generados Plus
									var cfdiPlusGeneratedInvoicesToday = generalInfo.cfdiPlusGeneratedInvoicesToday;
									if(cfdiPlusGeneratedInvoicesToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-plus-invoice-generated-today', decodeValue(cfdiPlusGeneratedInvoicesToday));
									}
									
									// CFDI cancelados Free
									var cfdiFreeCanceledInvoicesToday = generalInfo.cfdiFreeCanceledInvoicesToday;
									if(cfdiFreeCanceledInvoicesToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-free-invoice-canceled-today', decodeValue(cfdiFreeCanceledInvoicesToday));
									}
									
									// CFDI cancelados Plus
									var cfdiPlusCanceledInvoicesToday = generalInfo.cfdiPlusCanceledInvoicesToday;
									if(cfdiPlusCanceledInvoicesToday != null){										
										elementTextChange('dashboard-info-mega-cfdi-plus-invoice-canceled-today', decodeValue(cfdiPlusCanceledInvoicesToday));
									}
									
									generalInfoLoaded = true;
								}
								
								$('#div-management-timeline-items').html("");
								if(logs.length >= 1){
									for(var i = 0; i < logs.length; i ++){
										var item = logs[i];
										
										var username = item.username != null ? decodeValue(item.username) : '';
										var operationDescription = item.operationDescription != null ? decodeValue(item.operationDescription) : '';
										var operationImg = item.operationImg != null ? decodeValue(item.operationImg) : '';
										var product = item.product != null ? decodeValue(item.product) : '';
										var time = item.time != null ? decodeValue(item.time) : '';
										
										var divClass = i == 0 ? 'col-xs-9 content no-top-border' : 'col-xs-9 content';
										
										$('#div-management-timeline-items').append(
											'<div class="timeline-item"> ' +
												'<div class="row"> ' +
													'<div class="col-xs-3 date" style="margin-left: 5px; padding-left: 0; width: inherit;">'+operationImg+' '+time+'<br/> ' + 
														'<small class="text-navy">'+product+'</small> ' +
													'</div> ' +
													'<div class="'+divClass+'"> ' +
														'<p class="m-b-xs" style="text-overflow: ellipsis; overflow;overflow: hidden;"> ' +
															'<strong>'+username+'</strong> ' +
														'</p> ' +
														'<p>'+operationDescription+'</p> ' +
													'</div> ' +
												'</div> ' +
											'</div>'
										);
									}
									logInfoLoaded = true;
								}else{
									logInfoLoaded = true;
								}
								
								statisticsChart(lineData, lineData1);
								
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Stamp Activation Option failed!");
			        });
				}
				
				//##### ChartJs ==================================================================
				function statisticsChart(lineData, lineData1){
					
					//##### Estadisticas de usuarios
					var months = lineData.months;
					for(var i = 0; i < months.length; i ++){
						var item = months[i];
						item = decodeValue(item);
						months[i] = item;
					}
					
					var dataSets = lineData.dataSets;
					for(var i = 0; i < dataSets.length; i ++){
						var item = dataSets[i];
						item.label = decodeValue(item.label);
						item.backgroundColor = decodeValue(item.backgroundColor);
						item.borderColor = decodeValue(item.borderColor);
						item.pointBackgroundColor = decodeValue(item.pointBackgroundColor);
						item.pointBorderColor = decodeValue(item.pointBorderColor);
						
						var data = item.data;
						for(var j = 0; j < data.length; j ++){
							var dataSource = data[j];
							dataSource = decodeValue(dataSource);
							data[j] = dataSource;
						}
						
						item.data = data;
						dataSets[i] = item;
					}
					
		            var lineData = {
		                /*labels: ["January", "February", "March", "April", "May", "June", "July"],
		                datasets: [
		                    {
		                        label: "Usuarios Mega-CFDI Plus",
		                        backgroundColor: "rgba(26,179,148,0.5)",
		                        borderColor: "rgba(26,179,148,0.7)",
		                        pointBackgroundColor: "rgba(26,179,148,1)",
		                        pointBorderColor: "#fff",
		                        data: [28, 48, 40, 19, 86, 27, 90]
		                    },
		                    {
		                        label: "Usuarios Mega-CFDI Free",
		                        backgroundColor: "rgba(220,220,220,0.5)",
		                        borderColor: "rgba(220,220,220,1)",
		                        pointBackgroundColor: "rgba(220,220,220,1)",
		                        pointBorderColor: "#fff",
		                        data: [65, 59, 80, 81, 56, 55, 40]
		                    }
		                ]*/
		            	labels: months,
		            	datasets: dataSets
		            };
					
		          	//##### Estadisticas de timbrado
					months = lineData1.months;
					for(var i = 0; i < months.length; i ++){
						var item = months[i];
						item = decodeValue(item);
						months[i] = item;
					}
					
					dataSets = lineData1.dataSets;
					for(var i = 0; i < dataSets.length; i ++){
						var item = dataSets[i];
						item.label = decodeValue(item.label);
						item.backgroundColor = decodeValue(item.backgroundColor);
						item.borderColor = decodeValue(item.borderColor);
						item.pointBackgroundColor = decodeValue(item.pointBackgroundColor);
						item.pointBorderColor = decodeValue(item.pointBorderColor);
						
						var data = item.data;
						for(var j = 0; j < data.length; j ++){
							var dataSource = data[j];
							dataSource = decodeValue(dataSource);
							data[j] = dataSource;
						}
						
						item.data = data;
						dataSets[i] = item;
					}
					
					var lineData1 = {
		                /*labels: ["January", "February", "March", "April", "May", "June", "July"],
		                datasets: [
		                    {
		                        label: "Generados MEGA-CFDI Free",
		                        backgroundColor: "rgba(35,198,200,0.5)",
		                        borderColor: "rgba(35,198,200,0.7)",
		                        pointBackgroundColor: "rgba(35,198,200,1)",
		                        pointBorderColor: "#fff",
		                        data: [28, 48, 40, 19, 86, 27, 90]
		                    },
		                    {
		                    	label: "Generados MEGA-CFDI Free",
		                    	backgroundColor: "rgba(26,179,148,0.5)",
		                        borderColor: "rgba(26,179,148,0.7)",
		                        pointBackgroundColor: "rgba(26,179,148,1)",
		                        pointBorderColor: "#fff",
		                        data: [65, 59, 80, 81, 56, 55, 40]
		                    },
		                    {
		                        label: "Cancelados MEGA-CFDI Free",
		                        backgroundColor: "rgba(248,172,89,0.5)",
		                        borderColor: "rgba(248,172,89,1)",
		                        pointBackgroundColor: "rgba(248,172,89,1)",
		                        pointBorderColor: "#fff",
		                        data: [35, 79, 50, 25, 32, 40, 62]
		                    },
		                    {
		                        label: "Cancelados MEGA-CFDI Plus",
		                        backgroundColor: "rgba(237,85,101,0.5)",
		                        borderColor: "rgba(237,85,101,1)",
		                        pointBackgroundColor: "rgba(237,85,101,1)",
		                        pointBorderColor: "#fff",
		                        data: [72, 29, 60, 41, 26, 75, 25]
		                    }
		                ]*/
	            		labels: months,
	            		datasets: dataSets
		            };
	
		            var lineOptions = {
		                responsive: true
		            };
	
		            var ctx = document.getElementById("userChart").getContext("2d");
		            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});
		            userCharInfoLoaded = true;
		            
		            var ctx = document.getElementById("stampChart").getContext("2d");
		            new Chart(ctx, {type: 'line', data: lineData1, options:lineOptions});
		            
		            stampCharInfoLoaded = true;
		            
		            hiddenClass('div-reloading-content');
					elementHide('div-reloading-content');
				}
			
			</script>

        </div>
	</body>
</html>