@media (min-width: 768px){/*and (max-width: 1080px)*/
	.modal-confirm {
  		width:30%;
 	 	margin:30px auto;	 	
 	}
 	
 	.modal-content {
  		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  		box-shadow:0 5px 15px rgba(0,0,0,.5)
 	}
 	
 	.modal-sm {
  		width:300px
 	}
 	
 	.modal-lg {
  		width:400px
 	}
 	
 	#wrapper {
    	overflow-x: visible;
	}
	
	#application-page-content{
		min-height: 400px;
	}
	
	#cfdi-complement-select-content{
		min-height: 400px;
	}
}

@media (min-width: 992px) {
  	.modal-confirm {
  		width:30%;
 	 	margin:30px auto;	 	
 	}
 	
 	.modal-content {
  		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  		box-shadow:0 5px 15px rgba(0,0,0,.5)
 	}
 	
 	.modal-sm {
  		width:300px
 	}
 	
 	.modal-lg {
  		width:600px
 	}
 	
 	#wrapper {
    	overflow-x: visible;
	}
	
	#application-page-content{
		min-height: 400px;
	}
	
	#cfdi-complement-select-content{
		min-height: 400px;
	}
}

@media (min-width: 1080px){/*and (max-width: 1200px)*/
	.modal-confirm {
  		width:30%;
 	 	margin:30px auto;	 	
 	}
 	
 	.modal-content {
  		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  		box-shadow:0 5px 15px rgba(0,0,0,.5)
 	}
 	
 	.modal-sm {
  		width:300px
 	}
 	
 	.modal-lg {
  		width:600px
 	}
 	
 	#wrapper {
    	overflow-x: visible;
	}
	
	#application-page-content{
		min-height: 400px;
	}
	
	#cfdi-complement-select-content{
		min-height: 400px;
	}
}

@media (min-width: 1200px){/*and (max-width: 1320px)*/	
	.modal-confirm {
  		width:30%;
 	 	margin:30px auto;	 	
 	}
 	
 	.modal-content {
  		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  		box-shadow:0 5px 15px rgba(0,0,0,.5)
 	}
 	
 	.modal-sm {
  		width:300px
 	}
 	
 	.modal-lg {
  		width:900px
 	}
 	
 	#wrapper {
    	overflow-x: visible;
	}
	
	#application-page-content{
		min-height: 450px;
	}
	
	#cfdi-complement-select-content{
		min-height: 450px;
	}
}

@media (min-width: 1920px){/* and (max-width: 1936px)*/
	.modal-confirm {
  		margin: 150px auto;
		width: 30%; 	
 	}
 	
 	.modal-content {
  		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  		box-shadow:0 5px 15px rgba(0,0,0,.5)
 	}
 	
 	.modal-sm {
  		width:300px
 	}
 	
 	.modal-lg {
  		width:900px
 	}
 	
 	#wrapper {
    	overflow-x: hidden;
	}	
	
	#application-page-content {
	    min-height: 700px;
	}
	
	#cfdi-complement-select-content{
		min-height: 700px;
	}
}