<div id="complement-payment-modal" th:fragment="complement-payment-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="complement-payment-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-big-content">
        <div class="modal-content">
			<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="complement-payment-modal-title">
                	<span>Rececpción de pagos</span>
                </h4>
            </div>
            <div id="complement-payment-modal-body" class="modal-body">
            	<!-- Area de mensajes del modal -->
				<div id="complement-payment-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
					<div id="complement-payment-modal-message"></div>
				</div>
				
				<!-- Contenido del modal -->
				<div id="tab-complement-payment-content">
					<!-- Tabs -->
					<div class="tabs-container" style="padding: 5px">
						<ul class="nav nav-tabs">
							<li id="li-tab-complement-payment" class="active">
								<a data-toggle="tab" href="#tab-complement-payment">
									Pago
								</a>
							</li>
							<li id="li-tab-complement-payment-related-document">
								<a data-toggle="tab" href="#tab-complement-payment-related-document">
									Documentos relacionados
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<!-- Tab :: Payment -->
						<div id="tab-complement-payment" class="tab-pane active">
							<div class="panel-body">
								<div th:insert="~{invoicing/complement-payment-data-fragment :: payment}" th:remove="tag"></div>
							</div>
						</div>
						<!-- Tab :: Related document -->
						<div id="tab-complement-payment-related-document" class="tab-pane">
							<div class="panel-body">
								<div th:insert="~{invoicing/complement-payment-related-doc-fragment :: related-doc}" th:remove="tag"></div>
							</div>
						</div>
					</div>
				</div>
						            	
			</div>
            <div id="complement-payment-modal-footer" class="modal-footer">
            	<div id="btn-complement-payment-modal-content">
            		<button type="button" id="btn-complement-payment-modal" name="btn-complement-payment-modal-modal" class="btn btn-primary" style="width: 150px;" >Adicionar pago</button>
                	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>