<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="concept-modal" th:fragment="concept-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="concept-modal-title" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-big-content">
		        <div class="modal-content">
					<div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="concept-modal-title"></h4>
		            </div>
		            <div id="conceptModalBody" class="modal-body" style="overflow: auto;">
		            	<!-- Area de mensajes del modal -->
		            	<div id="concept-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
							<div id="concept-modal-message"></div>
						</div>														
						
						<!-- Catalogo de conceptos -->
						<div id="div-emitter-concept-list-content" class="col-xs-12 hidden" style="display: none;">
							<div class="row">
								<div class="col-sm-9 m-b-xs"></div>
								<div class="col-sm-3">
									<div class="input-group">
										<input type="text" id="search-description" name="search-description" class="input-sm form-control" placeholder="por descripción...">
										<span class="input-group-btn">
											<button id="btn-concept-search" type="button"  class="btn btn-sm btn-primary">
												<i class="fa fa-search" aria-hidden="true"></i> 
												<span th:text="#{mega.cfdi.legend.search.button}"></span>
											</button>
										</span>
									</div>
								</div>
							</div>
							
							<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
								<div id="panel-search-result-empty-message"></div>
							</div>
							
							<div id="div-emitter-concept-custom-list" class="table-responsive hidden">
								<table class="table table-striped"><!-- table-hover -->
									<colgroup>
										<col span="3" width="28%">
										<col width="12%">
									</colgroup>
									<thead>
										<tr>
											<th>
												<span th:text="#{mega.cfdi.text.emitter.concept.description}">Descripción</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.emitter.concept.key.product}">Producto servicio</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.emitter.concept.measurement.unit}">Unidad medida</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.emitter.concept.unit.value}">Valor unitario</span>
											</th>
											<!--<th>
												<span th:text="#{mega.cfdi.text.emitter.concept.discount} + ' (%)'">Descuento (%)</span>
											</th>-->
											<th></th>
										</tr>
									</thead>
									<tbody id="tbdoy-emitter-concept-custom-list"></tbody>
								</table>
							</div>
							
							<!-- Paginado -->
							<div id="div-pagination-emitter-concept-content" class="hidden">
								<div id="div-pagination-emitter-concept" style="text-align: center;"></div>
							</div>
						</div>
						
						<!-- Concepto -->
						<div id="div-tab-concept-content">
							<!-- Area de contenido del modal -->
			            	<div class="tabs-container" style="padding: 5px">
								<ul class="nav nav-tabs">
									<li id="li-tab-concept-add" class="active">
										<a data-toggle="tab" href="#tab-concept-add">
											Concepto
										</a>
									</li>
									<li id="li-tab-taxes" class="hidden">
										<a data-toggle="tab" href="#tab-taxes">
											Impuestos
										</a>
									</li>
									<li id="li-tab-customs-information" class="hidden">
										<a data-toggle="tab" href="#tab-customs-information">
											Información aduanera
										</a>
									</li>
									<li id="li-tab-property-account" class="hidden">
										<a data-toggle="tab" href="#tab-property-account">
											Cuenta predial
										</a>
									</li>
									<li id="li-tab-iedu" class="hidden">
										<a data-toggle="tab" href="#tab-iedu">
											IEDU
										</a>
									</li>
								</ul>
							</div>
							<div class="tab-content">
								<div id="tab-concept-add" class="tab-pane active">
									<div class="panel-body" style="border-bottom: none;">
										<div class="col-xs-12" style="padding-left: 0px;">
											<div class="row">
						                        <div id="div-description" class="col-xs-12 div-form-input-bottom">
													<label id="label-description" class="label-form" for="description">
														Descripción (*):
													</label>
													<input type="text" id="description" name="description" class="form-control">
													<span id="span-description" class="field-validation-error-extended"></span>
												</div>
											</div>
											<div class="row">
												<div id="div-key-product-service" class="col-xs-12 div-form-input-bottom">
													<label id="label-key-product-service" class="label-form" for="key-product-service">
														Clave producto servicio (*):
													</label>
													<input type="text" id="key-product-service" name="key-product-service" class="form-control">
													<span id="span-key-product-service" class="field-validation-error-extended"></span>
												</div>
											</div>
					                        <div class="row">
						                        <div id="div-measurement-unit" class="col-xs-12 div-form-input-bottom">
													<label id="label-measurement-unit" class="label-form" for="measurement-unit">
														Clave unidad (*):
													</label>
													<input type="text" id="measurement-unit" name="measurement-unit" class="form-control">
													<span id="span-measurement-unit" class="field-validation-error-extended"></span>
												</div>											
											</div>
											<div class="row">
												<div id="div-identification-number" class="col-xs-4 div-form-input-bottom">
													<label id="label-identification-number" class="label-form" for="identification-number">
														Número de identificación:
													</label>
													<input type="text" id="identification-number" name="identification-number" class="form-control">
													<span id="span-identification-number" class="field-validation-error-extended"></span>
												</div>
												<div id="div-unit" class="col-xs-4 div-form-input-bottom">
													<label id="label-unit" class="label-form" for="unit">
														Unidad:
													</label>
													<input type="text" id="unit" name="unit" class="form-control">
													<span id="span-unit" class="field-validation-error-extended"></span>
												</div>
												<div id="div-quantity" class="col-xs-4 div-form-input-bottom">
													<label id="label-quantity" class="label-form" for="quantity">
														Cantidad (*):
													</label>
													<input type="text" id="quantity" name="quantity" class="form-control">
													<span id="span-quantity" class="field-validation-error-extended"></span>
												</div>
											</div>
											<div id="div-separator-concept"></div>
											<div class="row">
												<div id="div-unit-value" class="col-xs-4 div-form-input-bottom">
													<label id="label-unit-value" class="label-form" for="unit-value">
														Valor unitario (*):
													</label>
													<input type="text" id="unit-value" name="unit-value" class="form-control">
													<span id="span-unit-value" class="field-validation-error-extended"></span>
												</div>
												<div id="div-discount" class="col-xs-4 div-form-input-bottom">
													<label id="label-discount" class="label-form" for="discount">
														Descuento (%):
													</label>
													<input type="text" id="discount" name="discount" class="form-control">
													<span id="span-discount" class="field-validation-error-extended"></span>
												</div>
												<div id="div-amount" class="col-xs-4 div-form-input-bottom">
													<label id="label-amount" class="label-form" for="amount">
														Importe (*):
													</label>
													<input type="text" id="amount" name="amount" class="form-control">
													<span id="span-amount" class="field-validation-error-extended"></span>
												</div>
												
												<div id="div-obj-tax" class="col-xs-12 col-md-4 div-form-input-bottom">
													<label id="label-obj-tax" class="label-form" for="obj-tax">
														Objeto impuesto (*):
													</label>
													<select id="obj-tax" name="obj-tax" class="form-control select2" >
														<option value="-">&laquo;Seleccione&raquo;</option>
														<option th:each="item : ${objTaxSource}" th:value="${item}" th:text="${item}">obj-tax</option>
													</select>
													<span id="span-obj-tax" class="field-validation-error-extended"></span>
												</div>
												
											</div>
											<hr />
											<div class="row col-xs-12" style="margin-top: 10px;">
												<div class="checkbox checkbox-primary checkbox-inline">
		                                            <input id="checkbox-taxes" type="checkbox">
		                                            <label id="label-checkbox-taxes" for="checkbox-taxes">
		                                                Impuestos
		                                            </label>
		                                        </div>
			                                    <div class="checkbox checkbox-primary checkbox-inline">
		                                            <input id="checkbox-customs-information" type="checkbox">
		                                            <label id="label-checkbox-customs-information" for="checkbox-customs-information">
		                                                Información aduanera
		                                            </label>
		                                        </div>
			                                    <div class="checkbox checkbox-primary checkbox-inline">
		                                            <input id="checkbox-property-account" type="checkbox">
		                                            <label id="label-checkbox-property-account" for="checkbox-property-account">
		                                                Cuenta predial
		                                            </label>
		                                        </div>
		                                        <div class="checkbox checkbox-primary checkbox-inline">
		                                            <input id="checkbox-iedu" type="checkbox">
		                                            <label id="label-checkbox-iedu" for="checkbox-iedu" title="Complemento Concepto de Instituciones Educativas Privadas">
		                                                IEDU
		                                            </label>
		                                        </div>																		
											</div>
										</div>
									</div>
								</div>								
								<!-- Impuestos -->
								<div id="tab-taxes" class="tab-pane">
									<div class="panel-body" style="border-bottom: none;">
										<div class="form-group">
											<div class="col-xs-12" style="padding-left: 0px;">
												<div class="col-xs-12" style="padding-left: 0px; margin-bottom: 5px;">
													<label id="label-taxes-type" class="label-form">
														Tipo de impuesto:
													</label>
												</div>
												<div>
													<div class="radio radio-info radio-inline">
			                                            <input type="radio" id="radio-tax-withheld" name="radio-tax" value="tax-withheld">
			                                            <label id="label-radio-tax-withheld" for="radio-tax-withheld">Retención</label>
			                                        </div>
													<div class="radio radio-info radio-inline">
			                                            <input type="radio" id="radio-tax-transferred" name="radio-tax" value="tax-transferred">
			                                            <label id="label-radio-tax-transferred" for="radio-tax-transferred">Traslado</label>
			                                        </div>
												</div>
											</div>
										</div>
										<div id="div-tax-transferred-withheld-content" class="hidden">
											<div class="col-xs-12" style="padding-left: 0; padding-right: 0; margin-top: 10px;">
												<div class="panel panel-default">
													<div id="div-tax-transferred-withheld-title" class="panel-heading"></div>
													<div class="panel-body" style="padding-left: 0; padding-right: 0; border: 0;">
				                                    	<div class="form-group">
															<div id="div-tax-transferred-withheld-base" class="col-xs-4 div-form-input-bottom">
																<label id="label-tax-transferred-withheld-base" class="label-form" for="tax-transferred-withheld-base">
																	Base (*):
																</label>
																<input type="text" id="tax-transferred-withheld-base" name="tax-transferred-withheld-base" class="form-control">
																<span id="span-tax-transferred-withheld-base" class="field-validation-error-extended"></span>
															</div>
															<div id="div-tax-transferred-withheld-tax-type" class="col-xs-4 div-form-input-bottom">
																<label id="label-tax-transferred-withheld-tax-type" class="label-form" for="tax-transferred-withheld-tax-type">
																	Impuesto (*):
																</label>
																<select id="tax-transferred-withheld-tax-type" name="tax-transferred-withheld-tax-type" class="form-control" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="type : ${taxTypeSource}" th:value="${type}" th:text="${type}">tax</option>
																</select>
																<span id="span-tax-transferred-withheld-tax-type" class="field-validation-error-extended"></span>
															</div>
															<div id="div-tax-transferred-withheld-factor-type" class="col-xs-4 div-form-input-bottom">
																<label id="label-tax-transferred-withheld-factor-type" class="label-form" for="tax-transferred-withheld-factor-type">
																	Tipo factor (*):
																</label>
																<select id="tax-transferred-withheld-factor-type" name="tax-transferred-withheld-factor-type" class="form-control" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="type : ${factorTypeSource}" th:id="tax-transferred-withheld-factor-type- + ${type}" th:value="${type}" th:text="${type}">factorType</option>
																</select>
																<span id="span-tax-transferred-withheld-factor-type" class="field-validation-error-extended"></span>
															</div>
														</div>
														<div id="div-separator-tax-transferred-withheld"></div>
														<div class="form-group">
															<div id="div-tax-transferred-withheld-rate-fee" class="col-xs-4 div-form-input-bottom">
																<label id="label-tax-transferred-withheld-rate-fee" class="label-form" for="tax-transferred-withheld-rate-fee">
																	Tasa o cuota (*):
																</label>
																 <input type="text" id="tax-transferred-withheld-rate-fee" name="tax-transferred-withheld-rate-fee" class="form-control">
																<select id="tax-transferred-withheld-rate-fee-combo" name="tax-transferred-withheld-rate-fee-combo" class="form-control" >
																	<option value="-">&laquo;Seleccione&raquo;</option>																	
																</select>
																<span id="span-tax-transferred-withheld-rate-fee" class="field-validation-error-extended"></span>
															</div>
															<div id="div-tax-transferred-withheld-amount" class="col-xs-4 div-form-input-bottom">
																<label id="label-tax-transferred-withheld-amount" class="label-form" for="amount">
																	Importe (*):
																</label>
																<input type="text" id="tax-transferred-withheld-amount" name="tax-transferred-withheld-amount" class="form-control">
																<span id="span-tax-transferred-withheld-amount" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="text-right" style="padding: 10px 15px; background-color: #ffffff; border-top: 1px solid #ddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
			                                            <button type="button" id="tax-transferred-withheld-add-btn" name="tax-transferred-withheld-add-btn" class="btn btn-primary" style="width: 150px;">Agregar impuesto</button>
			                							<button type="button" id="tax-transferred-withheld-cancel-btn" name="tax-transferred-withheld-cancel-btn" class="btn btn-default" style="width: 150px;">Cancelar</button>
			                                        </div>
			                                    </div>																			
											</div>
										</div>
										<!-- Listado de retenciones -->
										<div id="div-tax-withheld-list" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; margin-top: 15px;">
											<div class="div-form-facet" style="margin-top: 0px; padding-left: 10px; padding-top: 6px; height: 40px; background-color: #eeeeee;">
												<label>
													<h3>
														Retenciones
													</h3>
												</label>
											</div>
											<div class="col-lg-12">
												<div class="ibox float-e-margins" style="margin-bottom: 0;">
													<div class="row">
														<div class="table-responsive">
															<table class="table table-striped">
																<colgroup>
																	<col span="5" width="18%">
																	<col width="10%">
																</colgroup>
																<thead>
																	<tr>
																		<th>Base</th>
																		<th>Impuesto</th>
																		<th>Tipo factor</th>
																		<th>Tasa o cuota</th>
																		<th>Importe</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody id="tbody-tax-withheld-list"></tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Listado de traslados -->
										<div id="div-tax-transferred-list" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; margin-top: 15px;">
											<div class="div-form-facet" style="margin-top: 0px; padding-left: 10px; padding-top: 6px; height: 40px; background-color: #eeeeee;">
												<label>
													<h3>
														Traslados
													</h3>
												</label>
											</div>
											<div class="col-lg-12">
												<div class="ibox float-e-margins" style="margin-bottom: 0;">
													<div class="row">
														<div class="table-responsive">
															<table class="table table-striped">
																<colgroup>
																	<col span="5" width="18%">
																	<col width="10%">
																</colgroup>
																<thead>
																	<tr>
																		<th>Base</th>
																		<th>Impuesto</th>
																		<th>Tipo factor</th>
																		<th>Tasa o cuota</th>
																		<th>Importe</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody id="tbody-tax-transferred-list"></tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- Informacion aduanera -->
								<div id="tab-customs-information" class="tab-pane">
									<div class="panel-body">
										<div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
											<div class="form-group">
												<div id="div-customs-information-number" class="col-xs-8 div-form-input-bottom" style="padding-left: 0;">
													<label id="label-customs-information-number" class="label-form" for="customs-information-number">
														Número de pedimento (*):
													</label>
													<input type="text" id="customs-information-number" name="customs-information-number" class="form-control">
													<span id="span-customs-information-number" class="field-validation-error-extended"></span>
												</div>
												<div class="col-xs-4 div-form-input-bottom" style="margin-top: 18px; margin-left: -20px; padding-right: 0;">
													<div class="button-form-right">
														<input id="btn-customs-information" type="button" value="Añadir número de pedimento" class="btn btn-success" style="width: 100%;" />
													</div>
												</div>
											</div>
										</div>
										<!-- Listado de numeros de pedimento -->
										<div id="div-customs-information-list" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; margin-top: 10px;">
											<!--<div class="div-form-facet" style="margin-top: 0px">
												<label>
													<h2>
														Números de pedimento
													</h2>
												</label>
											</div>-->
											<div class="col-lg-12">
												<div class="ibox float-e-margins" style="margin-bottom: 0;">
													<div class="row">
														<div class="table-responsive">
															<table class="table table-striped">
																<colgroup>
																	<col width="90%">
																	<col width="10%">
																</colgroup>
																<thead>
																	<tr>
																		<th>Números de pedimento</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody id="tbody-customs-information-list"></tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Cuenta predial -->
								<div id="tab-property-account" class="tab-pane">
									<div class="panel-body">
										<div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
											<div class="form-group">
												<div id="div-property-account-number" class="col-xs-6 div-form-input-bottom" style="padding-left: 0;">
													<label id="label-property-account-number" class="label-form" for="property-account-number">
														Número (*):
													</label>
													<input type="text" id="property-account-number" name="property-account-number" class="form-control">
													<span id="span-property-account-number" class="field-validation-error-extended"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tab-iedu" class="tab-pane">
									<div class="panel-body">
										<div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
											<div class="div-form-facet form-group">
												<label>
													<h3 style="font-weight: 100;">Complemento Concepto de Instituciones Educativas Privadas</h3>
												</label>
											</div>
											<div class="form-group" style="margin-top: 10px">
												<div id="div-student-name" class="col-xs-8 div-form-input-bottom">
													<label id="label-student-name" class="label-form" for="student-name">
														Nombre del alumno (*):
													</label>
													<input type="text" id="student-name" name="student-name" class="form-control">
													<span id="span-student-name" class="field-validation-error-extended"></span>
												</div>
												<div id="div-student-curp" class="col-xs-4 div-form-input-bottom">
													<label id="label-student-curp" class="label-form" for="student-curp">
														CURP (*):
													</label>
													<input type="text" id="student-curp" name="student-curp" class="form-control" >
													<span id="span-student-curp" class="field-validation-error-extended"></span>
												</div>																			
											</div>
											<div class="form-group">
												<div id="div-education-level" class="col-xs-4 div-form-input-bottom">
													<label id="label-education-level" class="label-form" for="education-level">
														Nivel educativo (*):
													</label>
													<select id="education-level" name="education-level" class="form-control select2" >
														<option value="-">&laquo;Seleccione&raquo;</option>
														<option th:each="val : ${educationLevelSource}" th:value="${val}" th:text="${val}">educationLevel</option>
													</select>
													<span id="span-education-level" class="field-validation-error-extended"></span>
												</div>
												<div id="div-school-key" class="col-xs-4 div-form-input-bottom">
													<label id="label-school-key" class="label-form" for="school-key">
														Clave del centro de trabajo (*):
													</label>
													<input type="text" id="school-key" name="school-key" class="form-control" >
													<span id="span-school-key" class="field-validation-error-extended"></span>
												</div>
												<div id="div-student-rfc" class="col-xs-4 div-form-input-bottom">
													<label id="label-student-rfc" class="label-form" for="student-rfc">
														RFC:
													</label>
													<input type="text" id="student-rfc" name="student-rfc" class="form-control">
													<span id="span-student-rfc" class="field-validation-error-extended"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		            <div id="concept-add-modal-footer" class="modal-footer">
		            	<div id="btn-concept-content">
		            		<button type="button" id="btn-concept" name="btn-concept" class="btn btn-primary" style="width: 150px;">Aceptar</button>
		                	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
		            	</div>										            	
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>