<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="confirmation-modal" th:fragment="confirmation-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-title" aria-hidden="true">
		    <div class="modal-dialog modal-confirm">
		        <div class="modal-content" style="width: 500px !important;">
					<div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="confirmation-modal-title">
		                	<i class="fa fa-warning" aria-hidden="true"></i> 
		                	<span th:text="#{mega.cfdi.legend.confirmation}"></span>
		                </h4>
		            </div>
		            <div class="modal-body" id="confirmation-modal-body" style="min-height: 60px; height:auto; padding: 20px;">
		            	<p><span id="span-conformation-modal"><span/></p>		            	
					</div>
		            <div class="modal-footer">
		            	<button type="button" id="btn-confirmation-modal" name="btn-confirmation-modal" class="btn btn-primary" style="width: 150px;" >Aceptar</button>
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px;">Cancelar</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div>
	</body>
</html>