<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="customer-modal" th:fragment="customer-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="customer-modal-title" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-big-content">
		        <div class="modal-content">
					<div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="customer-modal-title" th:text="#{mega.cfdi.legend.customer.catalog}"></h4>
		            </div>
		            <div id="cfdi-related-modal-body" class="modal-body" style="min-height: 100px; overflow: auto;">
		            	<div id="div-emitter-customer-list-content" class="col-xs-12">
							<div class="row">
								<div class="col-sm-9 m-b-xs"></div>
								<div class="col-sm-3">
				                    <div class="input-group">
				                    	<input type="text" id="search-rfc" name="search-rfc" class="input-sm form-control" placeholder="por RFC..."> 
				                    	<span class="input-group-btn">
				                        	<button id="btn-customer-search" type="button"  class="btn btn-sm btn-primary">
				                        		<i class="fa fa-search" aria-hidden="true"></i> 
												<span th:text="#{mega.cfdi.legend.search.button}"></span>
											</button>
				                        </span>
									</div>
				                </div>
							</div>
							
							<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
								<div id="panel-search-result-empty-message"></div>
							</div>
							
							<div id="div-emitter-customer-custom-list" class="table-responsive hidden">
								<table class="table table-striped"><!-- table-hover -->
									<colgroup>
										<col span="4" width="22%">
									</colgroup>
									<thead>
										<tr>
											<th>
												<span th:text="#{mega.cfdi.text.rfc}">RFC</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.business.name}">Nombre</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.email}">Correo electronico</span>
											</th>
											<th>
												<span th:text="#{mega.cfdi.text.emitter.customer.resident}">Residente</span>
											</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="tbdoy-emitter-customer-custom-list"></tbody>
								</table>
							</div>
							
							<!-- Paginado -->
							<div id="div-pagination-emitter-customer-content" class="hidden">
								<div id="div-pagination-emitter-customer" style="text-align: center;"></div>
							</div>
						</div>
					</div>
		            <!--<div class="modal-footer">
		            	<button type="button" id="btn-cfdi-related-modal" name="btn-cfdi-related-modal" class="btn btn-primary" style="width: 150px;" >Aceptar</button>
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
		            </div>-->
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>