<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="payroll-file-upload-modal" th:fragment="payroll-file-upload-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="payroll-file-modal-title" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
					<form id="payroll-file-upload-form" action="#" method="post" enctype="multipart/form-data">
						<div class="modal-header">
			            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                <h4 class="modal-title" id="payroll-file-modal-title">
			                	<i class="fa fa-upload" aria-hidden="true"></i>
			                	Cargar archivo de nómina
			                </h4>
			            </div>
			            <div class="modal-body" id="payroll-file-modal-body" style="min-height: 100px; overflow: auto;"><!-- padding: 10px 0; -->
			            	<!-- Area de mensajes del modal -->
			            	<div id="payroll-file-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
								<div id="payroll-file-modal-message"></div>
							</div>
						
			            	<div class="form-group">
								<div id="div-period" class="col-xs-12 div-form-input-bottom">
									<label id="label-period" class="label-form" for="period">
										Periodo (*):
									</label>
									<input type="text" id="period" name="period" class="form-control">
									<span id="span-period" class="field-validation-error-extended"></span>
								</div>								
							</div>
							<div class="form-group">
								<div id="div-payroll-type" class="col-xs-12 div-form-input-bottom">
									<label id="label-payroll-type" class="label-form" for="payroll-type">
										Tipo de nómina (*):
									</label>
									<select id="payroll-type" name="payroll-type" class="form-control" >
										<option value="-">&laquo;Seleccione&raquo;</option>
										<option th:each="type : ${payrollTypeSource}" th:value="${type}" th:text="${type}">personType</option>
									</select>
									<span id="span-payroll-type" class="field-validation-error-extended"></span>
								</div>
							</div>
							<div class="form-group">
								<div id="div-payroll-file" class="col-xs-12 div-form-input-bottom">
									<label id="label-payroll-file" class="label-form" for="payroll-file">
										Fichero (*):
									</label>
									<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
									    <div class="form-control" data-trigger="fileinput">
									        <i class="glyphicon glyphicon-file fileinput-exists"></i>
									    	<span class="fileinput-filename"></span>
									    </div>
									    <span class="input-group-addon btn btn-default btn-file">
									        <span class="fileinput-new">Seleccionar</span>
									        <span class="fileinput-exists">Cambiar</span>
									        <input type="file" id="payroll-file" name="payroll-file"/>
									        <input type="hidden" id="payroll-file-hdd" name="payroll-file-hdd">
									    </span>
									    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
									</div>
									<div id="div-payroll-file-error"><!-- div-file-input-span-has-error -->
										<span id="span-payroll-file" class="field-validation-error-extended"></span>
									</div>
								</div>
							</div>
						</div>
			            <div class="modal-footer">
			            	<button type="button" id="payroll-file-modal-btn" name="payroll-file-modal-btn" class="btn btn-primary" style="width: 150px;" >Aceptar</button>
			                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
			            </div>
					</form>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>