<div id="retention-tax-modal" th:fragment="retention-tax-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="retention-tax-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
			<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Impuesto retenido</h4>
            </div>
            <div class="modal-body" style="overflow: auto;">
            	<!-- Area de mensajes del modal -->
            	<div id="retention-tax-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
					<div id="retention-tax-modal-message"></div>
				</div>														
				
				<div class="col-xs-12">
					<div class="row">
						<div class="form-group">
							<div id="div-tax-base" class="col-xs-12 col-sm-4 div-form-input-bottom">
								<label id="label-tax-base" class="label-form" for="tax-base">
									Base:
								</label>
								<input type="text" id="tax-base" name="tax-base" class="form-control">
								<span id="span-tax-base" class="field-validation-error-extended"></span>
							</div>
							<div id="div-tax-type" class="col-xs-12 col-sm-4 div-form-input-bottom">
								<label id="label-tax-type" class="label-form" for="tax-type">
									Impuesto:
								</label>
								<select id="tax-type" name="tax-type" class="form-control" >
									<option value="-">&laquo;Seleccione&raquo;</option>
									<option th:each="tax : ${taxTypeSource}" th:value="${tax.codigo}" th:text="${tax.valor}">tax</option>
								</select>
								<span id="span-tax-type" class="field-validation-error-extended"></span>
							</div>
							<div id="div-tax-amount" class="col-xs-12 col-sm-4 div-form-input-bottom">
								<label id="label-tax-amount" class="label-form" for="tax-amount">
									Importe (*):
								</label>
								<input type="text" id="tax-amount" name="tax-amount" class="form-control">
								<span id="span-tax-amount" class="field-validation-error-extended"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div id="div-tax-payment-type" class="col-xs-12 col-sm-4 div-form-input-bottom">
								<label id="label-tax-payment-type" class="label-form" for="payment-type">
									Tipo pago (*):
								</label>
								<select id="tax-payment-type" name="tax-payment-type" class="form-control" >
									<option value="-">&laquo;Seleccione&raquo;</option>
									<option th:each="option : ${taxPaymentTypeSource}" th:value="${option.code}" th:text="${option.value}">taxPaymentType</option>
								</select>
								<span id="span-tax-payment-type" class="field-validation-error-extended"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="modal-footer">
            	<div>
            		<button type="button" id="btn-tax" name="btn-concept" class="btn btn-primary" style="width: 150px;">Aceptar</button>
                	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
            	</div>										            	
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->