<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<title>Inicio</title>
</head>
<body>
	<div id="fragment-content" th:fragment="content"><!-- class="container" -->
	
		<!-- CSS :: Register -->
		<link th:href="@{'/resources/css/app-style/register/register.css'}" rel="stylesheet">
		<!-- CSS :: Awesome Bootstrap Checkbox -->
    	<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
		<!-- iCheck -->
		<!--<link th:href="@{'/resources/css/plugins/iCheck/custom.css'}" rel="stylesheet">
		<script th:src="@{'/resources/js/plugins/iCheck/icheck.min.js'}" type="text/javascript"></script>-->
		
		<style type="text/css">
			.control-label {
				white-space: nowrap;
			}
			
			.loginscreen.middle-box {
				width: 400px;
			}
			
			.middle-box {
				max-width: 400px;
			}
			
			.col-md-4 {
				text-align: right !important;
			}
		</style>

		<body id="body-content">
			<div class="header">
		    	<div class="">
		    		<div class="logo-menu">
		        		<div class="logo">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megapractical-white.png'}" width="250px">
		            		</a>
		            	</div>
		            	<div class="logo-megafactura">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megafactura-white.png'}" width="250px">
		            		</a>
		            	</div>
		            </div>
				</div>
			</div>
			<div id="application-page-content" class="container">
				<div class="loginscreen animated fadeInDown" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0;">
					<div id="box-content" class="box-content">
						<div class="app-logo"></div>
						<div id="create-account-content" class="create-account-content text-center">
							<p>Reestablecer contraseña</p>
						</div>
	
						<!-- Area de mensajes -->
						<div id="global-message-content" style="margin-top: 5px;">
                            <div id="global-message"></div>
                        </div>
                        
						<div id="recovery-passwd" style="min-height: 250px;">
							<form class="m-t" role="form" action="#" method="post">
								<div class="div-form-content">
									<div class="form-group">
										<!-- Contribuyente :: RFC -->
										<div id="div-rfc" class="col-xs-12 div-form-input-bottom" style="padding: 0;">
											<label id="label-rfc" class="label-form" for="rfc">
												RFC (*):
											</label>
											<input type="text" id="rfc" name="rfc" class="form-control">
											<span id="span-rfc" class="field-validation-error-extended"></span>
										</div>
									</div>
									<div class="form-group">
										<!-- Usuario :: Correo electronico -->
										<div id="div-email" class="col-xs-12 div-form-input-bottom" style="padding: 0;">
											<label id="label-email" class="label-form" for="email">
												Correo electrónico (*):
											</label>
											<input type="email" id="email" name="email" class="form-control">
											<span id="span-email" class="field-validation-error-extended"></span>
										</div>
									</div>
									<div class="form-group">
										<!-- Terminos y condiciones -->
										<div id="div-accept" class="checkbox checkbox-primary checkbox-inline text-center col-xs-12 div-form-input-bottom" style="padding-right: 0; padding-left: 5px;">
											<input type="checkbox" id="accept" name="accept">
											<label id="label-accept" for="accept">
												Soy el titular de esta cuenta y me hago responsable de esta solicitud de cambio.
											</label>
										</div>
										<span id="span-accept" class="field-validation-error-extended"></span>
										
										<div class="login-access">
											<p class="text-muted text-center">
												<small>
													<a th:href="@{'/login'}">
														Iniciar sesión
													</a>
												</small>
											</p>
										</div>		
									</div>
								</div>
								<div style="text-align: center !important;" class="form-group">
									<button id="btn-recovery-passwd" type="button" class="btn btn-primary" style="width: 100%">
										Generar nueva contraseña
									</button>
								</div>
							</form>
						</div>
						<div id="recovery-passwd-successfully" class="text-center hidden" style="min-height: 250px; margin-top: 15px; overflow: auto;"></div>
						<div class="login-signature">
							<p>
								<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				var login = /*[[@{/login}]]*/;
				var passwordRecoveryRequest = /*[[@{/forgotPassword}]]*/;
				
				$(document).ready(function() {
					appValidationSetRequiredMessage(requiredMessage);
					
					$('#rfc').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#email').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-recovery-passwd').click(function(){
						recoveryPasswd();
					});
					
					$('#accept').click(function(){
						if(isElementChecked(this.id)){
							elementFieldClassReset(this.id);	
						}
					});
					
					/*$('.i-checks').iCheck({
						checkboxClass : 'icheckbox_square-green',
						radioClass : 'iradio_square-green',
					});*/
				});
				
				var fields = ["rfc", "email"];
				
				function fieldReady(){
					elementFieldClassReset("rfc");
					elementFieldClassReset("email");
				}
				
				function recoveryPasswd(){
					fieldReady();
					
					var bValid = true;
					
					bValid = bValid && fieldsCheck(fields, true);
					
					// RFC
					if(bValid){
						if(validateExpression('rfc')){
							elementTagError('rfc', invalidValue, 'top');
							bValid = false;
						}
					}
					
					// Correo
					if(bValid){
						if(!w2utils.isEmail(getElementValue('email'))){
							elementTagError('email', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(bValid){
						if(!isElementChecked('accept')){
							elementTagError('accept', 'Debe indicar que es el titular de la cuenta.', 'bottom');
							bValid = false;
						}
					}
					
					if(!bValid){
						return false;
					}else{
						processing(processingRequest);
						
						var objPasswordRecovery = new Object();
						objPasswordRecovery.rfc = encodeValue(getElementValue('rfc'));
						objPasswordRecovery.email = encodeValue(getElementValue('email'));
						
						var objPasswordRecoveryRequest = JSON.stringify(objPasswordRecovery);
						
						$.ajax({
							url: passwordRecoveryRequest,
							type: 'POST',
							data: {
								objUser : objPasswordRecoveryRequest
							},
							success:  function(data) {
								if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var tax = objJson.tax;  
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										elementEmpty('recovery-passwd');
										hiddenClass('recovery-passwd');
										hiddenClassRemove('recovery-passwd-successfully');
										recoveryPasswdSuccessfully();
										processingEnd();
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												var position = (field == 'passwd' || field == 'passwd-repeat') ? 'bottom' : 'top';
												elementTagError(field, message, position);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										elementEmpty('recovery-passwd');
										hiddenClass('recovery-passwd');
										hiddenClassRemove('recovery-passwd-successfully');
										recoveryPasswdError();
										processingEnd();
									}
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								processingEnd();
								recoveryPasswdError();
								console.log("ERROR! " + thrownError);
							}
						});
					}
				}
				
				function recoveryPasswdSuccessfully(){
					$('#recovery-passwd-successfully').html("");
					$('#recovery-passwd-successfully').append(
						'<div class="div-form-content"> ' +
							'<div class="form-group"> ' +
								'<div class="col-xs-12 div-form-input-bottom" style="padding: 0;"> ' +
									'<h3 class="alert alert-success alert-dismissable"> ' +
										'<i class="fa fa-check" aria-hidden="true"></i> ' +
										'<b>¡Su contraseña ha sido reestablecida satisfactoriamente!</b> ' +
									'</h3> ' +
									'<div class="form-group" style="margin-top: 15px;"> ' +
										'<p>Se le ha enviado un correo con su nueva contraseña. Por seguridad, ' +
										'asegúrese de cambiarla una vez que inicie sesión.</p> ' +
									'</div> ' +
								'</div> ' +
							'</div> ' +
						'</div> ' +
						'<div class="login-access"> ' +
							'<p class="text-muted text-center"> ' +
								'<small> ' +
									'<a href="'+login+'"> ' +
										'Iniciar sesión ' +
									'</a> ' +
								'</small> ' +
							'</p> ' +
						'</div>'
					);
				}
				
				function recoveryPasswdError(){
					$('#recovery-passwd-successfully').html("");
					$('#recovery-passwd-successfully').append(
						'<div class="div-form-content"> ' +
							'<div class="form-group"> ' +
								'<div class="col-xs-12 div-form-input-bottom" style="padding: 0;"> ' +
									'<h3 class="alert alert-danger alert-dismissable"> ' +
										'<i class="fa fa-warning" aria-hidden="true"></i> ' + 	
										'<b>Ha ocurrido un error inesperado reestableciendo la contraseña.</b> ' +
									'</h3> ' +
								'</div> ' +
							'</div> ' +
						'</div> ' +
						'<div class="login-access"> ' +
							'<p class="text-muted text-center"> ' +
								'<small> ' +
									'<a href="'+login+'"> ' +
										'Iniciar sesión ' +
									'</a> ' +
								'</small> ' +
							'</p> ' +
						'</div>'
					);
				}
				
			</script>
		</body>
	</div>
</body>
</html>




