<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<!-- Select2 -->
			<link th:href="@{'/resources/css/plugins/select2/select2.min.css'}" rel="stylesheet">
			<script th:src="@{'/resources/js/plugins/select2/select2.full.min.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    padding: 20px;
				}
				
				.card {
				    position: relative;
				    display: -ms-flexbox;
				    display: flex;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    min-width: 0;
				    word-wrap: break-word;
				    background-color: #fff;
				    background-clip: border-box;
				    border: 1px solid rgba(0,0,0,.125);
				    border-radius: .25rem;
				    word-wrap: break-word;
				}
				
				.card-body {
				    -ms-flex: 1 1 auto;
				    flex: 1 1 auto;
				    min-height: 1px;
				    padding: 1.25rem;
				}
				
				.non-select {
					background-color: #999;
					color: #666;
				}
				
				.cfdi-complement{
					cursor: pointer;
				}
				
				.cfdi-complement:not(.non-select):hover {
					background-color: #1c84c6 !important;
					box-shadow: 2px 2px 2px 2px #676A6C;					
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">MegaCFDI - Generar Retención</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Retenciones
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-file-code-o" aria-hidden="true"></i>
								Generar Retención
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
                    <ul class="stat-list m-t-lg">                    
                        <!-- <li id="li-stamp-available" class="hidden" style="display: none;">
                            <small id="stamp-available"></small>
                            <div class="progress progress-mini">
                                <div id="stamp-available-progress-bar" class="progress-bar"><!-- style="width: 48%;" --> <!-- </div>
                            </div>
                        </li>-->
                    </ul>
                </div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div th:if="${!emitterData}" id="retention-nodata" style="display: none;">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-body">
							<p>Debe configurar su <b>Información fiscal</b> para poder timbrar retenciones. Haga <a th:href="@{/emitterTaxRegimeConfiguration/config}">click aquí</a> para completar la configuración.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div th:if="${emitterData}" id="retention-complements" style="padding-top: 15px; min-height: 450px; overflow: auto; padding-bottom: 80px;">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
			                <div id="retention-without-complement" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Sin complemento</span>
			                            <h3 class="font-bold">Retención</h3>
			                            <span style="font-size: 10px;">Versión 2.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
						<div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-div" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Dividendos</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-ena" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Enajenación de acciones</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-int" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Intereses</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
						<div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-ocd" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Operaciones con derivados</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-pex" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Pagos a extranjeros</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
			                <div id="retention-complement-sfi" class="widget blue-bg cfdi-complement">
			                    <div class="row">
			                        <div class="col-xs-2" style="margin-left: -10px;margin-right: 10px;">
			                            <i class="fa fa-file-code-o fa-3x"></i>
			                        </div>
			                        <div class="col-xs-10 text-right">
			                            <span>Complemento</span>
			                            <h3 class="font-bold">Sector financiero</h3>
			                            <span style="font-size: 10px;">Versión 1.0</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
					</div>
		            
		            <div id="retention-complement-load" style="padding: 20px; display: none;">
			       		<div class="sk-spinner sk-spinner-three-bounce">
		                     <div class="sk-bounce1"></div>
		                     <div class="sk-bounce2"></div>
		                     <div class="sk-bounce3"></div>
		                 </div>
			       	</div>
				</div>
			</div>

			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div id="complement-stamp" class="ibox float-e-margins hidden" style="display: none;">
							<div class="ibox-title">
								<h5>Retención <span id="complement-name"></span></h5>
								<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span>Los campos marcados con (*) son requeridos</span>
								</div>
							</div>
							<div class="ibox-content">
								<div class="row">									
									<div class="col-xs-12">
										<div class="panel panel-default">
											<div id="div-receiver-title" class="panel-heading">
												Información de la retención
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row" style="margin-top: 15px">
															<div id="div-initial-month" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-initial-month" class="label-form" for="initial-month">
																	Mes inicial (*):
																</label>
																<input type="text" id="initial-month" name="initial-month" class="form-control">
																<span id="span-initial-month" class="field-validation-error-extended"></span>
															</div>
															<div id="div-end-month" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-end-month" class="label-form" for="end-month">
																	Mes final (*):
																</label>
																<input type="text" id="end-month" name="end-month" class="form-control">
																<span id="span-end-month" class="field-validation-error-extended"></span>
															</div>
															<div id="div-year" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-year" class="label-form" for="year">
																	Ejercicio fiscal (*):
																</label>
																<input type="text" id="year" name="year" class="form-control">
																<span id="span-year" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div id="div-retention-key" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-retention-key" class="label-form" for="retention-key">
																	Clave retención (*):
																</label>
																<input type="text" id="retention-key" name="retention-key" class="form-control" readonly="readonly">
																<span id="span-retention-key" class="field-validation-error-extended"></span>
															</div>
															<div id="div-expedition-place" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-expedition-place" class="label-form" for="expedition-place">
																	Lugar de expedición:
																</label>
																<input type="text" id="expedition-place" name="expedition-place" class="form-control">
																<span id="span-expedition-place" class="field-validation-error-extended"></span>
															</div>
															<div id="div-folio" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-folio" class="label-form" for="folio">
																	Folio:
																</label>
																<input type="text" id="folio" name="folio" class="form-control">
																<span id="span-folio" class="field-validation-error-extended"></span>
															</div>															
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div id="div-description" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-description" class="label-form" for="description">
																	Descripción:
																</label>
																<input type="text" id="description" name="description" class="form-control">
																<span id="span-description" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div id="div-receiver-title" class="panel-heading">
												Información del receptor
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row" style="margin-top: 15px">
															<div id="div-resident" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-resident" class="label-form" for="resident">
																	Residente (*):
																</label>
																<select id="resident" name="resident" class="form-control select2" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="type : ${residenteSource}" th:value="${type}" th:text="${type}">resident</option>
																</select>
																<span id="span-resident" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<!-- Receptor Nacional -->
															<div id="receiver-nat">
																<div class="col-xs-12">
																	<div class="row">
																		<div id="div-rfc" class="col-xs-12 col-sm-4 div-form-input-bottom">
																			<label id="label-rfc" class="label-form" for="rfc">
																				RFC (*):
																			</label>
																			<input type="text" id="rfc" name="rfc" class="form-control">
																			<span id="span-rfc" class="field-validation-error-extended"></span>
																		</div>
																		<div id="div-name-business-name" class="col-xs-12 col-sm-4 div-form-input-bottom">
																			<label id="label-name-business-name" class="label-form" for="name-business-name">
																				Nombre o razón social (*):
																			</label>
																			<input type="text" id="name-business-name" name="name-business-name" class="form-control">
																			<span id="span-name-business-name" class="field-validation-error-extended"></span>
																		</div>
																		<div id="div-postal-code" class="col-xs-12 col-sm-4 div-form-input-bottom">
																			<label id="label-postal-code" class="label-form" for="postal-code">
																				Domicilio fiscal (*):
																			</label>
																			<input type="text" id="postal-code" name="postal-code" class="form-control">
																			<span id="span-postal-code" class="field-validation-error-extended"></span>
																		</div>
																	</div>
																</div>
																<div class="col-xs-12">
																	<div class="row">
																		<div id="div-curp" class="col-xs-12 col-sm-4 div-form-input-bottom">
																			<label id="label-curp" class="label-form" for="curp">
																				CURP:
																			</label>
																			<input type="text" id="curp" name="curp" class="form-control">
																			<span id="span-curp" class="field-validation-error-extended"></span>
																		</div>
																	</div>
																</div>																
															</div>
															<!-- Receptor Extranjero -->
															<div id="receiver-ext">
																<div id="div-ext-business-name" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ext-business-name" class="label-form" for="ext-business-name">
																		Nombre o razón social:
																	</label>
																	<input type="text" id="ext-business-name" name="ext-business-name" class="form-control">
																	<span id="span-ext-business-name" class="field-validation-error-extended"></span>
																</div>
																<div id="div-identity-registration-number" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-identity-registration-number" class="label-form" for="identity-registration-number">
																		Número registro identidad fiscal:
																	</label>
																	<input type="text" id="identity-registration-number" name="identity-registration-number" class="form-control">
																	<span id="span-identity-registration-number" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												Totales
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row" style="margin-top: 15px">
															<div id="div-total-operation-amount" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-total-operation-amount" class="label-form" for="total-operation-amount">
																	Total monto operación (*):
																</label>
																<input type="text" id="total-operation-amount" name="total-operation-amount" class="form-control">
																<span id="span-total-operation-amount" class="field-validation-error-extended"></span>
															</div>
															<div id="div-total-amount-taxed" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-total-amount-taxed" class="label-form" for="total-amount-taxed">
																	Total monto gravado (*):
																</label>
																<input type="text" id="total-amount-taxed" name="total-amount-taxed" class="form-control">
																<span id="span-total-amount-taxed" class="field-validation-error-extended"></span>
															</div>
															<div id="div-total-amount-exempt" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-total-amount-exempt" class="label-form" for="total-amount-exempt">
																	Total monto exento (*):
																</label>
																<input type="text" id="total-amount-exempt" name="total-amount-exempt" class="form-control">
																<span id="span-total-amount-exempt" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div id="div-total-amount-withheld" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-total-amount-withheld" class="label-form" for="total-amount-withheld">
																	Total monto retenciones (*):
																</label>
																<input type="text" id="total-amount-withheld" name="total-amount-withheld" class="form-control">
																<span id="span-total-amount-withheld" class="field-validation-error-extended"></span>
															</div>
															<div id="div-quarterly-profit" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-quarterly-profit" class="label-form" for="quarterly-profit">
																	Utilidad bimestral:
																</label>
																<input type="text" id="quarterly-profit" name="quarterly-profit" class="form-control">
																<span id="span-quarterly-profit" class="field-validation-error-extended"></span>
															</div>
															<div id="div-corresponding-isr" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-corresponding-isr" class="label-form" for="corresponding-isr">
																	ISR correspondiente:
																</label>
																<input type="text" id="corresponding-isr" name="corresponding-isr" class="form-control">
																<span id="span-corresponding-isr" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="div-form-facet">
															<label>
																<h3>
																	Impuesto retenidos
																</h3>
															</label>
														</div>
														<div class="pull-right" style="margin-top: 5px">
															<button id="btn-withheld-taxes" type="button" class="btn btn-success">
														  		<i class="fa fa-plus"></i>
														  		Adicionar impuesto
														  	</button>
														</div>
													</div>
													<div id="tax-withheld-custom-list" class="col-xs-12 hidden" style="display: none;">
														<div class="ibox float-e-margins">
															<div class="row">
																<div class="col-xs-12">
																	<div class="table-responsive">
																		<table class="table table-striped">
																			<colgroup>
																				<col width="24%" span="4">
																				<col width="4%">
																			</colgroup>
																			<thead>
																				<tr>
																					<th>Base</th>
																					<th>Impuesto</th>
																					<th>Monto</th>
																					<th>Tipo pago</th>
																					<th></th>
																				</tr>
																			</thead>
																			<tbody id="tbody-tax-withheld-custom-list"></tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
										
										<!-- Documentos relacionados -->
										<div class="panel panel-default">
											<div id="div-receiver-title" class="panel-heading">
												Información de la retención
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row" style="margin-top: 15px">
															<div id="div-relationship-type" class="col-xs-12 col-sm-6 div-form-input-bottom">
																<label id="label-relationship-type" class="label-form" for="relationship-type">
																	Tipo de relación:
																</label>
																<select id="relationship-type" name="relationship-type" class="form-control select2" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="entry : ${cfdiRelationshipTypeSource}" th:value="${entry.key}" th:text="${entry.value}">relationshipType</option>
																</select>
																<span id="span-relationship-type" class="field-validation-error-extended"></span>
															</div>
															<div id="div-related-doc-uuid" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-related-doc-uuid" class="label-form" for="related-doc-uuid">
																	UUID:
																</label>
																<input type="text" id="related-doc-uuid" name="related-doc-uuid" class="form-control">
																<span id="span-related-doc-uuid" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Complemento Dividendos -->
										<div id="complement-div" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Dividendos
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-dividend-cve-tip-div-outil" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-cve-tip-div-outil" class="label-form" for="dividend-cve-tip-div-outil">
																		Tipo dividendo (*):
																	</label>
																	<select id="dividend-cve-tip-div-outil" name="dividend-cve-tip-div-outil" class="form-control select2" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option th:each="entry : ${dividendTypeSource}" th:value="${entry.key}" th:text="${entry.value}">dividendType</option>
																	</select>
																	<span id="span-dividend-cve-tip-div-outil" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-tipo-soc-distr-div" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-tipo-soc-distr-div" class="label-form" for="email">
																		Tipo sociedad (*):
																	</label>
																	<select id="dividend-tipo-soc-distr-div" name="dividend-tipo-soc-distr-div" class="form-control" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option th:each="type : ${dividendSocietySource}" th:value="${type}" th:text="${type}">dividendSociety</option>
																	</select>
																	<span id="span-dividend-tipo-soc-distr-div" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-proporcion-rem" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-proporcion-rem" class="label-form" for="dividend-proporcion-rem">
																		Porcentaje participación:
																	</label>
																	<input type="text" id="dividend-proporcion-rem" name="dividend-proporcion-rem" class="form-control">
																	<span id="span-dividend-proporcion-rem" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group">
																<div id="div-dividend-mont-isr-acred-ret-mexico" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-isr-acred-ret-mexico" class="label-form" for="dividend-mont-isr-acred-ret-mexico">
																		Monto ISR acreditado México (*):
																	</label>
																	<input type="text" id="dividend-mont-isr-acred-ret-mexico" name="dividend-mont-isr-acred-ret-mexico" class="form-control">
																	<span id="span-dividend-mont-isr-acred-ret-mexico" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-mont-isr-acred-ret-extranjero" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-isr-acred-ret-extranjero" class="label-form" for="dividend-mont-isr-acred-ret-extranjero">
																		Monto ISR acreditado extranjero (*):
																	</label>
																	<input type="text" id="dividend-mont-isr-acred-ret-extranjero" name="dividend-mont-isr-acred-ret-extranjero" class="form-control">
																	<span id="span-dividend-mont-isr-acred-ret-extranjero" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-mont-ret-ext-div-ext" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-ret-ext-div-ext" class="label-form" for="dividend-mont-ret-ext-div-ext">
																		Monto sobre dividendo extranjero:
																	</label>
																	<input type="text" id="dividend-mont-ret-ext-div-ext" name="dividend-mont-ret-ext-div-ext" class="form-control">
																	<span id="span-dividend-mont-ret-ext-div-ext" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group">
																<div id="div-dividend-mont-isr-acred-nal" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-isr-acred-nal" class="label-form" for="dividend-mont-isr-acred-nal">
																		Monto ISR acreditable nacional:
																	</label>
																	<input type="text" id="dividend-mont-isr-acred-nal" name="dividend-mont-isr-acred-nal" class="form-control">
																	<span id="span-dividend-mont-isr-acred-nal" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-mont-div-acum-nal" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-div-acum-nal" class="label-form" for="dividend-mont-div-acum-nal">
																		Monto dividendo acumulable nacional:
																	</label>
																	<input type="text" id="dividend-mont-div-acum-nal" name="dividend-mont-div-acum-nal" class="form-control">
																	<span id="span-dividend-mont-div-acum-nal" class="field-validation-error-extended"></span>
																</div>
																<div id="div-dividend-mont-div-acum-ext" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-dividend-mont-div-acum-ext" class="label-form" for="dividend-mont-div-acum-ext">
																		Monto dividendo acumulable extranjero:
																	</label>
																	<input type="text" id="dividend-mont-div-acum-ext" name="dividend-mont-div-acum-ext" class="form-control">
																	<span id="span-dividend-mont-div-acum-ext" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Complemento Enajenación de Acciones -->
										<div id="complement-ena" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Enajenación de acciones
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-ena-contract" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ena-contract" class="label-form" for="ena-contract">
																		Contrato de intermedicación (*):
																	</label>
																	<input type="text" id="ena-contract" name="ena-contract" class="form-control">
																	<span id="span-ena-contract" class="field-validation-error-extended"></span>
																</div>
																<div id="div-ena-profit" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ena-profit" class="label-form" for="ena-profit">
																		Ganancia (*):
																	</label>
																	<input type="text" id="ena-profit" name="ena-profit" class="form-control">
																	<span id="span-ena-profit" class="field-validation-error-extended"></span>
																</div>
																<div id="div-ena-waste" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ena-waste" class="label-form" for="ena-waste">
																		Pérdida (*):
																	</label>
																	<input type="text" id="ena-waste" name="ena-waste" class="form-control">
																	<span id="span-ena-waste" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Complemento Intereses -->
										<div id="complement-int" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Intereses
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-int-finance-system" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-finance-system" class="label-form" for="int-finance-system">
																		Sistema financiero (*):
																	</label>
																	<select id="int-finance-system" name="int-finance-system" class="form-control select2" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option value="SI">Si</option>
																		<option value="NO">No</option>
																	</select>
																	<span id="span-int-finance-system" class="field-validation-error-extended"></span>
																</div>
																<div id="div-int-retirement" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-retirement" class="label-form" for="int-retirement">
																		Intereses retirados en período (*):
																	</label>
																	<select id="int-retirement" name="int-retirement" class="form-control select2" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option value="SI">Si</option>
																		<option value="NO">No</option>
																	</select>
																	<span id="span-int-retirement" class="field-validation-error-extended"></span>
																</div>
																<div id="div-int-financial-operations" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-financial-operations" class="label-form" for="int-financial-operations">
																		Operaciones financieras derivadas (*):
																	</label>
																	<select id="int-financial-operations" name="int-financial-operations" class="form-control select2" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option value="SI">Si</option>
																		<option value="NO">No</option>
																	</select>
																	<span id="span-int-financial-operations" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-int-interest-amount" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-interest-amount" class="label-form" for="int-interest-amount">
																		Importe interés nominal (*):
																	</label>
																	<input type="text" id="int-interest-amount" name="int-interest-amount" class="form-control">
																	<span id="span-int-interest-amount" class="field-validation-error-extended"></span>
																</div>
																<div id="div-int-real-interest" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-real-interest" class="label-form" for="int-real-interest">
																		Monto intereses reales (*):
																	</label>
																	<input type="text" id="int-real-interest" name="int-real-interest" class="form-control">
																	<span id="span-int-real-interest" class="field-validation-error-extended"></span>
																</div>
																<div id="div-int-interest-waste" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-int-interest-waste" class="label-form" for="int-interest-waste">
																		Pérdida (*):
																	</label>
																	<input type="text" id="int-interest-waste" name="int-interest-waste" class="form-control">
																	<span id="span-int-interest-waste" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Complemento Operaciones con derivados -->
										<div id="complement-ocd" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Operaciones con derivados
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-ocd-profit-amount" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ocd-profit-amount" class="label-form" for="ocd-profit-amount">
																		Ganancia acumulable (*):
																	</label>
																	<input type="text" id="ocd-profit-amount" name="ocd-profit-amount" class="form-control">
																	<span id="span-ocd-profit-amount" class="field-validation-error-extended"></span>
																</div>
																<div id="div-ocd-deductible-waste" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-ocd-deductible-waste" class="label-form" for="ocd-deductible-waste">
																		Pérdida deducible (*):
																	</label>
																	<input type="text" id="ocd-deductible-waste" name="ocd-deductible-waste" class="form-control">
																	<span id="span-ocd-deductible-waste" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Complemento Pagos a extranjeros -->
										<div id="complement-pex" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Pagos a extranjeros
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row" style="margin-top: 15px">
															<div id="div-pex-beneficiary" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-pex-beneficiary" class="label-form" for="pex-beneficiary">
																	Es beneficiario (*):
																</label>
																<select id="pex-beneficiary" name="pex-beneficiary" class="form-control select2" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option value="SI" selected="selected">Si</option>
																	<option value="NO">No</option>
																</select>
																<span id="span-pex-beneficiary" class="field-validation-error-extended"></span>
															</div>
															<div id="div-pex-no-beneficiary-country" class="col-xs-12 col-sm-8 div-form-input-bottom" style="display: none;">
																<label id="label-pex-no-beneficiary-country" class="label-form" for="pex-no-beneficiary-country">
																	País de residencia (*):
																</label>
																<select id="pex-no-beneficiary-country" name="pex-no-beneficiary-country" class="form-control select2" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="type : ${countrySource}" th:value="${type.codigo}" th:text="${type.codigo + ' - ' + type.valor}">country</option>
																</select>
																<span id="span-no-beneficiary-country" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div id="pex-beneficiary-yes" class="col-xs-12">
														<div class="row">
															<div id="div-pex-beneficiary-business-name" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-pex-beneficiary-business-name" class="label-form" for="pex-beneficiary-business-name">
																	Nombre o razón social:
																</label>
																<input type="text" id="pex-beneficiary-business-name" name="pex-beneficiary-business-name" class="form-control">
																<span id="span-pex-beneficiary-business-name" class="field-validation-error-extended"></span>
															</div>
															<div id="div-pex-beneficiary-rfc" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-pex-beneficiary-rfc" class="label-form" for="pex-beneficiary-rfc">
																	RFC (*):
																</label>
																<input type="text" id="pex-beneficiary-rfc" name="pex-beneficiary-rfc" class="form-control">
																<span id="span-pex-beneficiary-rfc" class="field-validation-error-extended"></span>
															</div>
															<div id="div-pex-beneficiary-curp" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-pex-beneficiary-curp" class="label-form" for="pex-beneficiary-curp">
																	CURP:
																</label>
																<input type="text" id="pex-beneficiary-curp" name="pex-beneficiary-curp" class="form-control">
																<span id="span-pex-beneficiary-curp" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="row">
															<div id="div-pex-payment-concept" class="col-xs-12 col-sm-4 div-form-input-bottom">
																<label id="label-pex-payment-concept" class="label-form" for="pex-payment-concept">
																	Concepto pago (*):
																</label>
																<select id="pex-payment-concept" name="pex-payment-concept" class="form-control select2" >
																	<option value="-">&laquo;Seleccione&raquo;</option>
																	<option th:each="type : ${retentionTaxpayerSource}" th:value="${type.codigo}" th:text="${type.codigo + ' - ' + type.valor}">taxpayerType</option>
																</select>
																<span id="span-pex-payment-concept" class="field-validation-error-extended"></span>
															</div>
															<div id="div-pex-concept-description" class="col-xs-12 col-sm-8 div-form-input-bottom">
																<label id="label-pex-concept-description" class="label-form" for="pex-concept-description">
																	Descripción concepto (*):
																</label>
																<input type="text" id="pex-concept-description" name="pex-concept-description" class="form-control">
																<span id="span-pex-concept-description" class="field-validation-error-extended"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Complemento Sector financiero -->
										<div id="complement-sfi" class="panel panel-default hidden" style="display: none;">
											<div class="panel-heading">
												Complemento Sector financiero
											</div>
											<div class="panel-body panel-body-inner">
												<div class="div-form-content">
													<div class="col-xs-12">
														<div class="row">
															<div class="form-group" style="margin-top: 15px">
																<div id="div-sfi-fideicom-id" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-sfi-fideicom-id" class="label-form" for="sfi-fideicom-id">
																		Identificador del fideicomiso (*):
																	</label>
																	<input type="text" id="sfi-fideicom-id" name="sfi-fideicom-id" class="form-control">
																	<span id="span-sfi-fideicom-id" class="field-validation-error-extended"></span>
																</div>
																<div id="div-sfi-fideicom-name" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-sfi-fideicom-name" class="label-form" for="sfi-fideicom-name">
																		Nombre del fideicomiso:
																	</label>
																	<input type="text" id="sfi-fideicom-name" name="sfi-fideicom-name" class="form-control">
																	<span id="span-sfi-fideicom-name" class="field-validation-error-extended"></span>
																</div>
																<div id="div-sfi-fideicom-description" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-sfi-fideicom-description" class="label-form" for="sfi-fideicom-description">
																		Descripción del fideicomiso (*):
																	</label>
																	<input type="text" id="sfi-fideicom-description" name="sfi-fideicom-description" class="form-control">
																	<span id="span-sfi-fideicom-id" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
								
								<div class="form-group" style="margin-top: 5px">
									<div class="button-form-right">
										<a id="retention-btn" class="btn btn-primary" style="width: 200px;">
											<i class="fa fa-check" aria-hidden="true"></i>						
											<span>Generar Retención</span>
										</a>
										<a id="retention-btn-cancel" class="btn btn-white" style="width: 200px;">
											<i class="fa fa-times" aria-hidden="true"></i>														
											<span th:text="#{mega.cfdi.btn.cancel}">Cancelar</span>
										</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Retention Tax Modal-->											
			<div th:insert="~{modals/RetentionTaxModal :: retention-tax-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var invalidDataType = /*[[${invalidDataType}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				var emitterData = /*[[${emitterData}]]*/;
				var retentionStamp = /*[[@{/retention}]]*/;
				
				var retentionCode = null;
				var withheldTaxes = null;
				
				$(document).ready(function() {
					appValidationSetRequiredMessage(requiredMessage);
					
					hiddenClass('application-page-footer');
					checkDocumentLoad();
					
					$('#initial-month').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#end-month').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#year').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#folio').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-key').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#expedition-place').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#description').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#resident').change(function() {			
						elementFieldClassReset(this.id);
						var residentValue = getElementValue(this.id);
						if(residentValue.equalsIgnoreCase('nacional')) {
							elementHide('receiver-ext');
							
							var receiverNatFieldsClear = ['rfc', 'name-business-name', 'curp', 'postal-code'];
							formFieldsClear(receiverNatFieldsClear);
							elementShow('receiver-nat');
						} else if(residentValue.equalsIgnoreCase('extranjero')) {
							elementHide('receiver-nat');
							
							var receiverExtFieldsClear = ['ext-business-name', 'identity-registration-number'];
							formFieldsClear(receiverExtFieldsClear);
							elementShow('receiver-ext');
						} else {
							elementHide('receiver-nat');
							elementHide('receiver-ext');
						}
					});
					
					$('#rfc').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#name-business-name').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#curp').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#postal-code').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#ext-business-name').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#identity-registration-number').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#total-operation-amount').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#total-amount-taxed').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#total-amount-exempt').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#total-amount-withheld').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#quarterly-profit').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#corresponding-isr').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#tax-base').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#tax-type').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#tax-amount').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#tax-payment-type').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-withheld-taxes').click(function() {
						initialTaxModal();
					});
					
					$('#btn-tax').click(function() {
						retentionAddTax();
					});
					
					$('#retention-without-complement').click(function() {
						retentionCode = null;
						loadRetention(this.id);
					});
					
					$('#retention-complement-div').click(function() {
						retentionCode = 'div';
						loadRetention(this.id);
					});
					
					$('#relationship-type').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#related-doc-uuid').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-cve-tip-div-outil').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-tipo-soc-distr-div').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-proporcion-rem').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-isr-acred-ret-mexico').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-isr-acred-nal').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-div-acum-nal').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-isr-acred-ret-extranjero').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-ret-ext-div-ext').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#dividend-mont-div-acum-ext').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-complement-ena').click(function() {
						retentionCode = 'ena';
						loadRetention(this.id);
					});
					
					$('#ena-contract').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#ena-profit').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#ena-waste').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-complement-int').click(function() {
						retentionCode = 'int';
						loadRetention(this.id);
					});
					
					$('#int-finance-system').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#int-retirement').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#int-financial-operations').change(function() {
						elementFieldClassReset(this.id);
					});
					
					$('#int-interest-amount').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#int-real-interest').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#int-interest-waste').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-complement-ocd').click(function() {
						retentionCode = 'ocd';
						loadRetention(this.id);
					});
					
					$('#ocd-profit-amount').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#ocd-deductible-waste').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-complement-pex').click(function() {
						retentionCode = 'pex';
						loadRetention(this.id);
					});
					
					$('#pex-beneficiary').change(function() {			
						elementFieldClassReset(this.id);
						var pexBeneficiaryValue = getElementValue(this.id);
						if(pexBeneficiaryValue.equalsIgnoreCase('si')) {
							elementHide('div-pex-no-beneficiary-country');
							
							var fieldsClear = ['pex-beneficiary-rfc', 'pex-beneficiary-business-name', 'pex-beneficiary-curp'];
							formFieldsClear(fieldsClear);
							elementShow('pex-beneficiary-yes');
						} else if(pexBeneficiaryValue.equalsIgnoreCase('no')) {
							elementHide('pex-beneficiary-yes');
							
							$('#pex-no-beneficiary-country').select2();
							elementShow('div-pex-no-beneficiary-country');
						} else {
							elementHide('div-pex-no-beneficiary-country');
							elementHide('pex-beneficiary-yes');
						}
					});
					
					$('#pex-beneficiary-rfc').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#pex-beneficiary-curp').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#pex-beneficiary-business-name').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#pex-payment-concept').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#pex-concept-description').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#pex-no-beneficiary-country').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-complement-sfi').click(function() {
						retentionCode = 'sfi';
						loadRetention(this.id);
					});
					
					$('#sfi-fideicom-id').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#sfi-fideicom-name').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#sfi-fideicom-description').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-btn').click(function() {
						globalMessageHide();
						generateRetention();
					});
					
					$('#retention-btn-cancel').click(function() {
						retentionCancel();
					});
				});
				
				function checkDocumentLoad() {
					//##### Informacion de timbres
					hiddenClassRemove('li-stamp-available');
					elementShow('li-stamp-available');
					
					if(emitterData) {
						elementShow('retention-complements');
					} else {
						elementShow('retention-nodata');
					}
					
					beforeApplicationPageContentShow();
				}
				
				var retentionComplements = ['retention-without-complement', 'retention-complement-div', 'retention-complement-ena', 'retention-complement-int', 
											'retention-complement-ocd', 'retention-complement-pex', 'retention-complement-sfi'];
				function loadRetention(pId) {
					elementShow('retention-complement-load');
					for (var i = 0; i < retentionComplements.length; i ++) {
						var selector = retentionComplements[i];
						if(selector != pId) {
							elementClassAdd(selector, 'non-select');
						}
					}
					
					//##### Inicializando retencion (Resetenado impuestos)
					$.ajax({
						url: retentionStamp + '?initretention',
						type: "POST",
						data: {}
					}).done(function (data) {
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							if(response.success) {
								retention();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			        	console.log("[ERROR] initRetention failed!");
			        });
				}
				
				function retention() {
					elementHide('retention-complement-load');
					retentionInfoFormReady();
					retentionReceiverFormReady();
					retentionTotalsFormReady();
					retentionRelatedCfdiFormReady();
					
					if(retentionCode != null) {
						if(retentionCode == 'div') {
							divComplementFormReady();
						} else if(retentionCode == 'ena') {
							enaComplementFormReady();
						} else if(retentionCode == 'int') {
							intComplementFormReady();
						} else if(retentionCode == 'ocd') {
							ocdComplementFormReady();
						} else if(retentionCode == 'pex') {
							pexComplementFormReady();
						} else if(retentionCode == 'sfi') {
							sfiComplementFormReady();
						}
						
						elementTextChange('complement-name', ' - ' + complementName);
					} else {
						retentionFormReady();
						elementTextClear('complement-name');
					}
					
					elementHide('retention-complements');
					elementShow('complement-stamp');
					hiddenClassRemove('complement-stamp');
					elementShow('application-page-content');
					
					afterDocumentLoad();
				}
				
				function retentionReload() {
					retentionInfoFormReady();
					retentionReceiverFormReady();
					retentionTotalsFormReady();
					retentionRelatedCfdiFormReady();
					
					if(retentionCode != null) {
						if(retentionCode == 'div') {
							divComplementFormReady();
						} else if(retentionCode == 'ena') {
							enaComplementFormReady();
						} else if(retentionCode == 'int') {
							intComplementFormReady();
						} else if(retentionCode == 'ocd') {
							ocdComplementFormReady();
						} else if(retentionCode == 'pex') {
							pexComplementFormReady();
						} else if(retentionCode == 'sfi') {
							sfiComplementFormReady();
						}
					} else {
						retentionFormReady();
					}
				}
				
				function retentionCancel() {
					elementHide('complement-stamp');
					hiddenClass('complement-stamp');
					
					for (var i = 0; i < retentionComplements.length; i ++) {
						var selector = retentionComplements[i];
						elementClassRemove(selector, 'non-select');
					}
					
					elementHide('application-page-content');
					elementShow('retention-complements');
					scrollToHere('retention-complements')
				}
				
				var modalFields = ['tax-base', 'tax-type', 'tax-amount', 'tax-payment-type'];
				var modalRequiredFields = ['tax-amount', 'tax-payment-type'];
				function initialTaxModal() {
					panelMessageHide('retention-tax-modal-message-content', 'retention-tax-modal-message');
					formFieldsClear(modalFields);
					selectValueDefault('tax-type');
					selectValueDefault('tax-payment-type');
					$("#retention-tax-modal").modal();
				}
				
				function retentionAddTax() {
					var bValid = true;
					
					bValid = fieldsCheck(modalRequiredFields);
					
					var baseValue = getElementValue('tax-base');
					if(baseValue != null && baseValue != '') {
						if(!w2utils.isFloat(baseValue)) {
							elementForceError('tax-base', invalidValue);
							bValid = false;
						}	
					}
					
					var amountValue = getElementValue('tax-amount');
					if(amountValue != null && amountValue != '') {
						if(!w2utils.isFloat(amountValue)) {
							elementForceError('tax-amount', invalidValue);
							bValid = false;
						}
					}
					
					if(!bValid) {
						return false;
					}
					
					$("#retention-tax-modal").modal('hide');
					processing(processingRequest);
					
					var typeValue = getElementValue('tax-type');
					var paymentTypeValue = getElementValue('tax-payment-type');
					
					var objTax = new Object();
					objTax.base = encodeValue(baseValue);
					objTax.tax = encodeValue(typeValue);
					objTax.amount = encodeValue(amountValue);
					objTax.paymentType = encodeValue(paymentTypeValue);
					objTax = JSON.stringify(objTax);
					
					//##### Cargando la informacion en el FormData
					var formData = new FormData(jQuery('form')[0]);
					formData.append('objTax', objTax);
					
					$.ajax({
						url: retentionStamp + '?addtax',
				       	type: 'POST',
				       	data: formData,
				       	cache: false,
				       	contentType: false,
				       	processData: false,
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								
								if(response.success) {
									withheldTaxes = objJson.withheldTaxs;
									taxWithheldCustomList();
									processingEnd();
								} else if(response.error) {
									var errorSource = response.errors;
									for (var i = 0; i < errorSource.length; i++) {
										var error = errorSource[i];
										var field = error['field'];
										var message = error['message'];
										var code = error['code'];
										
										elementForceError(field, message);
									}
									
									processingEnd();
									$("#retention-tax-modal").modal();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Retentio Add Tax failed!");
				      		processingEnd();
				        }
					});
				}
				
				function retentionRemoveTax(pIndex) {
					if(pIndex != null){
						$.ajax({
							url: retentionStamp + '?removetax',
							type: "POST",
							data: {
								index : pIndex
							}
						}).done(function (data) {
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								if(response.success) {
									withheldTaxes = objJson.withheldTaxs;
									taxWithheldCustomList();
								}
							}					
				        }).fail(function (xhr, ajaxOptions, thrownError) {
				        	console.log("[ERROR] Retentio Remove Tax failed!");
				        });
					}
				}
				
				function taxWithheldCustomList() {
					$("#tbody-tax-withheld-custom-list").html("");
					if(withheldTaxes.length >= 1) {
						for (var i = 0; i < withheldTaxes.length; i ++) {
							var index = withheldTaxes[i].index;
							var base = withheldTaxes[i].base;
							var tax = withheldTaxes[i].tax;
							var amount = withheldTaxes[i].amount;
							var paymentType = withheldTaxes[i].paymentType;
							
							$('#tbody-tax-withheld-custom-list').append(
								'<tr>' +
									'<td>'+base+'</td> ' +	
									'<td>'+tax+'</td> ' +
									'<td>'+amount+'</td> ' +
									'<td>'+paymentType+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=retentionRemoveTax("'+index+'")></i> ' +
									'</td> ' +
								'</tr>'
							);
						}
						
						elementShow('tax-withheld-custom-list');
						hiddenClassRemove('tax-withheld-custom-list');
					} else {
						elementHide('tax-withheld-custom-list');
						hiddenClass('tax-withheld-custom-list');
					}
				}
				
				var infoFieldsClear = ['initial-month', 'end-month', 'year', 'folio', 'retention-key', 'expedition-place', 'description'];
				var retentionInfoFields = ['initial-month', 'end-month', 'year', 'retention-key', 'expedition-place'];
				function retentionInfoFormReady() {
					formFieldsClear(infoFieldsClear);
					if(retentionCode != null) {
						elementReadOnlyTrue('retention-key');
					} else {
						elementValueClear('retention-key');
						elementReadOnlyFalse('retention-key');
					}
				}

				var receiverFieldsClear = ['resident', 'rfc', 'name-business-name', 'curp', 'postal-code', 'ext-business-name', 'identity-registration-number'];
				var receiverNatFields = ['resident', 'rfc', 'name-business-name', 'postal-code'];
				var receiverExtFields = ['resident', 'ext-business-name'];
				function retentionReceiverFormReady() {
					formFieldsClear(receiverFieldsClear);
					
					selectValueSet('resident', 'Nacional');
					$("#resident").select2();
					elementShow('receiver-nat');
					elementHide('receiver-ext');
				}
				
				var totalsFieldsClear = ['total-operation-amount', 'total-amount-taxed', 'total-amount-exempt', 'total-amount-withheld', 'quarterly-profit', 'corresponding-isr'];
				var totalsFields = ['total-operation-amount', 'total-amount-taxed', 'total-amount-exempt', 'total-amount-withheld'];
				function retentionTotalsFormReady() {
					formFieldsClear(totalsFieldsClear);
					
					withheldTaxes = [];
					
					$("#tbody-tax-withheld-custom-list").html("");
					elementHide('tax-withheld-custom-list');
					hiddenClass('tax-withheld-custom-list');
				}
				
				var relatedCfdiFieldsClear = ['relationship-type', 'related-doc-uuid'];
				function retentionRelatedCfdiFormReady() {
					formFieldsClear(relatedCfdiFieldsClear);
					$("#relationship-type").select2();
				}
				
				//##### Retención sin complementos
				function retentionFormReady() {
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-pex');
					hiddenClass('complement-pex');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
				}
				
				//##### Complemento Dividendos
				var divFieldsClear = ['dividend-cve-tip-div-outil', 'dividend-tipo-soc-distr-div', 'dividend-proporcion-rem', 'dividend-mont-isr-acred-ret-mexico', 'dividend-mont-isr-acred-nal', 
									  'dividend-mont-div-acum-nal', 'dividend-mont-isr-acred-ret-extranjero', 'dividend-mont-ret-ext-div-ext', 'dividend-mont-div-acum-ext'];
				var divFields = ['dividend-cve-tip-div-outil', 'dividend-tipo-soc-distr-div', 'dividend-mont-isr-acred-ret-mexico', 'dividend-mont-isr-acred-ret-extranjero'];
				function divComplementFormReady() {
					formFieldsClear(divFieldsClear);
					$('#dividend-cve-tip-div-outil').select2();
					selectValueDefault('dividend-tipo-soc-distr-div');
					
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-pex');
					hiddenClass('complement-pex');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
					
					elementShow('complement-div');
					hiddenClassRemove('complement-div');
					complementName = "Dividendos";
					elementValueChange('retention-key', '14');
				}
				
				//##### Complemento Enajenación de acciones
				var enaFields = ['ena-contract', 'ena-profit', 'ena-waste'];
				function enaComplementFormReady() {
					formFieldsClear(enaFields);
					
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-pex');
					hiddenClass('complement-pex');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
					
					elementShow('complement-ena');
					hiddenClassRemove('complement-ena');
					complementName = "Enajenación de acciones";
					elementValueChange('retention-key', '06');
				}
				
				//##### Complemento Intereses
				var intFields = ['int-finance-system', 'int-retirement', 'int-financial-operations', 'int-interest-amount', 'int-real-interest', 'int-interest-waste'];
				function intComplementFormReady() {
					formFieldsClear(intFields);
					selectValueDefault('int-finance-system');
					selectValueDefault('int-retirement');
					selectValueDefault('int-financial-operations');
					
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-pex');
					hiddenClass('complement-pex');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
					
					elementShow('complement-int');
					hiddenClassRemove('complement-int');
					complementName = "Intereses";
					elementValueChange('retention-key', '16');
				}
				
				//##### Complemento Operaciones con derivados
				var ocdFields = ['ocd-profit-amount', 'ocd-deductible-waste'];
				function ocdComplementFormReady() {
					formFieldsClear(ocdFields);
					
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-pex');
					hiddenClass('complement-pex');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
					
					elementShow('complement-ocd');
					hiddenClassRemove('complement-ocd');
					complementName = "Operaciones con derivados";
					elementValueChange('retention-key', '24');
				}
				
				//##### Complemento Pagos a extranjeros
				var pexFieldsClear = ['pex-beneficiary', 'pex-beneficiary-rfc', 'pex-beneficiary-curp', 'pex-beneficiary-business-name', 'pex-payment-concept', 'pex-concept-description', 'pex-no-beneficiary-country'];
				var pexBeneficiaryFields = ['pex-beneficiary', 'pex-beneficiary-rfc', 'pex-beneficiary-curp', 'pex-beneficiary-business-name', 'pex-payment-concept', 'pex-concept-description'];
				var pexNoBeneficiaryFields = ['pex-beneficiary', 'pex-no-beneficiary-country', 'pex-payment-concept', 'pex-concept-description'];
				function pexComplementFormReady() {
					formFieldsClear(pexFieldsClear);
					selectValueSet('pex-beneficiary', 'SI');
					$('#pex-no-beneficiary-country').select2();
					$('#pex-payment-concept').select2();
					
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-sfi');
					hiddenClass('complement-sfi');
					
					elementShow('complement-pex');
					hiddenClassRemove('complement-pex');
					complementName = "Pagos a extranjeros";
					elementValueChange('retention-key', '18');
				}
				
				//##### Complemento Sector financiero
				var sfiFieldsClear = ['sfi-fideicom-id', 'sfi-fideicom-name', 'sfi-fideicom-description'];
				var sfiFields = ['sfi-fideicom-id', 'sfi-fideicom-description'];
				function sfiComplementFormReady() {
					formFieldsClear(sfiFieldsClear);
					
					elementHide('complement-div');
					hiddenClass('complement-div');
					elementHide('complement-ena');
					hiddenClass('complement-ena');
					elementHide('complement-int');
					hiddenClass('complement-int');
					elementHide('complement-ocd');
					hiddenClass('complement-ocd');
					elementHide('complement-pex');
					hiddenClass('complement-pex');					
					
					elementShow('complement-sfi');
					hiddenClassRemove('complement-sfi');
					complementName = "Sector financiero";
					elementValueChange('retention-key', '25');
				}
				
				//##### Generar retención
				function generateRetention() {
					var bValid = true;
					var error = false;
					var errorMsg = null;
					
					//##### Validando información de la retención
					bValid = fieldsCheck(retentionInfoFields);
					if(retentionCode != null) {
						bValid = fieldsCheck('retention-key');
					}
					if(bValid) {
						if(!w2utils.isInt(getElementValue('initial-month'))){
							elementForceError('initial-month', invalidValue);
							bValid = false;
						} else {
							var imonthValue = getElementValue('initial-month');							
							if(imonthValue < 1 || imonthValue > 12) {
								errorMsg = 'El valor del campo Mes inicial debe ser mayor o igual que 1 y menor o igual que 12.';
								elementForceError('initial-month', errorMsg);
								bValid = false;
							}	
						}
						
						if(!w2utils.isInt(getElementValue('end-month'))){
							elementForceError('end-month', invalidValue);
							bValid = false;
						} else {
							var emonthValue = getElementValue('end-month');							
							if(emonthValue < 1 || emonthValue > 12) {
								errorMsg = 'El valor del campo Mes inicial debe ser mayor o igual que 1 y menor o igual que 12.';
								elementForceError('end-month', errorMsg);
								bValid = false;
							}
						}
						
						if(!w2utils.isInt(getElementValue('year'))){
							elementForceError('year', invalidValue);
							bValid = false;
						} else {
							if(getElementLength('year') != 4) {
								errorMsg = 'El valor del campo Ejercicio fiscal debe ser de 4 dígitos.';
								elementForceError('year', errorMsg);
								bValid = false;
							}
						}
					}
					
					if(!bValid) {
						error = true;
					}
					
					//##### Validando receptor
					select2ClearError('resident');
					if(isElementHasValue('resident')) {
						var residentValue = getElementValue('resident');
						if(residentValue.equalsIgnoreCase('Nacional')) {
							bValid = fieldsCheck(receiverNatFields);
							if(bValid) {
								if(!validateMinMaxLength('rfc', 12, 13)) {
									errorMsg = 'La longitud del campo RFC debe ser de 12 o 13 caracteres.';
									elementForceError('rfc', errorMsg);
									bValid = false;
								}
								if(isElementHasValue('curp')) {
									if(getElementLength('curp') != 18) {
										errorMsg = 'La longitud del campo CURP debe ser de 18 caracteres.';
										elementForceError('curp', errorMsg);
										bValid = false;
									}
								}
							}
						} else if(residentValue.equalsIgnoreCase('Extranjero')) {
							bValid = fieldsCheck(receiverExtFields);
						}
						if(!bValid) {
							error = true;
						}
					} else {
						bValid = fieldsCheck('resident');
						if(!bValid) {
							error = true;	
						}
					}
					
					//##### Validando totales
					bValid = fieldsCheck(totalsFields);
					if(bValid) {
						var operationAmountValue = getElementValue('total-operation-amount');
						if(!w2utils.isFloat(operationAmountValue)) {
							elementForceError('total-operation-amount', invalidValue);
							bValid = false;
						}
						
						var amountTaxedValue = getElementValue('total-amount-taxed');
						if(!w2utils.isFloat(amountTaxedValue)) {
							elementForceError('total-amount-taxed', invalidValue);
							bValid = false;
						}
						
						var amountExemptValue = getElementValue('total-amount-exempt');
						if(!w2utils.isFloat(amountExemptValue)) {
							elementForceError('total-amount-exempt', invalidValue);
							bValid = false;
						}
						
						var amountWithheldValue = getElementValue('total-amount-withheld');
						if(!w2utils.isFloat(amountWithheldValue)) {
							elementForceError('total-amount-withheld', invalidValue);
							bValid = false;
						}
						
						if (isElementHasValue('quarterly-profit')) {
							var quarterlyProfitValue = getElementValue('quarterly-profit');
							if (!w2utils.isFloat(quarterlyProfitValue)) {
								elementForceError('quarterly-profit', invalidValue);
								bValid = false;
							}
						}
						
						if (isElementHasValue('corresponding-isr')) {
							var correspondingIsrValue = getElementValue('corresponding-isr');
							if (!w2utils.isFloat(correspondingIsrValue)) {
								elementForceError('corresponding-isr', invalidValue);
								bValid = false;
							}
						}
					}
					
					//##### Validando documentos relacionados
					select2ClearError('relationship-type');
					if (isElementHasValue('relationship-type') && !isElementHasValue('related-doc-uuid')) {
						elementForceError('related-doc-uuid', requiredMessage);
						bValid = false;
					} else if (isElementHasValue('related-doc-uuid') && !isElementHasValue('relationship-type')) {
						elementForceError('relationship-type', requiredMessage);
						bValid = false;
					}
					
					if(!bValid) {
						error = true;
					}
					
					//##### Validando complementos
					if(retentionCode == 'div') {//##### Dividendos
						bValid = fieldsCheck(divFields);
						if(isElementHasValue('dividend-mont-isr-acred-ret-mexico')) {
							var dividendAmountNatValue = getElementValue('dividend-mont-isr-acred-ret-mexico');
							if(!w2utils.isFloat(dividendAmountNatValue)) {
								elementForceError('dividend-mont-isr-acred-ret-mexico', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-mont-isr-acred-ret-extranjero')) {
							var dividendAmountExtValue = getElementValue('dividend-mont-isr-acred-ret-extranjero');
							if(!w2utils.isFloat(dividendAmountExtValue)) {
								elementForceError('dividend-mont-isr-acred-ret-extranjero', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-mont-ret-ext-div-ext')) {
							var dividendAmountWithheldExtValue = getElementValue('dividend-mont-ret-ext-div-ext');
							if(!w2utils.isFloat(dividendAmountWithheldExtValue)) {
								elementForceError('dividend-mont-ret-ext-div-ext', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-mont-isr-acred-nal')) {
							var dividendIsrValue = getElementValue('dividend-mont-isr-acred-nal');
							if(!w2utils.isFloat(dividendIsrValue)) {
								elementForceError('dividend-mont-isr-acred-nal', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-mont-div-acum-nal')) {
							var dividendCumulativeNatValue = getElementValue('dividend-mont-div-acum-nal');
							if(!w2utils.isFloat(dividendCumulativeNatValue)) {
								elementForceError('dividend-mont-div-acum-nal', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-mont-div-acum-ext')) {
							var dividendCumulativeExtValue = getElementValue('dividend-mont-div-acum-ext');
							if(!w2utils.isFloat(dividendCumulativeExtValue)) {
								elementForceError('dividend-mont-div-acum-ext', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('dividend-proporcion-rem')) {
							var dividendRemainingValue = getElementValue('dividend-proporcion-rem');
							if(!w2utils.isFloat(dividendRemainingValue)) {
								elementForceError('dividend-proporcion-rem', invalidValue);
								bValid = false;
							}
						}												
						
						if(!bValid) {
							error = true;
						}	
					} else if(retentionCode == 'ena') {//##### Enajenación de acciones
						bValid = fieldsCheck(enaFields);
						if(isElementHasValue('ena-profit')) {
							var enaProfitValue = getElementValue('ena-profit');
							if(!w2utils.isFloat(enaProfitValue)) {
								elementForceError('ena-profit', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('ena-waste')) {
							var enaWasteValue = getElementValue('ena-waste');
							if(!w2utils.isFloat(enaWasteValue)) {
								elementForceError('ena-waste', invalidValue);
								bValid = false;
							}
						}
						
						if(!bValid) {
							error = true;
						}
					} else if(retentionCode == 'int') {//##### Intereses
						bValid = fieldsCheck(intFields);
						if(isElementHasValue('int-interest-amount')) {
							var intInterestAmountValue = getElementValue('int-interest-amount');
							if(!w2utils.isFloat(intInterestAmountValue)) {
								elementForceError('int-interest-amount', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('int-real-interest')) {
							var intRealInterestValue = getElementValue('int-real-interest');
							if(!w2utils.isFloat(intRealInterestValue)) {
								elementForceError('int-real-interest', invalidValue);
								bValid = false;
							}
						}
						
						if(isElementHasValue('int-interest-waste')) {
							var intInterestWasteValue = getElementValue('int-interest-waste');
							if(!w2utils.isFloat(intInterestWasteValue)) {
								elementForceError('int-interest-waste', invalidValue);
								bValid = false;
							}
						}
						
						if(!bValid) {
							error = true;
						}
					} else if(retentionCode == 'ocd') {//##### Operaciones con derivados	
						bValid = fieldsCheck(ocdFields);
						if(isElementHasValue('ocd-profit-amount')) {
							var ocdProfitAmountValue = getElementValue('ocd-profit-amount');
							if(!w2utils.isFloat(ocdProfitAmountValue)) {
								elementForceError('ocd-profit-amount', invalidValue);
								bValid = false;
							}
						}
					
						if(isElementHasValue('ocd-deductible-waste')) {
							var ocdDeductibleWasteValue = getElementValue('ocd-deductible-waste');
							if(!w2utils.isFloat(ocdDeductibleWasteValue)) {
								elementForceError('ocd-deductible-waste', invalidValue);
								bValid = false;
							}
						}
						
						if(!bValid) {
							error = true;
						}
					} else if(retentionCode == 'pex') {//##### Pagos a extranjeros
						bValid = fieldsCheck('pex-beneficiary');
						if(bValid) {
							var isBeneficiary = getElementValue('pex-beneficiary');
							if(isBeneficiary.equalsIgnoreCase('si')) {
								bValid = fieldsCheck(pexBeneficiaryFields);
								if(isElementHasValue('pex-beneficiary-rfc')) {
									if(!validateMinMaxLength('pex-beneficiary-rfc', 12, 13)) {
										errorMsg = 'La longitud del campo RFC debe ser de 12 o 13 caracteres.';
										elementForceError('pex-beneficiary-rfc', errorMsg);
										bValid = false;
									}	
								}
								
								if(isElementHasValue('pex-beneficiary-curp')) {
									if(getElementLength('pex-beneficiary-curp') != 18) {
										errorMsg = 'La longitud del campo CURP debe ser de 18 caracteres.';
										elementForceError('pex-beneficiary-curp', errorMsg);
										bValid = false;
									}
								}								
							} else if(isBeneficiary.equalsIgnoreCase('no')) {
								bValid = fieldsCheck(pexNoBeneficiaryFields);
							}
						}
						
						if(!bValid) {
							error = true;
						}
					} else if(retentionCode == 'sfi') {//##### Sector financiero
						bValid = fieldsCheck(sfiFields);
					}
					
					if(error) {
						return false;
					}
					
					processing(processingRequest);
					
					//##### Información de la retención
					var objRetInfo = new Object();
					objRetInfo.initialMonth = encodeValue(getElementValue('initial-month'));
					objRetInfo.endMonth = encodeValue(getElementValue('end-month'));
					objRetInfo.year = encodeValue(getElementValue('year'));
					objRetInfo.folio = encodeValue(getElementValue('folio'));
					objRetInfo.retentionKey = encodeValue(getElementValue('retention-key'));					
					objRetInfo.expeditionPlace = encodeValue(getElementValue('expedition-place'));
					objRetInfo.description = encodeValue(getElementValue('description'));
					
					//##### Información del receptor
					var objRetReceiver = new Object();
					objRetReceiver.receiverNationality = encodeValue(getElementValue('resident'));
					objRetReceiver.receiverNatRfc = encodeValue(getElementValue('rfc'));
					objRetReceiver.receiverNatBusinessName = encodeValue(getElementValue('name-business-name'));
					objRetReceiver.receiverNatPostalCode = encodeValue(getElementValue('postal-code'));
					objRetReceiver.receiverNatCurp = encodeValue(getElementValue('curp'));
					objRetReceiver.receiverExtBusinessName = encodeValue(getElementValue('ext-business-name'));
					objRetReceiver.receiverExtNumber = encodeValue(getElementValue('identity-registration-number'));
					
					//##### Información de totales
					var objRetTotal = new Object();
					objRetTotal.totalOperationAmount = encodeValue(getElementValue('total-operation-amount'));
					objRetTotal.totalAmountTaxed = encodeValue(getElementValue('total-amount-taxed'));
					objRetTotal.totalAmountExempt = encodeValue(getElementValue('total-amount-exempt'));
					objRetTotal.totalAmountWithheld = encodeValue(getElementValue('total-amount-withheld'));
					objRetTotal.quarterlyProfit = encodeValue(getElementValue('quarterly-profit'));
					objRetTotal.correspondingISR = encodeValue(getElementValue('corresponding-isr'));
					
					var objRetRelatedCfdi = new Object();
					objRetRelatedCfdi.type = encodeValue(getElementValue('relationship-type'));
					objRetRelatedCfdi.uuid = encodeValue(getElementValue('related-doc-uuid'));
					
					//##### Complemento Dividendos
					var objRetDiv = null;
					if(retentionCode == 'div') {
						objRetDiv = new Object();
						objRetDiv.cveTipDivOUtil = encodeValue(getElementValue('dividend-cve-tip-div-outil'));
						objRetDiv.montISRAcredRetMexico = encodeValue(getElementValue('dividend-mont-isr-acred-ret-mexico'));
						objRetDiv.montISRAcredRetExtranjero = encodeValue(getElementValue('dividend-mont-isr-acred-ret-extranjero'));
						objRetDiv.montRetExtDivExt = encodeValue(getElementValue('dividend-mont-ret-ext-div-ext'));
						objRetDiv.tipoSocDistrDiv = encodeValue(getElementValue('dividend-tipo-soc-distr-div'));
						objRetDiv.montISRAcredNal = encodeValue(getElementValue('dividend-mont-isr-acred-nal'));
						objRetDiv.montDivAcumNal = encodeValue(getElementValue('dividend-mont-div-acum-nal'));
						objRetDiv.montDivAcumExt = encodeValue(getElementValue('dividend-mont-div-acum-ext'));
						objRetDiv.proporcionRem = encodeValue(getElementValue('dividend-proporcion-rem'));
					}
					
					//##### Complemento Enajenación de acciones
					var objRetEna = null;
					if(retentionCode == 'ena') {
						objRetEna = new Object();
						objRetEna.contract = encodeValue(getElementValue('ena-contract'));
						objRetEna.profit = encodeValue(getElementValue('ena-profit'));
						objRetEna.waste = encodeValue(getElementValue('ena-waste'));
					}
					
					//##### Complemento Intereses
					var objRetInt = null;
					if(retentionCode == 'int') {
						objRetInt = new Object();
						objRetInt.financeSystem = encodeValue(getElementValue('int-finance-system'));
						objRetInt.retirement = encodeValue(getElementValue('int-retirement'));
						objRetInt.financialOperations = encodeValue(getElementValue('int-financial-operations'));
						objRetInt.interestAmount = encodeValue(getElementValue('int-interest-amount'));
						objRetInt.realInterest = encodeValue(getElementValue('int-real-interest'));
						objRetInt.interestWaste = encodeValue(getElementValue('int-interest-waste'));
					}
					
					//##### Complemento Operaciones con derivados
					var objRetOcd = null;
					if(retentionCode == 'ocd') {
						objRetOcd = new Object();
						objRetOcd.profitAmount = encodeValue(getElementValue('ocd-profit-amount'));
						objRetOcd.deductibleWaste = encodeValue(getElementValue('ocd-deductible-waste'));
					}
					
					//##### Complemento Pagos a extranjeros
					var objRetPex = null;
					if(retentionCode == 'pex') {
						objRetPex = new Object();
						objRetPex.beneficiary = encodeValue(getElementValue('pex-beneficiary'));
						objRetPex.beneficiaryRfc = encodeValue(getElementValue('pex-beneficiary-rfc'));
						objRetPex.beneficiaryCurp = encodeValue(getElementValue('pex-beneficiary-curp'));
						objRetPex.beneficiaryBusinessName = encodeValue(getElementValue('pex-beneficiary-business-name'));
						objRetPex.paymentConcept = encodeValue(getElementValue('pex-payment-concept'));
						objRetPex.conceptDescription = encodeValue(getElementValue('pex-concept-description'));
						objRetPex.noBeneficiaryCountry = encodeValue(getElementValue('pex-no-beneficiary-country'));
					}
					
					//##### Complemento Sector financiero
					var objRetSfi = null;
					if(retentionCode == 'sfi') {
						objRetSfi = new Object();
						objRetSfi.fideicomId = encodeValue(getElementValue('sfi-fideicom-id'));
						objRetSfi.fideicomName = encodeValue(getElementValue('sfi-fideicom-name'));
						objRetSfi.fideicomDescription = encodeValue(getElementValue('sfi-fideicom-description'));
					}
					
					var objRetentionData = new Object();
					objRetentionData.retInfo = objRetInfo;
					objRetentionData.retReceiver = objRetReceiver;
					objRetentionData.retTotal = objRetTotal;
					objRetentionData.retRelatedCfdi = objRetRelatedCfdi;
					objRetentionData.retDiv = objRetDiv;
					objRetentionData.retEna = objRetEna;
					objRetentionData.retInt = objRetInt;
					objRetentionData.retOcd = objRetOcd;
					objRetentionData.retPex = objRetPex;
					objRetentionData.retSfi = objRetSfi;
					objRetentionData = JSON.stringify(objRetentionData);
					
					//##### Cargando la informacion en el FormData
					var formData = new FormData(jQuery('form')[0]);
					formData.append('objRetentionData', objRetentionData);
					
					$.ajax({
						url: retentionStamp + '?stamp',
				       	type: 'POST',
				       	data: formData,
				       	cache: false,
				       	contentType: false,
				       	processData: false,
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var stamp = objJson.stamp; 
								var response = objJson.response;
								var notification = response.notification;																	
								
								if(response.success) {
									retentionReload();
									processingEnd();
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];
									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);									
								} else if(response.error) {
									var errorSource = response.errors;
									if(errorSource != null) {
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var code = error['code'];
											
											elementForceError(field, message);
											
											if(field == 'resident') {
												select2ForceError('div-resident', 'label-resident', 'span-resident', message);
											}
											
											if(field == 'dividend-cve-tip-div-outil') {
												select2ForceError('div-dividend-cve-tip-div-outil', 'label-dividend-cve-tip-div-outil', 'span-dividend-cve-tip-div-outil', message);
											}
										}
									}
									
									if(notification != null) {
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Generate Retention failed!");
				      		processingEnd();
				        }
					});
				}
			</script>
			
		</div>
	</body>
</html>