<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.retention.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<style type="text/css">
				.modal-body {
				    min-height: 200px;
				    padding: 10px 0;
				}
			</style>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-6">
					<h3 class="header-title">MegaCFDI - Bandeja de retenciones</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label>Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Retención
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								<label>Bandeja de retenciones</label>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-6"></div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
					
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							
							<div class="row animated fadeInRight">
								<div class="col-xs-12">
                    				<div class="row">
                    					<div class="col-xs-12">
	                    					<!-- Criterios de busqueda -->
											<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
				                                <div class="ibox-title">
				                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
				                                    <label>Criterios de búsqueda</label>
				                                    <div class="ibox-tools pull-right">
				                                        <a class="collapse-link">
				                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
				                                        </a>
				                                    </div>
				                                </div>
				                                <div class="ibox-content" style="padding-bottom: 0; display: none">
				                               		<div class="panel-body" style="padding: 0;">
														<div class="div-form-content">
				                                			<div class="row"><!-- form-group -->
																<div id="div-searchValue" class="col-xs-12 col-sm-8 div-form-input-bottom">
																	<label id="label-searchValue" class="label-form" for="searchValue">
																		Retención:
																	</label>
																	<input type="text" id="searchValue" name="searchValue" class="form-control" placeholder="...por UUID, Razón social, RFC, CURP, Clave Ret, Folio">
																	<span id="span-searchValue" class="field-validation-error-extended"></span>
																</div>
																<div class="form-group" id="div-datepicker-content">
					                                				<div class="col-xs-12 col-sm-4 div-form-input-bottom">
					                                					<label class="label-forml">Rango de fecha:</label>
										                                <div class="input-daterange input-group" id="datepicker" style="margin-top: -3px;">
										                                    <input type="text" id="searchDateStart" name="searchDateStart" class="form-control" placeholder="dd/mm/yyyy"/>
										                                    <span class="input-group-addon">hasta</span>
										                                    <input type="text" id="searchDateEnd" name="searchDateEnd" class="form-control" placeholder="dd/mm/yyyy"/>
										                                </div>
					                                				</div>
									                            </div>                                			
				                                			</div>
				                                		</div>
				                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px; padding-right: 0;">
															<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-search" aria-hidden="true"></i> 
																Buscar
															</button>
															<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-retweet" aria-hidden="true"></i> 
																Limipiar filtros
															</button>
														</div>                                		
				                               		</div>
												</div>
				                            </div>
                    					</div>
                    					
                        				<div class="col-lg-12">
											<div class="div-form-facet" style="margin-top: 0px; padding: 15px 15px 7px;">
												<h4>
													<i class="fa fa-file-code-o" aria-hidden="true"></i>													
													<span >Listado de Retenciones</span> <small id="total-elements-result"></small>
													<div class="panel-heading-controls">
				                						<select id="pagination-page-size" class="form-control input-sm custom-select">
				                                        	<option id="pag-opt-10" value="10">10</option>
				                                        	<option id="pag-opt-50" value="50">50</option>
				                                        	<option id="pag-opt-100" value="100">100</option>
				                                        	<option id="pag-opt-150" value="150">150</option>
				                                        	<option id="pag-opt-200" value="200">200</option>
				                                        	<option id="pag-opt-250" value="250">250</option>
				                                        	<option id="pag-opt-500" value="500">500</option>				                                        	
				                                      	</select>
				                                    </div>
												</h4>
											</div>
											<div class="ibox-content" style="padding: 0;">
												
												<div id="panel-search-result-empty-content" class="hidden" style="padding: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-retention-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup id="colgroup-retention-custom-list">
															<col width="30%">
															<col span="3" width="20%">
															<col width="10%">
														</colgroup>
														<thead id="thead-retention-custom-list">
															<tr>
																<th>Folio fiscal</th>
																<th>Clave retención</th>
																<th>RFC/No. Registro</th>
																<th>Fecha de expedición</th>																
																<th></th>
															</tr>
														</thead>
														<tbody id="tbdoy-retention-custom-list"></tbody>
													</table>
												</div>

												<!-- Paginado -->
												<div id="div-pagination-retention-content" class="hidden">
													<div id="div-pagination-retention" style="text-align: center;"></div>
												</div>
											</div>
										</div>
                        			</div>
								</div>
							
								<!--Confirmation modal-->											
								<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
								
								<!--Email modal-->											
								<div th:insert="~{modals/EmailModal :: send-email-modal}"></div>
							
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var retentionRequest = /*[[@{/retention}]]*/;				
				
				var contextPath = /*[[@{/}]]*/;
				
				var page = null;
				
				//##### Valor del total de registros por pagina
				var paginationPageSize = 10;
				var paginationPageSizeValues = ['10', '50', '100', '150', '200', '250', '500'];
				
				$(document).ready(function() {					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					retentionLoad();
					
					$('#div-datepicker-content .input-daterange').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
					
					$('#btn-search').click(function() {
						search();
					});
					
					$('#btn-search-clean').click(function() {
						searchClean();
					});
					
					$('#pagination-page-size').change(function() {
						if(isSelectHasValue(this.id)) {
							globalMessageHide();
							paginationPageSize = getElementValue(this.id);
							if(isElementInArray(paginationPageSizeValues, paginationPageSize)) {
								retentions = [];
								page = null;
								retentionLoad();
							} else {
								globalMessageShow('El valor de registros por página no es válido', null, true);
							}
						}
					});
					
					$('#send-email-modal-btn').click(function() {
						sendMail();
					});					
				});
				
				var retentions = [];
				function retentionLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')) {
						processing(loadingRequest);	
					}
					
					$.ajax({
						url: retentionRequest + '?inbox',
				       	type: 'POST',
				       	data: {
				       		searchValue : encodeValue(getElementValue('searchValue')),
				       		searchDateStart: encodeValue(getElementValue('searchDateStart')),
				       		searchDateEnd: encodeValue(getElementValue('searchDateEnd')),
				       		page: page == null ? encodeValue("0") : page,
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.retentions;
								var retentionPagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if(retentionPagination != null) {
									if(retentionPagination.paginator != null) {
										paginator = retentionPagination.paginator;
									}
									
									paginatorPage = retentionPagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if(response.success) {
									if(list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											
											var obj = new Object();
											obj.uuid = decodeValue(item.uuid);
											obj.receiverRfc = decodeValue(item.receiverRfc);
											obj.receiverCurp = item.receiverCurp != null ? decodeValue(item.receiverCurp) : "";
											obj.receiverBusinessName = item.receiverBusinessName != null ? decodeValue(item.receiverBusinessName) : "";
											obj.receiverRegNumber = item.receiverRegNumber != null ? decodeValue(item.receiverRegNumber) : "";
											obj.folio = item.folio != null ? decodeValue(item.folio) : "";
											obj.retetionKey = decodeValue(item.retetionKey);
											obj.periodInitialMonth = decodeValue(item.periodInitialMonth);
											obj.periodEndMonth = decodeValue(item.periodEndMonth);
											obj.periodYear = decodeValue(item.periodYear);
											obj.expeditionDate = item.expeditionDate != null ? decodeValue(item.expeditionDate) : "";
											retentions[retentions.length] = obj;
										}
										retentionCustomList();
										pagination('pagination-retention', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-retention-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if(response.error) {
									if(notification != null) {
										var pageMessage = notification.pageMessage;
										if(pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function retentionCustomList() {
					$('#tbdoy-retention-custom-list').html("");
					if(retentions.length >= 1) {
						for(var i = 0; i < retentions.length; i ++) {
							
							var uuid = retentions[i].uuid;
							var receiverRfc = retentions[i].receiverRfc;
							var receiverCurp = retentions[i].receiverCurp;
							var receiverBusinessName = retentions[i].receiverBusinessName;
							var receiverRegNumber = retentions[i].receiverRegNumber;
							var folio = retentions[i].folio;
							var retetionKey = retentions[i].retetionKey;
							var periodInitialMonth = retentions[i].periodInitialMonth;
							var periodEndMonth = retentions[i].periodEndMonth;
							var periodYear = retentions[i].periodYear;
							var expeditionDate = retentions[i].expeditionDate;
							
							if(receiverRfc == null || receiverRfc == '') {
								if(receiverRegNumber != null && receiverRegNumber != '') {
									receiverRfc = receiverRegNumber;
								}
							}
							
							var xmlDownload = contextPath + 'retention/download/'+uuid+'/xml';
							var pdfDownload = contextPath + 'retention/download/'+uuid+'/pdf';
							
							$("#tbdoy-retention-custom-list").append(
								'<tr>' +
									'<td>'+uuid+'</td> ' +
									'<td>'+retetionKey+'</td> ' +
									'<td>'+receiverRfc+'</td> ' +
									'<td>'+expeditionDate+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div style="float: right;"> ' +
											'<div style="float: left;" title="Descargar XML"> ' +
												'<a href="'+xmlDownload+'" target="_blank"> ' +
													'<i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
											'<div style="float: left; margin-left: 4px;" title="Descargar PDF"> ' +
												'<a href="'+pdfDownload+'" target="_blank"> ' +
													'<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
											'<div style="float: left; margin-left: 4px;" title="Enviar correo"> ' +
												'<a onclick=loadSendMail("'+encodeValue(uuid)+'")> ' +
													'<i class="fa fa-envelope fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-retention-custom-list');
					} else {
						hiddenClass('div-retention-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList() {
					$("#tbdoy-retention-custom-list").html("");
					hiddenClass('div-retention-custom-list');
				}
				
				function paginate(pPage) {
					page = pPage;
					retentions = [];
					retentionLoad();
				}
				
				function search() {
					page = null;
					retentions = [];
					retentionLoad();
				}
				
				var searchFields = ['searchValue', 'searchDateStart', 'searchDateEnd'];
				function searchClean() {
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if(bValid) {
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if(isCriteriaDefined) {
						formFieldsClear(searchFields);
						elementPlaceholder('searchValue', '...por UUID, Razón social, RFC, CURP, Clave Ret, Folio');
						search();
					}
				}
				
				function paginationHidden() {
					$('#div-pagination-retention').html("");
					hiddenClass('div-pagination-retention-content');
				}
				
				//##### Enviar por correo electronico
				var emailUuid = null;
				function loadSendMail(pUuid) {
					elementFieldReady('recipient-to');
					elementFieldReady('recipient-cc');
					
					if(pUuid != null) {
						emailUuid = pUuid;
						
						//##### Abriendo modal panel de clientes						
						$("#send-email-modal").modal({
				            backdrop: 'static',
				            keyboard: false
				        });
					}
				}
				
				function sendMail() {
					var bValid = true;
					
					bValid = bValid && fieldsCheck('recipient-to');
					
					if(bValid) {
						if(!w2utils.isEmail(getElementValue('recipient-to'))) {
							elementForceError('recipient-to', invalidValue);
							bValid = false;
						}
						
						if(isElementHasValue('recipient-cc')) {
							var recipientCC = getElementValue('recipient-cc').split(';');
							var recipientCCs = [];
							for (var i = 0; i < recipientCC.length; i++) {
								var emailCC = recipientCC[i]; 
								if(!w2utils.isEmail(emailCC)) {
									bValid = false;
									break;
								} else {
									recipientCCs[recipientCCs.length] = encodeValue(emailCC);
								}
							}
						}
					}
					
					if(!bValid) {
						return false;
					}
					
					$("#send-email-modal").modal('hide');
					processing(processingRequest);
					
					var retentionNotification = new Object();
					retentionNotification.uuid = emailUuid;
					retentionNotification.recipientTo = encodeValue(getElementValue('recipient-to'));
					retentionNotification.recipients = recipientCCs;
					
					var retentionNotificationJson = new Object();
					retentionNotificationJson.retentionNotification = retentionNotification;
					
					var retentionNotificationRequest = JSON.stringify(retentionNotificationJson);
					
					$.ajax({
						url: retentionRequest + '?mail',
				       	type: 'POST',
				       	data: {retentionNotificationRequest : retentionNotificationRequest},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								if(response.success) {
									processingEnd();
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];										

									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
								} else if(response.error) {
									if(notification != null) {
										var pageMessage = notification.pageMessage;
										if(pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("SEND MAIL ERROR! " + thrownError);
				        }
					});
				}				
				
			</script>
			
		</div>
	</body>
</html>