<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
    		<style type="text/css">
				.tabs-container .tabs-panel-body {
				    background: #fff;
				    border: 1px solid #e7eaec;
				        border-top-width: 1px;
				        border-top-style: solid;
				        border-top-color: rgb(231, 234, 236);
				    border-radius: 2px;
				    padding: 20px;
				    position: relative;
				}
			</style>
    		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">MegaCFDI - Bandeja de archivos</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Retención
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								Bandeja de archivos
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
                    <ul class="stat-list m-t-lg">
                        <li id="li-stamp-available" class="hidden" style="display: none;">
                            <small id="stamp-available"></small>
                            <div class="progress progress-mini">
                                <div id="stamp-available-progress-bar" class="progress-bar"><!-- style="width: 48%;" --></div>
                            </div>
                        </li>
                    </ul>
                </div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Bandeja de archivos</h5>
								<!--<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>-->
							</div>							
							<div class="ibox-content">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<!-- TAB :: Emisor -->
										<li id="li-tab-emitter" class="active">
											<a data-toggle="tab" href="#tab-processed">
												<i class="fa fa-database" aria-hidden="true"></i>												
												Procesados
											</a>
										</li>
										<li id="li-tab-receiver">
											<a data-toggle="tab" href="#tab-processing">
												<i class="fa fa-refresh" aria-hidden="true"></i>
												Procesando
											</a>
										</li>
										<li id="li-tab-voucher">
											<a data-toggle="tab" href="#tab-queued">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												En cola
											</a>
										</li>										
										<div id="div-upload-file-content" class="button-form-right">
											<span class="label label-danger right" th:text="${textFileUploadExceeded}"></span>																					
											<a id="upload-file-btn" th:class="${buttonNominaClass}" role="button"  >
												<i class="fa fa-upload" aria-hidden="true"></i>
												<span>Subir archivo</span>
											</a>
										</div>
									</ul>
									<div class="tab-content">
										<!-- TAB CONTENT :: PROCESSED FILES -->
										<div id="tab-processed" class="tab-pane active">
											<div class="panel-body" style="padding-bottom: 0;">
												<!-- Criterios de busqueda -->
												<div id="div-retention-file-generated-search" class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
					                                <div class="ibox-title" style="border-right: 1px solid #e7eaec;border-left: 1px solid #e7eaec;">
					                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
					                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
					                                    <div class="ibox-tools pull-right">
					                                        <a class="collapse-link">
					                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
					                                        </a>
					                                    </div>
					                                </div>
					                                <div class="ibox-content" style="padding: 0; display: none">
					                               		<div class="panel-body" style="padding: 0;">
															<div class="div-form-content" style="margin-top: 10px;">
					                                			<div class="form-group">
																	<div id="div-search-file-name" class="col-xs-12 col-sm-8 div-form-input-bottom">
																		<label id="label-search-file-name" class="label-form" for="search-file-name">
																			Nombre archivo:
																		</label>
																		<input type="text" id="search-file-name" name="search-file-name" class="form-control">
																		<span id="span-search-file-name" class="field-validation-error-extended"></span>
																	</div>
																	<div id="div-search-year" class="col-xs-12 col-sm-4 div-form-input-bottom">
																		<label id="label-search-year" class="label-form" for="search-year">
																			Ejercicio:
																		</label>
																		<input type="text" id="search-year" name="search-year" class="form-control">
																		<span id="span-search-year" class="field-validation-error-extended"></span>
																	</div>                                			
					                                			</div>
					                                		</div>
					                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px;">
																<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-search" aria-hidden="true"></i> 
																	Buscar
																</button>
																<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-retweet" aria-hidden="true"></i> 
																	Limipiar filtros
																</button>
															</div>                                		
					                               		</div>
													</div>
					                            </div>
									
												<div id="panel-search-result-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-retention-file-generated-custom-list" class="table-responsive hidden" style="margin-top: 20px;">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup id="colgroup-retention-file-generated-custom-list"></colgroup>
														<thead id="thead-retention-file-generated-custom-list"></thead>
														<tbody id="tbdoy-retention-file-generated-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-generated-retention-file-content" class="hidden">
													<div id="div-pagination-generated-retention-file" style="text-align: center;"></div>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: PROCESSING FILES -->
										<div id="tab-processing" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-retention-file-processing-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-retention-file-processing-empty-message"></div>
												</div>
												
												<div id="div-retention-file-processing-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<thead>
															<tr>
																<th>
																	<span>Nombre archivo</span>
																</th>																
															</tr>
														</thead>
														<tbody id="tbdoy-retention-file-processing-custom-list"></tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: QUEUED FILES -->
										<div id="tab-queued" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-retention-file-queued-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-retention-file-processing-queued-message"></div>
												</div>
												
												<div id="div-retention-file-queued-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="80%">
															<col span="2" width="20%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span>Nombre archivo</span>
																</th>
																<th>
																	<span>Fecha de carga</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-retention-file-queued-custom-list"></tbody>
													</table>
													<div id="retention-file-queued-info" class="text-left hidden" style="margin-bottom: 20px;">
														<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
														<span th:text="#{mega.cfdi.legend.retention.file.stamp.available}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!--Confirmation modal-->											
									<div th:insert="~{modals/RetentionFileUploadModal :: retention-file-upload-modal}"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var emptyInformation = /*[[${emptyInformation}]]*/;
				var availableStampError = /*[[${availableStampError}]]*/;
				
				var page = null;
				var action = 'load';
				
				//##### Request
				var retentionRequest = /*[[@{/retention}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				//##### Arreglo de archivos
				var generatedRetentionFileList = [];
				var processingRetentionFileList = [];
				var queuedRetentionFileList = [];
				
				$(document).ready(function() {
					
					appValidationSetRequiredMessage(requiredMessage);
					
					//##### Load retention upload file modal
					$('#upload-file-btn').click(function() {
						retentionUploadClear();
						$("#retention-file-upload-modal").modal();
					});
					
					//##### Retention upload btn
					$('#retention-file-modal-btn').click(function() {
						retentionFileUpload();
					});
					
					$('#period').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-type').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#retention-file').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					//##### Listado de archivos
					retentionFileLoad();
					
					//##### Busqueda
					$('#btn-search').click(function() {
						search();
					});
					
					$('#btn-search-clean').click(function() {
						searchClean();
					});
					
					//##### Verifica el estado de los ficheros de retención cada 1 min (1 min = 60 seg = 60000 miliseg)
		    		retentionFileTime = 1;
		    		retentionFileHandlerIntervalId = interval(retentionFileAsyncCheck, convertMiliseg(retentionFileTime));
				});
				
				//########################################################################################
				//##### Listado de ficheros ##############################################################
				//########################################################################################
				function retentionFileAsyncCheck() {
					if(page != null) {						
						//page = encodeValue(page + 1);
						page = encodeValue(page + 1);
					}
					
					action = 'async';
					retentionFileLoad();
		    	}
				
				function search() {
					page = null;
					action = 'search';
					retentionFileGeneratedLoad();
				}
				
				var searchFields = ['search-file-name', 'search-year'];
				function searchClean() {
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if(bValid) {
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if(isCriteriaDefined) {
						formFieldsClear(searchFields);
						search();
					}
				}
				
				function paginate(pPage) {
					page = pPage;
					action = 'paginate';
					retentionFileGeneratedLoad();
				}
				
				function paginationHidden() {
					$('#div-pagination-generated-retention-file').html("");
					hiddenClass('div-pagination-generated-retention-file-content');
				}
				
				function retentionFileLoad() {
					globalMessageHide();
					
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					panelMessageHide('panel-retention-file-processing-empty-content', 'panel-retention-file-processing-empty-message');
					panelMessageHide('panel-retention-file-queued-empty-content', 'panel-retention-file-processing-queued-message');
					
					generatedRetentionFileList = [];
					processingRetentionFileList = [];
					queuedRetentionFileList = [];
					
					$.ajax({
						url: retentionRequest + "?fileTray",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		searchYear: encodeValue(getElementValue('search-year')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedRetentionList = objJson.generatedRetentionFiles;
								var processingRetentionList = objJson.processingRetentionFiles;
								var queuedRetentionList = objJson.queuedRetentionFiles;
								
								var retentionFilePagination = objJson.pagination;
								var paginator = retentionFilePagination.paginator;
								var paginatorPage = retentionFilePagination.page;								
								var page = paginatorPage.number;
								
								if(response.success) {
									//##### Listado de archivos procesados (con paginado)
									if(generatedRetentionList != null) {
										if(generatedRetentionList.length >= 1) {
											for (var i = 0; i < generatedRetentionList.length; i++) {
												var item = generatedRetentionList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.retentionType = decodeValue(item.retentionType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.period = item.period != null ? decodeValue(item.period) : '';
												obj.year = item.year != null ? decodeValue(item.year) : '';
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null) {
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null) {
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null) {
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedRetentionFileList[generatedRetentionFileList.length] = obj;
											}
											
											pagination('pagination-generated-retention-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-retention-file-content');	
										} else {
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos procesandose
									if(processingRetentionList != null) {
										if(processingRetentionList.length >= 1) {
											for (var i = 0; i < processingRetentionList.length; i++) {
												var item = processingRetentionList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.name = decodeValue(item.name);
												processingRetentionFileList[processingRetentionFileList.length] = obj;
											}
										} else {
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-retention-file-processing-custom-list');
											panelMessageShow('panel-retention-file-processing-empty-content', 'panel-retention-file-processing-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else {
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-retention-file-processing-custom-list');
										panelMessageShow('panel-retention-file-processing-empty-content', 'panel-retention-file-processing-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos en cola
									if(queuedRetentionList != null) {
										if(queuedRetentionList.length >= 1) {
											for (var i = 0; i < queuedRetentionList.length; i++) {
												var item = queuedRetentionList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.retentionType = decodeValue(item.retentionType);
												obj.name = decodeValue(item.name);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												queuedRetentionFileList[queuedRetentionFileList.length] = obj;
											}
										} else {
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-retention-file-queued-custom-list');
											panelMessageShow('panel-retention-file-queued-empty-content', 'panel-retention-file-processing-queued-message', emptyMessage, cssClass, dismiss);
										}
									} else {
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-retention-file-queued-custom-list');
										panelMessageShow('panel-retention-file-queued-empty-content', 'panel-retention-file-processing-queued-message', emptyMessage, cssClass, dismiss);
									}
									retentionFileCustomList();
								}else if(response.error) {
									
									if(notification != null) {
										var pageMessage = notification.pageMessage;
										if(pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Retention file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function retentionFileGeneratedLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					generatedRetentionFileList = [];
					
					$.ajax({
						url: retentionRequest + "?retentionFileGeneratedList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		searchYear: encodeValue(getElementValue('search-year')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedRetentionList = objJson.generatedRetentionFiles;
								
								var retentionFilePagination = objJson.pagination;
								var paginator = retentionFilePagination.paginator;
								var paginatorPage = retentionFilePagination.page;								
								page = paginatorPage.number;
								
								if(response.success) {
									//##### Listado de archivos procesados (con paginado)
									if(generatedRetentionList != null) {
										if(generatedRetentionList.length >= 1) {
											for (var i = 0; i < generatedRetentionList.length; i++) {
												var item = generatedRetentionList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.retentionType = decodeValue(item.retentionType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.period = item.period != null ? decodeValue(item.period) : '';
												obj.year = item.year != null ? decodeValue(item.year) : '';
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null) {
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null) {
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null) {
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedRetentionFileList[generatedRetentionFileList.length] = obj;
											}
											
											pagination('pagination-generated-retention-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-retention-file-content');	
										} else {
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									generatedRetentionFileCustomList();
								}else if(response.error) {
									if(notification != null) {
										var pageMessage = notification.pageMessage;
										if(pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Retention generated file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function retentionFileCustomList() {
					generatedRetentionFileCustomList();
					processingRetentionFileCustomList();
					queuedRetentionFileCustomList();
				}
				
				function generatedRetentionFileCustomList() {
					$("#tbdoy-retention-file-generated-custom-list").html("");
					if(generatedRetentionFileList.length >= 1) {
						
						var compactedPath = false;
						var consolidatedPath = false;
						var errorPath = false;
						
						for(var i = 0; i < generatedRetentionFileList.length; i ++) {
							var item = generatedRetentionFileList[i];
							
							var id = item.id;
							var name = item.name;
							var period = item.period;
							var year = item.year;
														
							var retentionCompactedPath = item.compactedPath != null ? item.compactedPath : null;
							if(retentionCompactedPath != null) {
								compactedPath = true;
							}
							
							var retentionConsolidatedPath = item.consolidatedPath != null ? item.consolidatedPath : null;
							if(retentionConsolidatedPath != null) {
								consolidatedPath = true;
							}
								
							var retentionErrorPath = item.errorPath != null ? item.errorPath : null;
							if(retentionErrorPath != null) {
								errorPath = true;
							}
							
							var tbodyTr = "tbody-tr-generated-" + i;
							
							$("#tbdoy-retention-file-generated-custom-list").append('<tr id="'+tbodyTr+'"></tr>');
							$("#" + tbodyTr).append(
								'<td>'+name+'</td> ' +
								'<td>'+period+'</td> ' +
								'<td>'+year+'</td>'
							);
								
							if(retentionCompactedPath != null) {
								var compactedDownload = contextPath + 'retention/file/download/'+name+'/compacted';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-compacted" style="text-align: center;"> ' +
										'<div title="Descargar compactado"> ' +
											'<a href="'+compactedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							} else {
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-compacted"></td>');
							}
									
							if(retentionConsolidatedPath != null) {
								var consolidatedDownload = contextPath + 'retention/file/download/'+name+'/consolidated';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-consolidated" style="text-align: center;"> ' +
										'<div title="Descargar consolidado"> ' +
											'<a href="'+consolidatedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							} else {
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-consolidated"></td>');
							}
									
							if(retentionErrorPath != null) {
								var errorDownload = contextPath + 'retention/file/download/'+name+'/error';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-error" style="text-align: center;"> ' +
										'<div title="Descargar archivo de errores"> ' +
											'<a href="'+errorDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							} else {
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-error"></td>');
							}
						}
						
						//##### Para eliminar las filas en donde no exista contentido
						if(!compactedPath) {
							for(var i = 0; i < generatedRetentionFileList.length; i ++) {
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-compacted";
								elementRemove(elementId);								
							}
						}
						
						if(!consolidatedPath) {
							for(var i = 0; i < generatedRetentionFileList.length; i ++) {
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-consolidated";
								elementRemove(elementId);								
							}
						}
						
						if(!errorPath) {
							for(var i = 0; i < generatedRetentionFileList.length; i ++) {
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-error";
								elementRemove(elementId);								
							}	
						}
						
						//##### Determinando el colgroup y el thead
						$('#colgroup-retention-file-generated-custom-list').html("");
						$('#thead-retention-file-generated-custom-list').html("");
						$('#thead-retention-file-generated-custom-list').append('<tr id="thead-tr-generated"></tr>');
						$('#thead-tr-generated').append(
							'<th> ' +
								'<span>Nombre archivo</span> ' +
							'</th> ' +
							'<th> ' +
								'<span>Periodo</span> ' +
							'</th> ' +
							'<th> ' +
								'<span>Ejercicio</span> ' +
							'</th>'
						);
						
						if(compactedPath && consolidatedPath && errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="30%"> ' +
								'<col span="4" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && consolidatedPath && !errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Consolidado</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && !errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Compactado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && !errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Consolidado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && !consolidatedPath && errorPath) {
							$('#colgroup-retention-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						}
						
						hiddenClassRemove('div-retention-file-generated-search');
						hiddenClassRemove('div-retention-file-generated-custom-list');
					} else {
						if(action != 'search') {
							hiddenClass('div-retention-file-generated-search');	
						}
						hiddenClass('div-retention-file-generated-custom-list');						
					}
				}
				
				function processingRetentionFileCustomList() {
					$("#tbdoy-retention-file-processing-custom-list").html("");
					if(processingRetentionFileList.length >= 1) {
						for(var i = 0; i < processingRetentionFileList.length; i ++) {
							var item = processingRetentionFileList[i];
							var name = item.name;
							
							$("#tbdoy-retention-file-processing-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-retention-file-processing-custom-list');
					} else {
						hiddenClass('div-retention-file-processing-custom-list');						
					}
				}
				
				function queuedRetentionFileCustomList() {
					var showInfo = false;
					$("#tbdoy-retention-file-queued-custom-list").html("");					
					if(queuedRetentionFileList.length >= 1) {
						for(var i = 0; i < queuedRetentionFileList.length; i ++) {
							var item = queuedRetentionFileList[i];
							
							var id = item.id;
							var name = item.name;
							var uploadDate = item.uploadDate;
							var stampAvailable = item.stampAvailable;
							
							var trStyle = stampAvailable != null ? (!stampAvailable ? 'style="color: red;"' : '') : ''; 
							
							$("#tbdoy-retention-file-queued-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+name+'</td> ' +
									'<td>'+uploadDate+'</td> ' +
								'</tr>'
							);
							
							if(!stampAvailable) {
								showInfo = true;
							}
						}
						hiddenClassRemove('div-retention-file-queued-custom-list');
					} else {
						hiddenClass('div-retention-file-queued-custom-list');						
					}
					
					if(showInfo) {
						hiddenClassRemove('retention-file-queued-info');
					} else {
						hiddenClass('retention-file-queued-info');
					}
					
					if(action != 'async') {
						afterDocumentLoad();	
					}
				}
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var retentionFields = ['retention-file'];
				
				function retentionUploadClear() {
					formFieldsClear(retentionFields);
				}
				
				function retentionUploadDataReady() {
					action = 'upload';
					elementFieldClassReset('period');
				}
				
				function retentionFileUpload() {
					var bValid = true;
					
					retentionUploadDataReady();
					
					bValid = bValid && fieldsCheck(retentionFields);
					
					if(!bValid) {
						if(!isElementHasValue('retention-file')) {
							elementClassAdd('div-retention-file-error', 'div-file-input-span-has-error');
						}
						return false;
					} else {
						$("#retention-file-upload-modal").modal('hide');
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);						
						formData.append('retentionFile', $('#retention-file')[0].files[0]);
						
						$.ajax({
							url: retentionRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null) {
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									var uploadLimit = response.uploadLimit;
									
									if(uploadLimit)
										elementClassAdd('div-upload-btn', 'disabled');
									
									if(response.success) {
										processingEnd();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);																														
										
										retentionFileAsyncCheck();
										
									}else if(response.error) {
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var code = error['code'];
											
											elementForceError(field, message);
											
											if(field == 'retention-file') {
												elementClassAdd('div-retention-file-error', 'div-file-input-span-has-error');
											}													
										}
										
										if(notification != null) {
											var modalPanelMessage = notification.modalPanelMessage;
											if(modalPanelMessage) {
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												panelMessageShow('retention-file-modal-message-content', 'retention-file-modal-message', message, cssClass, dismiss);													
											}
										}
										
										$("#retention-file-upload-modal").modal();
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Generate CFDI failed!");
					      		processingEnd();
					        }
						});
					}
				}
			
			</script>
				
		</div>
	</body>
</html>