/*
	@author 	Maikel Guerra Ferrer
	@date		20170113
	@location	D.F, Mexico
*/

html, body {
	background: url("../../../img/dashboard/login-bg-01.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header{
	width: 100%;	
	background-color: #fff;
}

.logo h1 a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #1C97CA;
	font-size: 40px;
	font-weight: 100;
	padding: 20px 0px;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
	
}

.login-content {
    background-color: #f5f5f5;
    border: 1px solid #676a6c;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #000;
    padding: 40px;
    width: 350px;
	margin: 0 auto;
}

.app-logo {
    background-image: url("../../../img/login/mega-cfdi-logo.png");
    height: 100px;
    width: 104px;
    margin: 0 auto;
    position: relative;
    margin-top: -15px;
    margin-bottom: 25px;
}

.create-account-content {
    margin-bottom: 10px;
}

.login-signature {
    /*left: 40%;*/
    /*position: absolute;*/
    margin-bottom: -30px;
}

.login-signature p {
    color: #676a6c;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 30px;
}

.icon-user {
    /*background-image: url("../../../img/login/login-at.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    left: 15%;
    margin-top: -27px;
    position: absolute;
    width: 20px;*/
}

.i-icon-user {
	color: #999999;
	/*left: 15%;*/
    margin-top: 10px;
    margin-left: -125px;
    position: absolute;
}

.icon-passwd {
    background-image: url("../../../img/login/login-key.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    /*left: 15%;*/
    margin-top: -28px;
    position: absolute;
    width: 20px;
    margin-left: -128px;
}