<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>MEGA-CFDI BUSINESS WEBAPP</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
    		<style type="text/css">
				.tabs-container .tabs-panel-body {
				    background: #fff;
				    border: 1px solid #e7eaec;
				        border-top-width: 1px;
				        border-top-style: solid;
				        border-top-color: rgb(231, 234, 236);
				    border-radius: 2px;
				    padding: 20px;
				    position: relative;
				}
			</style>
    		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">Bandeja de pagos</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Facturación masiva
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-archive" aria-hidden="true"></i>
								Bandeja de pagos
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
                    <ul class="stat-list m-t-lg">
                        <li id="li-stamp-available" class="hidden" style="display: none;">
                            <small id="stamp-available"></small>
                            <div class="progress progress-mini">
                                <div id="stamp-available-progress-bar" class="progress-bar"><!-- style="width: 48%;" --></div>
                            </div>
                        </li>
                    </ul>
                </div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 th:text="#{mega.cfdi.menu.payment.file.inbox}">Bandeja de archivos</h5>
								<!--<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>-->
							</div>
							<div class="ibox-content">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<!-- TAB :: Emisor -->
										<li id="li-tab-emitter" class="active">
											<a data-toggle="tab" href="#tab-processed">
												<i class="fa fa-database" aria-hidden="true"></i>												
												Procesados
											</a>
										</li>
										<li id="li-tab-receiver">
											<a data-toggle="tab" href="#tab-processing">
												<i class="fa fa-refresh" aria-hidden="true"></i>
												Procesando
											</a>
										</li>
										<li id="li-tab-voucher">
											<a data-toggle="tab" href="#tab-queued">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												En cola
											</a>
										</li>
										<div id="div-upload-file-content" class="button-form-right">
											<a id="upload-file-btn" class="btn btn-success">
												<i class="fa fa-upload" aria-hidden="true"></i>
												<span>Subir archivo</span>
											</a>
										</div>
									</ul>
									<div class="tab-content">
										<!-- TAB CONTENT :: PROCESSED FILES -->
										<div id="tab-processed" class="tab-pane active">
											<div class="panel-body" style="padding-bottom: 0;">
												<!-- Criterios de busqueda -->
												<div id="div-payment-file-generated-search" class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
					                                <div class="ibox-title" style="border-right: 1px solid #e7eaec;border-left: 1px solid #e7eaec;">
					                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
					                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
					                                    <div class="ibox-tools pull-right">
					                                        <a class="collapse-link">
					                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
					                                        </a>
					                                    </div>
					                                </div>
					                                <div class="ibox-content" style="padding: 0; display: none">
					                               		<div class="panel-body" style="padding: 0;">
															<div class="div-form-content" style="margin-top: 10px;">
					                                			<div class="form-group">
																	<div id="div-search-file-name" class="col-xs-4 div-form-input-bottom">
																		<label id="label-search-file-name" class="label-form" for="search-file-name">
																			Nombre archivo:
																		</label>
																		<input type="text" id="search-file-name" name="search-file-name" class="form-control">
																		<span id="span-search-file-name" class="field-validation-error-extended"></span>
																	</div>                           			
					                                			</div>
					                                		</div>
					                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px;">
																<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-search" aria-hidden="true"></i> 
																	Buscar
																</button>
															</div>                                		
					                               		</div>
													</div>
					                            </div>
									
												<div id="panel-search-result-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-payment-file-generated-custom-list" class="table-responsive hidden" style="margin-top: 20px;">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup id="colgroup-payment-file-generated-custom-list">
															<col width="70%">
															<col span="3" width="10%">
														</colgroup>
														<thead id="thead-payment-file-generated-custom-list">
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payment.file.name}">Nombre archivo</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payment.file.compacted}">Compactado</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payment.file.consolidated}">Consolidado</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payment.file.error}">Error</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-payment-file-generated-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-generated-payment-file-content" class="hidden">
													<div id="div-pagination-generated-payment-file" style="text-align: center;"></div>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: PROCESSING FILES -->
										<div id="tab-processing" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-payment-file-processing-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-payment-file-processing-empty-message"></div>
												</div>
												
												<div id="div-payment-file-processing-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="36%">
															<col span="4" width="16%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payment.file.name}">Nombre archivo</span>
																</th>
																<!--<th>
																	<span th:text="#{mega.cfdi.text.payment.file.date.time}">Fecha y hora de inicio</span>
																</th>-->
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.invoice.file.total.invoice}">Total de facturas</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.invoice.file.total.invoice.stamped}">Facturas timbradas</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.invoice.file.total.invoice.error}">Facturas con error</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payment.file.estimated.time}">Tiempo estimado</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-payment-file-processing-custom-list"></tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: QUEUED FILES -->
										<div id="tab-queued" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-payment-file-queued-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-payment-file-processing-queued-message"></div>
												</div>
												
												<div id="div-payment-file-queued-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="70%">
															<col width="20%">
															<col width="10%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payment.file.name}">Nombre archivo</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payment.file.uploaded.date}">Fecha de carga</span>
																</th>
																<th style="text-align: right;"></th>
															</tr>
														</thead>
														<tbody id="tbdoy-payment-file-queued-custom-list"></tbody>
													</table>
													<div id="payment-file-queued-info" class="text-left hidden" style="margin-bottom: 20px;">
														<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
														<span th:text="#{mega.cfdi.legend.invoice.file.stamp.available}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!--Confirmation modal-->											
									<div th:insert="~{modals/PaymentFileUploadModal :: payment-file-upload-modal}"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var emptyInformation = /*[[${emptyInformation}]]*/;
				var availableStampError = /*[[${availableStampError}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				var page = null;
				var action = 'load';
				var sendMail = false;
				
				//##### Request
				var paymentRequest = /*[[@{/payment-tray}]]*/;
				//var paymentTryRequest = /*[[@{/complementFileTray}]]*/;
				
				//##### Arreglo de archivos
				var generatedPaymentFileList = [];
				var processingPaymentFileList = [];
				var queuedPaymentFileList = [];
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					//##### Load payment upload file modal
					$('#upload-file-btn').click(function(){
						paymentUploadClear();
						$("#payment-file-upload-modal").modal();
					});
					
					//##### Payment upload btn
					$('#payment-file-modal-btn').click(function(){
						paymentFileUpload();
					});
					
					$('#period').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#payment-type').change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#payment-file').change(function(){			
						elementFieldClassReset(this.id);
					});
					
					//##### Listado de archivos
					paymentFileLoad();
					
					//##### Busqueda
					$('#btn-search').click(function(){
						search();
					});
					
					$('#checkbox-send-mail').click(function(){
						if(isElementChecked(this.id)){
							sendMail = true;	
						}else{
							sendMail = false;							
						}
					});
					
					//##### Verifica el estado de los ficheros de pagos cada 1 min (1 min = 60 seg = 60000 miliseg)
		    		paymentFileTime = 1;
		    		paymentFileHandlerIntervalId = interval(paymentFileAsyncCheck, convertMiliseg(paymentFileTime));
				});
				
				//########################################################################################
				//##### Listado de ficheros ##############################################################
				//########################################################################################
				function paymentFileAsyncCheck(){
					page = encodeValue(page + 1);
					action = 'async';
					paymentFileLoad();
		    	}
				
				function search(){
					page = null;
					action = 'search';
					paymentFileGeneratedLoad();
				}
				
				function paginate(pPage){
					page = pPage;
					action = 'paginate';
					paymentFileGeneratedLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-generated-payment-file').html("");
					hiddenClass('div-pagination-generated-payment-file-content');
				}
				
				function paymentFileLoad(){
					globalMessageHide();
					
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					panelMessageHide('panel-payment-file-processing-empty-content', 'panel-payment-file-processing-empty-message');
					panelMessageHide('panel-payment-file-queued-empty-content', 'panel-payment-file-processing-queued-message');
					
					generatedPaymentFileList = [];
					processingPaymentFileList = [];
					queuedPaymentFileList = [];
					
					$.ajax({
						url: paymentRequest + "?paymentFileList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedPaymentList = objJson.generatedFiles;
								var processingPaymentList = objJson.processingFiles;
								var queuedPaymentList = objJson.queuedFiles;
								
								var paymentFilePagination = objJson.pagination;
								var paginator = paymentFilePagination.paginator;
								var paginatorPage = paymentFilePagination.page;								
								page = paginatorPage.number;
								
								if(response.success){
									//##### Listado de archivos procesados (con paginado)
									if(generatedPaymentList != null){
										if(generatedPaymentList.length >= 1){
											for (var i = 0; i < generatedPaymentList.length; i++) {
												var item = generatedPaymentList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null){
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null){
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null){
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedPaymentFileList[generatedPaymentFileList.length] = obj;
											}
											
											pagination('pagination-generated-payment-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-payment-file-content');	
										}else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos procesandose
									if(processingPaymentList != null){
										if(processingPaymentList.length >= 1){
											for (var i = 0; i < processingPaymentList.length; i++) {
												var item = processingPaymentList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.name = decodeValue(item.name);
												obj.stimatedTime = item.stimatedTime != null ? decodeValue(item.stimatedTime) : null; 
												
												if(item.cfdiFileStatistics != null){
													var statistics = item.cfdiFileStatistics;
													obj.parserStartDate = statistics.parserStartDate != null ? decodeValue(statistics.parserStartDate) : null;
													obj.parserStartTime = statistics.parserStartTime != null ? decodeValue(statistics.parserStartTime) : null;
													obj.totalPayment = statistics.totalPayment != null ? decodeValue(statistics.totalPayment) : null;
													obj.totalPaymentStamped = statistics.totalPaymentStamped != null ? decodeValue(statistics.totalPaymentStamped) : null;
													obj.totalPaymentError = statistics.totalPaymentError != null ? decodeValue(statistics.totalPaymentError) : null;
												}else{
													obj.parserStartDate = null;
													obj.parserStartTime = null;
													obj.totalPayment = null;
													obj.totalPaymentStamped = null;
													obj.totalPaymentError = null;
												}
												
												processingPaymentFileList[processingPaymentFileList.length] = obj;
											}
										}else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-payment-file-processing-custom-list');
											panelMessageShow('panel-payment-file-processing-empty-content', 'panel-payment-file-processing-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-payment-file-processing-custom-list');
										panelMessageShow('panel-payment-file-processing-empty-content', 'panel-payment-file-processing-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos en cola
									if(queuedPaymentList != null){
										if(queuedPaymentList.length >= 1){
											for (var i = 0; i < queuedPaymentList.length; i++) {
												var item = queuedPaymentList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.name = decodeValue(item.name);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												queuedPaymentFileList[queuedPaymentFileList.length] = obj;
											}
										}else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-payment-file-queued-custom-list');
											panelMessageShow('panel-payment-file-queued-empty-content', 'panel-payment-file-processing-queued-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-payment-file-queued-custom-list');
										panelMessageShow('panel-payment-file-queued-empty-content', 'panel-payment-file-processing-queued-message', emptyMessage, cssClass, dismiss);
									}
									paymentFileCustomList();
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Payment file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function paymentFileGeneratedLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					generatedPaymentFileList = [];
					
					$.ajax({
						url: paymentRequest + "?paymentFileGeneratedList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedPaymentList = objJson.generatedFiles;
								
								var paymentFilePagination = objJson.pagination;
								var paginator = paymentFilePagination.paginator;
								var paginatorPage = paymentFilePagination.page;								
								page = paginatorPage.number;
								
								if(response.success){
									//##### Listado de archivos procesados (con paginado)
									if(generatedPaymentList != null){
										if(generatedPaymentList.length >= 1){
											for (var i = 0; i < generatedPaymentList.length; i++) {
												var item = generatedPaymentList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null){
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null){
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null){
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedPaymentFileList[generatedPaymentFileList.length] = obj;
											}
											
											pagination('pagination-generated-payment-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-payment-file-content');	
										}else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									generatedPaymentFileCustomList();
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Payment generated file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function paymentFileCustomList(){
					generatedPaymentFileCustomList();
					processingPaymentFileCustomList();
					queuedPaymentFileCustomList();
				}
				
				function generatedPaymentFileCustomList(){
					$("#tbdoy-payment-file-generated-custom-list").html("");
					if(generatedPaymentFileList.length >= 1){
						
						var compactedPath = false;
						var consolidatedPath = false;
						var errorPath = false;
						
						for(var i = 0; i < generatedPaymentFileList.length; i ++){
							var item = generatedPaymentFileList[i];
							
							var id = item.id;
							var name = item.name;
														
							var paymentCompactedPath = item.compactedPath != null ? item.compactedPath : null;
							if(paymentCompactedPath != null){
								compactedPath = true;
							}
							
							var paymentConsolidatedPath = item.consolidatedPath != null ? item.consolidatedPath : null;
							if(paymentConsolidatedPath != null){
								consolidatedPath = true;
							}
								
							var paymentErrorPath = item.errorPath != null ? item.errorPath : null;
							if(paymentErrorPath != null){
								errorPath = true;
							}
							
							var tbodyTr = "tbody-tr-generated-" + i;
							
							$("#tbdoy-payment-file-generated-custom-list").append('<tr id="'+tbodyTr+'"></tr>');
							$("#" + tbodyTr).append(
								'<td>'+name+'</td>'
							);
								
							if(paymentCompactedPath != null){
								var compactedDownload = contextPath + 'payment-tray/file/download/'+name+'/compacted';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-compacted" style="text-align: center;"> ' +
										'<div title="Descargar compactado"> ' +
											'<a href="'+compactedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-compacted"></td>');
							}
									
							if(paymentConsolidatedPath != null){
								var consolidatedDownload = contextPath + 'payment-tray/file/download/'+name+'/consolidated';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-consolidated" style="text-align: center;"> ' +
										'<div title="Descargar consolidado"> ' +
											'<a href="'+consolidatedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-consolidated"></td>');
							}
									
							if(paymentErrorPath != null){
								var errorDownload = contextPath + 'payment-tray/file/download/'+name+'/error';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-error" style="text-align: center;"> ' +
										'<div title="Descargar archivo de errores"> ' +
											'<a href="'+errorDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-error"></td>');
							}
						}
						
						//##### Para eliminar las filas en donde no exista contentido
						if(!compactedPath){
							for(var i = 0; i < generatedPaymentFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-compacted";
								elementRemove(elementId);								
							}
						}
						
						if(!consolidatedPath){
							for(var i = 0; i < generatedPaymentFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-consolidated";
								elementRemove(elementId);								
							}
						}
						
						if(!errorPath){
							for(var i = 0; i < generatedPaymentFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-error";
								elementRemove(elementId);								
							}	
						}
						
						//##### Determinando el colgroup y el thead
						$('#colgroup-payment-file-generated-custom-list').html("");
						$('#thead-payment-file-generated-custom-list').html("");
						$('#thead-payment-file-generated-custom-list').append('<tr id="thead-tr-generated"></tr>');
						$('#thead-tr-generated').append(
							'<th> ' +
								'<span th:text="#{mega.cfdi.text.payment.file.name}">Nombre archivo</span> ' +
							'</th>'
						);
						
						if(compactedPath && consolidatedPath && errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="70%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.consolidated}">Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && consolidatedPath && !errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="80%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.consolidated}">Consolidado</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="80%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && !errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="90%"> ' +
								'<col width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.compacted}">Compactado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="80%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.consolidated}">Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && !errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="90%"> ' +
								'<col width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.consolidated}">Consolidado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && !consolidatedPath && errorPath){
							$('#colgroup-payment-file-generated-custom-list').append(
								'<col width="90%"> ' +
								'<col width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payment.file.error}">Error</span> ' +
								'</th>'
							);
						}
						
						hiddenClassRemove('div-payment-file-generated-search');
						hiddenClassRemove('div-payment-file-generated-custom-list');
					}else{
						if(action != 'search'){
							hiddenClass('div-payment-file-generated-search');	
						}
						hiddenClass('div-payment-file-generated-custom-list');						
					}
				}
				
				function processingPaymentFileCustomList(){
					$("#tbdoy-payment-file-processing-custom-list").html("");
					if(processingPaymentFileList.length >= 1){
						for(var i = 0; i < processingPaymentFileList.length; i ++){
							var item = processingPaymentFileList[i];
							
							var id = item.id;
							var name = item.name;
							var dateTime = (item.parserStartDate != null && item.parserStartTime) ? item.parserStartDate + " " + item.parserStartTime : 'Calculando...';  
							var totalPayment = item.totalPayment != null ? item.totalPayment : 'Calculando...';
							var totalPaymentStamped = item.totalPaymentStamped ? item.totalPaymentStamped : 0;
							var totalPaymentError = item.totalPaymentError ? item.totalPaymentError : 0;
							var stimatedTime = item.stimatedTime != null ? item.stimatedTime : 'Calculando...';
							
							$("#tbdoy-payment-file-processing-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
									//'<td>'+dateTime+'</td> ' +
									'<td style="text-align: center;">'+totalPayment+'</td> ' +
									'<td style="text-align: center;">'+totalPaymentStamped+'</td> ' +
									'<td style="text-align: center;">'+totalPaymentError+'</td> ' +
									'<td style="text-align: center;">'+stimatedTime+'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-payment-file-processing-custom-list');
					}else{
						hiddenClass('div-payment-file-processing-custom-list');						
					}
				}
				
				function queuedPaymentFileCustomList(){
					var showInfo = false;
					$("#tbdoy-payment-file-queued-custom-list").html("");					
					if(queuedPaymentFileList.length >= 1){
						for(var i = 0; i < queuedPaymentFileList.length; i ++){
							var item = queuedPaymentFileList[i];
							
							var id = item.id;
							var name = item.name;
							var cfdiType = item.cfdiType;
							var uploadDate = item.uploadDate;
							var stampAvailable = item.stampAvailable;
							
							var trStyle = stampAvailable != null ? (!stampAvailable ? 'style="color: red;"' : '') : ''; 
							
							$("#tbdoy-payment-file-queued-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+name+'</td> ' +
									'<td style="text-align: center;">'+uploadDate+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=queuedFileLoadRemove("'+id+'")></i> ' +
										'</div> ' +									
									'</td> ' +
								'</tr>'
							);
							
							if(!stampAvailable){
								showInfo = true;
							}
						}
						hiddenClassRemove('div-payment-file-queued-custom-list');
					}else{
						hiddenClass('div-payment-file-queued-custom-list');						
					}
					
					if(showInfo){
						hiddenClassRemove('payment-file-queued-info');
					}else{
						hiddenClass('payment-file-queued-info');
					}
					
					if(action != 'async'){
						afterDocumentLoad();	
					}
				}
				
				// Eliminar archivos en cola
				let queuedFileId = null;
				const queuedFileLoadRemove = (pId) => {
					if (pId != null) {
						queuedFileId = pId;
						
						elementTextChange('span-conformation-modal', '¿Está seguro que desea eliminar el archivo seleccionado?');
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'queuedFileRemove()');
						$("#confirmation-modal").modal();
					}
				}
				
				const queuedFileRemove = () => {
					if (queuedFileId != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('queuedFileRemoving()', 500);
					}
				}
				
				const queuedFileRemoving = () => {
					$.ajax({
						url: paymentRequest + '?queuedFileRemove',
						type: "POST",
						data: {id: queuedFileId},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if (response.success) {
								removeItemFromQueuedList(queuedFileId);
								queuedPaymentFileCustomList();
							} else if(response.error){
								if (notification != null){
									var pageMessage = notification.pageMessage;
									if (pageMessage) {
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
							}
							processingEnd();
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				const removeItemFromQueuedList = (id) => {
				    for (var i = 0; i < queuedPaymentFileList.length; i++) {
				        if (queuedPaymentFileList[i].id === id) {
				            queuedPaymentFileList.splice(i, 1);
				            break;
				        }
				    }
				}
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var paymentFields = ['payment-file'];
				
				function paymentUploadClear(){
					panelMessageHide('payment-file-modal-message-content', 'paymen-file-modal-message');
					elementUnchecked('checkbox-send-mail');
					formFieldsClear(paymentFields);
				}
				
				function paymentUploadDataReady(){
					action = 'upload';
					elementFieldClassReset('payment-file');
				}
				
				function paymentFileUpload(){
					var bValid = true;
					
					paymentUploadDataReady();
					
					bValid = bValid && fieldsCheck(paymentFields);
					
					if(!bValid){
						if(!isElementHasValue('payment-file')){
							elementClassAdd('div-payment-file-error', 'div-file-input-span-has-error');
						}
						return false;
					}else{
						$("#payment-file-upload-modal").modal('hide');
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
						
						formData.append('complementType', encodeValue('payment-complement'));
						formData.append('fileUploaded', $('#payment-file')[0].files[0]);
						formData.append('sendMail', sendMail);						
						
						$.ajax({
							url: paymentRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									
									if(response.success){
										processingEnd();
										
										var toastr = response.notification.toastr;
										var toastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										systemNotificationShow(toastrType, toastrMessage, toastrTitle);
										
										paymentFileAsyncCheck();
										
									}else if(response.error){
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var code = error['code'];
											
											elementForceError(field, message);
											
											if(field == 'payment-file'){
												elementClassAdd('div-payment-file-error', 'div-file-input-span-has-error');
											}												
										}
										
										if(notification != null){
											var modalPanelMessage = notification.modalPanelMessage;
											if(modalPanelMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												panelMessageShow('payment-file-modal-message-content', 'payment-file-modal-message', message, cssClass, dismiss);													
											}
										}
										
										$("#payment-file-upload-modal").modal();
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Generate CFDI failed!");
					      		processingEnd();
					        }
						});
					}
				}
			
			</script>
				
		</div>
	</body>
</html>