<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-4">
					<h2>MegaCFDI - Generar CFDI</h2>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Mis CFDI
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-file-code-o" aria-hidden="true"></i>
								Generar CFDI
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message" class="hidden" style="margin-bottom: 5px;">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<span id="global-message-text"></span>
						</div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 th:text="#{mega.cfdi.generate}">Generar nuevo CFDI</h5>
								<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<form id="formEmisorInfo" action="#" th:action="@{/cfdiFreeInfoEmisor}" th:object="${billingFreeViewModel}" method="post" enctype="multipart/form-data">
								<div class="ibox-content">
									<div class="panel-body" style="padding: 0">
										<div class="div-form-content">
											<div class="div-form-facet">
												<label>
													<h2>
														Información fiscal
													</h2>
												</label>
											</div>
											<div class="form-group" style="margin-top: 10px">
												<div class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('taxpayerViewModel.rfcActivo')} ? has-error">
													<label class="label-form" for="taxpayerViewModel.rfcActivo">
														RFC:
													</label>
													<input type="text" class="form-control" th:field="*{taxpayerViewModel.rfcActivo}" readonly>
													<span class="field-validation-error-extended" th:each="err : ${#fields.errors('taxpayerViewModel.rfcActivo')}" th:text="${err}">error</span>
												</div>
												<div class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('taxpayerViewModel.nombreRazonSocial')} ? has-error">
													<label class="label-form" for="taxpayerViewModel.nombreRazonSocial">
														Nombre o razón social:
													</label>
													<input type="text" class="form-control" th:field="*{taxpayerViewModel.nombreRazonSocial}" readonly>
													<span class="field-validation-error-extended" th:each="err : ${#fields.errors('taxpayerViewModel.nombreRazonSocial')}" th:text="${err}">error</span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('emisorTypeDefault')} ? has-error">
													<label class="label-form" for="emisorType">
														Tipo contribuyente:
													</label>
													<input type="text" class="form-control" th:field="*{emisorTypeDefault}" readonly>
													<span class="field-validation-error-extended" th:each="err : ${#fields.errors('emisorTypeDefault')}" th:text="${err}">error</span>
												</div>
												<div id="div-regimenFiscal" class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('regimenFiscal')} ? has-error">
													<label id="label-regimenFiscal" class="label-form" for="regimenFiscal" th:classappend="${#fields.hasErrors('regimenFiscal')} ? required">
														Régimen fiscal (*): <i class="fa fa-info-circle" aria-hidden="true"></i>
													</label>
													<input type="text" class="form-control" th:field="*{regimenFiscal}" >
													<span id="span-regimenFiscal" class="field-validation-error-extended" th:each="err : ${#fields.errors('regimenFiscal')}" th:text="${err}">error</span>
												</div>
											</div>
										</div>
										<div class="div-form-content">
											<div class="div-form-facet">
												<label>
													<h2>
														Información del certificado digital
													</h2>
												</label>
											</div>
											<div class="form-group" style="margin-top: 10px">
												<div id="div-certificate" class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('certificateHdd')} ? has-error">
													<label id="label-certificate" class="label-form" for="ceritificate" th:classappend="${#fields.hasErrors('certificateHdd')} ? required">
														Certificado (*):
													</label>
													<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
													    <div class="form-control" data-trigger="fileinput">
													        <i class="glyphicon glyphicon-file fileinput-exists"></i>
													    	<span class="fileinput-filename"></span>
													    </div>
													    <span class="input-group-addon btn btn-default btn-file">
													        <span class="fileinput-new">Seleccionar</span>
													        <span class="fileinput-exists">Cambiar</span>
													        <input type="file" id="certificate" name="certificate" />
													        <input type="hidden" id="certificateHdd" name="certificateHdd"> 
													    </span>
													    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
													</div>
													<div th:classappend="${#fields.hasErrors('certificateHdd')} ? div-file-input-span-has-error">
														<span id="span-certificate" class="field-validation-error-extended" th:each="err : ${#fields.errors('certificateHdd')}" th:text="${err}">error</span>
													</div>
												</div>
												<div id="div-privateKey" class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('privateKeyHdd')} ? has-error">
													<label id="label-privateKey" class="label-form" for="privateKey" th:classappend="${#fields.hasErrors('privateKeyHdd')} ? required">
														Clave privada (*):
													</label>
													<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
													    <div class="form-control" data-trigger="fileinput">
													        <i class="glyphicon glyphicon-file fileinput-exists"></i>
													    	<span class="fileinput-filename"></span>
													    </div>
													    <span class="input-group-addon btn btn-default btn-file">
													        <span class="fileinput-new">Seleccionar</span>
													        <span class="fileinput-exists">Cambiar</span>
													        <input type="file" id="privateKey" name="privateKey"/>
													        <input type="hidden" id="privateKeyHdd" name="privateKeyHdd">
													    </span>
													    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
													</div>
													<div th:classappend="${#fields.hasErrors('privateKeyHdd')} ? div-file-input-span-has-error">
														<span id="span-privateKey" class="field-validation-error-extended" th:each="err : ${#fields.errors('privateKeyHdd')}" th:text="${err}">error</span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div id="div-passwd" class="col-xs-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('passwd')} ? has-error">
													<label id="label-passwd" class="label-form" for="passwd" th:classappend="${#fields.hasErrors('passwd')} ? required">
														Contraseña del certificado (*):
													</label>
													<input type="password" class="form-control" th:field="*{passwd}" >
													<span id="span-passwd" class="field-validation-error-extended" th:each="err : ${#fields.errors('passwd')}" th:text="${err}">error</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="form-group" style="margin-top: 5px">
									<div class="button-form-right">
										<input type="submit" value="Siguiente" class="btn btn-primary" style="width: 150px;" />
										<a style="width: 150px;" th:href="@{'/'}" class="btn btn-white">
											Cancelar
										</a>
									</div>
								</div>
										
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				// Array de regimen fiscal
				var regimenFiscalSource = [];
				
				// Request de regimen fiscal
				var regimenFiscalRequest = /*[[@{/regimenfiscalSourceRequest}]]*/;
				
				$(document).ready(function(){
					// Cargando regimen fiscal para autocomplete 
					regimenFiscalLoadSource();
					
					// Autocomplete de regimen fiscal
					$('#regimenFiscal').typeahead({
			            source: regimenFiscalSource
			        });
					
					// Regimen fiscal 
					$('#regimenFiscal').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#certificate').change(function(){			
						elementFieldClassReset(this.id);
						//separatorHide(receptorSeparator1Data, receptorSeparator1Value);
					});
					
					$('#privateKey').change(function(){			
						elementFieldClassReset(this.id);
						//separatorHide(receptorSeparator1Data, receptorSeparator1Value);
					});
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
				})
				
				function regimenFiscalLoadSource(){
					console.log("[INFO] regimenFiscalLoadSource instanciate!");
			    	//Sending ajax request
			        $.ajax({
			            url: regimenFiscalRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		regimenFiscalSource[regimenFiscalSource.length] = item;	
						}
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				};
			</script>
			
		</div>
	</body>
</html>