<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<style type="text/css">
				.modal-body {
				    min-height: 200px;
				    padding: 10px 0;
				}
			</style>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-12">
					<h3 class="header-title">MegaCFDI - Bandeja de facturación</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.nav.home}">Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Mis CFDI
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.invoicing.inbox}">Bandeja de facturación</label>
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="row animated fadeInRight">
								<div class="col-lg-12" style="padding-left: 0;">
                    				<div class="row">
                    					<div class="col-lg-12">
	                    					<!-- Criterios de busqueda -->
											<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
				                                <div class="ibox-title">
				                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
				                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
				                                    <div class="ibox-tools pull-right">
				                                        <a class="collapse-link">
				                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
				                                        </a>
				                                    </div>
				                                </div>
				                                <div class="ibox-content" style="padding-bottom: 0; display: none">
				                               		<div class="panel-body" style="padding: 0;">
														<div class="div-form-content">
				                                			<div class="row"><!-- form-group -->
																<div id="div-searchUuid" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchUuid" class="label-form" for="searchUuid">
																		Folio fiscal:
																	</label>
																	<input type="text" id="searchUuid" name="searchUuid" class="form-control">
																	<span id="span-searchUuid" class="field-validation-error-extended"></span>
																</div>
																<div id="div-searchRfc" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchRfc" class="label-form" for="searchRfc">
																		RFC receptor:
																	</label>
																	<input type="text" id="searchRfc" name="searchRfc" class="form-control">
																	<span id="span-searchRfc" class="field-validation-error-extended"></span>
																</div>
																<div class="form-group" id="div-datepicker-content">
					                                				<div class="col-xs-12 col-sm-4 div-form-input-bottom">
					                                					<label class="label-forml">Rango de fecha:</label>
										                                <div class="input-daterange input-group" id="datepicker" style="margin-top: -3px;">
										                                    <input type="text" id="searchDateStart" name="searchDateStart" class="form-control" placeholder="dd/mm/yyyy"/>
										                                    <span class="input-group-addon">hasta</span>
										                                    <input type="text" id="searchDateEnd" name="searchDateEnd" class="form-control" placeholder="dd/mm/yyyy"/>
										                                </div>
					                                				</div>
									                            </div>                                			
				                                			</div>
				                                		</div>
				                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px; padding-right: 0;">
															<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-search" aria-hidden="true"></i> 
																Buscar
															</button>
															<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-retweet" aria-hidden="true"></i> 
																Limipiar filtros
															</button>
														</div>                                		
				                               		</div>
												</div>
				                            </div>
                    					</div>
                    					
                        				<div class="col-lg-12">
											<div class="div-form-facet" style="margin-top: 0px; padding: 15px 15px 7px;">
												<h4>
													<i class="fa fa-file-code-o" aria-hidden="true"></i>													
													<span th:text="#{mega.cfdi.invoicing.inbox.list}">Listado de CFDI</span> <small id="total-elements-result"></small>
													<div class="panel-heading-controls">
				                						<select id="pagination-page-size" class="form-control input-sm custom-select">
				                                        	<option id="pag-opt-10" value="10">10</option>
				                                        	<option id="pag-opt-50" value="50">50</option>
				                                        	<option id="pag-opt-100" value="100">100</option>
				                                        	<option id="pag-opt-150" value="150">150</option>
				                                        	<option id="pag-opt-200" value="200">200</option>
				                                        	<option id="pag-opt-250" value="250">250</option>
				                                        	<option id="pag-opt-500" value="500">500</option>				                                        	
				                                      	</select>
				                                    </div>
												</h4>
											</div>
											<div class="ibox-content" style="padding: 0;">
												
												<div id="panel-search-result-empty-content" class="hidden" style="padding: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-cfdi-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="25%">
															<col width="15%" span="5">
														</colgroup>
														<thead>
															<tr>
																<th>Folio fiscal</th>
																<th class="text-center">Fecha de expedición</th>
																<th class="text-center">RFC Receptor</th>
																<th class="text-center">Serie-Folio</th>
																<th class="text-center">Comprobante</th>
																<th></th>
															</tr>
														</thead>
														<tbody id="tbdoy-cfdi-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-cfdi-content" class="hidden">
													<div id="div-pagination-cfdi" style="text-align: center;"></div>
												</div>
											</div>
										</div>
                        			</div>
								</div>
							
								<!--Confirmation modal-->											
								<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
								
								<!--Email modal-->											
								<div th:insert="~{modals/EmailModal :: send-email-modal}"></div>
							
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var cssClassDanger = /*[[${cssAlertDanger}]]*/;
				var invalidCfdiMessage = /*[[${invalidCfdi}]]*/;
				
				var cfdiSourceRequest = /*[[@{/CfdiList}]]*/;				
				var cancelationRequest = /*[[@{/cancelationCfdiRequest}]]*/;
				var preinvoiceRequest = /*[[@{/preinvoiceList}]]*/;
				
				var cfdiMailRequest = /*[[@{/cfdiMailSend}]]*/;
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				var display = null;
				var page = null;
				var cfdiType = 'cfdiValid';
				
				//##### Valor del total de registros por pagina
				var paginationPageSize = 10;
				var paginationPageSizeValues = ['10', '50', '100', '150', '200', '250', '500'];
				
				$(document).ready(function() {
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					// ***** Confirmation load *****
					mapLoad();
					
					cfdiLoad();
					
					$('#div-datepicker-content .input-daterange').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
					
					$('#btn-search').click(function() {
						search();
					});
					
					$('#btn-search-clean').click(function() {
						searchClean();
					});
					
					$('#pagination-page-size').change(function() {
						if (isSelectHasValue(this.id)) {
							globalMessageHide();
							paginationPageSize = getElementValue(this.id);
							if (isElementInArray(paginationPageSizeValues, paginationPageSize)) {
								cfdis = [];
								page = null;
								cfdiLoad();
							} else {
								globalMessageShow('El valor de registros por página no es válido', null, true);
							}
						}
					});
					
					$('#send-email-modal-btn').click(function() {
						sendMail();
					});					
				});
				
				function mapLoad() {
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if (jQuery.parseJSON(data) != null) {
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Map Load failed!");
			        });
				}
				
				function getMapValue(key) {
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if (obj.key == key) {
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				var cfdis = [];
				var cfdiSelected = [];
				function cfdiLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if (!isElementExist('div-loading-initial-content')) {
						processing(loadingRequest);	
					}
					
					$.ajax({
						url: cfdiSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchUuid : encodeValue(getElementValue('searchUuid')),
				       		searchRfc: encodeValue(getElementValue('searchRfc')),
				       		searchClave: encodeValue(getElementValue('searchClave')),
				       		searchDateStart: encodeValue(getElementValue('searchDateStart')),
				       		searchDateEnd: encodeValue(getElementValue('searchDateEnd')),
				       		page: page == null ? encodeValue("0") : page,
				       		cfdiType : encodeValue(cfdiType),
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.cfdis;
								var cfdiPagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (cfdiPagination != null) {
									if (cfdiPagination.paginator != null) {
										paginator = cfdiPagination.paginator;
									}
									
									paginatorPage = cfdiPagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.uuid = decodeValue(item.uuid);
											obj.expeditionDate = decodeValue(item.expeditionDate);
											obj.receiverRfc = decodeValue(item.receiverRfc);
											obj.serieFolio = decodeValue(item.serieFolio);
											obj.voucherType = decodeValue(item.tipoComprobante);
											cfdis[cfdis.length] = obj;
										}
										cfdiCustomList();
										pagination('pagination-cfdi', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-cfdi-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function cfdiReload() {
					cfdis = [];
					page = w2utils.isInt(page) ? encodeValue(page) : page;
					$.ajax({
						url: cfdiSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchUuid : encodeValue(getElementValue('searchUuid')),
				       		searchRfc: encodeValue(getElementValue('searchRfc')),
				       		searchClave: encodeValue(getElementValue('searchClave')),
				       		searchDateStart: encodeValue(getElementValue('searchDateStart')),
				       		searchDateEnd: encodeValue(getElementValue('searchDateEnd')),
				       		page: page == null ? encodeValue("0") : page,
				       		cfdiType : encodeValue(cfdiType),
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.cfdis;
								var cfdiPagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (cfdiPagination != null) {
									if (cfdiPagination.paginator != null) {
										paginator = cfdiPagination.paginator;
									}
									
									paginatorPage = cfdiPagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.uuid = decodeValue(item.uuid);
											obj.expeditionDate = decodeValue(item.expeditionDate);
											obj.receiverRfc = decodeValue(item.receiverRfc);
											obj.serieFolio = decodeValue(item.serieFolio);
											obj.voucherType = decodeValue(item.tipoComprobante);
											cfdis[cfdis.length] = obj;
										}
										cfdiCustomList();
										pagination('pagination-cfdi', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-cfdi-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function cfdiCustomList() {
					$('#tbdoy-cfdi-custom-list').html("");
					if (cfdis.length >= 1) {
						for (var i = 0; i < cfdis.length; i ++) {
							var uuid = cfdis[i].uuid;
							var expeditionDate = cfdis[i].expeditionDate;
							var receiverRfc = cfdis[i].receiverRfc;
							var serieFolio = cfdis[i].serieFolio;
							var tipoComprobante = cfdis[i].voucherType;
							
							var index = encodeValue(i + ',' + uuid);
							
							var xmlDownload = contextPath + 'cfdi/download/'+uuid+'/xml';
							var pdfDownload = contextPath + 'cfdi/download/'+uuid+'/pdf';
							
							elementCheckedFalse('checkbox-cfdi-all');
							
							if (cfdiType == 'cfdiValid') {
								$("#tbdoy-cfdi-custom-list").append(
									'<tr>' +
										'<td>'+uuid+'</td> ' +
										'<td class="text-center">'+expeditionDate+'</td> ' +
										'<td class="text-center">'+receiverRfc+'</td> ' +
										'<td class="text-center">'+serieFolio+'</td> ' +
										'<td class="text-center">'+tipoComprobante+'</td> ' +
										'<td style="text-align: right;"> ' +
											'<div style="float: right;"> ' +
												'<div style="float: left;" title="Descargar XML"> ' +
													'<a href="'+xmlDownload+'"> ' +
														'<i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i> ' +
													'</a> ' +
												'</div> ' +
												'<div style="float: left; margin-left: 4px;" title="Descargar PDF"> ' +
													'<a href="'+pdfDownload+'"> ' +
														'<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> ' +
													'</a> ' +
												'</div> ' +
												'<div style="float: left; margin-left: 4px;" title="Enviar correo"> ' +
													'<a onclick=loadSendMail("'+encodeValue(uuid)+'")> ' +
														'<i class="fa fa-envelope fa-lg" aria-hidden="true"></i> ' +
													'</a> ' +
												'</div> ' +												
											'</div> ' +
										'</td> ' +
									'</tr>'
								);
							}
						}
						hiddenClassRemove('div-cfdi-custom-list');
					} else {
						hiddenClass('div-cfdi-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList() {
					$("#tbdoy-cfdi-custom-list").html("");
					hiddenClass('div-cfdi-custom-list');
				}
				
				function paginate(pPage) {
					page = pPage;
					cfdis = [];
					cfdiLoad();
				}
				
				function search() {
					page = null;
					cfdis = [];
					cfdiLoad();
				}
				
				var searchFields = ['searchUuid', 'searchRfc', 'searchDateStart', 'searchDateEnd'];
				function searchClean() {
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if (bValid) {
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if (isCriteriaDefined) {
						formFieldsClear(searchFields);
						search();
					}
				}
				
				function paginationHidden() {
					$('#div-pagination-cfdi').html("");
					hiddenClass('div-pagination-cfdi-content');
				}
				
				//##### Enviar por correo electronico
				var emailUuid = null;
				function loadSendMail(pUuid) {
					elementFieldReady('recipient-to');
					elementFieldReady('recipient-cc');
					
					if (pUuid != null) {
						emailUuid = pUuid;
						
						//##### Abriendo modal panel de clientes						
						$("#send-email-modal").modal({
				            backdrop: 'static',
				            keyboard: false
				        });
					}
				}
				
				function sendMail() {
					var bValid = true;
					
					bValid = bValid && fieldsCheck('recipient-to');
					
					if (bValid) {
						if (!w2utils.isEmail(getElementValue('recipient-to'))) {
							elementForceError('recipient-to', invalidValue);
							bValid = false;
						}
						
						if (isElementHasValue('recipient-cc')) {
							var recipientCC = getElementValue('recipient-cc').split(';');
							var recipientCCs = [];
							for (var i = 0; i < recipientCC.length; i++) {
								var emailCC = recipientCC[i]; 
								if (!w2utils.isEmail(emailCC)) {
									bValid = false;
									break;
								} else {
									recipientCCs[recipientCCs.length] = encodeValue(emailCC);
								}
							}
						}
					}
					
					if (!bValid) {
						return false;
					}
					
					$("#send-email-modal").modal('hide');
					processing(processingRequest);
					
					var cfdiNotification = new Object();
					cfdiNotification.uuid = emailUuid;
					cfdiNotification.recipientTo = encodeValue(getElementValue('recipient-to'));
					cfdiNotification.recipients = recipientCCs;
					
					var cfdiNotificationJson = new Object();
					cfdiNotificationJson.cfdiNotification = cfdiNotification;
					
					var cfdiNotificationRequest = JSON.stringify(cfdiNotificationJson);
					
					$.ajax({
						url: cfdiMailRequest,
				       	type: 'POST',
				       	data: {cfdiNotificationRequest : cfdiNotificationRequest},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								if (response.success) {
									processingEnd();
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];										

									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
								} else if (response.error) {
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("SEND MAIL ERROR! " + thrownError);
				        }
					});
				}
			</script>
		</div>
	</body>
</html>