<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
			<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<style type="text/css">
				.modal-body {
				    min-height: 200px;
				    padding: 10px 0;
				}			
			</style>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-6">
					<h3 class="header-title">MegaCFDI - Bandeja de facturación</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.nav.home}">Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Mis CFDI
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.invoicing.inbox}">Bandeja de facturación</label>
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
					
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<!-- Criterios de busqueda -->
							<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
                                <div class="ibox-title">
                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
                                    <div class="ibox-tools pull-right">
                                        <a class="collapse-link">
                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding-bottom: 0; display: none">
                               		<div class="panel-body" style="padding: 0;">
										<div class="div-form-content">
                                			<div class="form-group">
												<div id="div-searchUuid" class="col-xs-4 div-form-input-bottom">
													<label id="label-searchUuid" class="label-form" for="searchUuid">
														Folio fiscal:
													</label>
													<input type="text" id="searchUuid" name="searchUuid" class="form-control">
													<span id="span-searchUuid" class="field-validation-error-extended"></span>
												</div>
												<div id="div-searchRfc" class="col-xs-4 div-form-input-bottom">
													<label id="label-searchRfc" class="label-form" for="searchRfc">
														RFC receptor:
													</label>
													<input type="text" id="searchRfc" name="searchRfc" class="form-control">
													<span id="span-searchRfc" class="field-validation-error-extended"></span>
												</div>
												<div id="div-searchClave" class="col-xs-4 div-form-input-bottom">
													<label id="label-searchClave" class="label-form" for="searchClave">
														Clave de confirmación:
													</label>
													<input type="text" id="searchClave" name="searchClave" class="form-control">
													<span id="span-searchClave" class="field-validation-error-extended"></span>
												</div>                                			
                                			</div>
                                			<div class="form-group" id="div-datepicker-content">
                                				<div class="col-xs-4 div-form-input-bottom">
                                					<label class="label-forml">Rango de fecha:</label>
					                                <div class="input-daterange input-group" id="datepicker" style="margin-top: -3px;">
					                                    <input type="text" id="searchDateStart" name="searchDateStart" class="form-control" placeholder="dd/mm/yyyy"/>
					                                    <span class="input-group-addon">hasta</span>
					                                    <input type="text" id="searchDateEnd" name="searchDateEnd" class="form-control" placeholder="dd/mm/yyyy"/>
					                                </div>
                                				</div>
				                            </div>
                                		</div>
                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px;">
											<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
												<i class="fa fa-search" aria-hidden="true"></i> 
												Buscar
											</button>
										</div>                                		
                               		</div>
								</div>
                            </div>
						
						
							<!--<div class="ibox-title" style="display: none;">
								<h5 th:text="#{mega.cfdi.invoicing.inbox.list}">Listado de CFDI</h5>
							</div>-->
							<div class="ibox-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="div-form-facet" style="margin-top: 0px">
											<label>
												<h4 th:text="#{mega.cfdi.invoicing.inbox.list}">Listado de CFDI</h4>
											</label>
										</div>
										<div class="ibox-content" style="padding: 0;">
											
											<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
												<div id="panel-search-result-empty-message"></div>
											</div>
											
											<div id="div-cfdi-custom-list" class="table-responsive hidden">
												<table class="table table-striped table-hover">
													<colgroup>
														<col width="36%">
														<col span="3" width="20%">
														<col span="3" width="2%">
													</colgroup>
													<thead>
														<tr>
															<th>Folio fiscal</th>
															<th>Fecha de expedición</th>
															<th>Receptor</th>
															<th>Clave confirmación</th>
														</tr>
													</thead>
													<tbody id="tbdoy-cfdi-custom-list"></tbody>
												</table>
											</div>
											<!-- Paginado -->
											<div id="div-pagination-cfdi-content" class="hidden">
												<div id="div-pagination-cfdi" style="text-align: center;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div id="cancel-cfdi-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="cancel-cfdi-modal-title" aria-hidden="true">
								<form id="form-cancel-cfdi" action="#" method="post" enctype="multipart/form-data">
								    <div class="modal-dialog modal-dialog-big-content">
								        <div class="modal-content">
											<div class="modal-header">
								            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								                <h4 class="modal-title" id="cancel-cfdi-modal-title">
													<span class="fa-stack">
														<i class="fa fa-file-code-o fa-stack-1x" aria-hidden="true"></i>
														<i class="fa fa-ban fa-stack-2x text-danger"></i>											
													</span>
													Cancelar CFDI
								                </h4>
								            </div>
								            <div id="confirmation-modal-body" class="modal-body" style="overflow: auto;">
								            	<!-- Area de mensajes del modal -->
								            	<div id="cancel-cfdi-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
													<div id="cancel-cfdi-modal-message"></div>
												</div>
												
												<div class="col-xs-12" style="margin-top: 10px;">
													<div class="panel panel-default">
														<div class="panel-heading">
				                                            <span th:text="#{mega.cfdi.text.emitter.account.info}">Información fiscal</span>
				                                        </div>
														<div class="panel-body panel-body-inner">
															<div class="form-group" style="margin-top: 10px">
																<div id="div-rfc" class="col-xs-6 div-form-input-bottom">
																	<label id="label-rfc" class="label-form" for="rfc" th:text="#{mega.cfdi.text.rfc} + ' (*):'">
																		RFC (*):
																	</label>
																	<input type="text" id="rfc" name="rfc" class="form-control">
																	<span id="span-rfc" class="field-validation-error-extended"></span>
																</div>
																<!-- Person type -->
																<div id="div-emitter-type" class="col-xs-6 div-form-input-bottom">
																	<label id="label-emitter-type" class="label-form" for="emitter-type" th:text="#{mega.cfdi.text.taxpayer.type} + ' (*):'">
																		Tipo contribuyente:
																	</label>
																	<select id="emitter-type" name="emitter-type" class="form-control" >
																		<option value="-">&laquo;Seleccione&raquo;</option>
																		<option th:each="type : ${personTypeSource}" th:value="${type}" th:text="${type}">personType</option>
																	</select>
																	<span id="span-emitter-type" class="field-validation-error-extended" ></span>
																</div>
															</div>
															<div id="div-separator-01"></div>
															<div class="form-group">
																<div id="div-certificate" class="col-xs-12 div-form-input-bottom">
																	<label id="label-certificate" class="label-form" for="ceritificate">
																		Certificado (*):
																	</label>
																	<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
																	    <div class="form-control" data-trigger="fileinput">
																	        <i class="glyphicon glyphicon-file fileinput-exists"></i>
																	    	<span class="fileinput-filename"></span>
																	    </div>
																	    <span class="input-group-addon btn btn-default btn-file">
																	        <span class="fileinput-new">Seleccionar</span>
																	        <span class="fileinput-exists">Cambiar</span>
																	        <input type="file" id="certificate" name="certificate" />
																	        <input type="hidden" id="certificateHdd" name="certificateHdd"> 
																	    </span>
																	    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
																	</div>
																	<div id="div-certificate-error"><!-- class="div-file-input-span-has-error" -->
																		<span id="span-certificate" class="field-validation-error-extended"></span>
																	</div>
																</div>
															</div>
															<div id="div-separator-02"></div>
															<div class="form-group">
																<div id="div-private-key" class="col-xs-12 div-form-input-bottom">
																	<label id="label-private-key" class="label-form" for="private-key">
																		Clave privada (*):
																	</label>
																	<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
																	    <div class="form-control" data-trigger="fileinput">
																	        <i class="glyphicon glyphicon-file fileinput-exists"></i>
																	    	<span class="fileinput-filename"></span>
																	    </div>
																	    <span class="input-group-addon btn btn-default btn-file">
																	        <span class="fileinput-new">Seleccionar</span>
																	        <span class="fileinput-exists">Cambiar</span>
																	        <input type="file" id="private-key" name="private-key"/>
																	        <input type="hidden" id="private-keyHdd" name="private-keyHdd">
																	    </span>
																	    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
																	</div>
																	<div id="div-private-key-error"><!-- div-file-input-span-has-error -->
																		<span id="span-private-key" class="field-validation-error-extended"></span>
																	</div>
																</div>
															</div>
															<div id="div-separator-03"></div>
															<div class="form-group">
																<div id="div-passwd" class="col-xs-12 div-form-input-bottom">
																	<label id="label-passwd" class="label-form" for="passwd">
																		Contraseña del certificado (*):
																	</label>
																	<input type="password" id="passwd" name="passwd" class="form-control">
																	<span id="span-passwd" class="field-validation-error-extended"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
								            	<!--<div class="div-form-facet" style="margin-left: 10px; margin- right: 10px;">
													<label>
														<h2 style="margin-top: 0;">
															Información del certificado digital
														</h2>
													</label>
												</div>-->
											</div>
								            <div class="modal-footer">
								            	<button type="button" id="btn-cancel-cfdi-modal" name="btn-cancel-cfdi-modal" class="btn btn-primary" style="width: 150px;" >Aceptar</button>
								                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
								            </div>
								        </div><!-- /.modal-content -->
								    </div><!-- /.modal-dialog -->
							    </form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var cssClassDanger = /*[[${cssAlertDanger}]]*/;
				var invalidCfdiMessage = /*[[${invalidCfdi}]]*/;
				
				var cfdiSourceRequest = /*[[@{/CfdiFree}]]*/;
				var cancelationRequest = /*[[@{/cancelationCfdiRequest}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				var display = null;
				var page = null;
				
				$(document).ready(function(){
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					cfdiLoad();
					
					$('#div-datepicker-content .input-daterange').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
					
					$('#btn-search').click(function(){
						search();
					});
					
					$('#btn-cancel-cfdi-modal').click(function(){
						cancelCfdi();
					});
					
					$('#certificate').change(function(){			
						elementFieldClassReset(this.id);
						//separatorHide(receptorSeparator1Data, receptorSeparator1Value);
					});
					
					$('#private-key').change(function(){			
						elementFieldClassReset(this.id);
						//separatorHide(receptorSeparator1Data, receptorSeparator1Value);
					});									
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#rfc').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#emitter-type').change(function(){
						elementFieldClassReset(this.id);
					});
				});
				
				var cfdis = [];
				function cfdiLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					processing(loadingRequest);
					$.ajax({
						url: cfdiSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchUuid : encodeValue(getElementValue('searchUuid')),
				       		searchRfc: encodeValue(getElementValue('searchRfc')),
				       		searchClave: encodeValue(getElementValue('searchClave')),
				       		searchDateStart: encodeValue(getElementValue('searchDateStart')),
				       		searchDateEnd: encodeValue(getElementValue('searchDateEnd')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.cfdis;
								var cfdiPagination = objJson.pagination;
								var paginator = cfdiPagination.paginator;
								var paginatorPage = cfdiPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.uuid = decodeValue(item.uuid);
											obj.expeditionDate = decodeValue(item.expeditionDate);
											obj.receiverRfc = decodeValue(item.receiverRfc);
											obj.confirmationCode = item.confirmationCode != null ? decodeValue(item.confirmationCode) : "";
											obj.cancelated = item.cancelated;
											cfdis[cfdis.length] = obj;
										}
										cfdiCustomList();
										pagination('pagination-cfdi', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-cfdi-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function cfdiReload(){
					cfdis = [];
					page = w2utils.isInt(page) ? encodeValue(page) : page;
					$.ajax({
						url: cfdiSourceRequest,
				       	type: 'POST',
				       	data: {
				       		display: display,
				       		searchUuid : encodeValue(getElementValue('searchUuid')),
				       		searchRfc: encodeValue(getElementValue('searchRfc')),
				       		searchClave: encodeValue(getElementValue('searchClave')),
				       		searchDateStart: encodeValue(getElementValue('searchDateStart')),
				       		searchDateEnd: encodeValue(getElementValue('searchDateEnd')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.cfdis;
								var cfdiPagination = objJson.pagination;
								var paginator = cfdiPagination.paginator;
								var paginatorPage = cfdiPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.uuid = decodeValue(item.uuid);
											obj.expeditionDate = decodeValue(item.expeditionDate);
											obj.receiverRfc = decodeValue(item.receiverRfc);
											obj.confirmationCode = item.confirmationCode != null ? decodeValue(item.confirmationCode) : "";
											obj.cancelated = item.cancelated;
											cfdis[cfdis.length] = obj;
										}
										cfdiCustomList();
										pagination('pagination-cfdi', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-cfdi-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function cfdiCustomList(){
					$("#tbdoy-cfdi-custom-list").html("");
					if(cfdis.length >= 1){
						for(var i = 0; i < cfdis.length; i ++){
							var uuid = cfdis[i].uuid;
							var expeditionDate = cfdis[i].expeditionDate;
							var receiverRfc = cfdis[i].receiverRfc;
							var confirmationCode = cfdis[i].confirmationCode;
							var cancelated = cfdis[i].cancelated;
							
							var index = encodeValue(i + ',' + uuid);
							
							var xmlDownload = contextPath + 'cfdi/download/'+uuid+'/xml';
							var pdfDownload = contextPath + 'cfdi/download/'+uuid+'/pdf';
							
							var trStyle = cancelated ? 'style="color: red;"' : '';
							var cancel = !cancelated ? '<a onclick=cancelCfdiModal("'+index+'")><span class="fa-stack"><i class="fa fa-file-code-o fa-stack-1x" aria-hidden="true"></i><i class="fa fa-ban fa-stack-2x text-danger"></i></span></a>' : '';
							
							$("#tbdoy-cfdi-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+uuid+'</td> ' +
									'<td>'+expeditionDate+'</td> ' +
									'<td>'+receiverRfc+'</td> ' +
									'<td>'+confirmationCode+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div style="width: 70px;"> ' +
											'<div style="float: left;" title="Descargar XML"> ' +
												'<a href="'+xmlDownload+'" target="_blank"> ' +
													'<i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
											'<div style="float: left; margin-left: 4px;" title="Descargar PDF"> ' +
												'<a href="'+pdfDownload+'" target="_blank"> ' +
													'<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
											'<div style="float: left; margin-left: 2px; margin-top: -3px;" title="Cancelar CFDI">'+cancel+'</div> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-cfdi-custom-list');
					}else{
						hiddenClass('div-cfdi-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-cfdi-custom-list").html("");
					hiddenClass('div-cfdi-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					cfdis = [];
					cfdiLoad();
				}
				
				function search(){
					page = null;
					cfdis = [];
					cfdiLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-cfdi').html("");
					hiddenClass('div-pagination-cfdi-content');
				}
				
				var cfdiIndex = null;
				var cfdiUuid = null;
				function validateCfdiToCancel(){
					if(cfdis[cfdiIndex].uuid == cfdiUuid){
						return true;
					}else{
						return false;
					}
				}
				
				function cancelCfdiFieldReady(){
					elementFieldReady('certificate');
					elementFieldReady('private-key');
					elementFieldReady('passwd');
					elementFieldReady('rfc');
					selectFieldReady('emitter-type');					
				}
				
				function cancelCfdiModal(pIndex){
					if(pIndex != null){
						var value = decodeValue(pIndex);
						var splitted = value.split(',');
						cfdiIndex = splitted[0];
						cfdiUuid = splitted[1];
						if(validateCfdiToCancel()){
							cancelCfdiFieldReady();
							$("#cancel-cfdi-modal").modal();
						}else{							
							globalMessageShow(invalidCfdiMessage, cssClassDanger, true);
							return false;
						}
					}
				}
				
				var emitterFields = ['rfc', 'emitter-type', 'certificate', 'private-key', 'passwd'];
				
				var separator1Data = ['rfc', 'emitter-type'];
				var separator1Value = 'div-separator-01';
				
				var separator2Data = ['certificate'];
				var separator2Value = 'div-separator-02';
				
				var separator3Data = ['private-key'];
				var separator3Value = 'div-separator-03';
				
				function cancelCfdi(){					
					if(cfdiUuid != null){
						var bValid = true;
						
						bValid = bValid && fieldsCheck(emitterFields);
						
						if(!bValid){
							separatorShow(separator1Data, separator1Value);
							separatorShow(separator2Data, separator2Value);
							separatorShow(separator3Data, separator3Value);
							
							if(!isElementHasValue('certificate')){
								elementClassAdd('div-certificate-error', 'div-file-input-span-has-error');
								elementClassAdd(separator2Value, 'form-group-separator col-xs-12');
							}
							if(!isElementHasValue('private-key')){
								elementClassAdd('div-private-key-error', 'div-file-input-span-has-error');
								elementClassAdd(separator3Value, 'form-group-separator col-xs-12');
							}
							return false;
						}else{
							globalMessageHide();
							$("#cancel-cfdi-modal").modal('hide');
							panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
							processing(processingRequest);
							
							var objCfdi = new Object();
							objCfdi.uuid = encodeValue(cfdiUuid);
							objCfdi.rfc = encodeValue(getElementValue('rfc'));
							objCfdi.emitterType = encodeValue(getElementValue('emitter-type'));
							objCfdi.passwd = encodeValue(getElementValue('passwd'));
							objCfdi = JSON.stringify(objCfdi);
							
							// Cargando la informacion en el FormData
							var formData = new FormData(jQuery('form')[0]);
							formData.append('objCfdi', objCfdi);
							formData.append('certificate', $('#certificate')[0].files[0]);
							formData.append('privateKey', $('#private-key')[0].files[0]);
							
							$.ajax({
								url: cancelationRequest,
						       	type: 'POST',
						       	data: formData,
						       	cache: false,
						       	contentType: false,
						       	processData: false,
						       	success:  function(data) {
						       		if(jQuery.parseJSON(data) != null){
										var objJson = jQuery.parseJSON(data);
										var response = objJson.response;
										var notification = response.notification;
										var confirmationCode = objJson.confirmationCode;
										var message = objJson.message;
										if(response.success){
											var toastr = response.notification.toastr;
											var ToastrType = toastr['type'];
											var toastrTitle = toastr['title'];
											var toastrMessage = toastr['message'];
											
											processingEnd();
											cfdiReload();
											
											systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
										}else if(response.error){
											var errorSource = response.errors;
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												elementForceError(field, message);
											}
											
											var showModal = false;
											if(notification != null){
												var pageMessage = notification.pageMessage;
												if(pageMessage){
													var cssClass = notification.cssStyleClass;
													var message = notification.message;
													var dismiss = notification.dismiss;
													var fadeOut = notification.fadeOut;
													globalMessageShow(message, cssClass, dismiss, fadeOut);
												}
												
												var modalPanelMessage = notification.modalPanelMessage;
												if(modalPanelMessage){
													var cssClass = notification.cssStyleClass;
													var message = notification.message;
													var dismiss = notification.dismiss;
													panelMessageShow('cancel-cfdi-modal-message-content', 'cancel-cfdi-modal-message', message, cssClass, dismiss);
													showModal = true;
												}
											}else{
												showModal = true;
											}
											
											if(showModal){
												separatorShow(separator1Data, separator1Value);
												separatorShow(separator2Data, separator2Value);
												if(!isElementHasValue('certificate')){
													elementClassAdd('div-certificate-error', 'div-file-input-span-has-error');
													elementClassAdd(separator2Value, 'form-group-separator col-xs-12');
												}
												if(!isElementHasValue('private-key')){
													elementClassAdd('div-private-key-error', 'div-file-input-span-has-error');
													elementClassAdd(separator3Value, 'form-group-separator col-xs-12');
												}
												$("#cancel-cfdi-modal").modal();
											}else{
												$("#cancel-cfdi-modal").modal('hide');
											}
										}
										processingEnd();
						       		}
						      	},
						      	error: function (xhr, ajaxOptions, thrownError) {
						      		console.log("ERROR! " + thrownError);
						      		processingEnd();
						        }
							});
						}
					}else{							
						globalMessageShow(invalidCfdiMessage, cssClassDanger, true);
						return false;
					}	
				}
			</script>
			
		</div>
	</body>
</html>