<div th:fragment="related-doc-taxes">
	<div class="form-group">
		<div class="col-xs-12" style="padding-left: 0px;">
			<div class="col-xs-12" style="padding-left: 0px; margin-bottom: 5px;">
				<label id="label-related-doc-taxes-type" class="label-form">
					Tipo de impuesto:
				</label>
			</div>
			<div>
				<div class="radio radio-info radio-inline">
                    <input type="radio" id="radio-related-doc-tax-withheld" name="radio-related-doc-tax" value="tax-withheld">
                    <label id="label-radio-related-doc-tax-withheld" for="radio-related-doc-tax-withheld">Retención</label>
                </div>
				<div class="radio radio-info radio-inline">
                	<input type="radio" id="radio-related-doc-tax-transferred" name="radio-related-doc-tax" value="tax-transferred">
                   	<label id="label-radio-related-doc-tax-transferred" for="radio-related-doc-tax-transferred">Traslado</label>
               	</div>
			</div>
		</div>
	</div>
	<div id="div-related-doc-tax-transferred-withheld-content" class="hidden">
		<div class="col-xs-12" style="padding-left: 0; padding-right: 0; margin-top: 10px;">
			<div class="panel panel-default">
				<div id="div-related-doc-tax-transferred-withheld-title" class="panel-heading"></div>
				<div class="panel-body" style="padding-left: 0; padding-right: 0; border: 0;">
					<div class="form-group">
						<div id="div-related-doc-tax-transferred-withheld-base" class="col-xs-4 div-form-input-bottom">
							<label id="label-related-doc-tax-transferred-withheld-base" class="label-form" for="related-doc-tax-transferred-withheld-base">
								Base (*):
							</label>
							<input type="text" id="related-doc-tax-transferred-withheld-base" name="related-doc-tax-transferred-withheld-base" class="form-control">
							<span id="span-related-doc-tax-transferred-withheld-base" class="field-validation-error-extended"></span>
						</div>
						<div id="div-related-doc-tax-transferred-withheld-tax-type" class="col-xs-4 div-form-input-bottom">
							<label id="label-related-doc-tax-transferred-withheld-tax-type" class="label-form" for="related-doc-tax-transferred-withheld-tax-type">
								Impuesto (*):
							</label>
							<select id="related-doc-tax-transferred-withheld-tax-type" name="related-doc-tax-transferred-withheld-tax-type" class="form-control" >
								<option value="-">&laquo;Seleccione&raquo;</option>
								<option th:each="type : ${taxTypeSource}" th:value="${type}" th:text="${type}">tax</option>
							</select>
							<span id="span-related-doc-tax-transferred-withheld-tax-type" class="field-validation-error-extended"></span>
						</div>
						<div id="div-related-doc-tax-transferred-withheld-factor-type" class="col-xs-4 div-form-input-bottom">
							<label id="label-related-doc-tax-transferred-withheld-factor-type" class="label-form" for="related-doc-tax-transferred-withheld-factor-type">
								Tipo factor (*):
							</label>
							<select id="related-doc-tax-transferred-withheld-factor-type" name="related-doc-tax-transferred-withheld-factor-type" class="form-control" >
								<option value="-">&laquo;Seleccione&raquo;</option>
								<option th:each="type : ${factorTypeSource}" th:id="related-doc-tax-transferred-withheld-factor-type- + ${type}" th:value="${type}" th:text="${type}">factorType</option>
							</select>
							<span id="span-related-doc-tax-transferred-withheld-factor-type" class="field-validation-error-extended"></span>
						</div>
					</div>
					<div id="div-separator-related-doc-tax-transferred-withheld"></div>
					<div class="form-group">
						<div id="div-related-doc-tax-transferred-withheld-rate-fee" class="col-xs-4 div-form-input-bottom">
							<label id="label-related-doc-tax-transferred-withheld-rate-fee" class="label-form" for="related-doc-tax-transferred-withheld-rate-fee">
								Tasa o cuota (*):
							</label>
							 <input type="text" id="related-doc-tax-transferred-withheld-rate-fee" name="related-doc-tax-transferred-withheld-rate-fee" class="form-control">
							<select id="related-doc-tax-transferred-withheld-rate-fee-combo" name="related-doc-tax-transferred-withheld-rate-fee-combo" class="form-control" >
								<option value="-">&laquo;Seleccione&raquo;</option>																	
							</select>
							<span id="span-related-doc-tax-transferred-withheld-rate-fee" class="field-validation-error-extended"></span>
						</div>
						<div id="div-related-doc-tax-transferred-withheld-amount" class="col-xs-4 div-form-input-bottom">
							<label id="label-related-doc-tax-transferred-withheld-amount" class="label-form" for="amount">
								Importe (*):
							</label>
							<input type="text" id="related-doc-tax-transferred-withheld-amount" name="related-doc-tax-transferred-withheld-amount" class="form-control">
							<span id="span-related-doc-tax-transferred-withheld-amount" class="field-validation-error-extended"></span>
						</div>
					</div>
				</div>
				<div class="text-right" style="padding: 10px 15px; background-color: #ffffff; border-top: 1px solid #ddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
                    <button type="button" id="related-doc-tax-transferred-withheld-add-btn" name="related-doc-tax-transferred-withheld-add-btn" class="btn btn-primary" style="width: 150px;">Agregar impuesto</button>
					<button type="button" id="related-doc-tax-transferred-withheld-cancel-btn" name="related-doc-tax-transferred-withheld-cancel-btn" class="btn btn-default" style="width: 150px;">Cancelar</button>
               	</div>
        	</div>																			
		</div>
	</div>
	<!-- Listado de retenciones -->
	<div id="div-related-doc-tax-withheld-list" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; margin-top: 15px;">
		<div class="div-form-facet" style="margin-top: 0px; padding-left: 10px; padding-top: 6px; height: 40px; background-color: #eeeeee;">
			<label>
				<h3>
					Retenciones
				</h3>
			</label>
		</div>
		<div class="col-lg-12">
			<div class="ibox float-e-margins" style="margin-bottom: 0;">
				<div class="row">
					<div class="table-responsive">
						<table class="table table-striped">
							<colgroup>
								<col span="5" width="18%">
								<col width="10%">
							</colgroup>
							<thead>
								<tr>
									<th>Base</th>
									<th>Impuesto</th>
									<th>Tipo factor</th>
									<th>Tasa o cuota</th>
									<th>Importe</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="tbody-related-doc-tax-withheld-list"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Listado de traslados -->
	<div id="div-related-doc-tax-transferred-list" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; margin-top: 15px;">
		<div class="div-form-facet" style="margin-top: 0px; padding-left: 10px; padding-top: 6px; height: 40px; background-color: #eeeeee;">
			<label>
				<h3>
					Traslados
				</h3>
			</label>
		</div>
		<div class="col-lg-12">
			<div class="ibox float-e-margins" style="margin-bottom: 0;">
				<div class="row">
					<div class="table-responsive">
						<table class="table table-striped">
							<colgroup>
								<col span="5" width="18%">
								<col width="10%">
							</colgroup>
							<thead>
								<tr>
									<th>Base</th>
									<th>Impuesto</th>
									<th>Tipo factor</th>
									<th>Tasa o cuota</th>
									<th>Importe</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="tbody-related-doc-tax-transferred-list"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>