<div th:fragment="payment-totals">
	<div id="payment-totals" class="col-xs-12" style="padding-left: 0; padding-right: 0;">
		<div class="panel panel-default">
			<div id="div-voucher-title" class="panel-heading">
                Información de los totales
            </div>
			<div class="panel-body panel-body-inner">
				<div class="div-form-content">
					<div class="form-group" style="margin-top: 10px">
						<div id="div-monto-total-pagos" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-monto-total-pagos"class="label-form" for="monto-total-pagos">
								Monto Total Pagos (*):
							</label>
							<input type="text" id="monto-total-pagos" name="monto-total-pagos" class="form-control">
							<span id="span-monto-total-pagos" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-retenciones-iva" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-retenciones-iva"class="label-form" for="total-retenciones-iva">
								Total Retenciones IVA:
							</label>
							<input type="text" id="total-retenciones-iva" name="total-retenciones-iva" class="form-control">
							<span id="span-total-retenciones-iva" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-retenciones-isr" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-retenciones-isr"class="label-form" for="total-retenciones-isr">
								Total Retenciones ISR:
							</label>
							<input type="text" id="total-retenciones-isr" name="total-retenciones-isr" class="form-control">
							<span id="span-total-retenciones-isr" class="field-validation-error-extended"></span>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<div id="div-total-retenciones-ieps" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-retenciones-ieps"class="label-form" for="total-retenciones-ieps">
								Total Retenciones IEPS:
							</label>
							<input type="text" id="total-retenciones-ieps" name="total-retenciones-ieps" class="form-control">
							<span id="span-total-retenciones-ieps" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-traslados-base-iva-16" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-base-iva-16"class="label-form" for="total-traslados-base-iva-16">
								Total Traslados Base IVA 16%:
							</label>
							<input type="text" id="total-traslados-base-iva-16" name="total-traslados-base-iva-16" class="form-control">
							<span id="span-total-traslados-base-iva-16" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-traslados-impuesto-iva-16" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-impuesto-iva-16"class="label-form" for="total-traslados-impuesto-iva-16">
								Total Traslados Impuesto IVA 16%:
							</label>
							<input type="text" id="total-traslados-impuesto-iva-16" name="total-traslados-impuesto-iva-16" class="form-control">
							<span id="span-total-traslados-impuesto-iva-16" class="field-validation-error-extended"></span>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<div id="div-total-traslados-base-iva-8" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-base-iva-8"class="label-form" for="total-traslados-base-iva-8">
								Total Traslados Base IVA 8%:
							</label>
							<input type="text" id="total-traslados-base-iva-8" name="total-traslados-base-iva-8" class="form-control">
							<span id="span-total-traslados-base-iva-8" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-traslados-impuesto-iva-8" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-impuesto-iva-8"class="label-form" for="total-traslados-impuesto-iva-8">
								Total Traslados Impuesto IVA 8%:
							</label>
							<input type="text" id="total-traslados-impuesto-iva-8" name="total-traslados-impuesto-iva-8" class="form-control">
							<span id="span-total-traslados-impuesto-iva-8" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-traslados-base-iva-0" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-base-iva-0"class="label-form" for="total-traslados-base-iva-0">
								Total Traslados Base IVA 0%:
							</label>
							<input type="text" id="total-traslados-base-iva-0" name="total-traslados-base-iva-0" class="form-control">
							<span id="span-total-traslados-base-iva-0" class="field-validation-error-extended"></span>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<div id="div-total-traslados-impuesto-iva-0" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-impuesto-iva-0"class="label-form" for="total-traslados-impuesto-iva-0">
								Total Traslados Impuesto IVA 0%:
							</label>
							<input type="text" id="total-traslados-impuesto-iva-0" name="total-traslados-impuesto-iva-0" class="form-control">
							<span id="span-total-traslados-impuesto-iva-0" class="field-validation-error-extended"></span>
						</div>
						<div id="div-total-traslados-base-iva-exento" class="col-xs-12 col-md-4 div-form-input-bottom">
							<label id="label-total-traslados-base-iva-exento"class="label-form" for="total-traslados-base-iva-exento">
								Total Traslados Base IVA Exento:
							</label>
							<input type="text" id="total-traslados-base-iva-exento" name="total-traslados-base-iva-exento" class="form-control">
							<span id="span-total-traslados-base-iva-exento" class="field-validation-error-extended"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>