<div th:fragment="related-doc">
	<div class="form-group">
		<div class="button-form-right">
			<a id="cmp-payment-related-doc-add-btn" class="btn btn-success">
				<i class="fa fa-plus-circle" aria-hidden="true"></i>							
				<span>Añadir documento</span>
			</a>
		</div>
	</div>
	<div id="related-doc-container" class="col-xs-12 hidden" style="padding-left: 0; padding-right: 0; display: none;">
		<div class="tabs-container">
			<ul class="nav nav-tabs">
				<li id="li-tab-related-document" class="active">
					<a data-toggle="tab" href="#tab-related-document">
						Documento relacionado
					</a>
				</li>
				<li id="li-tab-related-document-taxes">
					<a data-toggle="tab" href="#tab-related-document-taxes">
						Impuestos del documento
					</a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<!-- Area de mensajes del modal -->
			<div id="related-doc-modal-message-content" class="hidden" style="margin-bottom: 5px; margin-left: 4px; margin-right: 4px;">
				<div id="related-doc-modal-message"></div>
			</div>
			<!-- Tab :: Related document -->
			<div id="tab-related-document" class="tab-pane active">
				<div class="panel-body">
					<div th:insert="~{invoicing/complement-payment-related-doc-data-fragment :: related-doc-data}" th:remove="tag"></div>
				</div>
			</div>
			<!-- Tab :: Related document list -->
			<div id="tab-related-document-taxes" class="tab-pane">
				<div class="panel-body">
					<div th:insert="~{invoicing/complement-payment-related-doc-taxes-fragment :: related-doc-taxes}" th:remove="tag"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{invoicing/complement-payment-related-doc-list-fragment :: related-doc-list}" th:remove="tag"></div>
</div>