<div th:fragment="related-doc-data">
	<div class="panel panel-default">
		<!--<div id="div-tax-transferred-withheld-title" class="panel-heading">
			Documento relacionado
		</div>-->
		<div class="panel-body" style="padding-left: 0; padding-right: 0; border: 0;">
			<div class="form-group">
				<div id="div-cmp-payment-related-document-id" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-id" class="label-form" for="cmp-payment-related-document-id">
						Id del documento (*):
					</label>
					<label id="label-info-cmp-payment-related-document-id" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-id" name="cmp-payment-related-document-id" class="form-control">
					<span id="span-cmp-payment-related-document-id" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-currency" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-currency" class="label-form" for="cmp-payment-related-document-currency">
						Moneda (*):
					</label>
					<label id="label-info-cmp-payment-related-document-currency" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-currency" name="cmp-payment-related-document-currency" class="form-control">
					<span id="span-cmp-payment-related-document-currency" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-change-type" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-change-type" class="label-form" for="cmp-payment-related-document-change-type">
						Tipo de cambio:
					</label>
					<label id="label-info-cmp-payment-related-document-change-type" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-change-type" name="cmp-payment-related-document-change-type" class="form-control">
					<span id="span-cmp-payment-related-document-change-type" class="field-validation-error-extended"></span>
				</div>
			</div>
			<div id="div-separator-cmp-payment-related-document-01"></div>
			<div class="form-group">
				<div id="div-cmp-payment-related-document-serie" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-serie" class="label-form" for="cmp-payment-related-document-serie">
						Serie:
					</label>
					<label id="label-info-cmp-payment-related-document-serie" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-serie" name="cmp-payment-related-document-serie" class="form-control">
					<span id="span-cmp-payment-related-document-serie" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-sheet" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-sheet" class="label-form" for="cmp-payment-related-document-sheet">
						Folio:
					</label>
					<label id="label-info-cmp-payment-related-document-sheet" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-sheet" name="cmp-payment-related-document-sheet" class="form-control">
					<span id="span-cmp-payment-related-document-sheet" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-partiality" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-partiality" class="label-form" for="cmp-payment-related-document-partiality">
						Número de parcialidad (*):
					</label>
					<label id="label-info-cmp-payment-related-document-partiality" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-partiality" name="cmp-payment-related-document-partiality" class="form-control">
					<span id="span-cmp-payment-related-document-partiality" class="field-validation-error-extended"></span>
				</div>
			</div>
			<div id="div-separator-cmp-payment-related-document-02"></div>
			<div class="form-group">
				<div id="div-cmp-payment-related-document-previous-balance" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-previous-balance" class="label-form" for="cmp-payment-related-document-previous-balance">
						Importe de saldo anterior (*):
					</label>
					<label id="label-info-cmp-payment-related-document-previous-balance" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-previous-balance" name="cmp-payment-related-document-previous-balance" class="form-control">
					<span id="span-cmp-payment-related-document-previous-balance" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-amount-paid" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-amount-paid" class="label-form" for="cmp-payment-related-document-amount-paid">
						Importe pagado (*):
					</label>
					<label id="label-info-cmp-payment-related-document-amount-paid" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-amount-paid" name="cmp-payment-related-document-amount-paid" class="form-control">
					<span id="span-cmp-payment-related-document-amount-paid" class="field-validation-error-extended"></span>
				</div>
				<div id="div-cmp-payment-related-document-outstanding-balance" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-outstanding-balance" class="label-form" for="cmp-payment-related-document-outstanding-balance">
						Importe de saldo insoluto (*):
					</label>
					<label id="label-info-cmp-payment-related-document-outstanding-balance" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<input type="text" id="cmp-payment-related-document-outstanding-balance" name="cmp-payment-related-document-outstanding-balance" class="form-control">
					<span id="span-cmp-payment-related-document-outstanding-balance" class="field-validation-error-extended"></span>
				</div>
			</div>
			<div id="div-separator-cmp-payment-related-document-03"></div>
			<div class="form-group">
				<div id="div-cmp-payment-related-document-obj-imp" class="col-xs-12 col-md-4 div-form-input-bottom">
					<label id="label-cmp-payment-related-document-obj-imp" class="label-form" for="cmp-payment-related-document-obj-imp">
						Objeto impuesto (*):
					</label>
					<label id="label-info-cmp-payment-related-document-obj-imp" style="margin-left: 2px; margin-bottom: 0px;">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</label>
					<select id="cmp-payment-related-document-obj-imp" name="cmp-payment-related-document-obj-imp" class="form-control select2" >
						<option value="-">&laquo;Seleccione&raquo;</option>
						<option th:each="item : ${objTaxSource}" th:value="${item}" th:text="${item}">obj-tax</option>
					</select>
					<span id="span-cmp-payment-related-document-obj-imp" class="field-validation-error-extended"></span>
				</div>
			</div>
		</div>
		<div class="text-right" style="padding: 10px 15px; background-color: #ffffff; border-top: 1px solid #ddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
			<button type="button" id="cmp-payment-related-document-btn" name="cmp-payment-related-document-btn" class="btn btn-primary">Adicionar documento relacionado</button>
			<button type="button" id="cmp-payment-related-document-cancel-btn" name="cmp-payment-related-document-cancel-btn" class="btn btn-default" style="width: 150px; margin-bottom: 5px !important;">Cancelar</button>
		</div>
	</div>
</div>