<div th:fragment="payment-list">
	<div id="payment-list" class="col-lg-12 hidden" style="margin-top: -15px; display: none;">
		<div class="ibox float-e-margins">
			<div class="row">
				<!-- Listado de pagos -->
				<div id="div-complement-payment-custom-list-content" class="panel panel-default">
					<div class="panel-heading">
						Listado de pagos
					</div>
					<div class="panel-body panel-body-inner" style="padding: 0;">
						<div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
							<div class="col-lg-12">
								<div class="ibox float-e-margins" style="margin-bottom: 0;">
									<div class="row">
										<div class="table-responsive">
											<table class="table table-striped">
												<tbody>
													<tr>
														<td id="td-complement-payment-custom-list"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>