<div th:fragment="payment">
	<div class="form-group">
		<div id="div-cmp-payment-payment-date" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-payment-date"class="label-form" for="cmp-payment-payment-date">
				Fecha de pago (*):
			</label>
			<label id="label-info-cmp-payment-payment-date" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-payment-date" name="cmp-payment-payment-date" class="form-control" data-mask="9999-99-99T99:99:99" placeholder="aaaa-mm-ddThh:mm:ss">
			<span id="span-cmp-payment-payment-date" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-payment-way" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-payment-way"class="label-form" for="cmp-payment-payment-way">
				Forma de pago (*):
			</label>
			<label id="label-info-cmp-payment-payment-way" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-payment-way" name="cmp-payment-payment-way" class="form-control">
			<span id="span-cmp-payment-payment-way" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-amount" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-amount" class="label-form" for="cmp-payment-amount">
				Monto (*):
			</label>
			<label id="label-info-cmp-payment-amount" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-amount" name="cmp-payment-amount" class="form-control">
			<span id="span-cmp-payment-amount" class="field-validation-error-extended"></span>
		</div>
	</div>
	<div id="div-separator-cmp-payment-01"></div>
	<div class="form-group">	
		<div id="div-cmp-payment-currency" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-currency" class="label-form" for="cmp-payment-currency">
				Moneda (*):
			</label>
			<label id="label-info-cmp-payment-currency" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-currency" name="cmp-payment-currency" class="form-control">
			<span id="span-cmp-payment-currency" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-change-type" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-change-type"class="label-form" for="cmp-payment-change-type">
				Tipo de cambio:
			</label>
			<input type="text" id="cmp-payment-change-type" name="cmp-payment-change-type" class="form-control">
			<span id="span-cmp-payment-change-type" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-operation-number" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-operation-number" class="label-form" for="cmp-payment-operation-number">
				Número de operación:
			</label>
			<label id="label-info-cmp-payment-operation-number" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-operation-number" name="cmp-payment-operation-number" class="form-control">
			<span id="span-cmp-payment-operation-number" class="field-validation-error-extended"></span>
		</div>
	</div>
	<div id="div-separator-cmp-payment-02"></div>
	<div class="form-group">
		<div id="div-cmp-payment-rfc-source-account" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-rfc-source-account" class="label-form" for="cmp-payment-rfc-source-account">
				RFC emisor cuenta origen:
			</label>
			<label id="label-info-cmp-payment-rfc-source-account" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-rfc-source-account" name="cmp-payment-rfc-source-account" class="form-control">
			<span id="span-cmp-payment-rfc-source-account" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-source-account" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-source-account" class="label-form" for="cmp-payment-source-account">
				Cuenta ordenante:
			</label>
			<label id="label-info-cmp-payment-source-account" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-source-account" name="cmp-payment-source-account" class="form-control">
			<span id="span-cmp-payment-source-account" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-bank" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-bank" class="label-form" for="cmp-payment-bank">
				Nombre de banco:
			</label>
			<label id="label-info-cmp-payment-bank" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-bank" name="cmp-payment-bank" class="form-control">
			<span id="span-cmp-payment-bank" class="field-validation-error-extended"></span>
		</div>
	</div>
	<div id="div-separator-cmp-payment-03"></div>
	<div class="form-group">
		<div id="div-cmp-payment-rfc-target-account" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-rfc-target-account" class="label-form" for="cmp-payment-rfc-target-account">
				RFC emisor cuenta beneficiaria:
			</label>
			<label id="label-info-cmp-payment-rfc-target-account" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-rfc-target-account" name="cmp-payment-rfc-target-account" class="form-control">
			<span id="span-cmp-payment-rfc-target-account" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-target-account" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-target-account" class="label-form" for="cmp-payment-target-account">
				Cuenta beneficiaria:
			</label>
			<label id="label-info-cmp-payment-target-account" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-target-account" name="cmp-payment-target-account" class="form-control">
			<span id="span-cmp-payment-target-account" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-string-type" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-string-type" class="label-form" for="cmp-payment-string-type">
				Tipo cadena de pago:
			</label>
			<label id="label-info-cmp-payment-string-type" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-string-type" name="cmp-payment-string-type" class="form-control">
			<span id="span-cmp-payment-string-type" class="field-validation-error-extended"></span>
		</div>
	</div>
	<div id="div-separator-cmp-payment-04"></div>
	<div class="form-group">
		<div id="div-cmp-payment-string" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-string" class="label-form" for="cmp-payment-string">
				Cadena de pago:
			</label>
			<label id="label-info-cmp-payment-string" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-string" name="cmp-payment-string" class="form-control">
			<span id="span-cmp-payment-string" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-certificate" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-certificate" class="label-form" for="cmp-payment-certificate">
				Certificado de pago:
			</label>
			<label id="label-info-cmp-payment-certificate" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-certificate" name="cmp-payment-certificate" class="form-control">
			<span id="span-cmp-payment-certificate" class="field-validation-error-extended"></span>
		</div>
		<div id="div-cmp-payment-seal" class="col-xs-12 col-md-4 div-form-input-bottom">
			<label id="label-cmp-payment-seal" class="label-form" for="cmp-payment-seal">
				Sello de pago:
			</label>
			<label id="label-info-cmp-payment-seal" style="margin-left: 2px; margin-bottom: 0px;">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</label>
			<input type="text" id="cmp-payment-seal" name="cmp-payment-seal" class="form-control">
			<span id="span-cmp-payment-seal" class="field-validation-error-extended"></span>
		</div>
	</div>
	<div id="div-separator-cmp-payment-05"></div>
	<div class="form-group col-xs-12" style="margin-top: 10px;">
		<div th:insert="~{invoicing/complement-payment-taxes-fragment :: payment-taxes}" th:remove="tag"></div>
	</div>
</div>