<div th:fragment="related-doc-list">
	<div id="related-doc-list" class="col-xs-12" style="padding-left: 0; padding-right: 0;">
		<div class="div-form-facet" style="margin-top: 0px">
			<label>
				<h2>
					Listado de documentos relacionados
				</h2>
			</label>
		</div>
		<div class="col-lg-12">
			<div class="ibox float-e-margins" style="margin-bottom: 0;">
				<div class="row">
					<div class="table-responsive">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td id="td-related-document-custom-list"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>