<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Contactos</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.emitter.contact}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="emitter-contact-config" class="btn btn-white">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>							
							<span id="label-emitter-contact-config" th:text="#{mega.cfdi.text.emitter.contact.add}"></span>
						</a>
						<a id="emitter-contact-edit" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>							
							<span id="label-emitter-contact-config" th:text="#{mega.cfdi.text.emitter.contact.edit}"></span>
						</a>						
						<a id="emitter-contact-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.contact.trash}"></span>
						</a>						
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 id="h5-list-title" th:text="#{mega.cfdi.text.emitter.contact.list}">Listado de contactos</h5>
								<h5 id="h5-config-title" th:text="#{mega.cfdi.text.emitter.contact.add}" class="hidden" style="display: none;">Adicionar contactos</h5>
								<h5 id="h5-edit-title" th:text="#{mega.cfdi.text.emitter.contact.edit}" class="hidden" style="display: none;">Modificar contactos</h5>
								<h5 id="h5-details-title" th:text="#{mega.cfdi.text.emitter.contact.details}" class="hidden" style="display: none;">Detalles del contacto</h5>
								<div id="div-bullhorn" class="text-right hidden" style="display: none;">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-emitter-contact-list-content">
									<div class="row">
										<div class="col-sm-9 m-b-xs"></div>
										<div class="col-sm-3">
						                    <div class="input-group">
						                    	<input type="text" id="search-name" name="search-name" class="input-sm form-control" placeholder="por nombre..."> <!-- style="width: 300px;" --> 
						                    	<span class="input-group-btn">
						                        	<button id="btn-search" type="button"  class="btn btn-sm btn-primary">
						                        		<i class="fa fa-search" aria-hidden="true"></i> 
														<span th:text="#{mega.cfdi.legend.search.button}"></span>
													</button>
						                        </span>
											</div>
						                </div>
									</div>
									
									<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
										<div id="panel-search-result-empty-message"></div>
									</div>
									
									<div id="div-emitter-contact-custom-list" class="table-responsive hidden">
										<table class="table table-striped"><!-- table-hover -->
											<colgroup>
												<col span="2" width="46%">
											</colgroup>
											<thead>
												<tr>
													<th>
														<span th:text="#{mega.cfdi.text.name.lastname}">Nombre(s) y apellidos</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.email}">Correo electronico</span>
													</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="tbdoy-emitter-contact-custom-list"></tbody>
										</table>
									</div>
									
									<!-- Paginado -->
									<div id="div-pagination-emitter-contact-content" class="hidden">
										<div id="div-pagination-emitter-contact" style="text-align: center;"></div>
									</div>
								</div>
								
								<form id="form-emitter-contact" class="animated fadeInRight hidden" action="#" method="post" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-contact-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.contact.info}">Información del contacto</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-name" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-name" class="label-form" for="name" th:text="#{mega.cfdi.text.name.lastname} + ' (*):'">
															Nombre(s) y apellidos: (*)
														</label>
														<input type="text" id="name" name="name" class="form-control">
														<span id="span-name" class="field-validation-error-extended"></span>
													</div>
													<div id="div-email" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-email" class="label-form" for="email" th:text="#{mega.cfdi.text.email} + ' (*):'">
															Correo electrónico: (*)
														</label>
														<input type="text" id="email" name="email" class="form-control">
														<span id="span-email" class="field-validation-error-extended"></span>
													</div>																									
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="emitter-contact-button-content" class="form-group hidden" style="margin-top: 5px; display: none;">
								<div id="div-form-btn" class="button-form-right">
									<button id="emitter-contact-button-add" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> 
										<span th:text="#{mega.cfdi.text.emitter.contact.register}"></span>
									</button>
									<button id="emitter-contact-button-edit" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.text.emitter.contact.update}"></span>
									</button>
									<button id="emitter-contact-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="emitter-contact-button-back" class="btn btn-white">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.undo}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				// Contact :: Residency (Country)
				var residencySource = [];
				var residencySourceRequest = /*[[@{/residencySourceRequest}]]*/;
				
				// Contact :: Add/Edit/Remove contact
				var emitterContactRequest = /*[[@{/emitterContact}]]*/;
				
				var formFields = ['name', 'email'];
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				var page = null;
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					// ***** Confirmation load *****
					mapLoad();
					
					// ***** Contact :: RFC *****
					$('#name').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});

					// ***** Contact :: Email *****
					$('#email').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-search').click(function(){
						search();
					});
															
					$('#emitter-contact-config').click(function(){
						emitterContactLoadAdd();
					});
					
					$('#emitter-contact-edit').click(function(){
						emitterContactUpdate();
					});					
					
					$('#emitter-contact-trash').click(function(){
						if(emitterContactIdEdit != null){
							emitterContactLoadRemove(emitterContactIdEdit);
						}
					});
					
					$('#emitter-contact-button-add').click(function(){
						contactOperation = 'config';
						emitterContact();
					});
					
					$('#emitter-contact-button-edit').click(function(){
						contactOperation = 'edit';
						emitterContact();
					});
					
					$('#emitter-contact-button-cancel').click(function(){
						emitterContactCancel();
					});
					
					$('#emitter-contact-button-back').click(function(){
						emitterContactCancel();
					});
					
					// ***** Listado de contactos *****
					emitterContactLoad();
					
				});
				
				function mapLoad(){
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if(jQuery.parseJSON(data) != null){
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        	console.log("[INFO] Map Confirmation loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function getMapValue(key){
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if(obj.key == key){
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				var emitterContacts = [];
				var action = 'load';
				
				function emitterContactLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')){
						if(action == 'load'){
							processing(loadingRequest);	
						}
					}
					
					emitterContacts = [];
					
					$.ajax({
						url: emitterContactRequest,
				       	type: 'POST',
				       	data: {
				       		searchName: encodeValue(getElementValue('search-name')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.contacts;
								var emitterContactPagination = objJson.pagination;
								var paginator = emitterContactPagination.paginator;
								var paginatorPage = emitterContactPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									processingEnd();
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = item.id;
											obj.name = decodeValue(item.name);
											obj.email = decodeValue(item.email);
											emitterContacts[emitterContacts.length] = obj;
										}
										emitterContactCustomList();
										pagination('pagination-emitter-contact', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-emitter-contact-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}									
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function emitterContactCustomList(){
					$("#tbdoy-emitter-contact-custom-list").html("");
					if(emitterContacts.length >= 1){
						for(var i = 0; i < emitterContacts.length; i ++){
							var id = emitterContacts[i].id;
							var name = emitterContacts[i].name;
							var email = emitterContacts[i].email;
							$("#tbdoy-emitter-contact-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
									'<td>'+email+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=emitterContactLoadEdit("'+id+'")></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=emitterContactLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-emitter-contact-custom-list');
					}else{
						hiddenClass('div-emitter-contact-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-emitter-contact-custom-list").html("");
					hiddenClass('div-emitter-contact-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					emitterContacts = [];
					emitterContactLoad();
				}
				
				function search(){
					page = null;
					emitterContacts = [];
					emitterContactLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-emitter-contact').html("");
					hiddenClass('div-pagination-emitter-contact-content');
				}								
				
				// Adicionar/Editar contacto ===================================================================
				var emitterContactIdEdit = null;
				var objContact = null;
				var contactOperation = null;
				
				function contactFormReady(){
					elementFieldReady('name');
					elementFieldReady('email');
					
					contactFormEnabled();
				}
				
				function contactFieldReady(){
					elementFieldClassReset('name');
					elementFieldClassReset('email');
					
					contactFormEnabled();
				}
				
				function contactFormEnabled(){
					elementReadOnlyFalse('name');
					elementReadOnlyFalse('email');
				}
								
				function contactFormDisabled(){
					elementReadOnlyTrue('name');
					elementReadOnlyTrue('email');
					
					hiddenClassRemove('h5-details-title');
					elementShow('h5-details-title');
					
					hiddenClassRemove('emitter-contact-config');
					elementShow('emitter-contact-config');
					
					hiddenClassRemove('emitter-contact-edit');
					elementShow('emitter-contact-edit');
					
					hiddenClassRemove('emitter-contact-trash');
					elementShow('emitter-contact-trash');
					
					hiddenClassRemove('emitter-contact-button-back');
					elementShow('emitter-contact-button-back');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('emitter-contact-button-add');
					elementHide('emitter-contact-button-add');
					
					hiddenClass('emitter-contact-button-edit');
					elementHide('emitter-contact-button-edit');
					
					hiddenClass('emitter-contact-button-cancel');
					elementHide('emitter-contact-button-cancel');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
				}
				
				function emitterContactLoadAdd(){
					action = 'config';
					emitterContactIdEdit = null;
					processing(loadingRequest);	
					setTimeout('emitterContactAdd()', 500);
				}
				
				function emitterContactAdd(){
					processingEnd();
					
					contactFormReady();
					
					elementClassAdd('div-emitter-contact-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-contact-list-content');
					elementHide('div-emitter-contact-list-content');
					
					elementFieldReady('search-name');
					elementPlaceholder('search-name', 'por nombre...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('emitter-contact-config');
					elementHide('emitter-contact-config');
					
					hiddenClass('emitter-contact-edit');
					elementHide('emitter-contact-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-contact-button-edit');
					elementHide('emitter-contact-button-edit');
					
					hiddenClass('emitter-contact-button-back');
					elementHide('emitter-contact-button-back');
					
					hiddenClass('emitter-contact-trash');
					elementHide('emitter-contact-trash');
					
					hiddenClassRemove('h5-config-title');
					elementShow('h5-config-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-contact');
					elementShow('form-emitter-contact');
					
					hiddenClassRemove('emitter-contact-button-content');
					elementShow('emitter-contact-button-content');
					
					hiddenClassRemove('emitter-contact-button-add');
					elementShow('emitter-contact-button-add');
					
					hiddenClassRemove('emitter-contact-button-cancel');
					elementShow('emitter-contact-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				function emitterContact(){
					var bValid = true;
					
					contactFieldReady();

					bValid = bValid && fieldsCheck(formFields);
					
					// Correo
					if(bValid){
						if(!w2utils.isEmail(getElementValue('email'))){
							elementTagError('email', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(!bValid){
						return false;						
					}else{
						processing(processingRequest);
						
						var objContact = new Object();
						objContact.id = emitterContactIdEdit;
						objContact.name = encodeValue(getElementValue('name'));
						objContact.email = encodeValue(getElementValue('email'));
						
						var objContactRequest = JSON.stringify(objContact);
						
						$.ajax({
							url: emitterContactRequest + "?contactAddEdit",
					       	type: 'POST',
					       	data: {
					       		objContact : objContactRequest,
					       		operation: encodeValue(contactOperation)
					       	},
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var contact = objJson.contact; 
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										//contactFormReady();
										emitterContactIdEdit = contact.id;
										contactFormDisabled();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];										

										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Emitter Contact failed!");
					        }
						});
					}
				}
				
				function emitterContactUpdate(){
					if(emitterContactIdEdit != null){
						emitterContactLoadEdit(emitterContactIdEdit);	
					}					
				}
				
				function emitterContactLoadEdit(pId){
					if(pId != null){
						emitterContactIdEdit = pId;
						action = 'edit';
						objContact = new Object();
						
						processing(loadingRequest);
						
						$.ajax({
							url: emitterContactRequest + '?contactDataLoad',
							type: "POST",
							data: {id: emitterContactIdEdit},
						}).done(function (data) {								        	
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var contact = objJson.contact;
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									if(contact != null){
										objContact.name = decodeValue(contact.name);
										objContact.email = decodeValue(contact.email);
										
										setTimeout('emitterContactLoaded()', 500);	
									}else{
										processingEnd();
									}									
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}					
				        }).fail(function (xhr, ajaxOptions, thrownError) {
				            console.log("ERROR");
				        });
					}
				}
				
				function emitterContactLoaded(){
					processingEnd();
					
					contactFieldReady();
					
					elementValueChange('name', objContact.name);
					elementValueChange('email', objContact.email);
					
					elementClassAdd('div-emitter-contact-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-contact-list-content');
					elementHide('div-emitter-contact-list-content');
					
					elementFieldReady('search-name');
					elementPlaceholder('search-name', 'por nombre...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-contact-edit');
					elementHide('emitter-contact-edit');
					
					hiddenClass('emitter-contact-button-add');
					elementHide('emitter-contact-button-add');

					hiddenClass('emitter-contact-button-back');
					elementHide('emitter-contact-button-back');
					
					hiddenClassRemove('emitter-contact-config');
					elementShow('emitter-contact-config');
					
					hiddenClassRemove('emitter-contact-trash');
					elementShow('emitter-contact-trash');
					
					hiddenClassRemove('h5-edit-title');
					elementShow('h5-edit-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-contact');
					elementShow('form-emitter-contact');
					
					hiddenClassRemove('emitter-contact-button-content');
					elementShow('emitter-contact-button-content');
					
					hiddenClassRemove('emitter-contact-button-edit');
					elementShow('emitter-contact-button-edit');
					
					hiddenClassRemove('emitter-contact-button-cancel');
					elementShow('emitter-contact-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
					
				// Eliminar contacto ===================================================================
				var emitterContactIdTrash = null;
				function emitterContactLoadRemove(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', getMapValue('contact'));
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'emitterContactRemove()');
						
						emitterContactIdTrash = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function emitterContactRemove(){
					if(emitterContactIdTrash != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('emitterContactRemoving()', 500);
					}
				}
				
				function emitterContactRemoving(){
					$.ajax({
						url: emitterContactRequest + '?contactRemove',
						type: "POST",
						data: {id: emitterContactIdTrash},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								emitterContactRemoved();
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function emitterContactRemoved(){
					processingTextChange(updatingRequest);
					
					hiddenClass('emitter-contact-trash');
					elementHide('emitter-contact-trash');
					
					hiddenClass('emitter-contact-edit');
					elementHide('emitter-contact-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-contact');
					elementHide('form-emitter-contact');
					
					hiddenClass('emitter-contact-button-content');
					elementHide('emitter-contact-button-content');
					
					hiddenClass('emitter-contact-button-edit');
					elementHide('emitter-contact-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-contact-list-content');
					elementShow('div-emitter-contact-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-contact-config');
					elementShow('emitter-contact-config');
					
					page = encodeValue(page);
					setTimeout('emitterContactLoad()', 500);
				}
				
				// Cancelar
				function emitterContactCancel(){
					action = 'load';
					page = null;
					
					hiddenClass('emitter-contact-edit');
					elementHide('emitter-contact-edit');
					
					hiddenClass('emitter-contact-trash');
					elementHide('emitter-contact-trash');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-contact');
					elementHide('form-emitter-contact');
					
					hiddenClass('emitter-contact-button-content');
					elementHide('emitter-contact-button-content');
					
					hiddenClass('emitter-contact-button-edit');
					elementHide('emitter-contact-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-contact-list-content');
					elementShow('div-emitter-contact-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-contact-config');
					elementShow('emitter-contact-config');
					
					emitterContactLoad();
				}
				
			</script>
			
		</div>
	</body>
</html>