<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>			
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title" th:text="#{mega.cfdi.system.title} + ' - ' + #{mega.cfdi.premium.configuration.account.rfc}">MegaCFDI - Cuentas RFC</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>																
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>				
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa-vcard-o" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.account.rfc}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="emitter-account-security-code" class="btn btn-white">
							<i class="fa fa-link" aria-hidden="true"></i>							
							<span id="label-emitter-account-security-code" th:text="#{mega.cfdi.text.emitter.account.add.code}"></span>
						</a>
						<a id="emitter-account-config" class="btn btn-white">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>							
							<span id="label-emitter-account-config" th:text="#{mega.cfdi.text.emitter.account.add}"></span>
						</a>
						<a id="emitter-account-edit" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							<span id="label-emitter-account-edit" th:text="#{mega.cfdi.text.emitter.account.edit}"></span>
						</a>						
						<a id="emitter-account-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.account.trash}"></span>
						</a>						
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 id="h5-list-title" th:text="#{mega.cfdi.text.emitter.account.list}">Listado de cuentas</h5>
								<h5 id="h5-config-title" th:text="#{mega.cfdi.text.emitter.account.add}" class="hidden" style="display: none;">Adicionar cuenta</h5>
								<h5 id="h5-edit-title" th:text="#{mega.cfdi.text.emitter.account.edit}" class="hidden" style="display: none;">Modificar cuenta</h5>
								<h5 id="h5-details-title" th:text="#{mega.cfdi.text.emitter.account.details}" class="hidden" style="display: none;">Detalles de la cuenta</h5>
								<div id="div-bullhorn" class="text-right hidden" style="display: none;">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-emitter-account-list-content">
									<div class="row">
										<div class="col-sm-9 m-b-xs"></div>
										<div class="col-sm-3">
						                    <div class="input-group">
						                    	<input type="text" id="search-rfc" name="search-rfc" class="input-sm form-control" placeholder="por RFC..."> <!-- style="width: 300px;" --> 
						                    	<span class="input-group-btn">
						                        	<button id="btn-search" type="button" class="btn btn-sm btn-primary">
						                        		<i class="fa fa-search" aria-hidden="true"></i> 
														<span th:text="#{mega.cfdi.legend.search.button}"></span>
													</button>
						                        </span>
											</div>
						                </div>
									</div>
									
									<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
										<div id="panel-search-result-empty-message"></div>
									</div>
									
									<div id="div-account-custom-list" class="table-responsive hidden">
										<table class="table table-striped"><!-- table-hover -->
											<colgroup>
												<col span="5" width="20%">
											</colgroup>
											<thead>
												<tr>
													<th>
														<span th:text="#{mega.cfdi.text.rfc}">RFC</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.business.name}">Nombre o razón social</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.taxpayer.type}">Tipo contribuyente</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.tax.regime}">Régimen fiscal</span>
													</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="tbdoy-account-custom-list"></tbody>
										</table>
									</div>
									
									<!-- Paginado -->
									<div id="div-pagination-account-content" class="hidden">
										<div id="div-pagination-account" style="text-align: center;"></div>
									</div>
								</div>
								
								<form id="form-emitter-account" class="animated fadeInRight hidden" action="#" method="post" enctype="multipart/form-data" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-account-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.account.info}">Información fiscal</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-rfc" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-rfc" class="label-form" for="rfc" th:text="#{mega.cfdi.text.rfc} + ' (*):'">
															RFC (*):
														</label>
														<input type="text" id="rfc" name="rfc" class="form-control">
														<span id="span-rfc" class="field-validation-error-extended"></span>
													</div>
													<div id="div-name-business-name" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-name-business-name" class="label-form" for="name-business-name" th:text="#{mega.cfdi.text.business.name} + ' (*):'">
															Nombre o razón social (*):
														</label>
														<input type="text" id="name-business-name" name="name-business-name" class="form-control">
														<span id="span-name-business-name" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<div id="div-email" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-email" class="label-form" for="email" th:text="#{mega.cfdi.text.email} + ' (*):'">
															Correo electrónico:
														</label>
														<input type="text" id="email" name="email" class="form-control">
														<span id="span-email" class="field-validation-error-extended"></span>
													</div>
													<div id="div-phone" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-phone" class="label-form" for="phone" th:text="#{mega.cfdi.text.phone} + ' (*):'">
															Teléfono:
														</label>
														<input type="text" id="phone" name="phone" class="form-control">
														<span id="span-phone" class="field-validation-error-extended"></span>
													</div>
												</div>	
												<div id="div-sep-02"></div>
												<div class="form-group">
													<!-- Person type -->
													<div id="div-emitter-type" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-emitter-type" class="label-form" for="emitter-type" th:text="#{mega.cfdi.text.taxpayer.type} + ' (*):'">
															Tipo contribuyente:
														</label>
														<select id="emitter-type" name="emitter-type" class="form-control" >
															<option value="-">&laquo;Seleccione&raquo;</option>
															<option th:each="type : ${personTypeSource}" th:value="${type}" th:text="${type}">personType</option>
														</select>
														<input id="emitter-type-configured" name="emitter-type-configured" type="text" class="form-control hidden" readonly>
														<span id="span-emitter-type" class="field-validation-error-extended" ></span>
													</div>
													<!-- Tax regime -->
													<div id="div-tax-regime" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-tax-regime" class="label-form" for="tax-regime" th:text="#{mega.cfdi.text.tax.regime} + ' (*):'">
															Régimen fiscal:
														</label>
														<input type="text" id="tax-regime" name="tax-regime" class="form-control" >
														<span id="span-tax-regime" class="field-validation-error-extended"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="div-edit-info-cert" class="checkbox checkbox-primary checkbox-inline hidden" style="display: none;">
										<input type="checkbox" id="edit-info-cert" name="edit-info-cert">
										<label id="label-edit-info-cert" for="edit-info-cert" th:text="#{mega.cfdi.text.emitter.account.edit.cert.info}">Modificar información del certificado digital</label>
									</div>
									<div id="div-certificate-info-content" class="panel panel-default">
										<div id="div-emitter-certificate-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.digital.cert}">Certificado digital</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<!-- Certificate -->
													<div id="div-certificate" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-certificate" class="label-form" for="ceritificate" th:text="#{mega.cfdi.text.cert} + ' (*):'">
															Certificado (*):
														</label>
														<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
														    <div class="form-control" data-trigger="fileinput">
														        <i class="glyphicon glyphicon-file fileinput-exists"></i>
														    	<span class="fileinput-filename"></span>
														    </div>
														    <span class="input-group-addon btn btn-default btn-file">
														        <span class="fileinput-new" th:text="#{mega.cfdi.legend.select}">
														        	Seleccionar
														        </span>
														        <span class="fileinput-exists" th:text="#{mega.cfdi.legend.change}">
														        	Cambiar
														        </span>
														        <input type="file" id="certificate" name="certificate" />
														    </span>
														    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">
														    	<span th:text="#{mega.cfdi.legend.delete}">Eliminar</span>
														    </a>
														</div>
														<div id="div-span-certificate-error">
															<span id="span-certificate" class="field-validation-error-extended"></span>
														</div>
													</div>
													<div id="div-certificate-creation-date" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificate-creation-date" class="label-form" for="certificate-creation-date" th:text="#{mega.cfdi.text.cert.created.date} + ':'">
															Certificado digital creado desde:
														</label>
														<input id="certificate-creation-date" name="certificate-creation-date" type="text" class="form-control" readonly>
													</div>
													<!-- Private key -->
													<div id="div-private-key" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-private-key" class="label-form" for="private-key" th:text="#{mega.cfdi.text.private.key} + ' (*):'">
															Clave privada (*):
														</label>
														<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
														    <div class="form-control" data-trigger="fileinput">
														        <i class="glyphicon glyphicon-file fileinput-exists"></i>
														    	<span class="fileinput-filename"></span>
														    </div>
														    <span class="input-group-addon btn btn-default btn-file">
														        <span class="fileinput-new" th:text="#{mega.cfdi.legend.select}">
														        	Seleccionar
														        </span>
														        <span class="fileinput-exists" th:text="#{mega.cfdi.legend.change}">
														        	Cambiar
														        </span>
														        <input type="file" id="private-key" name="private-key"/>
														    </span>
														    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">
														    	<span th:text="#{mega.cfdi.legend.delete}">Eliminar</span>
														    </a>
														</div>
														<div id="div-span-private-key-error">
															<span id="span-private-key" class="field-validation-error-extended"></span>
														</div>
													</div>
													<div id="div-certificate-expiration-date" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificate-expiration-date" class="label-form" for="certificate-expiration-date" th:text="#{mega.cfdi.text.cert.expiration.date} + ':'">
															Certificado digital válido hasta:
														</label>
														<input id="certificate-expiration-date" name="certificate-expiration-date" type="text" class="form-control" readonly>
													</div>
												</div>
												<div id="div-sep-03"></div>
												<div class="form-group">
													<!-- Password -->
													<div id="div-passwd" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-passwd" class="label-form" for="passwd" th:text="#{mega.cfdi.text.cert.passwd} + ' (*):'">
															Contraseña del certificado:
														</label>
														<input type="password" id="passwd" name="passwd" class="form-control" >
														<span id="span-passwd" class="field-validation-error-extended"></span>
													</div>
													<!-- Certificate number -->
													<div id="div-certificate-number" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificate-number" class="label-form" for="certificate-number">
															Número de certificado:
														</label>
														<input type="text" id="certificate-number" name="certificate-number" class="form-control" readonly>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="emitter-account-button-content" class="form-group hidden" style="margin-top: 5px; display: none;">
								<div id="div-form-btn" class="button-form-right">
									<button id="emitter-account-button-add" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> 
										<span th:text="#{mega.cfdi.text.emitter.account.register}"></span>
									</button>
									<button id="emitter-account-button-edit" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.text.emitter.account.update}"></span>
									</button>
									<button id="emitter-account-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="emitter-account-button-back" class="btn btn-white">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.undo}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!-- Security Code Modal -->
			<div th:insert="~{modals/AccountSecurityCodeModal :: account-security-code-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				// Account :: List
				var accountSourceRequest = /*[[@{/emitterAccount}]]*/;
				
				// Account :: Add/Edit/Remove account
				var associatedAccountRequest = /*[[@{/associatedAccount}]]*/;
				
				// Emitter :: Tax regime
				var taxRegimeSource = [];
				var taxRegimeRequest = /*[[@{/taxRegimeSourceRequest}]]*/;
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				// Generating credential
				var generatingCredentialRequest = /*[[@{/userByAssociatedAccount}]]*/;
				
				var page = null;
				
				var formFields = ['rfc', 'name-business-name', 'email', 'phone', 'emitter-type', 'tax-regime'];
				var formAccountFields = ['rfc', 'name-business-name', 'email', 'phone', 'emitter-type', 'tax-regime'];
				var formCertificateFields = ['certificate', 'private-key', 'passwd'];
				
				var separator1Data = ['rfc', 'name-business-name'];
				var separator1Value = 'div-sep-01';
				
				var separator2Data = ['email', 'phone'];
				var separator2Value = 'div-sep-02';
				
				var separator3Data = ['certificate', 'private-key'];
				var separator3Value = 'div-sep-03';
				
				$(document).ready(function(){
					
					//elementClassRemove('application-page-content', 'animated fadeInRight');
					
					appValidationSetRequiredMessage(requiredMessage);
					
					// ***** Confirmation load *****
					mapLoad();
					
					// Cargando regimen fiscal para autocomplete 
					taxRegimeLoadSource();
					
					$('#rfc').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#name-business-name').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#email').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#phone').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// Autocomplete de regimen fiscal
					$('#tax-regime').typeahead({
			            source: taxRegimeSource
			        });
					
					// Regimen fiscal 
					$('#tax-regime').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#certificate').change(function(){			
						elementFieldClassReset(this.id);
						separatorHide(separator2Data, separator2Value);
						elementClassRemove('div-span-certificate-error', 'div-file-input-span-has-error');
					});
					
					$('#private-key').change(function(){			
						elementFieldClassReset(this.id);
						separatorHide(separator2Data, separator2Value);
						elementClassRemove('div-span-private-key-error', 'div-file-input-span-has-error');
					});
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-search').click(function(){
						search();
					});
					
					$('#security-code').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#emitter-account-config').click(function(){
						accountLoadAdd();
					});
					
					$('#emitter-account-security-code').click(function(){
						accountSecurityCodeFieldReady();
					});
					
					$('#btn-account-security-code-modal').click(function(){
						accountSecurityCode();
					});
					
					$('#emitter-account-edit').click(function(){
						accountUpdate();
					});					
					
					$('#emitter-account-trash').click(function(){
						if(accountIdEdit != null){
							accountLoadRemove(accountIdEdit);
						}
					});
					
					$('#emitter-account-button-add').click(function(){
						accountOperation = 'config';
						account();
					});
					
					$('#emitter-account-button-edit').click(function(){
						accountOperation = 'edit';
						account();
					});
					
					$('#emitter-account-button-cancel').click(function(){
						accountCancel();
					});
					
					$('#emitter-account-button-back').click(function(){
						accountCancel();
					});
					
					$('#edit-info-cert').click(function(){
						if(isElementChecked(this.id)){
							elementFieldReady('certificate');
							elementFieldReady('private-key');
							elementFieldReady('passwd');
							hiddenClassRemove('div-certificate-info-content');
							elementShow('div-certificate-info-content');
						}else{
							hiddenClass('div-certificate-info-content');
							elementHide('div-certificate-info-content');
						}
					});
					
					// ***** Listado de cuentas *****
					accountLoad();
					
				});
				
				function mapLoad(){
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if(jQuery.parseJSON(data) != null){
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        	console.log("[INFO] Map Confirmation loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			        	console.log("[ERROR] Map Confirmation error!");
			        });
				}
				
				function getMapValue(key){
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if(obj.key == key){
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				function taxRegimeLoadSource(){
			        $.ajax({
			            url: taxRegimeRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		taxRegimeSource[taxRegimeSource.length] = item;	
						}
			        	console.log("[INFO] Tax Regime loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			        	console.log("[ERROR] Tax Regime error!");
			        });
				};
				
				var accounts = [];
				var action = 'load';
				var isConsignee = false;
				
				function accountLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')){
						if(action == 'load'){
							processing(loadingRequest);	
						}
					}
					
					accounts = [];
					isConsignee = false;
					
					$.ajax({
						url: accountSourceRequest,
				       	type: 'POST',
				       	data: {
				       		searchRfc: encodeValue(getElementValue('search-rfc')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.accounts;
								var accountPagination = objJson.pagination;
								var paginator = accountPagination.paginator;
								var paginatorPage = accountPagination.page;
								page = paginatorPage.number;
								
								isConsignee = objJson.isConsignee;
								
								if(response.success){
									processingEnd();
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = item.id;
											obj.rfc = decodeValue(item.rfc);
											obj.nameOrBussinesName = decodeValue(item.nameOrBussinesName);
											obj.personType = decodeValue(item.taxpayerType);
											obj.taxRegime = item.taxRegime != null ? decodeValue(item.taxRegime) : '';
											obj.active = item.active;
											obj.accountWithUser = item.accountWithUser;
											obj.userBySystemCreated = item.userBySystemCreated;
											accounts[accounts.length] = obj;
										}
										accountCustomList();
										pagination('pagination-account', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-account-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Account Load error!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
					
					hiddenClassRemove('emitter-account-security-code');
					elementShow('emitter-account-security-code');
				}
				
				function accountCustomList(){
					$("#tbdoy-account-custom-list").html("");
					if(accounts.length >= 1){
						for(var i = 0; i < accounts.length; i ++){
							var id = accounts[i].id;
							var rfc = accounts[i].rfc;
							var nameOrBussinesName = accounts[i].nameOrBussinesName;
							var personType = accounts[i].personType;
							var taxRegime = accounts[i].taxRegime;
							var active = accounts[i].active;
							var accountWithUser = accounts[i].accountWithUser;
							var userBySystemCreated = accounts[i].userBySystemCreated;
							
							var trStyle = active ? 'style="color: red;"' : '';
							var tdId = "account-custom-list-td-" + i;
							
							$("#tbdoy-account-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+rfc+'</td> ' +
									'<td>'+nameOrBussinesName+'</td> ' +
									'<td>'+personType+'</td> ' +
									'<td>'+taxRegime+'</td> ' +
									'<td id="'+tdId+'" style="text-align: right;"></td> ' +
								'</tr>'
							);
							
							if(!accountWithUser){
								if(isConsignee){
									$("#" + tdId).append(
										'<div> ' +
											'<i class="fa fa-key fa-lg" aria-hidden="true" onclick=accountLoadGenerateUser("'+id+'")></i> ' +	
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=accountLoadEdit("'+id+'") style="margin-left: 4px;"></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=accountLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div>'								
									);	
								}else{
									$("#" + tdId).append(
										'<div> ' +												
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=accountLoadEdit("'+id+'") style="margin-left: 4px;"></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=accountLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div>'								
									);
								}
							}else{
								$("#" + tdId).append(
									'<div> ' +
										'<i class="fa fa-user-secret fa-lg" aria-hidden="true"></i> ' +
										'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=accountLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
									'</div>'								
								);
							}
							
							
						}
						hiddenClassRemove('div-account-custom-list');
					}else{
						hiddenClass('div-account-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-account-custom-list").html("");
					hiddenClass('div-account-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					accounts = [];
					accountLoad();
				}
				
				function search(){
					page = null;
					accounts = [];
					accountLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-account').html("");
					hiddenClass('div-pagination-account-content');
				}
				
				//##### Adicionar cuenta por codigo de seguridad
				function accountSecurityCodeFieldReady(){
					elementFieldReady('security-code');
					
					$("#account-security-code-modal").modal();
				}
				
				function accountSecurityCode(){
					var bValid = true;
					
					elementFieldClassReset('security-code');
					
					bValid = bValid && fieldsCheck('security-code');
					
					if(!bValid){
						return false;
					}else{
						processing(processingRequest);
						$("#account-security-code-modal").modal('hide');
						
						$.ajax({
							url: associatedAccountRequest + '?securityCode',
							type: 'POST',
							data: {
								accountSecurityCode: encodeValue(getElementValue('security-code'))
							},							
							success:  function(data) {
								if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
																		
										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
										
										page = null;
										processingTextChange(updatingRequest);
										setTimeout('accountLoad()', 500);
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);
												
												separatorShow(separator1Data, separator1Value);
												separatorShow(separator2Data, separator2Value);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log("ERROR! " + thrownError);
							}
						});
					}
				}
				
				// Adicionar/Editar cuenta ===================================================================
				var accountIdEdit = null;
				var objEmitter = null;
				var accountOperation = null;
					
				function accountFormReady(){
					formFieldsClear(formFields);
					formFieldsClear(formCertificateFields);
					accountFormEnabled();
				}
				
				function accountFieldReady(){
					formFieldsChangeReady(formFields);
					formFieldsChangeReady(formCertificateFields);
					accountFormEnabled();
				}
				
				function accountFormEnabled(){
					formFieldsEnabled(formFields);
					formFieldsEnabled(formCertificateFields);
					
					hiddenClassRemove('emitter-type');
					hiddenClass('emitter-type-configured');
					
					hiddenClassRemove('div-certificate');
					hiddenClass('div-certificate-creation-date');
					
					hiddenClassRemove('div-private-key');
					hiddenClass('div-certificate-expiration-date');
					
					hiddenClassRemove('div-passwd');
					hiddenClass('div-certificate-number');
				}
								
				function accountFormDisabled(){
					formFieldsDisabled(formFields);
					formFieldsDisabled(formCertificateFields);
					
					hiddenClass('emitter-type');
					hiddenClassRemove('emitter-type-configured');
					
					hiddenClass('div-certificate');
					hiddenClassRemove('div-certificate-creation-date');
					
					hiddenClass('div-private-key');
					hiddenClassRemove('div-certificate-expiration-date');
					
					hiddenClass('div-passwd');
					hiddenClassRemove('div-certificate-number');
					
					hiddenClassRemove('h5-details-title');
					elementShow('h5-details-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
					
					hiddenClass('emitter-account-security-code');
					elementHide('emitter-account-security-code');
					
					hiddenClassRemove('emitter-account-edit');
					elementShow('emitter-account-edit');
					
					hiddenClassRemove('emitter-account-trash');
					elementShow('emitter-account-trash');
					
					hiddenClassRemove('emitter-account-button-back');
					elementShow('emitter-account-button-back');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
					
					hiddenClassRemove('div-certificate-info-content');
					elementShow('div-certificate-info-content');
					
					hiddenClass('div-edit-info-cert');
					elementHide('div-edit-info-cert');
					elementUnchecked('edit-info-cert');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('emitter-account-button-add');
					elementHide('emitter-account-button-add');
					
					hiddenClass('emitter-account-button-edit');
					elementHide('emitter-account-button-edit');
					
					hiddenClass('emitter-account-button-cancel');
					elementHide('emitter-account-button-cancel');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
				}
				
				function accountLoadAdd(){
					action = 'add';
					accountIdEdit = null;
					processing(loadingRequest);	
					setTimeout('accountAdd()', 500);
				}
				
				function accountAdd(){
					processingEnd();
					
					accountFormReady();
					
					elementClassAdd('div-emitter-account-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-account-list-content');
					elementHide('div-emitter-account-list-content');
					
					elementFieldReady('search-rfc');
					elementPlaceholder('search-rfc', 'por RFC...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('emitter-account-config');
					elementHide('emitter-account-config');
					
					hiddenClass('emitter-account-security-code');
					elementHide('emitter-account-security-code');
					
					hiddenClass('emitter-account-edit');
					elementHide('emitter-account-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-account-button-edit');
					elementHide('emitter-account-button-edit');
					
					hiddenClass('emitter-account-button-back');
					elementHide('emitter-account-button-back');
					
					hiddenClass('emitter-account-trash');
					elementHide('emitter-account-trash');
					
					hiddenClass('div-edit-info-cert');
					elementHide('div-edit-info-cert');
					
					hiddenClassRemove('div-certificate-info-content');
					elementShow('div-certificate-info-content');
					
					hiddenClassRemove('h5-config-title');
					elementShow('h5-config-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-account');
					elementShow('form-emitter-account');
					
					hiddenClassRemove('emitter-account-button-content');
					elementShow('emitter-account-button-content');
					
					hiddenClassRemove('emitter-account-button-add');
					elementShow('emitter-account-button-add');
					
					hiddenClassRemove('emitter-account-button-cancel');
					elementShow('emitter-account-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				function account(){
					var bValid = true;
					var certificateEdit = false;
					
					accountFieldReady();

					if(accountOperation == 'config'){
						bValid = bValid && fieldsCheck(formFields);
						if(bValid){
							if(isElementHasValue('certificate') || isElementHasValue('private-key') || isElementHasValue('passwd')){
								bValid = bValid && fieldsCheck(formCertificateFields);			
							}
						}
					}else if(accountOperation == 'edit'){
						bValid = bValid && fieldsCheck(formAccountFields);
						if(isElementChecked('edit-info-cert')){
							certificateEdit = true;
							bValid = bValid && fieldsCheck(formCertificateFields);
						}
					}
					
					if(bValid){
						if(!w2utils.isEmail(getElementValue('email'))){
							elementTagError('email', invalidValue, 'bottom');
							bValid = false;
						}
					}
					
					if(bValid){
						if(!w2utils.isInt(getElementValue('phone'))){
							elementTagError('phone', invalidValue, 'bottom');
							bValid = false;
						}
					}
					
					if(!bValid){
						separatorShow(separator1Data, separator1Value);
						separatorShow(separator2Data, separator2Value);
						separatorShow(separator3Data, separator3Value);
						
						if(isElementHasClass('certificate', 'has-error') || isElementHasClass('privateKey', 'has-error')){
							elementClassAdd('div-span-certificate-error', 'div-file-input-span-has-error');
						}
						return false;						
					}else{
						processing(processingRequest);
						
						objEmitter = new Object();
						objEmitter.index = accountIdEdit;
						objEmitter.rfc = encodeValue(getElementValue('rfc'));
						objEmitter.nameOrBusinessName = encodeValue(getElementValue('name-business-name'));
						objEmitter.email = encodeValue(getElementValue('email'));
						objEmitter.phone = encodeValue(getElementValue('phone'));
						objEmitter.taxRegime = encodeValue(getElementValue('tax-regime'));
						objEmitter.personType = encodeValue(getElementValue('emitter-type'));
						objEmitter.passwd = encodeValue(getElementValue('passwd'));
						objEmitter = JSON.stringify(objEmitter);
						
						// Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
						
						formData.append('objEmitter', objEmitter);
						formData.append('operation', encodeValue(accountOperation));
						formData.append('certificateEdit', certificateEdit);
						
						//if(accountOperation == 'config' || (accountOperation == 'edit' && certificateEdit)){
						if(isElementHasValue('certificate') && isElementHasValue('private-key') && isElementHasValue('passwd')){
							formData.append('certificate', $('#certificate')[0].files[0]);
							formData.append('privateKey', $('#private-key')[0].files[0]);	
						}
						
						$.ajax({
							url: associatedAccountRequest,
							type: 'POST',
							data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
							success:  function(data) {
								if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										
										elementValueChange('rfc', decodeValue(objJson.rfc));
										elementValueChange('name-business-name', decodeValue(objJson.nameOrBusinessName));
										elementValueChange('email', decodeValue(objJson.email));
										elementValueChange('emitter-type-configured', decodeValue(objJson.personType));
										elementValueChange('certificate-creation-date', decodeValue(objJson.certifaicateCreationDate));
										elementValueChange('certificate-expiration-date', decodeValue(objJson.certificateValidDate));
										elementValueChange('certificate-number', decodeValue(objJson.certificateNumber));
										
										accountIdEdit = objJson.index;
										
										accountInfoDisplayed();										
										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
										
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);
												
												separatorShow(separator1Data, separator1Value);
												separatorShow(separator2Data, separator2Value);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log("ERROR! " + thrownError);
							}
						});
					}
				}
				
				function accountInfoDisplayed(){
					accountFormDisabled();
				}
				
				function accountUpdate(){
					if(accountIdEdit != null){
						accountLoadEdit(accountIdEdit);	
					}					
				}
				
				function accountLoadEdit(pId){
					if(pId != null){
						accountIdEdit = pId;
						action = 'edit';
						objEmitter = new Object();
						
						processing(loadingRequest);
						
						$.ajax({
							url: associatedAccountRequest + '?accountDataLoad',
							type: "POST",
							data: {id: accountIdEdit},
						}).done(function (data) {								        	
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									
									objEmitter.rfc = decodeValue(objJson.rfc);
									objEmitter.nameOrBusinessName = decodeValue(objJson.nameOrBusinessName);
									objEmitter.email = decodeValue(objJson.email);
									objEmitter.personType = decodeValue(objJson.personType);
									objEmitter.taxRegime = objJson.taxRegime != null ? decodeValue(objJson.taxRegime) : '';
									objEmitter.phone = decodeValue(objJson.phone);
									
									setTimeout('accountLoaded()', 500);
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}					
						}).fail(function (xhr, ajaxOptions, thrownError) {
							console.log("ERROR");
						});
					}
				}
				
				function accountLoaded(){
					processingEnd();
					
					accountFieldReady();
					
					elementValueChange('rfc', objEmitter.rfc);
					elementValueChange('tax-regime', objEmitter.taxRegime);
					elementValueChange('emitter-type', objEmitter.personType);
					elementValueChange('email', objEmitter.email);
					elementValueChange('name-business-name', objEmitter.nameOrBusinessName);
					elementValueChange('phone', objEmitter.phone);
					
					elementClassAdd('div-emitter-account-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-account-list-content');
					elementHide('div-emitter-account-list-content');
					
					elementFieldReady('search-rfc');
					elementPlaceholder('search-rfc', 'por RFC...');
					
					hiddenClassRemove('div-edit-info-cert');
					elementShow('div-edit-info-cert');
					elementUnchecked('edit-info-cert');
					hiddenClass('div-certificate-info-content');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-account-edit');
					elementHide('emitter-account-edit');
					
					hiddenClass('emitter-account-button-add');
					elementHide('emitter-account-button-add');

					hiddenClass('emitter-account-button-back');
					elementHide('emitter-account-button-back');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
					
					hiddenClass('emitter-account-security-code');
					elementHide('emitter-account-security-code');
					
					hiddenClassRemove('emitter-account-trash');
					elementShow('emitter-account-trash');
					
					hiddenClassRemove('h5-edit-title');
					elementShow('h5-edit-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-account');
					elementShow('form-emitter-account');
					
					hiddenClassRemove('emitter-account-button-content');
					elementShow('emitter-account-button-content');
					
					hiddenClassRemove('emitter-account-button-edit');
					elementShow('emitter-account-button-edit');
					
					hiddenClassRemove('emitter-account-button-cancel');
					elementShow('emitter-account-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				//##### Generar credenciales
				var accountId = null;
				function accountLoadGenerateUser(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', 'Se generarán credenciales de acceso para la cuenta asociada seleccionada. ¿Desea continuar?');
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'accountGenerateUser()');
						
						accountId = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function accountGenerateUser(){
					if(accountId != null){
						action = 'generating-credential';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('generatingCredential()', 500);
					}
				}
				
				function generatingCredential(){
				
					objAccount = new Object();
					objAccount.id = accountId;
					objAccount = JSON.stringify(objAccount);
					
					//##### Cargando la informacion en el FormData
					var formData = new FormData(jQuery('form')[0]);
					
					formData.append('objAccount', objAccount);
					
					$.ajax({
						url: generatingCredentialRequest,
						type: 'POST',
						data: formData,
						cache: false,
						contentType: false,
						processData: false,
						success:  function(data) {
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									processingEnd();					
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];
																							
									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									
									credentialGenerated();
									
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}else if(response.unexpectedError){
									var notification = response.notification;
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							console.log("ERROR! " + thrownError);
						}
					});
				}
				
				function credentialGenerated(){
					processingTextChange(updatingRequest);
					
					hiddenClass('emitter-account-trash');
					elementHide('emitter-account-trash');
					
					hiddenClass('emitter-account-edit');
					elementHide('emitter-account-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-account');
					elementHide('form-emitter-account');
					
					hiddenClass('emitter-account-button-content');
					elementHide('emitter-account-button-content');
					
					hiddenClass('emitter-account-button-edit');
					elementHide('emitter-account-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					page = encodeValue(page);
					setTimeout('accountLoad()', 500);
				}
				
				//##### Eliminar cuenta
				var accountIdTrash = null;
				function accountLoadRemove(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', getMapValue('account'));
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'accountRemove()');
						
						accountIdTrash = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function accountRemove(){
					if(accountIdTrash != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('accountRemoving()', 500);
					}
				}
				
				function accountRemoving(){
					$.ajax({
						url: associatedAccountRequest + '?accountRemove',
						type: "POST",
						data: {id: accountIdTrash},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								accountRemoved();
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
					}).fail(function (xhr, ajaxOptions, thrownError) {
						console.log("ERROR");
					});
				}
				
				function accountRemoved(){
					processingTextChange(updatingRequest);
					
					hiddenClass('emitter-account-trash');
					elementHide('emitter-account-trash');
					
					hiddenClass('emitter-account-edit');
					elementHide('emitter-account-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-account');
					elementHide('form-emitter-account');
					
					hiddenClass('emitter-account-button-content');
					elementHide('emitter-account-button-content');
					
					hiddenClass('emitter-account-button-edit');
					elementHide('emitter-account-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					/*hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');*/
					
					page = encodeValue(page);
					setTimeout('accountLoad()', 500);
				}
				
				// Cancelar
				function accountCancel(){
					action = 'load';
					page = null;
					
					hiddenClass('emitter-account-edit');
					elementHide('emitter-account-edit');
					
					hiddenClass('emitter-account-trash');
					elementHide('emitter-account-trash');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-account');
					elementHide('form-emitter-account');
					
					hiddenClass('emitter-account-button-content');
					elementHide('emitter-account-button-content');
					
					hiddenClass('emitter-account-button-edit');
					elementHide('emitter-account-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
					
					hiddenClassRemove('emitter-account-security-code');
					elementShow('emitter-account-security-code');
					
					accountLoad();
				}
				
			</script>
			
		</div>
	</body>
</html>