<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Conceptos</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa-cubes" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.emitter.concept}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="emitter-concept-upload" class="btn btn-success">
							<i class="fa fa-upload" aria-hidden="true"></i>
							<span>Subir archivo</span>
						</a>
						<a id="emitter-concept-config" class="btn btn-white">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>							
							<span id="label-emitter-concept-config" th:text="#{mega.cfdi.text.emitter.concept.add}"></span>
						</a>
						<a id="emitter-concept-edit" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>							
							<span id="label-emitter-concept-config" th:text="#{mega.cfdi.text.emitter.concept.edit}"></span>
						</a>						
						<a id="emitter-concept-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.concept.trash}"></span>
						</a>						
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div id="div-bullhorn" class="text-right hidden" style="display: none;">
								<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
								<span th:text="#{mega.cfdi.legend.required.fields}"></span>
							</div>
							<!-- <div class="ibox-title">-->
							<!-- 
							<ul class="nav nav-tabs">
							  <li role="presentation" id="h5-config-title" class="active"><a href="#">home</a></li>
							  <li role="presentation" id="h5-config-title"><a href="#">Profile</a></li>
							  <li role="presentation" id="h5-details-title"><a href="#">Messages</a></li>
							</ul>
							-->
								<ul id="nav-menu" class="nav nav-tabs hidden">
								  <li role="presentation" id="h5-config-title"  class="active" ><a href="#">Adicionar Concepto</a></li>
								  <li role="presentation" id="h5-edit-title"  class="hidden"><a href="#">Modificar concepto</a></li>
								  <li role="presentation" id="h5-details-title"  class="hidden"  ><a href="#">Detalles del concepto</a></li>
								  <li role="presentation" id="h5-taxes-title" class="hidden" ><a href="#">Impuestos</a></li>
								</ul>
							
							
								<h5 id="h5-list-title" th:text="#{mega.cfdi.text.emitter.concept.list}">Listado de conceptos</h5>
								<!-- <h5 id="h5-config-title" th:text="#{mega.cfdi.text.emitter.concept.add}" class="hidden" style="display: none;">Adicionar concepto</h5>
								<h5 id="h5-edit-title" th:text="#{mega.cfdi.text.emitter.concept.edit}" class="hidden" style="display: none;">Modificar concepto</h5>
								<h5 id="h5-details-title" th:text="#{mega.cfdi.text.emitter.concept.details}" class="hidden" style="display: none;">Detalles del concepto</h5>
								
								<h5 id="h5-taxes-title" th:text="#{mega.cfdi.text.emitter.concept.taxes}" class="hidden" style="display: none;">Impuestos</h5>
									-->					
								
							<!-- </div>-->
							
							<div class="ibox-content">
								<div id="div-emitter-concept-list-content">
									<div class="row">
										<div class="col-sm-9 m-b-xs"></div>
										<div class="col-sm-3">
						                    <div class="input-group">
						                    	<input type="text" id="search-description" name="search-description" class="input-sm form-control" placeholder="por descripción..."> <!-- style="width: 300px;" --> 
						                    	<span class="input-group-btn">
						                        	<button id="btn-search" type="button"  class="btn btn-sm btn-primary">
						                        		<i class="fa fa-search" aria-hidden="true"></i> 
														<span th:text="#{mega.cfdi.legend.search.button}"></span>
													</button>
						                        </span>
											</div>
						                </div>
									</div>
									
									<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
										<div id="panel-search-result-empty-message"></div>
									</div>
									
									<div id="div-emitter-concept-custom-list" class="table-responsive hidden">
										<table class="table table-striped"><!-- table-hover -->
											<colgroup>
												<col span="3" width="22%">
												<col span="2" width="12%">
											</colgroup>
											<thead>
												<tr>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.concept.description}">Descripción</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.concept.key.product}">Producto servicio</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.concept.measurement.unit}">Unidad medida</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.concept.unit.value}">Valor unitario</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.concept.discount} + ' (%)'">Descuento (%)</span>
													</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="tbdoy-emitter-concept-custom-list"></tbody>
										</table>
									</div>
									
									<!-- Paginado -->
									<div id="div-pagination-emitter-concept-content" class="hidden">
										<div id="div-pagination-emitter-concept" style="text-align: center;"></div>
									</div>
								</div>
								
								<form id="form-emitter-concept" class="animated fadeInRight hidden" action="#" th:action="@{/emmitterConcept}" method="post" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-concept-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.concept.info}">Información del concepto</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-description" class="col-xs-12 div-form-input-bottom">
														<label id="label-description" class="label-form" for="description" th:text="#{mega.cfdi.text.emitter.concept.description} + ' (*):'">Descripción (*)</label>
														<input type="text" id="description" name="description" class="form-control">
														<span id="span-description" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<div id="div-measurement-unit" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-measurement-unit" class="label-form" for="measurement-unit" th:text="#{mega.cfdi.text.emitter.concept.measurement.unit} + ' (*):'">
															Unidad medida (*)
														</label>
														<input type="text" id="measurement-unit" name="measurement-unit" class="form-control">
														<span id="span-measurement-unit" class="field-validation-error-extended"></span>
													</div>
													<div id="div-key-product-service" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-key-product-service" class="label-form" for="key-product-service" th:text="#{mega.cfdi.text.emitter.concept.key.product} + ' (*):'">
															Clave producto (*)
														</label>
														<input type="text" id="key-product-service" name="key-product-service" class="form-control">
														<span id="span-key-product-service" class="field-validation-error-extended"></span>
													</div>
												</div>	
												<div id="div-sep-02"></div>
												<div class="form-group">
													<div id="div-identification-number" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-identification-number" class="label-form" for="identification-number" th:text="#{mega.cfdi.text.emitter.concept.identification.number} + ':'">
															Número identificación
														</label>
														<input type="text" id="identification-number" name="identification-number" class="form-control">
														<span id="span-identification-number" class="field-validation-error-extended"></span>
													</div>
													<div id="div-unit" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-unit" class="label-form" for="unit" th:text="#{mega.cfdi.text.emitter.concept.unit} + ':'">
															Unidad
														</label>
														<input type="text" id="unit" name="unit" class="form-control">
														<span id="span-unit" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div class="form-group">
													<div id="div-unit-value" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-unit-value" class="label-form" for="unit-value" th:text="#{mega.cfdi.text.emitter.concept.unit.value} + ' (*):'">
															Valor unitario (*)
														</label>
														<input type="text" id="unit-value" name="unit-value" class="form-control">
														<span id="span-unit-value" class="field-validation-error-extended"></span>
													</div>
													<div id="div-discount" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-discount" class="label-form" for="discount" th:text="#{mega.cfdi.text.emitter.concept.discount} + ' (%):'">
															Descuento (%)
														</label>
														<input type="text" id="discount" name="discount" class="form-control">
														<span id="span-discount" class="field-validation-error-extended"></span>
													</div>
												</div>												
											</div>
										</div>
									</div>
									<div id="div-thumb-tack" class="text-left hidden" style="display: none;">
										<i class="fa fa-info-circle" aria-hidden="true"></i>										
										<span th:text="${currencyDefault.valor}"></span>
									</div>
								</form>
								<form id="form-emitter-taxes" class="animated fadeInRight hidden" action="#" th:action="@{/emmitterConcept}" method="post" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-concept-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.concept.info}">Información del concepto</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-description" class="col-xs-12 div-form-input-bottom">
														<label id="label-description" class="label-form" for="description" th:text="#{mega.cfdi.text.emitter.concept.description} + ' (*):'">Descripción (*)</label>
														<input type="text" id="description" name="description" class="form-control">
														<span id="span-description" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<div id="div-measurement-unit" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-measurement-unit" class="label-form" for="measurement-unit" th:text="#{mega.cfdi.text.emitter.concept.measurement.unit} + ' (*):'">
															Unidad medida (*)
														</label>
														<input type="text" id="measurement-unit" name="measurement-unit" class="form-control">
														<span id="span-measurement-unit" class="field-validation-error-extended"></span>
													</div>
													<div id="div-key-product-service" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-key-product-service" class="label-form" for="key-product-service" th:text="#{mega.cfdi.text.emitter.concept.key.product} + ' (*):'">
															Clave producto (*)
														</label>
														<input type="text" id="key-product-service" name="key-product-service" class="form-control">
														<span id="span-key-product-service" class="field-validation-error-extended"></span>
													</div>
												</div>	
												<div id="div-sep-02"></div>
												<div class="form-group">
													<div id="div-identification-number" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-identification-number" class="label-form" for="identification-number" th:text="#{mega.cfdi.text.emitter.concept.identification.number} + ':'">
															Número identificación
														</label>
														<input type="text" id="identification-number" name="identification-number" class="form-control">
														<span id="span-identification-number" class="field-validation-error-extended"></span>
													</div>
													<div id="div-unit" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-unit" class="label-form" for="unit" th:text="#{mega.cfdi.text.emitter.concept.unit} + ':'">
															Unidad
														</label>
														<input type="text" id="unit" name="unit" class="form-control">
														<span id="span-unit" class="field-validation-error-extended"></span>
													</div>
												</div>
																								
											</div>
										</div>
									</div>
									<div id="div-thumb-tack" class="text-left hidden" style="display: none;">
										<i class="fa fa-info-circle" aria-hidden="true"></i>										
										<span th:text="${currencyDefault.valor}"></span>
									</div>
								</form>
							</div>
							<div id="emitter-concept-button-content" class="form-group hidden" style="margin-top: 5px; display: none;">
								<div id="div-form-btn" class="button-form-right">
									<button id="emitter-concept-button-add" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> 
										<span th:text="#{mega.cfdi.text.emitter.concept.register}"></span>
									</button>
									<button id="emitter-concept-button-edit" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.text.emitter.concept.update}"></span>
									</button>
									<button id="emitter-concept-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="emitter-concept-button-back" class="btn btn-white">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.undo}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Concept File Upload modal-->											
			<div th:insert="~{modals/ConceptFileUploadModal :: concept-file-upload-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				// Concept :: Add/Edit/Remove concept
				var emitterConceptRequest = /*[[@{/emitterConcept}]]*/;
				
				// Concept :: Key product service
				var keyProductServiceSource = [];
				var keyProductServiceRequest = /*[[@{/keyProductServiceSourceRequest}]]*/;
				
				// Concept :: Measurement unit
				var measurementUnitSource = [];
				var measurementUnitRequest = /*[[@{/measurementUnitSourceRequest}]]*/;
				
				var formFields = ['description', 'measurement-unit', 'key-product-service', 'unit-value'];
				
				var separator1Data = ['description'];
				var separator1Value = 'div-sep-01';
				
				var separator2Data = ['measurement-unit', 'key-product-service'];
				var separator2Value = 'div-sep-02';
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				var page = null;
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					// ***** Confirmation load *****
					mapLoad();
					
					// ***** Concept :: Autoload *****
					keyProductServiceLoad();
					measurementUnitLoad();
					
					// ***** Concept :: Description *****
					$('#description').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Concept :: Measurement unit *****
					$('#measurement-unit').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					}).typeahead({
			            source: measurementUnitSource
			        });
					
					// ***** Concept :: Key product service *****
					$('#key-product-service').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					}).typeahead({
			            source: keyProductServiceSource
			        });
					
					// ***** Concept :: Unit value *****
					$('#unit-value').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Concept :: Discount *****
					$('#discount').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-search').click(function(){
						search();
					});
															
					$('#emitter-concept-config').click(function(){
						emitterConceptLoadAdd();
					});
					
					$('#emitter-concept-edit').click(function(){
						emitterConceptUpdate();
					});					
					
					$('#emitter-concept-trash').click(function(){
						if(emitterConceptIdEdit != null){
							emitterConceptLoadRemove(emitterConceptIdEdit);
						}
					});
					
					$('#emitter-concept-button-add').click(function(){
						conceptOperation = 'config';
						emitterConcept();
					});
					
					$('#emitter-concept-button-edit').click(function(){
						conceptOperation = 'edit';
						emitterConcept();
					});
					
					$('#emitter-concept-button-cancel').click(function(){
						emitterConceptCancel();
					});
					
					$('#emitter-concept-button-back').click(function(){
						emitterConceptCancel();
					});
					
					// ***** Listado de conceptos *****
					emitterConceptLoad();
					
					//##### Load concept upload file modal
					$('#emitter-concept-upload').click(function(){
						conceptUploadClear();
						$("#concept-file-upload-modal").modal();
					});
					
					//##### Invoice upload btn
					$('#concept-file-modal-btn').click(function(){
						conceptFileUpload();
					});
					
					//Agregar modificar title
					$('#h5-config-title').click(function(){
						elementHide('form-emitter-taxes');
						hiddenClassRemove('form-emitter-concept');
						elementShow('form-emitter-concept');		
						$('#h5-taxes-title').removeClass('active');
						$('#h5-config-title').addClass('active');
					});
					
					//Impuestos title
					$('#h5-taxes-title').click(function(){
						elementHide('form-emitter-concept');
						hiddenClassRemove('form-emitter-taxes');
						elementShow('form-emitter-taxes');
						$('#h5-config-title').removeClass('active');
						$('#h5-taxes-title').addClass('active');
					});
					
				});
				
				function mapLoad(){
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if(jQuery.parseJSON(data) != null){
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        	console.log("[INFO] Map Confirmation loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function getMapValue(key){
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if(obj.key == key){
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				function keyProductServiceLoad(){
			        $.ajax({
			            url: keyProductServiceRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		keyProductServiceSource[keyProductServiceSource.length] = item;	
						}
			        	console.log("[INFO] Key Product Service loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				};
				
				function measurementUnitLoad(){
			        $.ajax({
			            url: measurementUnitRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		measurementUnitSource[measurementUnitSource.length] = item;	
						}
			        	console.log("[INFO] Measurement Unit loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				};
				
				var emitterConcepts = [];
				var action = 'load';
				
				function emitterConceptLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')){
						if(action == 'load'){
							processing(loadingRequest);	
						}
					}
					
					emitterConcepts = [];
					
					$.ajax({
						url: emitterConceptRequest,
				       	type: 'POST',
				       	data: {
				       		searchDescription: encodeValue(getElementValue('search-description')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.concepts;
								var emitterConceptPagination = objJson.pagination;
								var paginator = emitterConceptPagination.paginator;
								var paginatorPage = emitterConceptPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									processingEnd();
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = item.id;
											obj.description = decodeValue(item.description);
											obj.measurementUnit = decodeValue(item.measurementUnit);
											obj.keyProductService = decodeValue(item.keyProductService);											
											obj.unitValue = decodeValue(item.unitValue);
											obj.discount = item.discount != null ? decodeValue(item.discount) : '';
											emitterConcepts[emitterConcepts.length] = obj;
										}
										emitterConceptCustomList();
										pagination('pagination-emitter-concept', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-emitter-concept-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}									
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Concept by catalog error!");
				        }
					});
				}
				
				function emitterConceptCustomList(){
					$("#tbdoy-emitter-concept-custom-list").html("");
					if(emitterConcepts.length >= 1){
						for(var i = 0; i < emitterConcepts.length; i ++){
							var id = emitterConcepts[i].id;
							var description = emitterConcepts[i].description;
							var measurementUnit = emitterConcepts[i].measurementUnit;
							var keyProductService = emitterConcepts[i].keyProductService;
							var unitValue = emitterConcepts[i].unitValue;
							var discount = emitterConcepts[i].discount;
							$("#tbdoy-emitter-concept-custom-list").append(
								'<tr>' +
									'<td>'+description+'</td> ' +
									'<td>'+keyProductService+'</td> ' +
									'<td>'+measurementUnit+'</td> ' +									
									'<td>'+unitValue+'</td> ' +
									'<td>'+discount+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=emitterConceptLoadEdit("'+id+'")></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=emitterConceptLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-emitter-concept-custom-list');
					}else{
						hiddenClass('div-emitter-concept-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-emitter-concept-custom-list").html("");
					hiddenClass('div-emitter-concept-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					emitterConcepts = [];
					emitterConceptLoad();
				}
				
				function search(){
					page = null;
					emitterConcepts = [];
					emitterConceptLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-emitter-concept').html("");
					hiddenClass('div-pagination-emitter-concept-content');
				}								
				
				// Adicionar/Editar concepto ===================================================================
				var emitterConceptIdEdit = null;
				var objConcept = null;
				var conceptOperation = null;
				
				function conceptFormReady(){
					elementFieldReady('description');
					elementFieldReady('key-product-service');
					elementFieldReady('measurement-unit');
					elementFieldReady('identification-number');
					elementFieldReady('unit');
					elementFieldReady('unit-value');
					elementFieldReady('discount');
					
					conceptFormEnabled();
				}
				
				function conceptFieldReady(){
					elementFieldClassReset('description');
					elementFieldClassReset('key-product-service');
					elementFieldClassReset('measurement-unit');
					elementFieldClassReset('identification-number');
					elementFieldClassReset('unit');
					elementFieldClassReset('unit-value');
					elementFieldClassReset('discount');
					
					conceptFormEnabled();
				}
				
				function conceptFormEnabled(){
					elementReadOnlyFalse('description');
					elementReadOnlyFalse('key-product-service');
					elementReadOnlyFalse('measurement-unit');
					elementReadOnlyFalse('identification-number');
					elementReadOnlyFalse('unit');
					elementReadOnlyFalse('unit-value');
					elementReadOnlyFalse('discount');
				}
								
				function conceptFormDisabled(){
					elementReadOnlyTrue('description');
					elementReadOnlyTrue('key-product-service');
					elementReadOnlyTrue('measurement-unit');
					elementReadOnlyTrue('identification-number');
					elementReadOnlyTrue('unit');
					elementReadOnlyTrue('unit-value');
					elementReadOnlyTrue('discount');
					
					hiddenClassRemove('h5-details-title');
					elementShow('h5-details-title');
					
					hiddenClassRemove('emitter-concept-config');
					elementShow('emitter-concept-config');
					
					hiddenClassRemove('emitter-concept-edit');
					elementShow('emitter-concept-edit');
					
					hiddenClassRemove('emitter-concept-trash');
					elementShow('emitter-concept-trash');
					
					hiddenClassRemove('emitter-concept-button-back');
					elementShow('emitter-concept-button-back');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('emitter-concept-button-add');
					elementHide('emitter-concept-button-add');
					
					hiddenClass('emitter-concept-button-edit');
					elementHide('emitter-concept-button-edit');
					
					hiddenClass('emitter-concept-button-cancel');
					elementHide('emitter-concept-button-cancel');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
				}
				
				function emitterConceptLoadAdd(){
					action = 'config';
					emitterConceptIdEdit = null;
					processing(loadingRequest);	
					setTimeout('emitterConceptAdd()', 500);
				}
				
				function emitterConceptAdd(){
					processingEnd();
					
					conceptFormReady();
					
					elementClassAdd('div-emitter-concept-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-concept-list-content');
					elementHide('div-emitter-concept-list-content');
					
					elementFieldReady('search-description');
					elementPlaceholder('search-description', 'por descripción...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('emitter-concept-config');
					elementHide('emitter-concept-config');
					
					hiddenClass('emitter-concept-edit');
					elementHide('emitter-concept-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-concept-button-edit');
					elementHide('emitter-concept-button-edit');
					
					hiddenClass('emitter-concept-button-back');
					elementHide('emitter-concept-button-back');
					
					hiddenClass('emitter-concept-trash');
					elementHide('emitter-concept-trash');
					
					hiddenClassRemove('nav-menu');
					elementShow('nav-menu');
					
					hiddenClassRemove('h5-config-title');
					elementShow('h5-config-title');
					
					//hiddenClassRemove('h5-taxes-title');
					//elementShow('h5-taxes-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-concept');
					elementShow('form-emitter-concept');
					
					hiddenClassRemove('emitter-concept-button-content');
					elementShow('emitter-concept-button-content');
					
					hiddenClassRemove('emitter-concept-button-add');
					elementShow('emitter-concept-button-add');
					
					hiddenClassRemove('emitter-concept-button-cancel');
					elementShow('emitter-concept-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				function emitterConcept(){
					var bValid = true;
					
					conceptFieldReady();

					bValid = bValid && fieldsCheck(formFields);					
					
					if(!bValid){
						separatorShow(separator1Data, separator1Value);
						separatorShow(separator2Data, separator2Value);
						return false;						
					}else{
						processing(processingRequest);
						
						var objConcept = new Object();
						objConcept.index = emitterConceptIdEdit;
						objConcept.description = encodeValue(getElementValue('description'));
						objConcept.measurementUnit = encodeValue(getElementValue('measurement-unit'));
						objConcept.keyProductService = encodeValue(getElementValue('key-product-service'));
						objConcept.identificationNumber = encodeValue(getElementValue('identification-number'));
						objConcept.unit = encodeValue(getElementValue('unit'));
						objConcept.unitValue = encodeValue(getElementValue('unit-value'));
						objConcept.discount = encodeValue(getElementValue('discount'));
						
						var objConceptRequest = JSON.stringify(objConcept);
						
						$.ajax({
							url: emitterConceptRequest + "?conceptAddEdit",
					       	type: 'POST',
					       	data: {
					       		objConcept : objConceptRequest,
					       		operation: encodeValue(conceptOperation)
					       	},
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										//conceptFormReady();
										emitterConceptIdEdit = objJson.index;
										conceptFormDisabled();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];										

										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);
												
												separatorShow(separator1Data, separator1Value);
												separatorShow(separator2Data, separator2Value);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("ERROR! " + thrownError);
					        }
						});
					}
				}
				
				function emitterConceptUpdate(){
					if(emitterConceptIdEdit != null){
						emitterConceptLoadEdit(emitterConceptIdEdit);	
					}					
				}
				
				function emitterConceptLoadEdit(pId){
					if(pId != null){
						emitterConceptIdEdit = pId;
						action = 'edit';
						objConcept = new Object();
						
						processing(loadingRequest);
						
						$.ajax({
							url: emitterConceptRequest + '?conceptDataLoad',
							type: "POST",
							data: {id: emitterConceptIdEdit},
						}).done(function (data) {								        	
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									
									objConcept.description = decodeValue(objJson.description);
									objConcept.measurementUnit = decodeValue(objJson.measurementUnit);
									objConcept.keyProductService = decodeValue(objJson.keyProductService);
									objConcept.identificationNumber = objJson.identificationNumber != null ? decodeValue(objJson.identificationNumber) : '';
									objConcept.unit = objJson.unit != null ? decodeValue(objJson.unit) : '';
									objConcept.quantity = decodeValue(objJson.quantity);
									objConcept.unitValue = decodeValue(objJson.unitValue);
									objConcept.discount = objJson.discount != null ? decodeValue(objJson.discount) : '';
									objConcept.amount = decodeValue(objJson.amount);
									
									setTimeout('emitterConceptLoaded()', 500);
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}					
				        }).fail(function (xhr, ajaxOptions, thrownError) {
				            console.log("ERROR");
				        });
					}
				}
				
				function emitterConceptLoaded(){
					processingEnd();
					
					conceptFieldReady();
					
					elementValueChange('description', objConcept.description);
					elementValueChange('measurement-unit', objConcept.measurementUnit);
					elementValueChange('key-product-service', objConcept.keyProductService);
					elementValueChange('identification-number', objConcept.identificationNumber);
					elementValueChange('unit', objConcept.unit);
					elementValueChange('unit-value', objConcept.unitValue);
					elementValueChange('discount', objConcept.discount);
					
					elementClassAdd('div-emitter-concept-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-concept-list-content');
					elementHide('div-emitter-concept-list-content');
					
					elementFieldReady('search-description');
					elementPlaceholder('search-description', 'por descripción...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-concept-edit');
					elementHide('emitter-concept-edit');
					
					hiddenClass('emitter-concept-button-add');
					elementHide('emitter-concept-button-add');

					hiddenClass('emitter-concept-button-back');
					elementHide('emitter-concept-button-back');
					
					hiddenClassRemove('emitter-concept-config');
					elementShow('emitter-concept-config');
					
					hiddenClassRemove('emitter-concept-trash');
					elementShow('emitter-concept-trash');
					
					hiddenClassRemove('h5-edit-title');
					elementShow('h5-edit-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-concept');
					elementShow('form-emitter-concept');
					
					hiddenClassRemove('emitter-concept-button-content');
					elementShow('emitter-concept-button-content');
					
					hiddenClassRemove('emitter-concept-button-edit');
					elementShow('emitter-concept-button-edit');
					
					hiddenClassRemove('emitter-concept-button-cancel');
					elementShow('emitter-concept-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
					
				// Eliminar concepto ===================================================================
				var emitterConceptIdTrash = null;
				function emitterConceptLoadRemove(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', getMapValue('concept'));
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'emitterConceptRemove()');
						
						emitterConceptIdTrash = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function emitterConceptRemove(){
					if(emitterConceptIdTrash != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('emitterConceptRemoving()', 500);
					}
				}
				
				function emitterConceptRemoving(){
					$.ajax({
						url: emitterConceptRequest + '?conceptRemove',
						type: "POST",
						data: {id: emitterConceptIdTrash},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								emitterConceptRemoved();
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function emitterConceptRemoved(){
					processingTextChange(updatingRequest);
					
					hiddenClass('emitter-concept-trash');
					elementHide('emitter-concept-trash');
					
					hiddenClass('emitter-concept-edit');
					elementHide('emitter-concept-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-concept');
					elementHide('form-emitter-concept');
					
					hiddenClass('emitter-concept-button-content');
					elementHide('emitter-concept-button-content');
					
					hiddenClass('emitter-concept-button-edit');
					elementHide('emitter-concept-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-concept-list-content');
					elementShow('div-emitter-concept-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-concept-config');
					elementShow('emitter-concept-config');
					
					page = encodeValue(page);
					setTimeout('emitterConceptLoad()', 500);
				}
				
				// Cancelar
				function emitterConceptCancel(){
					action = 'load';
					page = null;
					
					hiddenClass('emitter-concept-edit');
					elementHide('emitter-concept-edit');
					
					hiddenClass('emitter-concept-trash');
					elementHide('emitter-concept-trash');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-concept');
					elementHide('form-emitter-concept');
					
					hiddenClass('emitter-concept-button-content');
					elementHide('emitter-concept-button-content');
					
					hiddenClass('emitter-concept-button-edit');
					elementHide('emitter-concept-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-concept-list-content');
					elementShow('div-emitter-concept-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-concept-config');
					elementShow('emitter-concept-config');
					
					emitterConceptLoad();
				}
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var concepUploadtFields = ['concept-file'];
				
				function conceptUploadClear(){
					formFieldsClear(concepUploadtFields);
				}
				
				function conceptUploadDataReady(){
					elementFieldClassReset('concept-file');
				}
				
				function conceptFileUpload(){
					var bValid = true;
					
					conceptUploadDataReady();
					
					bValid = bValid && fieldsCheck(concepUploadtFields);
					
					if(!bValid){
						if(!isElementHasValue('concept-file')){
							elementClassAdd('div-concept-file-error', 'div-file-input-span-has-error');
						}
						return false;
					}else{
						$("#concept-file-upload-modal").modal('hide');
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
						
						formData.append('fileUploaded', $('#concept-file')[0].files[0]);
						
						$.ajax({
							url: emitterConceptRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									processingEnd();
									
									page = encodeValue(page);
									setTimeout('emitterConceptLoad()', 3000);
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Generate CFDI failed!");
					      		processingEnd();
					        }
						});
					}
				}
				
			</script>
			
		</div>
	</body>
</html>