<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Clientes</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>						
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa-male" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.emitter.customer}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="emitter-customer-config" class="btn btn-white">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>							
							<span id="label-emitter-customer-config" th:text="#{mega.cfdi.text.emitter.customer.add}"></span>
						</a>
						<a id="emitter-customer-edit" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>							
							<span id="label-emitter-customer-config" th:text="#{mega.cfdi.text.emitter.customer.edit}"></span>
						</a>						
						<a id="emitter-customer-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.customer.trash}"></span>
						</a>						
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 id="h5-list-title" th:text="#{mega.cfdi.text.emitter.customer.list}">Listado de clientes</h5>
								<h5 id="h5-config-title" th:text="#{mega.cfdi.text.emitter.customer.add}" class="hidden" style="display: none;">Adicionar clientes</h5>
								<h5 id="h5-edit-title" th:text="#{mega.cfdi.text.emitter.customer.edit}" class="hidden" style="display: none;">Modificar clientes</h5>
								<h5 id="h5-details-title" th:text="#{mega.cfdi.text.emitter.customer.details}" class="hidden" style="display: none;">Detalles del cliente</h5>
								<div id="div-bullhorn" class="text-right hidden" style="display: none;">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-emitter-customer-list-content">
									<div class="row">
										<div class="col-sm-9 m-b-xs"></div>
										<div class="col-sm-3">
						                    <div class="input-group">
						                    	<input type="text" id="search-rfc" name="search-rfc" class="input-sm form-control" placeholder="por RFC..."> <!-- style="width: 300px;" --> 
						                    	<span class="input-group-btn">
						                        	<button id="btn-search" type="button"  class="btn btn-sm btn-primary">
						                        		<i class="fa fa-search" aria-hidden="true"></i> 
														<span th:text="#{mega.cfdi.legend.search.button}"></span>
													</button>
						                        </span>
											</div>
						                </div>
									</div>
									
									<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
										<div id="panel-search-result-empty-message"></div>
									</div>
									
									<div id="div-emitter-customer-custom-list" class="table-responsive hidden">
										<table class="table table-striped"><!-- table-hover -->
											<colgroup>
												<col span="4" width="22%">
											</colgroup>
											<thead>
												<tr>
													<th>
														<span th:text="#{mega.cfdi.text.rfc}">RFC</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.business.name}">Nombre</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.email}">Correo electronico</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.customer.resident}">Residente</span>
													</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="tbdoy-emitter-customer-custom-list"></tbody>
										</table>
									</div>
									
									<!-- Paginado -->
									<div id="div-pagination-emitter-customer-content" class="hidden">
										<div id="div-pagination-emitter-customer" style="text-align: center;"></div>
									</div>
								</div>
								
								<form id="form-emitter-customer" class="animated fadeInRight hidden" action="#" method="post" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-customer-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.customer.info}">Información del cliente</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-name-business-name" class="col-xs-12 div-form-input-bottom">
														<label id="label-name-business-name" class="label-form" for="name-business-name" th:text="#{mega.cfdi.text.business.name} + ' (*):'">
															Nombre o razón social (*):
														</label>
														<input type="text" id="name-business-name" name="name-business-name" class="form-control">
														<span id="span-name-business-name" class="field-validation-error-extended"></span>
													</div>																									
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<div id="div-rfc" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-rfc" class="label-form" for="rfc" th:text="#{mega.cfdi.text.rfc} + ' (*):'">
															RFC (*)
														</label>
														<input type="text" id="rfc" name="rfc" class="form-control">
														<span id="span-rfc" class="field-validation-error-extended"></span>
													</div>
													<div id="div-email" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-email" class="label-form" for="email" th:text="#{mega.cfdi.text.email} + ' (*):'">
															Correo electronico (*)
														</label>
														<input type="text" id="email" name="email" class="form-control">
														<span id="span-email" class="field-validation-error-extended"></span>
													</div>
													<div id="div-curp" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-curp" class="label-form" for="curp" th:text="#{mega.cfdi.text.curp} + ':'">
															CURP
														</label>
														<input type="text" id="curp" name="curp" class="form-control">
														<span id="span-curp" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-sep-02"></div>
												<div class="form-group">
													<div id="div-resident" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-resident" class="label-form" for="resident">
															Residente (*):
														</label>
														<select id="resident" name="resident" class="form-control" >
															<option value="-">&laquo;Seleccione&raquo;</option>
															<option th:each="type : ${residenteSource}" th:value="${type}" th:text="${type}">resident</option>
														</select>
														<span id="span-resident" class="field-validation-error-extended"></span>
													</div>
													<div id="div-residency" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-residency" class="label-form" for="residency">
															<span id="span-residency-text">Residencia fiscal:</span>
															<span id="span-residency-text-required" class="hidden">Residencia fiscal (*):</span>
														</label>
														<label id="label-info-residency" class="hidden" style="margin-left: 2px; margin-bottom: 0px;">
															<i class="fa fa-info-circle" aria-hidden="true"></i>
														</label>
														<input type="text" id="residency" name="residency" class="form-control" readonly="true">
														<span id="span-residency" class="field-validation-error-extended"></span>
													</div>
													<div id="div-identity-registration-number" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-identity-registration-number" class="label-form" for="identity-registration-number">
															<span id="span-identity-registration-number-text">Número registro identidad fiscal:</span>
															<span id="span-identity-registration-number-text-required">Número registro identidad fiscal (*):</span>
														</label>
														<input type="text" id="identity-registration-number" name="identity-registration-number" class="form-control" readonly="true">
														<span id="span-identity-registration-number" class="field-validation-error-extended"></span>
													</div>
												</diV>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="emitter-customer-button-content" class="form-group hidden" style="margin-top: 5px; display: none;">
								<div id="div-form-btn" class="button-form-right">
									<button id="emitter-customer-button-add" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> 
										<span th:text="#{mega.cfdi.text.emitter.customer.register}"></span>
									</button>
									<button id="emitter-customer-button-edit" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.text.emitter.customer.update}"></span>
									</button>
									<button id="emitter-customer-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="emitter-customer-button-back" class="btn btn-white">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.undo}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				// Customer :: Residency (Country)
				var residencySource = [];
				var residencySourceRequest = /*[[@{/residencySourceRequest}]]*/;
				
				// Customer :: Add/Edit/Remove customer
				var emitterCustomerRequest = /*[[@{/emitterCustomer}]]*/;
				
				var formFields = ['name-business-name', 'rfc', 'email', 'resident'];
				var formFieldsConditionals = ['residency', 'identity-registration-number'];
				
				var separator1Data = ['name-business-name'];
				var separator1Value = 'div-sep-01';
				
				var separator2Data = ['rfc', 'email'];
				var separator2Value = 'div-sep-02';
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				var page = null;
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					// ***** Confirmation load *****
					mapLoad();
					
					// ***** Customer :: Autoload ***** 
					residencyLoad();
					
					// ***** Customer :: RFC *****
					$('#rfc').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Customer :: Name *****
					$('#name-business-name').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Customer :: Email *****
					$('#email').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Customer :: Curp *****
					$('#curp').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** Customer :: Resident *****
					evaluateResident('resident');
					$('#resident').change(function(){
						elementFieldClassReset(this.id);
						var resident = getElementValue(this.id);
						evaluateResident(resident);
					});
					
					// ***** Customer :: Residency *****
					$('#residency').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					}).typeahead({
			            source: residencySource
			        });
					
					// ***** Customer :: Identity registration number *****
					$('#identity-registration-number').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-search').click(function(){
						search();
					});
															
					$('#emitter-customer-config').click(function(){
						emitterCustomerLoadAdd();
					});
					
					$('#emitter-customer-edit').click(function(){
						emitterCustomerUpdate();
					});					
					
					$('#emitter-customer-trash').click(function(){
						if(emitterCustomerIdEdit != null){
							emitterCustomerLoadRemove(emitterCustomerIdEdit);
						}
					});
					
					$('#emitter-customer-button-add').click(function(){
						customerOperation = 'config';
						emitterCustomer();
					});
					
					$('#emitter-customer-button-edit').click(function(){
						customerOperation = 'edit';
						emitterCustomer();
					});
					
					$('#emitter-customer-button-cancel').click(function(){
						emitterCustomerCancel();
					});
					
					$('#emitter-customer-button-back').click(function(){
						emitterCustomerCancel();
					});
					
					// ***** Listado de clientes *****
					emitterCustomerLoad();
					
				});
				
				function mapLoad(){
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if(jQuery.parseJSON(data) != null){
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        	console.log("[INFO] Map Confirmation loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function getMapValue(key){
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if(obj.key == key){
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				function residencyLoad(){
			        $.ajax({
			            url: residencySourceRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		residencySource[residencySource.length] = item;
						}
			        	console.log("[INFO] Residency loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			        	console.log("[ERROR] Residency error!");
			        });
				};
				
				function evaluateResident(pValue){
					elementFieldClassReset('residency');
					elementFieldClassReset('identity-registration-number');
					
					if(isElementHasValue('resident')){
						if(pValue == 'Nacional'){
							elementReadOnly('residency');
							hiddenClass('span-residency-text-required');
							hiddenClassRemove('span-residency-text');
							
							elementReadOnly('identity-registration-number');
							hiddenClass('span-identity-registration-number-text-required');
							hiddenClassRemove('span-identity-registration-number-text');
							
							if(getElementValue('rfc') == 'XEXX010101000'){
								elementValueClear('rfc');
								elementReadOnlyFalse('rfc');
							}
						}else if(pValue == 'Extranjero'){
							elementReadOnlyFalse('residency');
							hiddenClassRemove('span-residency-text-required');
							hiddenClass('span-residency-text');
							elementValueClear('residency');
							
							elementReadOnlyFalse('identity-registration-number');
							hiddenClassRemove('span-identity-registration-number-text-required');
							hiddenClass('span-identity-registration-number-text');
							elementValueClear('identity-registration-number');
							
							elementValueChange('rfc', 'XEXX010101000');
							elementReadOnlyTrue('rfc');
						}	
					}else{
						elementReadOnly('residency');
						hiddenClass('span-residency-text-required');
						hiddenClassRemove('span-residency-text');
						
						elementReadOnly('identity-registration-number');
						hiddenClass('span-identity-registration-number-text-required');
						hiddenClassRemove('span-identity-registration-number-text');
						
						if(getElementValue('rfc') == 'XEXX010101000'){
							elementValueClear('rfc');
							elementReadOnlyFalse('rfc');
						}
					}
				}
				
				var emitterCustomers = [];
				var action = 'load';
				
				function emitterCustomerLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')){
						if(action == 'load'){
							processing(loadingRequest);	
						}
					}
					
					emitterCustomers = [];
					
					$.ajax({
						url: emitterCustomerRequest,
				       	type: 'POST',
				       	data: {
				       		searchRfc: encodeValue(getElementValue('search-rfc')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.customers;
								var emitterCustomerPagination = objJson.pagination;
								var paginator = emitterCustomerPagination.paginator;
								var paginatorPage = emitterCustomerPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									processingEnd();
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = item.id;
											obj.rfc = decodeValue(item.rfc);
											obj.nameOrBusinessName = item.nameOrBusinessName != null ? decodeValue(item.nameOrBusinessName) : '';
											obj.email = item.email != null ? decodeValue(item.email) : '';
											obj.curp = item.curp != null ? decodeValue(item.curp) : '';
											obj.resident = decodeValue(item.resident);
											obj.residency = item.residency != null ? decodeValue(item.residency) : '';
											obj.identityRegistrationNumber = item.identityRegistrationNumber != null ? decodeValue(item.identityRegistrationNumber) : '';
											emitterCustomers[emitterCustomers.length] = obj;
										}
										emitterCustomerCustomList();
										pagination('pagination-emitter-customer', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-emitter-customer-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}									
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function emitterCustomerCustomList(){
					$("#tbdoy-emitter-customer-custom-list").html("");
					if(emitterCustomers.length >= 1){
						for(var i = 0; i < emitterCustomers.length; i ++){
							var id = emitterCustomers[i].id;
							var rfc = emitterCustomers[i].rfc;
							var email = emitterCustomers[i].email;
							var resident = emitterCustomers[i].resident;
							var nameOrBusinessName = emitterCustomers[i].nameOrBusinessName;
							$("#tbdoy-emitter-customer-custom-list").append(
								'<tr>' +
									'<td>'+rfc+'</td> ' +
									'<td>'+nameOrBusinessName+'</td> ' +
									'<td>'+email+'</td> ' +
									'<td>'+resident+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=emitterCustomerLoadEdit("'+id+'")></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=emitterCustomerLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-emitter-customer-custom-list');
					}else{
						hiddenClass('div-emitter-customer-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-emitter-customer-custom-list").html("");
					hiddenClass('div-emitter-customer-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					emitterCustomers = [];
					emitterCustomerLoad();
				}
				
				function search(){
					page = null;
					emitterCustomers = [];
					emitterCustomerLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-emitter-customer').html("");
					hiddenClass('div-pagination-emitter-customer-content');
				}								
				
				// Adicionar/Editar cliente ===================================================================
				var emitterCustomerIdEdit = null;
				var objCustomer = null;
				var customerOperation = null;
				
				function customerFormReady(){
					elementFieldReady('rfc');
					elementFieldReady('curp');
					elementFieldReady('email');
					elementFieldReady('name-business-name');
					selectValueDefault('resident');
					
					customerFormEnabled();
				}
				
				function customerFieldReady(){
					elementFieldClassReset('rfc');
					elementFieldClassReset('curp');
					elementFieldClassReset('email');
					elementFieldClassReset('name-business-name');
					elementFieldClassReset('resident');
					elementDisabledFalse('resident');
					elementFieldClassReset('residency');
					elementFieldClassReset('identity-registration-number');
					
					customerFormEnabled();
				}
				
				function customerFormEnabled(){
					elementReadOnlyFalse('rfc');
					elementReadOnlyFalse('curp');
					elementReadOnlyFalse('email');
					elementReadOnlyFalse('name-business-name');
					elementDisabledFalse('resident');
					elementReadOnlyTrue('residency');
					elementReadOnlyTrue('identity-registration-number');
				}
								
				function customerFormDisabled(){
					elementReadOnlyTrue('rfc');
					elementReadOnlyTrue('curp');
					elementReadOnlyTrue('email');
					elementReadOnlyTrue('name-business-name');
					elementDisabledOnly('resident');
					elementReadOnlyTrue('residency');
					elementReadOnlyTrue('identity-registration-number');
					
					hiddenClassRemove('h5-details-title');
					elementShow('h5-details-title');
					
					hiddenClassRemove('emitter-customer-config');
					elementShow('emitter-customer-config');
					
					hiddenClassRemove('emitter-customer-edit');
					elementShow('emitter-customer-edit');
					
					hiddenClassRemove('emitter-customer-trash');
					elementShow('emitter-customer-trash');
					
					hiddenClassRemove('emitter-customer-button-back');
					elementShow('emitter-customer-button-back');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('emitter-customer-button-add');
					elementHide('emitter-customer-button-add');
					
					hiddenClass('emitter-customer-button-edit');
					elementHide('emitter-customer-button-edit');
					
					hiddenClass('emitter-customer-button-cancel');
					elementHide('emitter-customer-button-cancel');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
				}
				
				function emitterCustomerLoadAdd(){
					action = 'config';
					emitterCustomerIdEdit = null;
					processing(loadingRequest);	
					setTimeout('emitterCustomerAdd()', 500);
				}
				
				function emitterCustomerAdd(){
					processingEnd();
					
					customerFormReady();
					
					elementClassAdd('div-emitter-customer-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-customer-list-content');
					elementHide('div-emitter-customer-list-content');
					
					elementFieldReady('search-rfc');
					elementPlaceholder('search-rfc', 'por RFC...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('emitter-customer-config');
					elementHide('emitter-customer-config');
					
					hiddenClass('emitter-customer-edit');
					elementHide('emitter-customer-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-customer-button-edit');
					elementHide('emitter-customer-button-edit');
					
					hiddenClass('emitter-customer-button-back');
					elementHide('emitter-customer-button-back');
					
					hiddenClass('emitter-customer-trash');
					elementHide('emitter-customer-trash');
					
					hiddenClassRemove('h5-config-title');
					elementShow('h5-config-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-customer');
					elementShow('form-emitter-customer');
					
					hiddenClassRemove('emitter-customer-button-content');
					elementShow('emitter-customer-button-content');
					
					hiddenClassRemove('emitter-customer-button-add');
					elementShow('emitter-customer-button-add');
					
					hiddenClassRemove('emitter-customer-button-cancel');
					elementShow('emitter-customer-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				function emitterCustomer(){
					var bValid = true;
					
					customerFieldReady();

					bValid = bValid && fieldsCheck(formFields);
					
					if(bValid){
						if(validateExpression('name-business-name')){
							elementTagError('name-business-name', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(bValid){
						if(validateExpression('rfc')){
							elementTagError('rfc', invalidValue, 'top');
							bValid = false;
						}
					}
					
					// Correo
					if(bValid){
						if(!w2utils.isEmail(getElementValue('email'))){
							elementTagError('email', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(bValid){
						if(isElementHasValue('resident')){
							if(getElementValue('resident') != 'Nacional'){
								bValid = fieldsCheck(formFieldsConditionals);
								if(!bValid){
									elementReadOnlyFalse('residency');
									elementReadOnlyFalse('identity-registration-number');
								}
							}
						}	
					}
					
					if(!bValid){
						separatorShow(separator1Data, separator1Value);
						separatorShow(separator2Data, separator2Value);
						return false;						
					}else{
						processing(processingRequest);
						
						var objCustomer = new Object();
						objCustomer.id = emitterCustomerIdEdit;
						objCustomer.rfc = encodeValue(getElementValue('rfc'));
						objCustomer.email = encodeValue(getElementValue('email'));
						objCustomer.curp = encodeValue(getElementValue('curp'));
						objCustomer.nameOrBusinessName = encodeValue(getElementValue('name-business-name'));
						objCustomer.resident = encodeValue(getElementValue('resident'));
						objCustomer.residency = encodeValue(getElementValue('residency'));
						objCustomer.identityRegistrationNumber = encodeValue(getElementValue('identity-registration-number'));
						
						var objCustomerRequest = JSON.stringify(objCustomer);
						
						$.ajax({
							url: emitterCustomerRequest + "?customerAddEdit",
					       	type: 'POST',
					       	data: {
					       		objCustomer : objCustomerRequest,
					       		operation: encodeValue(customerOperation)
					       	},
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var customer = objJson.customer; 
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										//customerFormReady();
										emitterCustomerIdEdit = customer.id;
										customerFormDisabled();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];										

										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);												
												
												separatorShow(separator1Data, separator1Value);
											}
											
											if(getElementValue('resident') == 'Extranjero'){
												elementReadOnlyFalse('residency');
												elementReadOnlyFalse('identity-registration-number');
											}
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("ERROR! " + thrownError);
					        }
						});
					}
				}
				
				function emitterCustomerUpdate(){
					if(emitterCustomerIdEdit != null){
						emitterCustomerLoadEdit(emitterCustomerIdEdit);	
					}					
				}
				
				function emitterCustomerLoadEdit(pId){
					if(pId != null){
						emitterCustomerIdEdit = pId;
						action = 'edit';
						objCustomer = new Object();
						
						processing(loadingRequest);
						
						$.ajax({
							url: emitterCustomerRequest + '?customerDataLoad',
							type: "POST",
							data: {id: emitterCustomerIdEdit},
						}).done(function (data) {								        	
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var customer = objJson.customer;
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									if(customer != null){
										objCustomer.rfc = decodeValue(customer.rfc);
										objCustomer.nameOrBusinessName = customer.nameOrBusinessName != null ? decodeValue(customer.nameOrBusinessName) : '';
										objCustomer.email = customer.email != null ? decodeValue(customer.email) : '';
										objCustomer.curp = customer.curp != null ? decodeValue(customer.curp) : '';
										objCustomer.resident = decodeValue(customer.resident);
										objCustomer.residency = customer.residency != null ? decodeValue(customer.residency) : '';
										objCustomer.identityRegistrationNumber = customer.identityRegistrationNumber != null ? decodeValue(customer.identityRegistrationNumber) : '';
										
										setTimeout('emitterCustomerLoaded()', 500);	
									}else{
										processingEnd();
									}									
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}					
				        }).fail(function (xhr, ajaxOptions, thrownError) {
				            console.log("ERROR");
				        });
					}
				}
				
				function emitterCustomerLoaded(){
					processingEnd();
					
					customerFieldReady();
					
					elementValueChange('rfc', objCustomer.rfc);
					elementValueChange('name-business-name', objCustomer.nameOrBusinessName);
					elementValueChange('email', objCustomer.email);
					elementValueChange('curp', objCustomer.curp);
					elementValueChange('resident', objCustomer.resident);
					elementValueChange('residency', objCustomer.residency);
					elementValueChange('identity-registration-number', objCustomer.identityRegistrationNumber);
					
					if(getElementValue('resident') == 'Extranjero'){
						elementReadOnlyFalse('residency');
						elementReadOnlyFalse('identity-registration-number');
					}
					
					elementClassAdd('div-emitter-customer-list-content', 'animated fadeInRight');
					hiddenClass('div-emitter-customer-list-content');
					elementHide('div-emitter-customer-list-content');
					
					elementFieldReady('search-rfc');
					elementPlaceholder('search-rfc', 'por RFC...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('emitter-customer-edit');
					elementHide('emitter-customer-edit');
					
					hiddenClass('emitter-customer-button-add');
					elementHide('emitter-customer-button-add');

					hiddenClass('emitter-customer-button-back');
					elementHide('emitter-customer-button-back');
					
					hiddenClassRemove('emitter-customer-config');
					elementShow('emitter-customer-config');
					
					hiddenClassRemove('emitter-customer-trash');
					elementShow('emitter-customer-trash');
					
					hiddenClassRemove('h5-edit-title');
					elementShow('h5-edit-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-emitter-customer');
					elementShow('form-emitter-customer');
					
					hiddenClassRemove('emitter-customer-button-content');
					elementShow('emitter-customer-button-content');
					
					hiddenClassRemove('emitter-customer-button-edit');
					elementShow('emitter-customer-button-edit');
					
					hiddenClassRemove('emitter-customer-button-cancel');
					elementShow('emitter-customer-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
					
				// Eliminar cliente ===================================================================
				var emitterCustomerIdTrash = null;
				function emitterCustomerLoadRemove(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', getMapValue('customer'));
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'emitterCustomerRemove()');
						
						emitterCustomerIdTrash = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function emitterCustomerRemove(){
					if(emitterCustomerIdTrash != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('emitterCustomerRemoving()', 500);
					}
				}
				
				function emitterCustomerRemoving(){
					$.ajax({
						url: emitterCustomerRequest + '?customerRemove',
						type: "POST",
						data: {id: emitterCustomerIdTrash},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								emitterCustomerRemoved();
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function emitterCustomerRemoved(){
					processingTextChange(updatingRequest);
					
					hiddenClass('emitter-customer-trash');
					elementHide('emitter-customer-trash');
					
					hiddenClass('emitter-customer-edit');
					elementHide('emitter-customer-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-customer');
					elementHide('form-emitter-customer');
					
					hiddenClass('emitter-customer-button-content');
					elementHide('emitter-customer-button-content');
					
					hiddenClass('emitter-customer-button-edit');
					elementHide('emitter-customer-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-customer-list-content');
					elementShow('div-emitter-customer-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-customer-config');
					elementShow('emitter-customer-config');
					
					page = encodeValue(page);
					setTimeout('emitterCustomerLoad()', 500);
				}
				
				// Cancelar
				function emitterCustomerCancel(){
					action = 'load';
					page = null;
					
					hiddenClass('emitter-customer-edit');
					elementHide('emitter-customer-edit');
					
					hiddenClass('emitter-customer-trash');
					elementHide('emitter-customer-trash');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-emitter-customer');
					elementHide('form-emitter-customer');
					
					hiddenClass('emitter-customer-button-content');
					elementHide('emitter-customer-button-content');
					
					hiddenClass('emitter-customer-button-edit');
					elementHide('emitter-customer-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-emitter-customer-list-content');
					elementShow('div-emitter-customer-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-customer-config');
					elementShow('emitter-customer-config');
					
					emitterCustomerLoad();
				}
				
			</script>
			
		</div>
	</body>
</html>