<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-6">
					<h3 class="header-title">MegaCFDI - Configuraci&oacute;n</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								Informaci&oacute;n fiscal
							</strong>
						</li>
					</ol>
				</div>
			</div>
				
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
					
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Datos del emisor</h5>
								<div th:if="${!isTaxInformationAvailable}" class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<form id="formEmisorInfo" action="#" th:action="@{/emitterTaxInformationConfiguration}" th:object="${taxpayerViewModel}" method="post" enctype="multipart/form-data">
									<div class="panel panel-default">
										<div id="div-emitter-tax-information-title" class="panel-heading">
                                            Información fiscal
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div class="col-xs-12 col-sm-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('rfcActivo')} ? has-error">
														<label class="label-form" for="rfcActivo">
															RFC:
														</label>
														<input type="text" class="form-control" th:field="*{rfcActivo}" readonly>
														<span class="field-validation-error-extended" th:each="err : ${#fields.errors('rfcActivo')}" th:text="${err}">error</span>
													</div>
													<div class="col-xs-12 col-sm-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('nombreRazonSocial')} ? has-error">
														<label class="label-form" for="nombreRazonSocial">
															Nombre o razón social:
														</label>
														<input type="text" class="form-control" th:field="*{nombreRazonSocial}" readonly>
														<span class="field-validation-error-extended" th:each="err : ${#fields.errors('nombreRazonSocial')}" th:text="${err}">error</span>
													</div>
												</div>
												<div class="form-group">
													<!-- Person type -->
													<div th:if="${!isTaxInformationAvailable}" id="div-emitterType" class="col-xs-12 col-sm-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('emitterType')} ? has-error">
														<label id="label-emitterType" class="label-form" for="emitterType">
															Tipo contribuyente:
														</label>
														<select id="emitterType" th:field="*{emitterType}" class="form-control" >
															<option th:each="type : ${personTypeSource}" th:value="${type.codigo}" th:text="${type.valor}">tipoContribuyente</option>
														</select>
														<span id="span-emitterType" class="field-validation-error-extended" ></span>
													</div>
													<div id="div-emitterTypeConfigured" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-emitterTypeConfigured" class="label-form" for="emitterTypeConfigured">
															Tipo contribuyente:
														</label>
														<input id="emitterTypeConfigured" type="text" class="form-control" th:field="*{emitterType}" readonly>
													</div>
													<!-- Tax regime -->
													<div th:if="${!isTaxInformationAvailable}" id="div-taxRegime" class="col-xs-12 col-sm-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('taxRegime')} ? has-error">
														<label id="label-taxRegime" class="label-form" for="taxRegime" th:classappend="${#fields.hasErrors('taxRegime')} ? required">
															Régimen fiscal:
														</label>
														<input type="text" class="form-control" th:field="*{taxRegime}" >
														<span id="span-taxRegime" class="field-validation-error-extended"></span>
													</div>
													<div id="div-taxRegimeConfigured" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-taxRegimeConfigured" class="label-form" for="taxRegimeConfigured">
															Régimen fiscal:
														</label>
														<input id="taxRegimeConfigured" type="text" class="form-control" th:field="*{taxRegime}" readonly>
													</div>
													
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div id="div-emitter-tax-information-title" class="panel-heading">
                                            Certificado digital
                                        </div>
										<div class="panel-body panel-body-inner">
											<div id="div-cer-key" class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<!-- Certificate -->
													<div th:if="${!isTaxInformationAvailable}" id="div-certificate" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-certificate" class="label-form" for="ceritificate">
															Certificado (.cer):
														</label>
														<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
														    <div class="form-control" data-trigger="fileinput">
														        <i class="glyphicon glyphicon-file fileinput-exists"></i>
														    	<span class="fileinput-filename"></span>
														    </div>
														    <span class="input-group-addon btn btn-default btn-file">
														        <span class="fileinput-new">Seleccionar</span>
														        <span class="fileinput-exists">Cambiar</span>
														        <input type="file" id="certificate" name="certificate" />
														    </span>
														    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
														</div>
														<div id="div-span-certificate-error">
															<span id="span-certificate" class="field-validation-error-extended"></span>
														</div>
													</div>
													<div id="div-certificateCreateDate" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificateCreateDate" class="label-form" for="certificateCreateDate">
															Certificado digital creado desde:
														</label>
														<input id="certificateCreateDate" type="text" class="form-control" th:field="*{certificateCreateDate}" readonly>
													</div>
													
													<!-- Private key -->
													<div th:if="${!isTaxInformationAvailable}" id="div-privateKey" class="col-xs-12 col-sm-6 div-form-input-bottom">
														<label id="label-privateKey" class="label-form" for="privateKey">
															Clave privada (.key):
														</label>
														<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
														    <div class="form-control" data-trigger="fileinput">
														        <i class="glyphicon glyphicon-file fileinput-exists"></i>
														    	<span class="fileinput-filename"></span>
														    </div>
														    <span class="input-group-addon btn btn-default btn-file">
														        <span class="fileinput-new">Seleccionar</span>
														        <span class="fileinput-exists">Cambiar</span>
														        <input type="file" id="privateKey" name="privateKey"/>
														    </span>
														    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
														</div>
														<div id="div-span-privateKey-error">
															<span id="span-privateKey" class="field-validation-error-extended"></span>
														</div>
													</div>
													<div id="div-certificateExpiredDate" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificateExpiredDate" class="label-form" for="certificateExpiredDate">
															Certificado digital válido hasta:
														</label>
														<input id="certificateExpiredDate" type="text" class="form-control" th:field="*{certificateExpiredDate}" readonly>
													</div>
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<!-- Password -->
													<div th:if="${!isTaxInformationAvailable}" id="div-passwd" class="col-xs-12 col-sm-6 div-form-input-bottom" th:classappend="${#fields.hasErrors('passwd')} ? has-error">
														<label id="label-passwd" class="label-form" for="passwd" th:classappend="${#fields.hasErrors('passwd')} ? required">
															Contraseña del certificado:
														</label>
														<input type="password" class="form-control" th:field="*{passwd}" >
														<span id="span-passwd" class="field-validation-error-extended"></span>
													</div>
													
													<!-- Certificate number -->
													<div id="div-certificateNumber" class="col-xs-12 col-sm-6 div-form-input-bottom hidden">
														<label id="label-certificateNumber" class="label-form" for="certificateNumber">
															Número de certificado:
														</label>
														<input id="certificateNumber" type="text" class="form-control" th:field="*{certificateNumber}" readonly>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group" style="margin-top: 5px">
										<div th:if="${!isTaxInformationAvailable}" id="div-form-btn" class="button-form-right">
											<!--<input type="submit" value="Siguiente" class="btn btn-primary" style="width: 150px;" />-->
											<input id="emitterTaxInformationButton" type="button" value="Aceptar" class="btn btn-primary" style="width: 150px;" />
											<a style="width: 150px;" th:href="@{/emitterTaxRegimeConfiguration/{action}(action=config)}" class="btn btn-white">
												Salir
											</a>
										</div>
										<!-- Update -->
										<div id="div-btn" class="button-form-right hidden">
											<a id="emitterTaxInformationButtonEdit" style="width: 150px;" th:href="@{/emitterTaxRegimeConfiguration/{action}(action=update)}" class="btn btn-primary">
												Modificar
											</a>
											<a style="width: 150px;" th:href="@{'/'}" class="btn btn-white">
												Salir
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var isTaxInformationAvailable = /*[[${isTaxInformationAvailable}]]*/;
								
				var regimenFiscalSource = [];
				var regimenFiscalRequest = /*[[@{/taxRegimeSourceRequest}]]*/;
				
				var separatorField = ['certificate', 'privateKey'];
				var separatorValue = 'div-sep-01';
				
				var emitterTaxInformationRequest = /*[[@{/emitterTaxInformation}]]*/;
				
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var emitterType = /*[[${emitterType}]]*/;

				$(document).ready(function(){
					// Cargando regimen fiscal para autocomplete 
					regimenFiscalLoadSource();
					
					// Autocomplete de regimen fiscal
					$('#taxRegime').typeahead({
			            source: regimenFiscalSource
			        });
					
					// Regimen fiscal 
					$('#taxRegime').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#certificate').change(function(){			
						elementFieldClassReset(this.id);
						separatorHide(separatorField, separatorValue);
						elementClassRemove('div-span-certificate-error', 'div-file-input-span-has-error');
					});
					
					$('#privateKey').change(function(){			
						elementFieldClassReset(this.id);
						separatorHide(separatorField, separatorValue);
						elementClassRemove('div-span-privateKey-error', 'div-file-input-span-has-error');
					});
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#emitterTaxInformationButton').click(function(){
						emitterTaxInformation();
					});
					
					$('#emitterTaxInformationButtonEdit').click(function(){
						processing(loadingRequest);
					});
					
					emitterTaxInformationConfigured();
					setPersonType();
					
					//hiddenClassRemove('application-page-footer');
					afterDocumentLoad();
				});
				
				function regimenFiscalLoadSource(){
					console.log("[INFO] regimenFiscalLoadSource instanciate!");
			    	//Sending ajax request
			        $.ajax({
			            url: regimenFiscalRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	for (var i = 0; i < data.length; i++) {
			        		item = data[i];
			        		regimenFiscalSource[regimenFiscalSource.length] = item;	
						}
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				};
				
				function setPersonType(){
					if(!isTaxInformationAvailable && emitterType != null){
						selectValueSet('emitterType', emitterType);
					}
				}
				
				function emitterTaxInformationDataReady(){
					elementFieldClassReset('rfcActivo');
					elementFieldClassReset('emitterType');
					elementFieldClassReset('taxRegime');
					elementFieldClassReset('certificate');
					elementFieldClassReset('privateKey');
					elementFieldClassReset('passwd');
				}
				
				function emitterTaxInformationConfigured(){
					if(isTaxInformationAvailable){
						hiddenClassRemove('div-emitterTypeConfigured');
						hiddenClassRemove('div-taxRegimeConfigured');
						hiddenClassRemove('div-certificateCreateDate');
						hiddenClassRemove('div-certificateExpiredDate');
						hiddenClassRemove('div-certificateNumber');
						hiddenClassRemove('div-btn');
					}
				}
				
				function emitterTaxInformationAfterUpdate(){
					hiddenClass('div-emitterType');
					hiddenClass('div-taxRegime');
					hiddenClass('div-certificate');
					hiddenClass('div-privateKey');
					hiddenClass('div-passwd');
					hiddenClass('div-form-btn');
					
					hiddenClassRemove('div-emitterTypeConfigured');
					hiddenClassRemove('div-taxRegimeConfigured');
					hiddenClassRemove('div-certificateCreateDate');
					hiddenClassRemove('div-certificateExpiredDate');
					hiddenClassRemove('div-certificateNumber');
					hiddenClassRemove('div-btn');
				}
				
				var fields = ['rfcActivo', 'nombreRazonSocial', 'emitterType', 'taxRegime', 'certificate', 'privateKey', 'passwd'];
				function emitterTaxInformation(){
					var bValid = true;
					
					emitterTaxInformationDataReady();
					
					bValid = bValid && fieldsCheck(fields);
					if(!bValid){
						if(isElementHasClass('div-certificate', 'has-error')){
							elementClassAdd('div-span-certificate-error', 'div-file-input-span-has-error');
							elementClassAdd(separatorValue, 'form-group-separator col-xs-12');
						}
						if(isElementHasClass('div-privateKey', 'has-error')){
							elementClassAdd('div-span-privateKey-error', 'div-file-input-span-has-error');
						}
						return false;	
					}
					
					if(bValid){
						bValid = bValid && fieldRequired('certificate');
						if(!bValid){
							elementClassAdd('div-span-certificate-error', 'div-file-input-span-has-error');
							elementClassAdd(separatorValue, 'form-group-separator col-xs-12');
						}
					}
					
					if(bValid){
						bValid = bValid && fieldRequired('privateKey');
						if(!bValid){
							elementClassAdd('div-span-privateKey-error', 'div-file-input-span-has-error');
							//elementClassAdd(separatorValue, 'form-group-separator col-xs-12');
						}
					}
					
					if(bValid){
						
						processing(processingRequest);
						
						var formData = new FormData(jQuery('form')[0]);
						formData.append('rfc', encodeValue(getElementValue('rfcActivo')));
						formData.append('emitterType', encodeValue(getElementValue('emitterType')));
						formData.append('taxRegime', encodeValue(getElementValue('taxRegime')));
						formData.append('certificate', $('#certificate')[0].files[0]);
						formData.append('privateKey', $('#privateKey')[0].files[0]);
						formData.append('passwd', encodeValue(getElementValue('passwd')));
						
						$.ajax({
							url: emitterTaxInformationRequest,  //server script to process data
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	//Ajax events
					       	//beforeSend: beforeSendHandler,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response;
									if(response.success){
										processingEnd();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										
										elementValueChange('emitterTypeConfigured', objJson.personType);
										elementValueChange('taxRegimeConfigured', objJson.taxRegime);
										elementValueChange('certificateCreateDate', objJson.certifaicateCreationDate);
										elementValueChange('certificateExpiredDate', objJson.certificateValidDate);
										elementValueChange('certificateNumber', objJson.certificateNumber);
										
										emitterTaxInformationAfterUpdate();
										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									}else if(response.error){
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											
											elementForceError(field, message);
											
											if(field == 'certificate'){
												elementClassAdd('div-span-certificate-error', 'div-file-input-span-has-error');
												elementClassAdd(separatorValue, 'form-group-separator col-xs-12');
											}else if(field == 'privateKey'){
												elementClassAdd('div-span-privateKey-error', 'div-file-input-span-has-error');
											}
										}
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {					      		
					      		console.log("ERROR! " + thrownError);
					      		processingEnd();
					        }
						});						
					}
				}
				
			</script>
			
		</div>
	</body>
</html>