<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Serie y folio</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa fa-sort-numeric-asc" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.serie.sheet}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="serie-sheet-config" class="btn btn-white">
							<i class="fa fa-plus-circle" aria-hidden="true"></i>							
							<span id="label-serie-sheet-config" th:text="#{mega.cfdi.text.emitter.serie.sheet.add}"></span>
						</a>
						<a id="serie-sheet-edit" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>							
							<span id="label-serie-sheet-config" th:text="#{mega.cfdi.text.emitter.serie.sheet.edit}"></span>
						</a>						
						<a id="serie-sheet-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.serie.sheet.trash}"></span>
						</a>						
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 id="h5-list-title" th:text="#{mega.cfdi.text.emitter.serie.sheet.list}">Listado de serie y folio</h5>
								<h5 id="h5-config-title" th:text="#{mega.cfdi.text.emitter.serie.sheet.add}" class="hidden" style="display: none;">Adicionar serie y folio</h5>
								<h5 id="h5-edit-title" th:text="#{mega.cfdi.text.emitter.serie.sheet.edit}" class="hidden" style="display: none;">Modificar serie y folio</h5>
								<h5 id="h5-details-title" th:text="#{mega.cfdi.text.emitter.serie.sheet.details}" class="hidden" style="display: none;">Detalles de serie y folio</h5>
								<div id="div-bullhorn" class="text-right hidden" style="display: none;">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<div id="div-serie-sheet-list-content">
									<div class="row">
										<div class="col-sm-9 m-b-xs"></div>
										<div class="col-sm-3">
						                    <div class="input-group">
						                    	<input type="text" id="search-serie" name="search-serie" class="input-sm form-control" placeholder="por serie..."> <!-- style="width: 300px;" --> 
						                    	<span class="input-group-btn">
						                        	<button id="btn-search" type="button"  class="btn btn-sm btn-primary">
						                        		<i class="fa fa-search" aria-hidden="true"></i> 
														<span th:text="#{mega.cfdi.legend.search.button}"></span>
													</button>
						                        </span>
											</div>
						                </div>
									</div>
									
									<div id="panel-search-result-empty-content" class="hidden" style="margin-top: 15px; margin-bottom: 0px;">
										<div id="panel-search-result-empty-message"></div>
									</div>
									
									<div id="div-serie-sheet-custom-list" class="table-responsive hidden">
										<table class="table table-striped"><!-- table-hover -->
											<colgroup>
												<col span="4" width="22%">
											</colgroup>
											<thead>
												<tr>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.serie.sheet.serie}">Serie</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.serie.sheet.initial}">Folio inicial</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.serie.sheet.end}">Folio final</span>
													</th>
													<th>
														<span th:text="#{mega.cfdi.text.emitter.serie.sheet.actual}">Folio actual</span>
													</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="tbdoy-serie-sheet-custom-list"></tbody>
										</table>
									</div>
									
									<!-- Paginado -->
									<div id="div-pagination-serie-sheet-content" class="hidden">
										<div id="div-pagination-serie-sheet" style="text-align: center;"></div>
									</div>
								</div>
								
								<form id="form-serie-sheet" class="animated fadeInRight hidden" action="#" method="post" style="display: none;">
									<div class="panel panel-default">
										<div id="div-emitter-serie-sheet-title" class="panel-heading">
                                            <span th:text="#{mega.cfdi.text.emitter.serie.sheet.info}">Información de serie y folio</span>
                                        </div>
										<div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-serie" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-serie" class="label-form" for="serie" th:text="#{mega.cfdi.text.emitter.serie.sheet.serie} + ' (*):'">
															Serie (*):
														</label>
														<input type="text" id="serie" name="serie" class="form-control">
														<span id="span-serie" class="field-validation-error-extended"></span>
													</div>
													<div id="div-initial-sheet" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-initial-sheet" class="label-form" for="initial-sheet" th:text="#{mega.cfdi.text.emitter.serie.sheet.initial} + ' (*):'">
															Folio inicial (*)
														</label>
														<input type="text" id="initial-sheet" name="initial-sheet" class="form-control">
														<span id="span-initial-sheet" class="field-validation-error-extended"></span>
													</div>
													<div id="div-end-sheet" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-end-sheet" class="label-form" for="end-sheet" th:text="#{mega.cfdi.text.emitter.serie.sheet.end} + ' (*):'">
															Folio final (*)
														</label>
														<input type="text" id="end-sheet" name="end-sheet" class="form-control">
														<span id="span-end-sheet" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-sep-01"></div>
												<div class="form-group">
													<div id="div-actual-sheet" class="col-xs-12 col-sm-4 div-form-input-bottom hidden" style="display: none;">
														<label id="label-actual-sheet" class="label-form" for="actual-sheet" th:text="#{mega.cfdi.text.emitter.serie.sheet.actual} + ':'">
															Folio actual:
														</label>
														<input type="text" id="actual-sheet" name="actual-sheet" class="form-control" readonly>
														<span id="span-actual-sheet" class="field-validation-error-extended"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="serie-sheet-button-content" class="form-group hidden" style="margin-top: 5px; display: none;">
								<div id="div-form-btn" class="button-form-right">
									<button id="serie-sheet-button-add" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> 
										<span th:text="#{mega.cfdi.text.emitter.serie.sheet.register}"></span>
									</button>
									<button id="serie-sheet-button-edit" class="btn btn-primary hidden" style="width: 200px; display: none;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.text.emitter.serie.sheet.update}"></span>
									</button>
									<button id="serie-sheet-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="serie-sheet-button-back" class="btn btn-white">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.undo}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				// SerieSheet :: Add/Edit/Remove
				var serieSheetRequest = /*[[@{/emitterSerieSheet}]]*/;
				
				var formFields = ['serie', 'initial-sheet', 'end-sheet'];
				
				var separator1Data = ['serie', 'initial-sheet', 'end-sheet'];
				var separator1Value = 'div-sep-01';
				
				// Confirmation
				var maps = [];
				var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
				
				var page = null;
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					// ***** Confirmation load *****
					mapLoad();
					
					// ***** SerieSheet :: Serie *****
					$('#serie').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** SerieSheet :: Initial sheet *****
					$('#initial-sheet').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					// ***** SerieSheet :: End sheet *****
					$('#end-sheet').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-search').click(function(){
						search();
					});
															
					$('#serie-sheet-config').click(function(){
						serieSheetLoadAdd();
					});
					
					$('#serie-sheet-edit').click(function(){
						serieSheetUpdate();
					});					
					
					$('#serie-sheet-trash').click(function(){
						if(serieSheetIdEdit != null){
							serieSheetLoadRemove(serieSheetIdEdit);
						}
					});
					
					$('#serie-sheet-button-add').click(function(){
						action = 'config';
						serieSheet();
					});
					
					$('#serie-sheet-button-edit').click(function(){
						action = 'edit';
						serieSheet();
					});
					
					$('#serie-sheet-button-cancel').click(function(){
						serieSheetCancel();
					});
					
					$('#serie-sheet-button-back').click(function(){
						serieSheetCancel();
					});
					
					// ***** Listado de clientes *****
					serieSheetLoad();
					
				});
				
				function mapLoad(){
					$.ajax({
			            url: confirmationRequest,
			            method: 'POST',
			            data: {}
			        }).done(function (data) {								        	
			        	if(jQuery.parseJSON(data) != null){
			        		var objJson = jQuery.parseJSON(data);
			    			var mapSource = objJson.map;
			    			for (var i = 0; i < mapSource.length; i++) {
			    				var map = mapSource[i];
								var objMap = new Object();
								objMap.key = decodeValue(map['key']);
								objMap.value = decodeValue(map['value']);
								maps[maps.length] = objMap;
			    			}
			        	}
			        	console.log("[INFO] Map Confirmation loaded!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Map Confirmation failed!");
			        });
				}
				
				function getMapValue(key){
					var result = null;
					for (var i = 0; i < maps.length; i++) {
						var obj = maps[i];
						if(obj.key == key){
							result = obj.value;
							break;
						}
					}
					return result;
				}
				
				var serieSheets = [];
				var action = 'load';
				
				function serieSheetLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if(!isElementExist('div-loading-initial-content')){
						if(action == 'load'){
							processing(loadingRequest);	
						}
					}
					
					serieSheets = [];
					
					$.ajax({
						url: serieSheetRequest,
				       	type: 'POST',
				       	data: {
				       		searchSerie: encodeValue(getElementValue('search-serie')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.serieSheets;
								var serieSheetPagination = objJson.pagination;
								var paginator = serieSheetPagination.paginator;
								var paginatorPage = serieSheetPagination.page;
								page = paginatorPage.number;
								
								if(response.success){
									processingEnd();
									if(list.length >= 1){
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.id = item.id;
											obj.serie = decodeValue(item.serie);
											obj.initialSheet = decodeValue(item.initialSheet);											
											obj.endSheet = decodeValue(item.endSheet);
											obj.actualSheet = decodeValue(item.actualSheet);
											serieSheets[serieSheets.length] = obj;
										}
										serieSheetCustomList();
										pagination('pagination-serie-sheet', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-serie-sheet-content');
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}									
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function serieSheetCustomList(){
					$("#tbdoy-serie-sheet-custom-list").html("");
					if(serieSheets.length >= 1){
						for(var i = 0; i < serieSheets.length; i ++){
							var id = serieSheets[i].id;
							var serie = serieSheets[i].serie;
							var initialSheet = serieSheets[i].initialSheet;
							var endSheet = serieSheets[i].endSheet;
							var actualSheet = serieSheets[i].actualSheet;
							
							$("#tbdoy-serie-sheet-custom-list").append(
								'<tr>' +
									'<td>'+serie+'</td> ' +
									'<td>'+initialSheet+'</td> ' +
									'<td>'+endSheet+'</td> ' +
									'<td>'+actualSheet+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-edit fa-lg" aria-hidden="true" onclick=serieSheetLoadEdit("'+id+'")></i> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=serieSheetLoadRemove("'+id+'") style="margin-left: 4px;"></i> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-serie-sheet-custom-list');
					}else{
						hiddenClass('div-serie-sheet-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList(){
					$("#tbdoy-serie-sheet-custom-list").html("");
					hiddenClass('div-serie-sheet-custom-list');
				}
				
				function paginate(pPage){
					page = pPage;
					serieSheets = [];
					serieSheetLoad();
				}
				
				function search(){
					page = null;
					serieSheets = [];
					serieSheetLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-serie-sheet').html("");
					hiddenClass('div-pagination-serie-sheet-content');
				}								
				
				// Adicionar/Editar cliente ===================================================================
				var serieSheetIdEdit = null;
				var enableEdit = null;
				var objSerieSheet = null;
				
				function serieSheetFormReady(){
					elementFieldReady('initial-sheet');
					elementFieldReady('end-sheet');
					elementFieldReady('serie');
					elementFieldReady('actual-sheet');
					
					serieSheetFormEnabled();
				}
				
				function serieSheetFieldReady(){
					elementFieldClassReset('initial-sheet');
					elementFieldClassReset('end-sheet');
					elementFieldClassReset('serie');
					
					serieSheetFormEnabled();
				}
				
				function serieSheetFormEnabled(){
					elementReadOnlyFalse('initial-sheet');
					elementReadOnlyFalse('end-sheet');
					elementReadOnlyFalse('serie');
					
					if(action == 'config'){
						hiddenClass('div-actual-sheet');
						elementHide('div-actual-sheet');	
					}
				}
								
				function serieSheetFormDisabled(){
					elementReadOnlyTrue('initial-sheet');
					elementReadOnlyTrue('actual-sheet');
					elementReadOnlyTrue('end-sheet');
					elementReadOnlyTrue('serie');
					
					hiddenClassRemove('h5-details-title');
					elementShow('h5-details-title');
					
					hiddenClassRemove('serie-sheet-config');
					elementShow('serie-sheet-config');
					
					hiddenClassRemove('serie-sheet-edit');
					elementShow('serie-sheet-edit');
					
					hiddenClassRemove('serie-sheet-trash');
					elementShow('serie-sheet-trash');
					
					hiddenClassRemove('serie-sheet-button-back');
					elementShow('serie-sheet-button-back');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('serie-sheet-button-add');
					elementHide('serie-sheet-button-add');
					
					hiddenClass('serie-sheet-button-edit');
					elementHide('serie-sheet-button-edit');
					
					hiddenClass('serie-sheet-button-cancel');
					elementHide('serie-sheet-button-cancel');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
				}
				
				function serieSheetLoadAdd(){
					action = 'config';
					serieSheetIdEdit = null;
					processing(loadingRequest);	
					setTimeout('serieSheetAdd()', 500);
				}
				
				function serieSheetAdd(){
					processingEnd();
					
					serieSheetFormReady();
					
					elementClassAdd('div-serie-sheet-list-content', 'animated fadeInRight');
					hiddenClass('div-serie-sheet-list-content');
					elementHide('div-serie-sheet-list-content');
					
					elementFieldReady('search-serie');
					elementPlaceholder('search-serie', 'por serie...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('serie-sheet-config');
					elementHide('serie-sheet-config');
					
					hiddenClass('serie-sheet-edit');
					elementHide('serie-sheet-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('serie-sheet-button-edit');
					elementHide('serie-sheet-button-edit');
					
					hiddenClass('serie-sheet-button-back');
					elementHide('serie-sheet-button-back');
					
					hiddenClass('serie-sheet-trash');
					elementHide('serie-sheet-trash');
					
					hiddenClassRemove('h5-config-title');
					elementShow('h5-config-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-serie-sheet');
					elementShow('form-serie-sheet');
					
					hiddenClassRemove('serie-sheet-button-content');
					elementShow('serie-sheet-button-content');
					
					hiddenClassRemove('serie-sheet-button-add');
					elementShow('serie-sheet-button-add');
					
					hiddenClassRemove('serie-sheet-button-cancel');
					elementShow('serie-sheet-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
				
				function serieSheet(){
					var bValid = true;
					
					serieSheetFieldReady();

					bValid = bValid && fieldsCheck(formFields);
					
					/*if(bValid){
						if(validateExpression('serie')){
							elementTagError('serie', invalidValue, 'top');
							bValid = false;
						}
					}*/
					
					if(bValid){
						// Folio inicial
						if(!w2utils.isInt(getElementValue('initial-sheet'))){
							elementTagError('initial-sheet', invalidValue, 'top');
							bValid = false;
						}
						
						// Folio final
						if(!w2utils.isInt(getElementValue('end-sheet'))){
							elementTagError('end-sheet', invalidValue, 'top');
							bValid = false;
						}
					}
					
					if(!bValid){
						separatorShow(separator1Data, separator1Value);
						return false;						
					}else{
						processing(processingRequest);
						
						var objSerieSheet = new Object();
						objSerieSheet.id = serieSheetIdEdit;
						objSerieSheet.serie = encodeValue(getElementValue('serie'));
						objSerieSheet.initialSheet = encodeValue(getElementValue('initial-sheet'));
						objSerieSheet.endSheet = encodeValue(getElementValue('end-sheet'));
						objSerieSheet.actualSheet = encodeValue(getElementValue('actual-sheet'));
						
						var objCustomerRequest = JSON.stringify(objSerieSheet);
						
						$.ajax({
							url: serieSheetRequest + "?serieSheetAddEdit",
					       	type: 'POST',
					       	data: {
					       		objSerieSheet : objCustomerRequest,
					       		operation: encodeValue(action),
					       		enableEdit : enableEdit
					       	},
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var serieSheet = objJson.serieSheet; 
									var response = objJson.response;
									var notification = response.notification;
									if(response.success){
										processingEnd();
										
										elementValueChange('serie', decodeValue(serieSheet.serie));
										elementValueChange('initial-sheet', decodeValue(serieSheet.initialSheet));
										elementValueChange('end-sheet', decodeValue(serieSheet.endSheet));					
										elementValueChange('actual-sheet', decodeValue(serieSheet.actualSheet));
										
										serieSheetIdEdit = serieSheet.id;
										serieSheetFormDisabled();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];										

										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									}else if(response.error){
										var errorSource = response.errors;
										if(errorSource != null){
											for (var i = 0; i < errorSource.length; i++) {
												var error = errorSource[i];
												var field = error['field'];
												var message = error['message'];
												
												elementForceError(field, message);
												
												separatorShow(separator1Data, separator1Value);
											}	
										}
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										
										if(!enableEdit){
											elementReadOnlyTrue('serie');
											elementReadOnlyTrue('initial-sheet');
										}
										
										processingEnd();
									}else if(response.unexpectedError){
										var notification = response.notification;
										if(notification != null){
											var pageMessage = notification.pageMessage;
											if(pageMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												var fadeOut = notification.fadeOut;
												globalMessageShow(message, cssClass, dismiss, fadeOut);
											}
										}
										
										if(!enableEdit){
											elementReadOnlyTrue('serie');
											elementReadOnlyTrue('initial-sheet');
										}
										
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Serie sheet failed!");
					        }
						});
					}
				}
				
				function serieSheetUpdate(){
					if(serieSheetIdEdit != null){
						serieSheetLoadEdit(serieSheetIdEdit);	
					}					
				}
				
				function serieSheetLoadEdit(pId){
					if(pId != null){
						serieSheetIdEdit = pId;
						action = 'edit';
						objSerieSheet = new Object();
						enableEdit = null;
						
						processing(loadingRequest);
						
						$.ajax({
							url: serieSheetRequest + '?serieSheetDataLoad',
							type: "POST",
							data: {id: serieSheetIdEdit},
						}).done(function (data) {								        	
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var serieSheet = objJson.serieSheet;
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									if(serieSheet != null){
										objSerieSheet.initialSheet = decodeValue(serieSheet.initialSheet);
										objSerieSheet.serie = decodeValue(serieSheet.serie);
										objSerieSheet.endSheet = decodeValue(serieSheet.endSheet);
										objSerieSheet.actualSheet = decodeValue(serieSheet.actualSheet);
										enableEdit = serieSheet.enableEdit;
										
										setTimeout('serieSheetLoaded()', 500);	
									}else{
										processingEnd();
									}									
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}					
				        }).fail(function (xhr, ajaxOptions, thrownError) {
				            console.log("ERROR");
				        });
					}
				}
				
				function serieSheetLoaded(){
					processingEnd();
					
					serieSheetFieldReady();
					
					elementValueChange('serie', objSerieSheet.serie);
					elementValueChange('initial-sheet', objSerieSheet.initialSheet);
					elementValueChange('end-sheet', objSerieSheet.endSheet);					
					elementValueChange('actual-sheet', objSerieSheet.actualSheet);
					
					hiddenClassRemove('div-actual-sheet');
					elementShow('div-actual-sheet');
					
					if(!enableEdit){
						elementReadOnlyTrue('serie');
						elementReadOnlyTrue('initial-sheet');
					}
					
					elementClassAdd('div-serie-sheet-list-content', 'animated fadeInRight');
					hiddenClass('div-serie-sheet-list-content');
					elementHide('div-serie-sheet-list-content');
					
					elementFieldReady('search-serie');
					elementPlaceholder('search-serie', 'por serie...');
					
					hiddenClass('h5-list-title');
					elementHide('h5-list-title');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('serie-sheet-edit');
					elementHide('serie-sheet-edit');
					
					hiddenClass('serie-sheet-button-add');
					elementHide('serie-sheet-button-add');

					hiddenClass('serie-sheet-button-back');
					elementHide('serie-sheet-button-back');
					
					hiddenClassRemove('serie-sheet-config');
					elementShow('serie-sheet-config');
					
					hiddenClassRemove('serie-sheet-trash');
					elementShow('serie-sheet-trash');
					
					hiddenClassRemove('h5-edit-title');
					elementShow('h5-edit-title');
					
					hiddenClassRemove('div-bullhorn');
					elementShow('div-bullhorn');
					
					hiddenClassRemove('form-serie-sheet');
					elementShow('form-serie-sheet');
					
					hiddenClassRemove('serie-sheet-button-content');
					elementShow('serie-sheet-button-content');
					
					hiddenClassRemove('serie-sheet-button-edit');
					elementShow('serie-sheet-button-edit');
					
					hiddenClassRemove('serie-sheet-button-cancel');
					elementShow('serie-sheet-button-cancel');
					
					hiddenClassRemove('div-thumb-tack');
					elementShow('div-thumb-tack');
				}
					
				// Eliminar cliente ===================================================================
				var serieSheetIdTrash = null;
				function serieSheetLoadRemove(pId){
					if(pId != null){
						elementTextChange('span-conformation-modal', getMapValue('serie.sheet'));
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'serieSheetRemove()');
						
						serieSheetIdTrash = pId;
						
						$("#confirmation-modal").modal();
					}
				}
				
				function serieSheetRemove(){
					if(serieSheetIdTrash != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('serieSheetRemoving()', 500);
					}
				}
				
				function serieSheetRemoving(){
					$.ajax({
						url: serieSheetRequest + '?serieSheetRemove',
						type: "POST",
						data: {id: serieSheetIdTrash},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								serieSheetRemoved();
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				function serieSheetRemoved(){
					processingTextChange(updatingRequest);
					
					hiddenClass('serie-sheet-trash');
					elementHide('serie-sheet-trash');
					
					hiddenClass('serie-sheet-edit');
					elementHide('serie-sheet-edit');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-serie-sheet');
					elementHide('form-serie-sheet');
					
					hiddenClass('serie-sheet-button-content');
					elementHide('serie-sheet-button-content');
					
					hiddenClass('serie-sheet-button-edit');
					elementHide('serie-sheet-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-serie-sheet-list-content');
					elementShow('div-serie-sheet-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('serie-sheet-config');
					elementShow('serie-sheet-config');
					
					page = encodeValue(page);
					setTimeout('serieSheetLoad()', 500);
				}
				
				// Cancelar
				function serieSheetCancel(){
					action = 'load';
					page = null;
					
					hiddenClass('serie-sheet-edit');
					elementHide('serie-sheet-edit');
					
					hiddenClass('serie-sheet-trash');
					elementHide('serie-sheet-trash');
					
					hiddenClass('h5-config-title');
					elementHide('h5-config-title');
					
					hiddenClass('h5-edit-title');
					elementHide('h5-edit-title');
					
					hiddenClass('h5-details-title');
					elementHide('h5-details-title');
					
					hiddenClass('div-bullhorn');
					elementHide('div-bullhorn');
					
					hiddenClass('form-serie-sheet');
					elementHide('form-serie-sheet');
					
					hiddenClass('serie-sheet-button-content');
					elementHide('serie-sheet-button-content');
					
					hiddenClass('serie-sheet-button-edit');
					elementHide('serie-sheet-button-edit');
					
					hiddenClass('div-thumb-tack');
					elementHide('div-thumb-tack');
					
					hiddenClassRemove('div-serie-sheet-list-content');
					elementShow('div-serie-sheet-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('serie-sheet-config');
					elementShow('serie-sheet-config');
					
					serieSheetLoad();
				}
				
			</script>
			
		</div>
	</body>
</html>