<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Logo</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-wrench" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.premium.configuration}"></span>
						</li>
						<li class="active">
							<i class="fa fa-file-image-o" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.configuration.emitter.logo}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7">
					<div class="title-action">
						<a id="emitter-logo-trash" class="btn btn-white hidden" style="display: none;">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span th:text="#{mega.cfdi.text.emitter.logo.trash}"></span>
						</a>
					</div>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							
							<div id="div-logo-content" class="row animated fadeInRight hidden" style="display: none;">
								<div class="col-lg-4">
				                    <div class="ibox float-e-margins">
				                    	<div class="ibox-title">
				                            <h5>Logo actual</h5>
				                        </div>
				                        <div class="ibox-content no-padding border-left-right" style="height: 214px;">
				                        	<div id="logo-actual-content" class="hidden" style="margin-top: 25px; display: none;">
			                                	<img id="logo-actual" class="img-responsive" alt="Logo" style="margin: auto;" height="150px" width="150px"/>			                                	
				                        	</div>
				                        	<div id="logo-actual-empty" class="hidden" style="margin-top: 25px; display: none;">
				                        		<div id="logo-actual-empty-content" style="text-align: center;">
				                        			<i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
				                        			<h1>SIN LOGO</h1>
				                        		</div>
				                        	</div>			                                
			                            </div>
				                    </div>
				                </div>
				                
				                <div class="col-lg-8" >
                    				<div class="row">
                    					<div class="col-lg-12">
                    						<div class="ibox float-e-margins">
												<div class="ibox-title">
													<h5>Nuevo logo</h5>
												</div>
												<div class="ibox-content" style="padding-bottom: 1px;">
													<div class="panel panel-default" style="margin-bottom: 0;">
														<div id="div-emitter-tax-information-title" class="panel-heading">
				                                            Información del logo
				                                        </div>
														<div class="panel-body panel-body-inner">
															<div id="div-logo-file-content" class="div-form-content">
																<div class="form-group" style="margin-top: 10px">
																	<!-- Logo -->
																	<div id="div-logo-file" class="col-xs-12 div-form-input-bottom">
																		<label id="label-logo-file" class="label-form" for="logo-file">
																			Logo (JPG/PNG):
																		</label>
																		<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="float: left">
																		    <div class="form-control" data-trigger="fileinput">
																		        <i class="glyphicon glyphicon-file fileinput-exists"></i>
																		    	<span class="fileinput-filename"></span>
																		    </div>
																		    <span class="input-group-addon btn btn-default btn-file">
																		        <span class="fileinput-new">Seleccionar</span>
																		        <span class="fileinput-exists">Cambiar</span>
																		        <input type="file" id="logo-file" name="logo-file" />
																		    </span>
																		    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
																		</div>
																		<div id="div-logo-file-error">
																			<span id="span-logo-file" class="field-validation-error-extended"></span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
													<div class="form-group" style="margin-top: 5px">
														<div class="button-form-right">
															<a id="emitter-logo-btn" class="btn btn-primary" style="width: 200px;">
																<i class="fa fa-check" aria-hidden="true"></i>						
																<span th:text="#{mega.cfdi.text.emitter.logo.add}"></span>
															</a>
														</div>
													</div>
													
												</div>
											</div>
                    					</div>
                    				</div>
                    			</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
			var processingRequest = /*[[${processingRequest}]]*/;
			
			// Logo actual request
			var emitterLogoRequest = /*[[@{/emitterLogo}]]*/;
			
			var contextPath = /*[[@{/}]]*/;
			
			// Confirmation
			var maps = [];
			var confirmationRequest = /*[[@{/modalConfirmationRequest}]]*/;
			
			$(document).ready(function(){
				mapLoad();
				
				actualLogo();
				
				$('#logo-file').change(function(){
					elementFieldClassReset(this.id);
				});
				
				$('#emitter-logo-btn').click(function(){
					logoFileUpload();
				});
				
				$('#emitter-logo-trash').click(function(){
					logoLoadRemove();
				});
			});
			
			var isLogoDefined = false;
			
			function actualLogo(){
				globalMessageHide();
				
				$.ajax({
					url: emitterLogoRequest,
			       	type: 'POST',
			       	data: {},
			       	success:  function(data) {
			       		if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							
							isLogoDefined = objJson.isLogoDefined;
							var actualLogoPath = objJson.logoUrl;
							
							if(response.success){
								if(isLogoDefined){
									if(actualLogoPath != null){
										var logo = contextPath + actualLogoPath;
										$('#logo-actual').prop('src', logo);
										
										hiddenClassRemove('logo-actual-content');
										elementShow('logo-actual-content');
										
										hiddenClassRemove('emitter-logo-trash');
										elementShow('emitter-logo-trash');
									}
								}else{									
									hiddenClassRemove('logo-actual-empty');
									elementShow('logo-actual-empty');
								}
								
								hiddenClassRemove('div-logo-content');
								elementShow('div-logo-content');
							}else if(response.error){
								
								if(notification != null){
									
									hiddenClass('div-logo-content');
									elementHide('div-logo-content');
									
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								
								processingEnd();
								
							}
							afterDocumentLoad();
			       		}
			      	},
			      	error: function (xhr, ajaxOptions, thrownError) {
			      		console.log("[ERROR] Account Load error!");
			        }
				}); 
			}
			
			function mapLoad(){
				$.ajax({
		            url: confirmationRequest,
		            method: 'POST',
		            data: {}
		        }).done(function (data) {								        	
		        	if(jQuery.parseJSON(data) != null){
		        		var objJson = jQuery.parseJSON(data);
		    			var mapSource = objJson.map;
		    			for (var i = 0; i < mapSource.length; i++) {
		    				var map = mapSource[i];
							var objMap = new Object();
							objMap.key = decodeValue(map['key']);
							objMap.value = decodeValue(map['value']);
							maps[maps.length] = objMap;
		    			}
		        	}
		        	console.log("[INFO] Map Confirmation loaded!");
		        }).fail(function (xhr, ajaxOptions, thrownError) {
		        	console.log("[ERROR] Map Confirmation error!");
		        });
			}
			
			function getMapValue(key){
				var result = null;
				for (var i = 0; i < maps.length; i++) {
					var obj = maps[i];
					if(obj.key == key){
						result = obj.value;
						break;
					}
				}
				return result;
			}
			
			//##### Cargar logo
			function logoFileUpload(){
				var bValid = true;
				
				bValid = bValid && fieldsCheck('logo-file');
				
				if(!bValid){
					if(!isElementHasValue('logo-file')){
						elementClassAdd('div-logo-file-error', 'div-file-input-span-has-error');
					}
					return false;
				}else{
					processing(processingRequest);
					
					//##### Cargando la informacion en el FormData
					var formData = new FormData(jQuery('form')[0]);
					
					formData.append('logoFile', $('#logo-file')[0].files[0]);
					
					$.ajax({
						url: emitterLogoRequest + "?uploadFile",
				       	type: 'POST',
				       	data: formData,
				       	cache: false,
				       	contentType: false,
				       	processData: false,
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response; 
								var notification = response.notification;
								
								isLogoDefined = objJson.isLogoDefined;
								var actualLogoPath = objJson.logoUrl;
								
								elementFieldReady('logo-file');
								elementFieldClassReset('logo-file');
								
								if(response.success){
									processingEnd();
									
									if(isLogoDefined){
										if(actualLogoPath != null){
											hiddenClass('logo-actual-empty');
											elementHide('logo-actual-empty');
											
											var logo = contextPath + actualLogoPath;
											$('#logo-actual').prop('src', logo);
											
											hiddenClassRemove('logo-actual-content');
											elementShow('logo-actual-content');
											
											hiddenClassRemove('emitter-logo-trash');
											elementShow('emitter-logo-trash');
											
											hiddenClassRemove('emitter-logo-trash');
											elementShow('emitter-logo-trash');
										}
									}else{										
										hiddenClass('emitter-logo-trash');
										elementHide('emitter-logo-trash');
									}
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];
									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
									
								}else if(response.error){
									var errorSource = response.errors;
									for (var i = 0; i < errorSource.length; i++) {
										var error = errorSource[i];
										var field = error['field'];
										var message = error['message'];
										var code = error['code'];
										
										elementForceError(field, message);
										
										if(field == 'logo-file'){
											elementClassAdd('div-logo-file-error', 'div-file-input-span-has-error');
										}												
									}
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Generate CFDI failed!");
				      		processingEnd();
				        }
					});
				}
			}
			
			//##### Eliminar logo
			function logoLoadRemove(){
				if(isLogoDefined){
					elementTextChange('span-conformation-modal', getMapValue('emitter.logo'));
					elementAttrEvent('btn-confirmation-modal', 'onclick', 'logoRemove()');
					
					$("#confirmation-modal").modal();
				}
			}
			
			function logoRemove(){
				$("#confirmation-modal").modal('hide');
				processing(processingRequest);
				
				setTimeout('logoRemoving()', 500);
			}
			
			function logoRemoving(){
				$.ajax({
					url: emitterLogoRequest + '?logoDelete',
					type: 'POST',
					data: {},
					success:  function(data) {
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								processingEnd();					
								
								hiddenClass('logo-actual-content');
								elementHide('logo-actual-content');
								
								hiddenClass('emitter-logo-trash');
								elementHide('emitter-logo-trash');
								
								hiddenClassRemove('logo-actual-empty');
								elementShow('logo-actual-empty');
								
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log("ERROR! " + thrownError);
					}
				});
			}
			
			</script>
				
		</div>
	</body>
</html>