<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			<!-- Select2 -->
			<link th:href="@{'/resources/css/plugins/select2/select2.min.css'}" rel="stylesheet">
			<script th:src="@{'/resources/js/plugins/select2/select2.full.min.js'}"></script>
			<!-- TouchSpin -->
			<link th:href="@{'/resources/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
				
				.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
					margin-top: -7px;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-5"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Transferir timbres</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span th:text="#{mega.cfdi.nav.home}"></span>
							</a>
						</li>
						<li>
							<i class="fa fa-sliders" aria-hidden="true"></i>							
							<span th:text="#{mega.cfdi.premium.advanced.options}"></span>
						</li>
						<li class="active">
							<i class="fa fa-handshake-o" aria-hidden="true"></i>
							<strong>
								<span th:text="#{mega.cfdi.premium.advanced.options.stamp.transfer}"></span>
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-7"></div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							
							<div class="ibox-content">
								<div id="stamp-transfer-content" class="ibox float-e-margins">
									<div class="div-form-facet" style="margin-top: 0px">
										<h4>
											<i class="fa fa-handshake-o"></i>
											<span>Transferir timbres</span>
										</h4>
									</div>
									<div id="div-checkbox-account-master" class="button-form-left" style="margin-top: 10px;">
										<div class="checkbox checkbox-primary checkbox-inline">
                                            <input id="checkbox-account-master" type="checkbox">
                                            <label id="label-checkbox-account-master" for="checkbox-account-master">
                                                Transferir de cuenta asociada a cuenta master
                                            </label>
                                        </div>
									</div>
									<div id="div-stamp-transfer" class="panel panel-default"><!-- style="margin-top: 15px;" -->
										<div id="div-stamp-trannsfer-title" class="panel-heading">
                                            Información de la transferencia de timbres
                                        </div>
                                        <div class="panel-body panel-body-inner">
											<div class="div-form-content">
												<div class="form-group" style="margin-top: 10px">
													<div id="div-stamp-transfer-master" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-stamp-transfer-master" class="label-form" for="stamp-transfer-master">
															Cuenta master (*):
														</label>
														<input id="stamp-transfer-master" name="stamp-transfer-master" type="text" class="form-control" readonly>
														<span id="span-stamp-transfer-master" class="field-validation-error-extended"></span>
													</div>
													<div id="div-stamp-transfer-account" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-stamp-transfer-account" class="label-form" for="stamp-transfer-account">
															Cuentas asociadas (*):
														</label>
														<select id="stamp-transfer-account" name="stamp-transfer-account" class="form-control select2"></select>
														<span id="span-stamp-transfer-account" class="field-validation-error-extended"></span>
													</div>
													<div id="div-stamp-transfer-available" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-stamp-transfer-available" class="label-form" for="stamp-transfer-available">
															Timbres disponibles de la cuenta master:
														</label>
														<input id="stamp-transfer-available" name="stamp-transfer-available" th:value="${stampTransferAvailable}" type="text" class="form-control" readonly>
														<span id="span-stamp-transfer-available" class="field-validation-error-extended"></span>
													</div>
												</div>
												<div id="div-stamp-transfer-separator-01"></div>
												<div class="form-group">
													<div id="div-stamp-transfer-amount" class="col-xs-12 col-sm-4 div-form-input-bottom">
														<label id="label-stamp-transfer-amount" class="label-form" for="stamp-transfer-amount" style="float: none !important;">
															Total de timbres a transferir (*):
														</label>
														<input id="stamp-transfer-amount" name="stamp-transfer-amount" type="text" class="form-control touchspin">
														<span id="span-stamp-transfer-amount" class="field-validation-error-extended"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="div-stamp-transfer-info" class="hidden" style="display: none;">
										<table class="table table-without-border table-list">
											<tbody>
												<tr>
					                              	<td>
					                              		Timbres transferidos:
					                              	</td>
					                              	<td>
					                              		<span id="td-span-stamp-transfer-amount"></span>
					                              	</td>
					                              	<td>
					                              		Cuenta master:
					                              	</td>
					                              	<td>
					                              		<span id="td-span-stamp-transfer-master"></span>
					                              	</td>
					                              	<td>
					                              		Cuenta asociada:
					                              	</td>
					                              	<td>
					                              		<span id="td-span-stamp-transfer-account"></span>
					                              	</td>
					                          	</tr>
					                          	<tr>
					                              	<td>
					                              		Tipo de transferencia:
					                              	</td>
					                              	<td colspan="5">
					                              		<span id="td-span-stamp-transfer-type"></span>
					                              	</td>
				                          		</tr>
					                         </tbody>
					                     </table>
									</div>
								</div>
							</div>
							<div id="stamp-transfer-button-content" class="form-group" style="margin-top: 5px;">
								<div id="div-form-btn" class="button-form-right">
									<button id="stamp-transfer-button" class="btn btn-primary" style="width: 200px;">
										<i class="fa fa-exchange" aria-hidden="true"></i> 
										<span>Transferir timbres</span>
									</button>
									<button id="stamp-transfer-button-cancel" class="btn btn-white" style="width: 150px;">
										<i class="fa fa-undo" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.cancelation}"></span>
									</button>
									<button id="stamp-transfer-button-back" class="btn btn-white hidden" style="width: 150px; display: none">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span th:text="#{mega.cfdi.legend.back}"></span>
									</button>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var updatingRequest = /*[[${updatingRequest}]]*/;
				var invalidValue = /*[[${invalidValue}]]*/;
				
				var emitterStampTransferRequest = /*[[@{/emitterStampTransfer}]]*/;
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					$(".select2").select2();
					
					stampTransferInitial();
					
					$('#label-checkbox-account-master').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica que la transferencia de timbres será desde la cuenta asociada seleccionada ' +
		    						  'hacia la cuenta master.<br /><br />' +
		    						  '<b><i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Esta opción se habilita siempre y cuando la cuenta asociada seleccionada tenga timbres disponibles.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
					
					$('#checkbox-account-master').click(function(){
						if(isElementChecked(this.id)){
							if(isElementHasValue('stamp-transfer-account')){
								elementValueChange('stamp-transfer-available', stampAccountAvailable);
								inputSpinUpdate('.touchspin', 1, stampAccountAvailable, 1);
								elementTextChange('label-stamp-transfer-available', 'Timbres disponibles de la cuenta asociada:');								
							}else{
								elementValueChange('stamp-transfer-available', stampMasterAvailable);
								inputSpinUpdate('.touchspin', 1, stampMasterAvailable, 1);
								elementTextChange('label-stamp-transfer-available', 'Timbres disponibles de la cuenta master:');
							}
						}else{
							elementValueChange('stamp-transfer-available', stampMasterAvailable);
							inputSpinUpdate('.touchspin', 1, stampMasterAvailable, 1);
							elementTextChange('label-stamp-transfer-available', 'Timbres disponibles de la cuenta master:');
						}
					});
					
					$('#stamp-transfer-account').change(function(){
						elementFieldClassReset(this.id);
						select2ClearError(this.id);
						separatorHide(separatorStampTransfer1Data, separatorStampTransfer1Value);
						if(isElementHasValue(this.id)){
							loadAvailableStampByAccount();							
						}else{
							elementTextChange('label-stamp-transfer-available', 'Timbres disponibles de la cuenta master:');
							elementValueChange('stamp-transfer-available', stampMasterAvailable);
							inputSpinUpdate('.touchspin', 1, stampMasterAvailable, 1);
							elementFieldReady('stamp-transfer-amount');
							elementUnchecked('checkbox-account-master');
							elementDisabledTrue('checkbox-account-master');
						}
					});
					
					$('#stamp-transfer-amount').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					})
					
					$('#stamp-transfer-button').click(function(){
						stampTransfer();
					});
					
					$('#stamp-transfer-button-cancel').click(function(){
						stampTransferReload();
					});
					
					$('#stamp-transfer-button-back').click(function(){
						stampTransferReload();
					});
				});
				
				var stampTransferForm = ['stamp-transfer-amount'];
				
				var separatorStampTransfer1Data = ['stamp-transfer-master', 'stamp-transfer-account'];
				var separatorStampTransfer1Value = 'div-stamp-transfer-separator-01';
								
				function stampTransferFieldsClear(){
					formFieldsClear(stampTransferForm);
					select2ClearError('stamp-transfer-account');
					$("#stamp-transfer-account").select2();
				}
				
				function fillStampTransferAccount(pOptions){
					selectRendered('stamp-transfer-account', pOptions);
					selectValueDefault('stamp-transfer-account');
					$("#stamp-transfer-account").select2();
				}
				
				function stampTransferReload(){
					stampTransferFieldsClear();
					
					hiddenClass('div-stamp-transfer-info');
					elementHide('div-stamp-transfer-info');
					
					hiddenClass('stamp-transfer-button-back');
					elementHide('stamp-transfer-button-back');
					
					stampTransferInitial()
				}
				
				function stampTransferCancel(){
					stampTransferFieldsClear();
				}
				
				var stampMasterAvailable = null;
				function stampTransferInitial(){
					$.ajax({
						url: emitterStampTransferRequest,
						type: "POST",
						data: {},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);								
							var credential = objJson.credential;
							
							var stampBuyTransfer = objJson.stampBuyTransfer;
							var options = stampBuyTransfer.options != null ? decodeValue(stampBuyTransfer.options) : null;
							var stampTransferOptions = stampBuyTransfer.stampTransferOptions;
							
							var stamp = stampBuyTransfer.stamp; 
							
							var response = objJson.response;
							var notification = response.notification;
							
							if(response.success){
								stampTransferFieldsClear();
								
								fillStampTransferAccount(options);
								
								elementValueChange('stamp-transfer-master', decodeValue(stampBuyTransfer.rfcMatserAccount));
								stampMasterAvailable = decodeValue(stamp.stampAvailable);
								elementValueChange('stamp-transfer-available', stampMasterAvailable);
								
								elementDisabledTrue('checkbox-account-master');
								
								elementSetMin('stamp-transfer-amount', 1);
								elementSetMax('stamp-transfer-amount', stampMasterAvailable);
								
								inputSpinInstance('.touchspin', 1, stampMasterAvailable, 1);
								
								hiddenClassRemove('div-checkbox-account-master');
								elementShow('div-checkbox-account-master');
								elementUnchecked('checkbox-account-master');
								
								hiddenClassRemove('div-stamp-transfer');
								elementShow('div-stamp-transfer');
								
								hiddenClassRemove('stamp-transfer-button');
								elementShow('stamp-transfer-button');
								
								hiddenClassRemove('stamp-transfer-button-cancel');
								elementShow('stamp-transfer-button-cancel');
								
								hiddenClassRemove('button-content');
								elementShow('button-content');
								
								processingEnd();	
							}else if(response.error){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
							
							afterDocumentLoad();
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Stamp Activation Option failed!");
			        });
				}
				
				var stampAccountAvailable = null;
				function loadAvailableStampByAccount(){
					processing(loadingRequest);
					stampAccountAvailable = null;
					$.ajax({
						url: emitterStampTransferRequest + '?loadStampTransfer',
						type: "POST",
						data: {accountIndex : getElementValue('stamp-transfer-account')}
					}).done(function (data) {
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var stamp = objJson.stamp;
							var response = objJson.response;
							
							if(response.success){
								stampAccountAvailable = decodeValue(stamp.stampAvailable);
								if(stampAccountAvailable > 0){
									elementDisabledFalse('checkbox-account-master');
								}else{
									elementDisabledTrue('checkbox-account-master');
								}
								processingEnd();
							}else if(response.error){
								var errorSource = response.errors;
								if(errorSource != null){
									for (var i = 0; i < errorSource.length; i++) {
										var error = errorSource[i];
										var field = error['field'];
										var message = error['message'];
										
										elementForceError(field, message);
										
										if(field == 'stamp-transfer-account'){
											select2ForceError('div-stamp-transfer-account');
										}
										
										separatorShow(separatorStampTransfer1Data, separatorStampTransfer1Value);
									}
								}
								processingEnd();
							}
						}
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Load Stamp Package failed!");
			        });
				}
				
				var stampTransferFields = ['stamp-transfer-master', 'stamp-transfer-account', 'stamp-transfer-available', 'stamp-transfer-amount'];
				function stampTransfer(){
					var bValid = true;
					
					bValid = bValid && fieldsCheck(stampTransferFields);
					
					if(!bValid){
						if(!isElementHasValue('stamp-transfer-account')){
							select2ForceError('div-stamp-transfer-account');
						}
						separatorShow(separatorStampTransfer1Data, separatorStampTransfer1Value);
						return false;
					}
					select2ClearError('stamp-transfer-account');
					
					processing(processingRequest);
					
					var stampObj = new Object();
					stampObj.stampAvailable = encodeValue(getElementValue('stamp-transfer-available'));
					
					var stampBuyTransferObj = new Object();
					stampBuyTransferObj.rfcMatserAccount = encodeValue(getElementValue('stamp-transfer-master'));
					stampBuyTransferObj.associatedAccountId = getElementValue('stamp-transfer-account');
					stampBuyTransferObj.transferAmount = encodeValue(getElementValue('stamp-transfer-amount'));
					stampBuyTransferObj.transferMasterToAccount = isElementChecked('checkbox-account-master') ? false : true;
					stampBuyTransferObj.transferAccountToMaster = isElementChecked('checkbox-account-master') ? true : false;
					stampBuyTransferObj.stamp = stampObj; 
					stampBuyTransferObj = JSON.stringify(stampBuyTransferObj);
					
					$.ajax({
						url: emitterStampTransferRequest + '?stampTransfer',
						type: "POST",
						data: {stampBuyTransfer : stampBuyTransferObj}
					}).done(function (data) {
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var stampBuyTransfer = objJson.stampBuyTransfer;
							var stamp = stampBuyTransfer.stamp;
							var response = objJson.response;
							var notification = response.notification;
							if(response.success){
								
								elementTextChange('td-span-stamp-transfer-amount', decodeValue(stampBuyTransfer.transferAmount));
								elementTextChange('td-span-stamp-transfer-master', decodeValue(stampBuyTransfer.rfcMatserAccount));
								elementTextChange('td-span-stamp-transfer-account', decodeValue(stampBuyTransfer.rfcAssociatedAccount));
								elementTextChange('td-span-stamp-transfer-type', decodeValue(stampBuyTransfer.transferType));
								
								if(stamp != null){
									elementTextChange('td-span-stamp-available', decodeValue(stamp.stampAvailable));
									elementTextChange('td-span-stamp-spen', decodeValue(stamp.stampSpent));
									elementTextChange('td-span-stamp-transfered', decodeValue(stamp.stampTransfered));
									elementTextChange('td-span-stamp-total', decodeValue(stamp.stampTotal));
									elementTextChange('td-span-stamp-enabled', stamp.enabled ? 'Habilitado' : 'Deshabilitado');
								}
								
								hiddenClass('div-checkbox-account-master');
								elementHide('div-checkbox-account-master');
								
								hiddenClass('div-stamp-transfer');
								elementHide('div-stamp-transfer');
								
								hiddenClass('stamp-transfer-button');
								elementHide('stamp-transfer-button');
								
								hiddenClass('stamp-transfer-button-cancel');
								elementHide('stamp-transfer-button-cancel');							
								
								hiddenClass('div-stamp-active-info');
								elementHide('div-stamp-active-info');
								
								hiddenClassRemove('div-stamp-transfer-info');
								elementShow('div-stamp-transfer-info');
								
								hiddenClassRemove('stamp-transfer-button-back');
								elementShow('stamp-transfer-button-back');
								
								processingEnd();
								
								var toastr = response.notification.toastr;
								var ToastrType = toastr['type'];
								var toastrTitle = toastr['title'];
								var toastrMessage = toastr['message'];
								systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
							}else if(response.error){
								var errorSource = response.errors;
								if(errorSource != null){
									for (var i = 0; i < errorSource.length; i++) {
										var error = errorSource[i];
										var field = error['field'];
										var message = error['message'];
										
										elementForceError(field, message);
										
										if(field == 'stamp-transfer-account'){
											select2ForceError('div-stamp-transfer-account');
										}
										
										separatorShow(separatorStampTransfer1Data, separatorStampTransfer1Value);
									}
								}
								processingEnd();
							}else if(response.unexpectedError){
								if(notification != null){
									var pageMessage = notification.pageMessage;
									if(pageMessage){
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
								processingEnd();
							}
						}
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("[ERROR] Stamp Activation failed!");
			        });
				};
				
			</script>
			
		</div>
	</body>
</html>