<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<title>Inicio</title>
</head>
<body>
	<div th:fragment="content">

		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4">
				<h2>CFD-Box Inicio</h2>
				<ol class="breadcrumb">
					<li><a th:href="@{'/'}">Inicio</a></li>
					<li class="active"><strong>Breadcrumb</strong></li>
				</ol>
			</div>
			<div class="col-sm-8">
				<div class="title-action">
					<a href="" class="btn btn-primary">This is action area</a>
				</div>
			</div>
		</div>

		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-lg-12">
					<!-- Area de mensajes -->
					<div id="global-message" class="hidden" style="margin-bottom: 5px;">
						<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
						<span id="global-message-text"></span>
					</div>

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Titulo</h5>
						</div>
						<div class="ibox-content">cotenido</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>