<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
	</head>
	<body>
		<div th:fragment="content"><!-- class="container" -->
			<link th:href="@{'/resources/css/app-style/login/login.css'}" rel="stylesheet">
			<!-- Mainly Scripts -->
			<script th:src="@{'/resources/js/plugins/nicescroll/jquery.nicescroll.min.js'}" type="text/javascript"></script>

			<body id="body-content">
				<div class="header">
			    	<div class="">
			    		<div class="logo-menu">
			            </div>
					</div>					
				</div>
				<div class="banner">
					<div class="container">
						<div class="text-center loginscreen animated fadeInDown" style="position: absolute; left: 0; top: 15%; right: 0; bottom: 0;"><!-- middle-box -->
							<div id="login-content" class="login-content">
								<div class="app-logo"></div>
								<p th:if="${showlockscreen}">
									<i class="fa fa-warning" aria-hidden="true"></i>
									<span th:text="#{mega.cfdi.information.locked.session}"></span>
								</p>
								<p th:if="${failure}" class="alert alert-danger alert-dismissable" style="padding-left: 0; padding-right: 0; margin-bottom: 0px;">									
									<i class="fa fa-ban" aria-hidden="true"></i>									
									<span th:text="${failureMessage}"></span>								
								</p>
								<form name='f' th:action='@{/login}' method='POST' class="m-t" role="form">
									<div class="form-group">
										<!-- <input type="email" class="form-control" placeholder="Username" required=""> -->
										<i class="fa fa-at fa-lg i-icon-user" aria-hidden="true"></i>								
										<input type="email" name="username" value="" class="form-control" placeholder="Correo electrónico" />
										<span id="icon-user"class="icon-user" />
									</div>
									<div class="form-group">
										<!-- <input type="password" class="form-control" placeholder="Password" required=""> -->
										<input type='password' name='password' class="form-control" placeholder="Contraseña" />
										<span id="icon-passwd" class="icon-passwd" />
									</div>
									<div>
										<a th:href="@{'/forgotPassword'}">
											<small>¿Olvidó su contraseña?</small>
										</a>
									</div>
<!-- 									<div class="create-account-content"> -->
<!-- 										<p class="text-muted text-center"> -->
<!-- 											<small> -->
<!-- 												¿Aún no tiene una cuenta? -->
<!-- 												<a th:href="@{'/registerAccount'}"> -->
<!-- 													Crear cuenta -->
<!-- 												</a> -->
<!-- 											</small> -->
<!-- 										</p> -->
<!-- 									</div> -->
									<button type="submit" class="btn btn-primary block full-width m-b">
										<i class="fa fa-sign-in" aria-hidden="true"></i>
										Iniciar sesión
									</button>
								</form>
								<div class="login-signature">
									<p>
										<small>
											MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]
										</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</body>
			
			<script th:inline="javascript" type="text/javascript">
				$(document).ready(function() {
					$("html").niceScroll({
						cursorborder:"0px solid #fff",
						cursorwidth:"5px",
						scrollspeed:"70"
					});
				});
			</script>
			
		</div>
	</body>

</html>