<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<img src='https://www.megapractical.com/hs-fs/hubfs/logo-horizontal.png' />
	
		<p th:text="${saludo}">Sr</p>
		<p>Se ha creado una cuenta de usuario en la plataforma de  
		Facturación Electrónica por Internet de MegaPractical. Como último paso del 
		registro, debe activar su cuenta de usuario haciendo click en 
		el siguiente vínculo:</p>
	
		<a th:href="${vinculoParaConfirmar}">Activar cuenta de usuario</a>
		
		<p>Saludos cordiales.</p>
	</body>
</html>