<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<img src='https://www.megapractical.com/hs-fs/hubfs/logo-horizontal.png' />
	
		<p th:text="${saludo}">Sr</p>
		
		<p>Se ha generado una cuenta de usuario para ud en la plataforma de  
		Facturación Electrónica por Internet de MegaPractical. Ahora podrá acceder
		usando el usuario y la contraseña que a continuación le enviamos. Por seguridad, 
		tenga en cuenta cambiar la contraseña una vez que inicie sesión.</p>
	
		<p>
			<b>Información de la cuenta de usuario</b><br>
			<span><b>Usuario: </b></span><span th:text="${username}"></span><br>
			<span><b>Contraseña: </b></span><span th:text="${passwd}"></span>	
		</p>	
		
		<p>
			<span>Haga click en el siguiente vínculo </span>
			<a th:href="${vinculoParaConfirmar}">Activar cuenta de usuario</a>
			<span> para que su cuenta quede activada en el sistema.</span>
		</p>
		
		<p>
			<span>Después de que haya activado su cuenta, haga click en el siguiente vínculo </span>
			<a href="https://mega-invoicing.megacfdi.com/login">Iniciar sesión en MEGA-CFDI</a>
			<span> para acceder al sistema o lo puede hacer desde la pantalla de activar cuenta.</span>
		</p>
		
		<p>Saludos cordiales.</p>
	</body>
</html>