<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<style>
			td {
				white-space: nowrap;
			}
		</style>
	</head>
	<body>
		<p>Estimado Cliente:</p>
		<p>Se ha procesado el archivo <b><span th:text="${fileName}"></span></b>; el resultado del procesamiento es:</p>
		<table border="1" cellspacing="0" cellpadding="2">
			<tr>
				<th>RFC Emisor</th>
				<th>RFC Receptor</th>
				<th>Serie</th>
				<th>Folio</th>
				<th>UUID</th>
				<th>Estado</th>
				<th>Secuencial</th>
				<th>Mensaje de Error</th>
				<th>ID Control</th>
				<th>Archivo</th>
			</tr>
			<tr th:each="summary : ${summary}">
				<td th:text="${summary.emitterRfc}"></td>
				<td th:text="${summary.receiverRfc}"></td>
				<td th:text="${summary.serie}"></td>
				<td th:text="${summary.folio}"></td>
				<td th:text="${summary.uuid}"></td>
				<td th:text="${summary.status}"></td>
				<td th:text="${summary.sequence}"></td>
				<td th:text="${summary.errorMessage}"></td>
				<td th:text="${summary.controlId}"></td>
				<td th:text="${summary.xmlName}"></td>
			</tr>
		</table>
	</body>
</html>