<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<p>
			El emisor <b><span th:text="${emitterName}"></span> (<span th:text="${emitterRfc}"></span>)</b> le ha enviado un Comprobante Fiscal
			Digital por Internet (CFDI) con la siguiente información:
		</p>
		<p>
			<b>RFC Receptor: </b><span th:text="${receiverRfc}"></span>
		</p>
		<p>
			<b>Serie: </b><span th:text="${serie}"></span>
		</p>
		<p>
			<b>Folio: </b><span th:text="${folio}"></span>
		</p>
		<p>
			<b>UUID: </b><span th:text="${uuid}"></span>
		</p>
	</body>
</html>