<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<style>
td {
	white-space: nowrap;
}
</style>
</head>
<body>
	<p>
		Estimado <span th:text="${emitterRfc}"></span> (<span th:text="${emitterName}"></span>):
	</p>
	<p>
		Se ha procesado satisfactoriamente el archivo <b><span th:text="${fileName}"></span></b> de solicitud de cancelación a las 
		<b><span th:text="${date}"></span></b>. Ya puede consultar el resultado desde la bandeja de cancelaciones del portal.
	</p>
</body>
</html>