<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<img src='https://www.megapractical.com/hs-fs/hubfs/logo-horizontal.png' width="350" />
	
		<p th:text="${saludo}">Sr</p>
		<p>Buen día.</p>
		<p>El servicio automático de entrega de CFDI de Mega-CFDI, envía a ud un recibo electrónico.</p>
		
		<p><b>Emisor del CFDI</b></p>
		<p><b>RFC: </b><span th:text="${emitterRfc}"></span></p>
		<p><b>Razón social: </b><span th:text="${emitterName}"></span></p>
		
		<p><b>Información del CFDI</b></p>
		<p><b>RFC del receptor: </b><span th:text="${receiverRfc}"></span></p>
		<p><b>Razón social del receptor: </b><span th:text="${receiverName}"></span></p>
		<p><b>UUID: </b><span th:text="${uuid}"></span></p>
		
		<p>Se adjunta el <span th:text="${attachment}"></span> del CFDI correspondiente.</p>		
		
		<p>Saludos cordiales.</p>
	</body>
</html>