<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<img src='https://www.megapractical.com/hs-fs/hubfs/logo-horizontal.png' />
	
		<p th:text="${saludo}">Sr</p>
		<p>Se ha reestablecido su contraseña en la plataforma de  
		Facturación Electrónica por Internet de MegaPractical. Ahora podrá acceder
		al mismo usando la contraseña que a continuación le enviamos. Por favor, 
		tenga en cuenta cambiarla una vez que inicie sesión:</p>
	
		<p><b>Nueva contraseña: </b><span th:text="${recoveryPasswd}"></span></p>
		
		<p>Saludos cordiales.</p>
	</body>
</html>