<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
	</head>
	<body>
		<div th:fragment="content">
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h2>MegaCFDI - Opciones</h2>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-gears" aria-hidden="true"></i>
							Opciones
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-vcard" aria-hidden="true"></i>
								Perfil de usuario
							</strong>
						</li>
					</ol>
				</div>
			</div>
	
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						
						<!-- Area de mensajes -->
						<div id="global-message" class="hidden" style="margin-bottom: 5px;">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<span id="global-message-text"></span>
						</div>
						
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Datos del usuario</h5>
							</div>
							<div class="ibox-content" style="padding: 0;">
								<form role="form" action="#" th:action="@{/accountInfo}" th:object="${accountViewModel}" method="post">
									<div>
										<div class="form-group">
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="contribuyenteViewModel.nombreRazonSocial">
													Nombre o razón social:
												</label>
												<input type="text" class="form-control" th:field="*{contribuyenteViewModel.nombreRazonSocial}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.nombreRazonSocial')}" th:text="${err}">error</span>
											</div>
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="usuarioViewModel.correoElectronico">
													Correo electrónico:
												</label>
												<input type="email" class="form-control" th:field="*{usuarioViewModel.correoElectronico}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('usuarioViewModel.correoElectronico')}" th:text="${err}">error</span>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-12" style="height: 10px;"></div>
										</div>
										<div class="form-group">
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="contribuyenteViewModel.rfc">
													RFC:
												</label>
												<input type="text" class="form-control" th:field="*{contribuyenteViewModel.rfc}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.rfc')}" th:text="${err}">error</span>
											</div>
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="contribuyenteViewModel.rfcActivo">
													Cuenta activa en el sistema:
												</label>
												<input type="text" class="form-control" th:field="*{contribuyenteViewModel.rfcActivo}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.rfcActivo')}" th:text="${err}">error</span>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-12" style="height: 10px;"></div>
										</div>
										<div class="form-group">
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="contribuyenteViewModel.telefono">
													Teléfono/Celular:
												</label>
												<input type="text" class="form-control" th:field="*{contribuyenteViewModel.telefono}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.telefono')}" th:text="${err}">error</span>
											</div>
											<div class="col-xs-12 col-sm-6">
												<label class="label-form" for="contribuyenteViewModel.codigoSeguridad">
													Código de seguridad:
												</label>
												<input type="text" class="form-control" th:value="${securityCode}" readonly>
												<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.codigoSeguridad')}" th:text="${err}">error</span>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-12" style="height: 10px;"></div>
										</div>
										<div class="button-form-right" style="padding-right: 15px;">
											<a style="width: 150px;" th:href="@{'/'}" class="btn btn-primary">
												Salir
											</a>
										</div>
									</div>
	
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</body>
</html>