<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
	</head>
	<body>
		<div th:fragment="content">
	
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-4">
					<h3 class="header-title">MegaCFDI - Opciones</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-gears" aria-hidden="true"></i>
							Opciones
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-key" aria-hidden="true"></i>
								Cambiar contraseña
							</strong>
						</li>
					</ol>
				</div>
			</div>
	
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
					
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Información de cambio de contraseña</h5>
								<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>
							</div>
							<div class="ibox-content">
								<form role="form" action="#" method="post"><!-- th:action="@{/accountChangePassword}" th:object="${accountViewModel}" -->
									<div><!-- class="form-horizontal" -->
										<div class="form-group">
											<div id="div-passwd" class="col-xs-12 col-sm-6 div-form-input-bottom">
												<label id="label-passwd" class="label-form" for="passwd">
													Nueva contraseña (*):
												</label>
												<input type="password" id="passwd" name="passwd" class="form-control">
												<span id="span-passwd" class="field-validation-error-extended"></span>
											</div>
											<div id="div-passwd-repeat" class="col-xs-12 col-sm-6 div-form-input-bottom">
												<label id="label-passwd-repeat" class="label-form" for="passwd-repeat">
													Repetir contraseña (*):
												</label>
												<input type="password" id="passwd-repeat" name="passwd-repeat" class="form-control">
												<span id="span-passwd-repeat" class="field-validation-error-extended"></span>
											</div>
										</div>
										<div class="form-group">
											<div class="button-form-right" style="padding-right: 15px;">
												<a id="btn-change-passwd" class="btn btn-primary" style="width: 200px;">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													Guardar cambios
												</a>
												<a style="width: 150px;" th:href="@{'/'}" class="btn btn-white">
													<i class="fa fa-undo" aria-hidden="true"></i>													
													Salir
												</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<script th:inline="javascript" type="text/javascript">
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var passwdNotMatch = /*[[${passwdNotMatch}]]*/;
				var passwdInvalidRegex = /*[[${passwdInvalidRegex}]]*/;
				var unexpectedError = /*[[${unexpectedError}]]*/;
				
				var changePasswordRequest = /*[[@{/accountChangePassword}]]*/;
				
				$(document).ready(function() {
					appValidationSetRequiredMessage(requiredMessage);
					
					$('#passwd').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#passwd-repeat').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#btn-change-passwd').click(function(){
						changePasswd();
					});
					
				});
				
				var fields = ["passwd", "passwd-repeat"];
				function fieldReady(){
					elementFieldClassReset("passwd");
					elementFieldClassReset("passwd-repeat");
				}
				
				function changePasswd(){
					fieldReady();
					
					var bValid = true;
					
					bValid = bValid && fieldsCheck(fields, true);
					
					if(bValid){
						if(validateExpression('passwd')){
							elementTagError('passwd', passwdInvalidRegex, 'top');
							bValid = false;
						}else if(getElementValue('passwd') != getElementValue('passwd-repeat')){
							elementTagError('passwd-repeat', passwdNotMatch, 'bottom');
							bValid = false;
						}
					}
					
					if(!bValid){
						return false;
					}else{
						processing(processingRequest);
					}
					
					var objUser = new Object();
					objUser.passwd = encodeValue(getElementValue('passwd'));
					objUser.passwdRepeat = encodeValue(getElementValue('passwd-repeat'));
					
					var objUserRequest = JSON.stringify(objUser);
					
					$.ajax({
						url: changePasswordRequest,
						type: 'POST',
						data: {
							objUser : objUserRequest
						},
						success:  function(data) {
							if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var tax = objJson.tax;  
								var response = objJson.response;
								var notification = response.notification;
								if(response.success){
									formFieldsClear(fields);
									processingEnd();
									
									var toastr = response.notification.toastr;
									var ToastrType = toastr['type'];
									var toastrTitle = toastr['title'];
									var toastrMessage = toastr['message'];
									systemNotificationShow(ToastrType, toastrMessage, toastrTitle);
								}else if(response.error){
									var errorSource = response.errors;
									if(errorSource != null){
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var position = field == 'passwd' ? 'top' : (field == 'passwd-repeat' ? 'bottom' : null);
											elementTagError(field, message, position);
										}	
									}
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}else if(response.unexpectedError){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									processingEnd();
								}
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							processingEnd();
							recoveryPasswdError();
							console.log("ERROR! " + thrownError);
						}
					});
				}
				
			</script>
	
		</div>
	</body>
</html>