<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- #### IMPORTANT ######################################## -->
		<meta name="_csrf" th:content="${_csrf.token}"/>
    	<!-- default header name is X-CSRF-TOKEN -->
    	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    	<!-- ####################################################### -->
		
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{'/resources/img/favicon/favicon-32x32.png'}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{'/resources/img/favicon/favicon-96x96.png'}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{'/resources/img/favicon/favicon-16x16.png'}">
		
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>

		<!-- Mainly CSS -->
		<!-- CSS :: Bootstrap -->
		<link th:href="@{'/resources/css/bootstrap/bootstrap.min.css'}" rel="stylesheet">
		<!-- CSS :: Font-Awesome -->
		<link th:href="@{'/resources/font-awesome/css/font-awesome.css'}" rel="stylesheet">
		<!-- CSS :: Animate -->				
		<link th:href="@{'/resources/css/plugins/animate/animate.css'}" rel="stylesheet">
		<!-- CSS :: Inspinia - Responsive Admin Theme -->
		<link th:href="@{'/resources/css/inspinia/inspinia-2.6.2.css'}" rel="stylesheet">
		<!-- CSS :: Toastr -->
		<link th:href="@{'/resources/css/plugins/toastr/toastr-2.1.3.css'}" rel="stylesheet">
		
		<!-- Custom CSS -->
		<!-- CSS :: APP -->
		<link th:href="@{'/resources/css/app-style/stub/app.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/footer.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/responsive/responsive.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/blockUI.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/plugins/w2ui/style/w2ui.css'}" rel="stylesheet">

		<!-- Mainly Javascript -->
		<!-- jQuery -->
		<script th:src="@{'/resources/js/jquery/jquery-2.1.1.js'}" type="text/javascript"></script>
		<script th:src="@{'/resources/js/jquery/jquery.blockUI.js'}" type="text/javascript"></script>
		<!-- Bootstrap -->
		<script th:src="@{'/resources/js/bootstrap/bootstrap.min.js'}" type="text/javascript"></script>
		<!-- MetisMenu -->
		<script th:src="@{'/resources/js/plugins/metisMenu/jquery.metisMenu.js'}"></script>
		<!-- Slimscroll -->
		<script th:src="@{'/resources/js/plugins/slimscroll/jquery.slimscroll.min.js'}"></script>

		<!-- Custom and Plugin Javascript -->
		<!-- Inspinia -->
		<script th:src="@{'/resources/js/inspinia/inspinia.js'}"></script>
		<!-- Pace -->
		<script th:src="@{'/resources/js/plugins/pace/pace.min.js'}"></script>
		<!-- Toastr -->
		<script th:src="@{'/resources/js/plugins/toastr/toastr-2.1.3.js'}"></script>
		<!-- W2ui -->
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-1.5.rc1.js'}"></script>
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-fields.1.5.js'}"></script>
				
		<!-- APP Javascript -->
		<script th:src="@{'/resources/js/app-script/base-64.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-util.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-validation-fields.js'}"></script>
		<script th:src="@{'/resources/js/app-script/processing.js'}"></script>
		<script th:src="@{'/resources/js/app-script/notifications.js'}"></script>
		<script th:src="@{'/resources/js/app-script/prevent-enter-keydown.js'}"></script>
		
	</head>

	<body>
		<div id="wrapper" sec:authorize="isAuthenticated() and (hasRole('ROLE_ADM') or hasRole('ROLE_ROOT'))">
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav metismenu" id="side-menu">
						<li>
							<div class="dropdown profile-element">
								<a th:href="@{'/managementDashboard'}" style="text-decoration: none;">
									<img alt="MegaPractical" th:src="@{'/resources/img/template/megapractical.png'}" width="210px;" style="padding: 5px 0px 5px 5px";>
								</a>
							</div>
						</li>
						<li class="nav-header" style="padding: 15px 23px;">
							<div class="dropdown profile-element">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="clear">
										<span class="block m-t-xs">
											<strong class="font-bold">
												<span sec:authentication="name">
													username
												</span>
												<div sec:authorize="hasRole('ROLE_ADM')">
													<span> ADMIN </span>
												</div>
												<div sec:authorize="hasRole('ROLE_ROOT')">
													<span> SUPER ADMIN </span>
												</div>
											</strong>
										</span>
										<span class="text-muted text-xs block" style="margin-top: 3px;">
											Opciones
											<b class="caret"></b>
										</span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<li>
										<a href="#">
											Perfil de usuario
										</a>
									</li>
									<li>
										<a href="#">
											Cambiar contraseña
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a th:href="@{/logout}">
											Cerrar sesi&oacute;n
										</a>
									</li>
								</ul>
							</div>
							<div class="logo-element">
								<img alt="MegaPractical" th:src="@{'/resources/img/template/megapractical-compact.png'}">
							</div>
						</li>
	
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_ADM') or hasRole('ROLE_ROOT'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('MngGeneral')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-cogs" aria-hidden="true"></i>
								<span class="nav-label">Administración</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a th:href="@{'/managementUser'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('management-user')}">
										<i class="fa fa-users" aria-hidden="true"></i>
										<label>Gestionar usuarios</label>
									</a>
								</li>
								<li sec:authorize="hasRole('ROLE_ROOT')">
									<a th:href="@{'/cancelationCfdi'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('cancelation-cfdi')}">
										<i class="fa fa-ban" aria-hidden="true"></i>									
										<label class="label-menu">Cancelar CFDI</label>
									</a>
								</li>
								<li sec:authorize="hasRole('ROLE_ROOT')">
									<a th:href="@{'/cancelationCfdiMasive'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('cancelation-cfdi-masive')}">
										<i class="fa fa-files-o" aria-hidden="true"></i>									
										<label class="label-menu">Cancelación masiva</label>
									</a>
								</li>
								<li sec:authorize="hasRole('ROLE_ROOT')">
									<a th:href="@{'/cfditmp'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('cfditmp')}">
										<i class="fa fa-file" aria-hidden="true"></i>
										<label>CFDI tmp</label>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			<nav></nav>

			<div id="page-wrapper" class="gray-bg">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header">
							<a class="navbar-minimalize minimalize-styl-2 btn btn-success" href="#">
								<i class="fa fa-bars"></i>
							</a>
						</div>
						
						<ul class="nav navbar-top-links navbar-left">
							<li sec:authorize="isAuthenticated() and (hasRole('ROLE_ADM') or hasRole('ROLE_ROOT'))">
								<div class="form-group btn btn-white" style="margin-top: 12px; font-size: 13px;"><!-- margin-left: 30px; -->
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<span th:text="${enviroment}"></span>
								</div>
							</li>
						</ul>												
						
						<ul class="nav navbar-top-links navbar-right">
							<li class="dropdown" sec:authorize="isAuthenticated() and hasRole('ROLE_MST')">
								<a class="dropdown-toggle count-info"
									data-toggle="dropdown" href="#"> <i class="fa fa-envelope"></i>
										<span class="label label-warning">16</span>
								</a>
								<ul class="dropdown-menu dropdown-messages">
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" th:src="@{'/resources/img/a7.jpg'}">
											</a>
											<div class="media-body">
												<small class="pull-right">46h ago</small> <strong>Mike
													Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
												<small class="text-muted">3 days ago at 7:58 pm -
													10.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" th:src="@{'/resources/img/a4.jpg'}">
											</a>
											<div class="media-body ">
												<small class="pull-right text-navy">5h ago</small> <strong>Chris
													Johnatan Overtunk</strong> started following <strong>Monica
													Smith</strong>. <br> <small class="text-muted">Yesterday
													1:21 pm - 11.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" th:src="@{'/resources/img/profile.jpg'}">
											</a>
											<div class="media-body ">
												<small class="pull-right">23h ago</small> <strong>Monica
													Smith</strong> love <strong>Kim Smith</strong>. <br> <small
													class="text-muted">2 days ago at 2:30 am -
													11.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a href="mailbox.html">
												<i class="fa fa-envelope"></i>
												<strong>Read All Messages</strong>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="dropdown" sec:authorize="isAuthenticated() and hasRole('ROLE_MST')">
								<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
									<i class="fa fa-bell" aria-hidden="true"></i> 
									<span class="label label-primary">8</span>
								</a>
								<ul class="dropdown-menu dropdown-alerts">
									<li><a href="mailbox.html">
											<div>
												<i class="fa fa-envelope fa-fw"></i> You have 16 messages <span
													class="pull-right text-muted small">4 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li><a href="profile.html">
											<div>
												<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
													class="pull-right text-muted small">12 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li><a href="grid_options.html">
											<div>
												<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
													class="pull-right text-muted small">4 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a href="notifications.html">
												<strong>See AllAlerts</strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li sec:authorize="isAuthenticated() and hasRole('ROLE_MST')">
			                    <a class="right-sidebar-toggle">
			                        <i class="fa fa-tasks" aria-hidden="true"></i>
			                    </a>
			                </li>
							<li>
								<a th:href="@{/logout}">
									<!--<i class="fa fa-sign-out"></i>-->
									<i class="fa fa-power-off" aria-hidden="true"></i>
									<!--Cerrar sesi&oacute;n-->
									<span th:text="#{mega.cfdi.nav.logout}" style="margin-left: -4px;">Salir</span>
								</a>
							</li>
						</ul>
	
					</nav>
				</div>
	
				<div th:replace="${view} :: content">Content</div>
	
			</div>
			
			<div id="right-sidebar">
	            <div class="sidebar-container">
	
	                <ul class="nav nav-tabs navs-3">
	
	                    <li class="active"><a data-toggle="tab" href="#tab-1">
	                        Notes
	                    </a></li>
	                    <li><a data-toggle="tab" href="#tab-2">
	                        Projects
	                    </a></li>
	                    <li class=""><a data-toggle="tab" href="#tab-3">
	                        <i class="fa fa-gear"></i>
	                    </a></li>
	                </ul>
	
	                <div class="tab-content">
	
	
	                    <div id="tab-1" class="tab-pane active">
	
	                        <div class="sidebar-title">
	                            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
	                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
	                        </div>
	
	                        <div>
	
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a1.jpg">
	
	                                        <div class="m-t-xs">
	                                            <i class="fa fa-star text-warning"></i>
	                                            <i class="fa fa-star text-warning"></i>
	                                        </div>
	                                    </div>
	                                    <div class="media-body">
	
	                                        There are many variations of passages of Lorem Ipsum available.
	                                        <br>
	                                        <small class="text-muted">Today 4:21 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a2.jpg">
	                                    </div>
	                                    <div class="media-body">
	                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
	                                        <br>
	                                        <small class="text-muted">Yesterday 2:45 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">
	
	                                        <div class="m-t-xs">
	                                            <i class="fa fa-star text-warning"></i>
	                                            <i class="fa fa-star text-warning"></i>
	                                            <i class="fa fa-star text-warning"></i>
	                                        </div>
	                                    </div>
	                                    <div class="media-body">
	                                        Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
	                                        <br>
	                                        <small class="text-muted">Yesterday 1:10 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a4.jpg">
	                                    </div>
	
	                                    <div class="media-body">
	                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
	                                        <br>
	                                        <small class="text-muted">Monday 8:37 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a8.jpg">
	                                    </div>
	                                    <div class="media-body">
	
	                                        All the Lorem Ipsum generators on the Internet tend to repeat.
	                                        <br>
	                                        <small class="text-muted">Today 4:21 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a7.jpg">
	                                    </div>
	                                    <div class="media-body">
	                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
	                                        <br>
	                                        <small class="text-muted">Yesterday 2:45 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">
	
	                                        <div class="m-t-xs">
	                                            <i class="fa fa-star text-warning"></i>
	                                            <i class="fa fa-star text-warning"></i>
	                                            <i class="fa fa-star text-warning"></i>
	                                        </div>
	                                    </div>
	                                    <div class="media-body">
	                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
	                                        <br>
	                                        <small class="text-muted">Yesterday 1:10 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="sidebar-message">
	                                <a href="#">
	                                    <div class="pull-left text-center">
	                                        <img alt="image" class="img-circle message-avatar" src="img/a4.jpg">
	                                    </div>
	                                    <div class="media-body">
	                                        Uncover many web sites still in their infancy. Various versions have.
	                                        <br>
	                                        <small class="text-muted">Monday 8:37 pm</small>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	
	                    </div>
	
	                    <div id="tab-2" class="tab-pane">
	
	                        <div class="sidebar-title">
	                            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
	                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
	                        </div>
	
	                        <ul class="sidebar-list">
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Business valuation</h4>
	                                    It is a long established fact that a reader will be distracted.
	
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
	                                    </div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Contract with Company </h4>
	                                    Many desktop publishing packages and web page editors.
	
	                                    <div class="small">Completion with: 48%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 48%;" class="progress-bar"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Meeting</h4>
	                                    By the readable content of a page when looking at its layout.
	
	                                    <div class="small">Completion with: 14%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <span class="label label-primary pull-right">NEW</span>
	                                    <h4>The generated</h4>
	                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
	                                    There are many variations of passages of Lorem Ipsum available.
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Business valuation</h4>
	                                    It is a long established fact that a reader will be distracted.
	
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
	                                    </div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Contract with Company </h4>
	                                    Many desktop publishing packages and web page editors.
	
	                                    <div class="small">Completion with: 48%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 48%;" class="progress-bar"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Meeting</h4>
	                                    By the readable content of a page when looking at its layout.
	
	                                    <div class="small">Completion with: 14%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <span class="label label-primary pull-right">NEW</span>
	                                    <h4>The generated</h4>
	                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
	                                    There are many variations of passages of Lorem Ipsum available.
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	
	                        </ul>
	
	                    </div>
	
	                    <div id="tab-3" class="tab-pane">
	
	                        <div class="sidebar-title">
	                            <h3><i class="fa fa-gears"></i> Settings</h3>
	                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
	                        </div>
	
	                        <div class="setings-item">
	                    <span>
	                        Show notifications
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
	                                    <label class="onoffswitch-label" for="example">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Disable Chat
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
	                                    <label class="onoffswitch-label" for="example2">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Enable history
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
	                                    <label class="onoffswitch-label" for="example3">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Show charts
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
	                                    <label class="onoffswitch-label" for="example4">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Offline users
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
	                                    <label class="onoffswitch-label" for="example5">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Global search
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
	                                    <label class="onoffswitch-label" for="example6">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
	                    <span>
	                        Update everyday
	                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
	                                    <label class="onoffswitch-label" for="example7">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	
	                        <div class="sidebar-content">
	                            <h4>Settings</h4>
	                            <div class="small">
	                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
	                            </div>
	                        </div>
	
	                    </div>
	                </div>
	
	            </div>
	
	
	
	        </div>
			
			
		</div>
		<div id="wrapper" sec:authorize="!isAuthenticated()">
			<link th:href="@{'/resources/css/app-style/unauthorized/unauthorized.css'}" rel="stylesheet">
			<link th:href="@{'/resources/css/app-style/stub/background.css'}" rel="stylesheet">
			<div th:insert="~{denied/Unauthorized :: unauthorized}"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
		    	
		    	var sessionTimeOut = /*[[${sessionTimeOut}]]*/;
		    	var logoutRequest = /*[[@{/logout?cause=lock}]]*/;		    	
		    	var sessionHandlerRequest = /*[[@{/sessionMonitor}]]*/;
		    	var sessionHandlerIntervalId = null;
		    
		    	$(document).ready(function(){
		    		systemSessionHandler();
		    		// Verifica la sesion cada 21 min (21 min = 3660 seg = 1260000 miliseg)
		    		sessionTimeOut = parseInt(sessionTimeOut) + 1;
		    		sessionHandlerIntervalId = interval(systemSessionHandler, convertMiliseg(sessionTimeOut));
		    	});
		    
		    	function systemSessionHandler(){
		    		$.ajax({
						url: sessionHandlerRequest,
				       	type: 'POST',
				       	data: {},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var userSessionActive = objJson.sessionActive;
								if(userSessionActive){
									var sessionDate = decodeValue(objJson.sessionDate);
									var sessionTime = decodeValue(objJson.sessionTime);
									
									console.log("\n========================================================================");
									console.log("[INFO] Session Handler Instanciate at " + sessionDate + " " + sessionTime);
									console.log("========================================================================\n");
								}else{
									intervalClear(sessionHandlerIntervalId);
									window.location = logoutRequest;
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		intervalClear(sessionHandlerIntervalId);
				      		console.log("[ERROR] Session Handler Instanciate");
				        }
					});
		    	}
		    	
		    	
		    	
		    	
			/*]]>*/
		</script>
		
	</body>
</html>