<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- #### IMPORTANT ######################################## -->
		<meta name="_csrf" th:content="${_csrf.token}"/>
    	<!-- default header name is X-CSRF-TOKEN -->
    	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    	<!-- ####################################################### -->
	
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	
		<!-- Mainly CSS -->
		<!-- CSS :: Bootstrap -->
		<link th:href="@{'/resources/css/bootstrap/bootstrap.min.css'}" rel="stylesheet">
		<!-- CSS :: Font-Awesome -->
		<link th:href="@{'/resources/font-awesome/css/font-awesome.css'}" rel="stylesheet">
		<!-- CSS :: Animate -->				
		<link th:href="@{'/resources/css/plugins/animate/animate.css'}" rel="stylesheet">
		<!-- CSS :: Inspinia - Responsive Admin Theme -->
		<link th:href="@{'/resources/css/inspinia/inspinia-2.6.2.css'}" rel="stylesheet">
		
		<!-- Custom CSS -->
		<!-- CSS :: APP -->
		<link th:href="@{'/resources/css/app-style/stub/background.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/app.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/blockUI.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/plugins/w2ui/style/w2ui.css'}" rel="stylesheet">
	
		<!-- Mainly Scripts -->
		<!-- jQuery -->
		<script th:src="@{'/resources/js/jquery/jquery-2.1.1.js'}" type="text/javascript"></script>
		<script th:src="@{'/resources/js/jquery/jquery.blockUI.js'}" type="text/javascript"></script>
		<script th:src="@{'/resources/js/jquery/jquery.redirect.js'}" type="text/javascript"></script>
		<!-- Bootstrap -->
		<script th:src="@{'/resources/js/bootstrap/bootstrap.min.js'}" type="text/javascript"></script>
		
		<!-- Custom and Plugin Javascript -->		
		<!-- W2ui -->
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-1.5.rc1.js'}"></script>
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-fields.1.5.js'}"></script>
		
		<!-- APP Javascript -->
		<script th:src="@{'/resources/js/app-script/base-64.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-util.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-validation-fields.js'}"></script>
		<script th:src="@{'/resources/js/app-script/processing.js'}"></script>
	</head>

	<div th:replace="${view} :: content">Content</div>
</html>