<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- #### IMPORTANT ######################################## -->
		<meta name="_csrf" th:content="${_csrf.token}"/>
    	<!-- default header name is X-CSRF-TOKEN -->
    	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    	<!-- ####################################################### -->
		
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{'/resources/img/favicon/favicon-32x32.png'}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{'/resources/img/favicon/favicon-96x96.png'}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{'/resources/img/favicon/favicon-16x16.png'}">
		
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>

		<!-- Mainly CSS -->
		<!-- CSS :: Bootstrap -->
		<link th:href="@{'/resources/css/bootstrap/bootstrap.min.css'}" rel="stylesheet">
		<!-- CSS :: Font-Awesome -->
		<link th:href="@{'/resources/font-awesome/css/font-awesome.css'}" rel="stylesheet">
		<!-- CSS :: Animate -->				
		<link th:href="@{'/resources/css/plugins/animate/animate.css'}" rel="stylesheet">
		<!-- CSS :: Inspinia - Responsive Admin Theme -->
		<link th:href="@{'/resources/css/inspinia/inspinia-2.6.2.css'}" rel="stylesheet">
		<!-- CSS :: Toastr -->
		<link th:href="@{'/resources/css/plugins/toastr/toastr-2.1.3.css'}" rel="stylesheet">
		
		<!-- Custom CSS -->
		<!-- CSS :: APP -->
		<link th:href="@{'/resources/css/app-style/stub/app.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/footer.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/responsive/responsive.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/app-style/stub/blockUI.css'}" rel="stylesheet">
		<link th:href="@{'/resources/css/plugins/w2ui/style/w2ui.css'}" rel="stylesheet">

		<!-- Mainly Javascript -->
		<!-- jQuery -->
		<script th:src="@{'/resources/js/jquery/jquery-2.1.1.js'}" type="text/javascript"></script>
		<script th:src="@{'/resources/js/jquery/jquery.blockUI.js'}" type="text/javascript"></script>
		<!-- Bootstrap -->
		<script th:src="@{'/resources/js/bootstrap/bootstrap.min.js'}" type="text/javascript"></script>
		<!-- MetisMenu -->
		<script th:src="@{'/resources/js/plugins/metisMenu/jquery.metisMenu.js'}"></script>
		<!-- Slimscroll -->
		<script th:src="@{'/resources/js/plugins/slimscroll/jquery.slimscroll.min.js'}"></script>

		<!-- Custom and Plugin Javascript -->
		<!-- Inspinia -->
		<script th:src="@{'/resources/js/inspinia/inspinia.js'}"></script>
		<!-- Pace -->
		<script th:src="@{'/resources/js/plugins/pace/pace.min.js'}"></script>
		<!-- Toastr -->
		<script th:src="@{'/resources/js/plugins/toastr/toastr-2.1.3.js'}"></script>
		<!-- W2ui -->
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-1.5.rc1.js'}"></script>
		<script th:src="@{'/resources/js/plugins/w2ui/script/w2ui-fields.1.5.js'}"></script>
				
		<!-- APP Javascript -->
		<script th:src="@{'/resources/js/app-script/base-64.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-util.js'}"></script>
		<script th:src="@{'/resources/js/app-script/app-validation-fields.js'}"></script>
		<script th:src="@{'/resources/js/app-script/processing.js'}"></script>
		<script th:src="@{'/resources/js/app-script/notifications.js'}"></script>
		<script th:src="@{'/resources/js/app-script/prevent-enter-keydown.js'}"></script>
	</head>

	<body>
		<div id="wrapper" sec:authorize="isAuthenticated()">
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav metismenu" id="side-menu">
						<li>
							<div class="dropdown profile-element">
								<a th:href="@{'/'}" style="text-decoration: none;">
									<img alt="MegaPractical" th:src="@{'/resources/img/template/megapractical.png'}" width="210px;" style="padding: 5px 0px 5px 5px";>
								</a>
							</div>
						</li>
						<li class="nav-header" style="padding: 15px 23px;">
							<div class="dropdown profile-element">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#"> 
									<span class="clear">
										<span class="block m-t-xs">
											<strong class="font-bold">
												<span sec:authentication="name" style="display: none;">
													username
												</span>
												<div sec:authorize="isAuthenticated()" style="display: none">
													<span sec:authentication="principal.authorities">rol</span>
												</div>
												<div sec:authorize="hasRole('ROLE_MST')">
													<span> CUENTA MASTER </span>
												</div>
												<div>
													<span th:text="${masterAccountRfc}" style="color: #fff;">rfc</span>
												</div>
											</strong>
										</span>
										<span class="text-muted text-xs block" style="margin-top: 3px;">
											Opciones
											<b class="caret"></b>
										</span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<li>
										<a th:href="@{/accountInfo}">
											<i class="fa fa-id-badge" aria-hidden="true"></i>											
											Perfil de usuario
										</a>
									</li>
									<li>
										<a th:href="@{/accountChangePassword}">
											<i class="fa fa-key" aria-hidden="true"></i>											
											Cambiar contraseña
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a th:href="@{/logout}">
											<i class="fa fa-sign-out" aria-hidden="true"></i>											
											Cerrar sesi&oacute;n
										</a>
									</li>
								</ul>
							</div>
							<div class="logo-element">
								<img alt="MegaPractical" th:src="@{'/resources/img/template/megapractical-compact.png'}">
							</div>
						</li>
	
						<!-- MENU :: Mis CFDI's -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_USR') or hasRole('ROLE_MST'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('MyCFDIs')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-file-text"></i>
								<span class="nav-label">Mis CFDI</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/CfdiList'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('invoicing-inbox')}">
										<i class="fa fa-inbox" aria-hidden="true"></i>
										<label class="label-menu" th:text="#{mega.cfdi.invoicing.inbox}">Bandeja de facturación</label>
									</a>
								</li>
								<li>
									<a sec:authorize="isAuthenticated() && ( hasRole('ROLE_MST') or hasRole('ROLE_USR') ) " th:href="@{'/cfdiStamp'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('cfdi-stamp')}">
										<i class="fa fa-file-code-o"></i>
										<label class="label-menu" th:text="#{mega.cfdi.generate}">Generar CFDI</label>
									</a>
								</li>
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/sftp/files/cfdi'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('sftp-file-cfdi-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu">Archivos SFTP</label>
									</a>
								</li>
							</ul>
						</li>
						
						<!-- MENU :: Pagos -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('Payment')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-file-text" aria-hidden="true"></i>
								<span class="nav-label">Pagos</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/payment-tray'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('payment-file-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu" th:text="#{mega.cfdi.menu.payment.file.inbox}">Bandeja de archivos</label>
									</a>
								</li>
							</ul>
						</li>
						
						<!-- MENU :: Nomina -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('Payroll')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-file-text" aria-hidden="true"></i>
								<span class="nav-label">Nómina</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/payrolltry'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('payroll-inbox')}">
										<i class="fa fa-inbox" aria-hidden="true"></i>
										<label class="label-menu">Bandeja de nóminas</label>
									</a>
								</li>
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/payrollStamp'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('payroll-file-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu" th:text="#{mega.cfdi.menu.payroll.file.inbox}">Bandeja de archivos</label>
									</a>
								</li>
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/sftp/files/payroll'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('sftp-file-payroll-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu">Archivos SFTP</label>
									</a>
								</li>
							</ul>
						</li>
						
						<!-- MENU :: Retencion -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('Retention')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-file-text" aria-hidden="true"></i>
								<span class="nav-label">Retenciones</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/retention?inbox'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('retention-inbox')}">
										<i class="fa fa-inbox" aria-hidden="true"></i>
										<label class="label-menu">Bandeja de retenciones</label>
									</a>
								</li>
								<li>
									<a sec:authorize="isAuthenticated() && ( hasRole('ROLE_MST') or hasRole('ROLE_USR') ) " th:href="@{'/retention?stamp'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('retention-stamp')}">
										<i class="fa fa-file-code-o"></i>
										<label class="label-menu">Generar Retención</label>
									</a>
								</li>
								<!--<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/retention?load'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('retention-file-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu">Bandeja de archivos</label>
									</a>
								</li>-->
							</ul>
						</li>
						
						<!-- MENU :: Cancelaciones -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('Cancellation')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-file-text" aria-hidden="true"></i>
								<span class="nav-label">Cancelaciones</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:href="@{'/cancellation-tray'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('cancellation-file-inbox')}">
										<i class="fa fa-folder-open"></i>
										<label class="label-menu">Bandeja de archivos</label>
									</a>
								</li>
							</ul>
						</li>
						
						<!-- MENU :: Configuracion -->
						<li sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('ROLE_USR'))" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('EmitterConfig')}">
							<a href="#" class="fnc-node">
								<!--<i class="fa fa-cog fa-spin "></i>-->
								<i class="fa fa-wrench" aria-hidden="true"></i>
								<span class="nav-label">Configuraciones</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a th:href="@{/emitterTaxRegimeConfiguration/{action}(action=config)}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-taxregime')}">
										<i class="fa fa-money" aria-hidden="true"></i>
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.tax.information}"></label>
									</a>
								</li>
								<li>
									<a th:href="@{'/emitterAccount'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-account')}">
										<i class="fa fa-vcard-o" aria-hidden="true"></i>							
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.account.rfc}"></label>
									</a>
								</li>
								<li>
									<a th:href="@{'/emitterSerieSheet'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-serie-sheet')}">
										<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>							
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.serie.sheet}"></label>
									</a>
								</li>
								<li>
									<a th:href="@{'/emitterCustomer'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-customer')}">
										<i class="fa fa-male" aria-hidden="true"></i>
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.emitter.customer}" style="display: inline;"></label>																			
									</a>
								</li>
								<li>
									<a th:href="@{'/emitterConcept'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-concept')}">
										<i class="fa fa-cubes" aria-hidden="true"></i>										
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.emitter.concept}"></label>
									</a>
								</li>	
								<li>
									<a th:href="@{'/emitterContact'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-contact')}">
										<i class="fa fa-envelope" aria-hidden="true"></i>									
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.emitter.contact}"></label>
									</a>
								</li>
								<li>
									<a th:href="@{'/emitterLogo'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-config-logo')}">
										<i class="fa fa-file-image-o" aria-hidden="true"></i>									
										<label class="label-menu" th:text="#{mega.cfdi.premium.configuration.emitter.logo}"></label>
										<!--<span class="label label-danger pull-right" style="margin-top: 3px;">NUEVO</span>-->
									</a>
								</li>
							</ul>
						</li>
						
						<li sec:authorize="isAuthenticated() && hasRole('ROLE_MST')" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isAreaSelected('EmitterAdvancedOptions')}">
							<a href="#" class="fnc-node">
								<i class="fa fa-sliders" aria-hidden="true"></i>
								<span class="nav-label">Opciones avanzadas</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" style="margin-top: 5px;">
								<li>
									<a th:href="@{'/emitterStampTransfer'}" th:class="${T(org.megapractical.invoicing.webapp.ui.HtmlHelper).isFncSelected('emitter-adv-opt-stamp-transfer')}">
										<i class="fa fa-handshake-o" aria-hidden="true"></i>									
										<label class="label-menu" th:text="#{mega.cfdi.premium.advanced.options.stamp.transfer}"></label>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			<nav></nav>

			<div id="page-wrapper" class="gray-bg">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header">
							<a class="navbar-minimalize minimalize-styl-2 btn btn-success" href="#">
								<i class="fa fa-bars"></i>
							</a>
						</div>
						
						<ul class="nav navbar-top-links navbar-left">
							<li id="li-account-activate" sec:authorize="isAuthenticated() && (hasRole('ROLE_MST') or hasRole('USR'))">
								<form role="form" class="form-inline" action="#" th:action="@{/activateAccount}" th:object="${layoutViewModel}" method="post">
									<input type="hidden" name="currentView" th:value="${currentView}" />
									<div class="form-group" style="margin-top: 10px; margin-left: 30px">
										<label style="white-space: nowrap; padding-right: 5px; float: left;">
											Cuenta activa en el sistema:
										</label>
										<br />
										<select id="rfcActiveByUser" th:field="*{rfcActiveByUser}" style="width: 150px; float: left;">
											<option th:each="type : ${currentUserRfcList}" th:value="${type}" th:text="${type}">RFC</option>
										</select>
										<button type="submit" class="btn btn-primary btn-xs" disabled="disabled" id="setrfcbutton" 
												style="top: -1px; position: relative; margin-right: 10px; margin-left: 5px;">
											<i class="fa fa-check-circle"></i>
											Establecer
										</button>
									</div>
								</form>
							</li>
							<!-- 
							<li id="li-period-free" sec:authorize="isAuthenticated() && hasRole('ROLE_USR')">
								<div class="form-group btn btn-white" style="margin-top: 12px; font-size: 13px;"><!-- margin-left: 30px; -->
									<!-- 
								 	<i th:class="${periodFreeClass}" aria-hidden="true"></i>
									<span th:text="${periodFree}" th:style="${periodFreeStyle}"></span>
								</div>
							</li>
							-->
							
							<li id="li-activate-transfer-stamp" sec:authorize="isAuthenticated() and (hasRole('ROLE_USR') or hasRole('ROLE_MST'))" class="hidden" style="display: none;">
								<button id="stampActivateButton" type="button" class="btn btn-lg font-bold stamp-activate-button" style="width: 300px;">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									Activar/Transferir timbres
								</button>
							</li>
						</ul>												
						
						<ul class="nav navbar-top-links navbar-right">
							<li id="layout-li-messages" class="dropdown hidden" sec:authorize="isAuthenticated() and hasRole('ROLE_MST')" style="display: none;">
								<a class="dropdown-toggle count-info"
									data-toggle="dropdown" href="#"> <i class="fa fa-envelope"></i>
										<span class="label label-warning">16</span>
								</a>
								<ul class="dropdown-menu dropdown-messages">
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" src="">
											</a>
											<div class="media-body">
												<small class="pull-right">46h ago</small> <strong>Mike
													Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
												<small class="text-muted">3 days ago at 7:58 pm -
													10.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" src="">
											</a>
											<div class="media-body ">
												<small class="pull-right text-navy">5h ago</small> <strong>Chris
													Johnatan Overtunk</strong> started following <strong>Monica
													Smith</strong>. <br> <small class="text-muted">Yesterday
													1:21 pm - 11.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="dropdown-messages-box">
											<a href="profile.html" class="pull-left"> <img alt="image"
												class="img-circle" src="">
											</a>
											<div class="media-body ">
												<small class="pull-right">23h ago</small> <strong>Monica
													Smith</strong> love <strong>Kim Smith</strong>. <br> <small
													class="text-muted">2 days ago at 2:30 am -
													11.06.2014</small>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a href="mailbox.html">
												<i class="fa fa-envelope"></i>
												<strong>Read All Messages</strong>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li id="layout-li-notifications" class="dropdown hidden" sec:authorize="isAuthenticated() and hasRole('ROLE_MST')" style="display: none;">
								<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
									<i class="fa fa-bell" aria-hidden="true"></i> 
									<span class="label label-primary">8</span>
								</a>
								<ul class="dropdown-menu dropdown-alerts">
									<li><a href="mailbox.html">
											<div>
												<i class="fa fa-envelope fa-fw"></i> You have 16 messages <span
													class="pull-right text-muted small">4 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li><a href="profile.html">
											<div>
												<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
													class="pull-right text-muted small">12 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li><a href="grid_options.html">
											<div>
												<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
													class="pull-right text-muted small">4 minutes ago</span>
											</div>
									</a></li>
									<li class="divider"></li>
									<li>
										<div class="text-center link-block">
											<a href="notifications.html">
												<strong>See AllAlerts</strong>
												<i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul>
							</li>
							<li sec:authorize="isAuthenticated() and ( hasRole('ROLE_MST') or hasRole('ROLE_USR') )">
			                    <a id="users-manual" th:href="@{'/resources/file/megapractical-preguntas-frecuentes.pdf'}" target="_blank">
			                        <i class="fa fa-question-circle" aria-hidden="true"></i>
			                        <span class="nav-label">Preguntas Frecuentes</span>
			                    </a>
			                </li>
			                <li sec:authorize="isAuthenticated() and ( hasRole('ROLE_MST') or hasRole('ROLE_USR') )">
			                    <a id="users-manual" th:href="@{'/resources/file/megapractical-preguntas-frecuentes-homologadas.pdf'}" target="_blank">
			                        <i class="fa fa-life-ring" aria-hidden="true"></i>
			                        <span class="nav-label">Preguntas Homologadas</span>
			                    </a>
			                </li>
							<li sec:authorize="isAuthenticated() and ( hasRole('ROLE_MST') or hasRole('ROLE_USR') )">
			                    <a id="users-manual" th:href="@{'/resources/file/megapractical-manual-usuario-portal.pdf'}" target="_blank">
			                        <i class="fa fa-book" aria-hidden="true"></i>
			                        <span class="nav-label">Manual Usuario</span>			                        
			                    </a>
			                </li>
							<li sec:authorize="isAuthenticated() and ( hasRole('ROLE_MST') or hasRole('ROLE_USR') )">
			                    <a class="right-sidebar-toggle">
			                        <i class="fa fa-tasks" aria-hidden="true"></i>
			                        <span class="nav-label">Preferencias</span>
			                    </a>
			                </li>
							<li>
								<a th:href="@{/logout}">
									<!--<i class="fa fa-sign-out"></i>-->
									<i class="fa fa-power-off" aria-hidden="true"></i>
									<!--Cerrar sesi&oacute;n-->
									<span th:text="#{mega.cfdi.nav.logout}" style="margin-left: -4px;">Salir</span>
								</a>
							</li>
						</ul>
	
					</nav>
				</div>
	
				<div th:replace="${view} :: content">Content</div>
	
				<!--<div id="application-page-footer" class="footer hidden">
					<div style="float: left; width: 33%;">
						<div>
							<img th:src="@{'/resources/img/footer/megapractical-logo.png'}" class="footer-mega-logo" style="margin-right: 10px;">
						</div>
						<strong>Copyright</strong> MegaPractical &copy; 2014-<span>[[${#dates.year(#dates.createNow())}]]</span>
						<p>
							<span>MEGA-CFDI RELEASE 1.0 UPDATE 12</span>
						</p>
						<p>
							<div>
								<span>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									Av. del Imán No. 151 Local 110 15
								</span></br>
								<span style="margin-left: 10px;">Pedregal de Carrasco, Coyoacán, Ciudad de México</span></br>
								<span style="margin-left: 10px;">CP: 04700</span>
							</div>
						</p>
						<p>
							<span>
								<i class="fa fa-phone" aria-hidden="true"></i>
								+52 (55) 5171 0701
							</span>
						</p>
					</div>
					<div style="float: left; width: 33%; text-align: center;">
						<div>
							<img th:src="@{'/resources/img/footer/megafactura-logo.png'}" class="footer-megafact-logo" style="margin-right: 10px;">
						</div>
						<div style="margin-top: 5px">
							<span style="font-size: 12px">
								<a th:href="@{'/resources/file/megapractical-terminos.pdf'}" target="_blank">Términos y condiciones</a>
							</span>
							<span>|</span>
							<span style="font-size: 12px">
								<a href="http://www.sat.gob.mx/terceros_autorizados/receptor_doctos_electronicos/Documents/caracteristicas_funcionales_psrdd.pdf"
								   target="_blank">Niveles de servicio</a>
							</span>
						</div>
					</div>
					<div style="float: left; width: 33%; text-align: right;">
						<div style="margin-right: 15px;">
							<span style="margin-right: 5px;font-weight: bold;">Síguenos en</span></br>
							<span>
								<a href="https://twitter.com/megapractical" target="_blank">
									<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
								</a>							
							</span>
							<span style="margin-left: 5px;">
								<a href="https://www.facebook.com/Megapractical-671914606198465/?fref=ts" target="_blank">
									<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
								</a>							
							</span>
							<span style="margin-left: 5px;">
								<a href="https://www.linkedin.com/company/megapractical-sa-de-cv" target="_blank">
									<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
								</a>					
							</span>
						</div>
						<div style="margin-top: 20px;">
							<img th:src="@{'/resources/img/footer/amexipac-logo.png'}" class="footer-amexipac-logo" style="margin-right: 10px;">
							<img th:src="@{'/resources/img/footer/proveedor-sat-logo.png'}" class="footer-proveedor-sat-logo">
						</div>
					</div>
				</div>-->
	
			</div>
			
			<div id="right-sidebar">
	            <div class="sidebar-container">
	
	                <ul class="nav nav-tabs navs-3">
						<li class="" style="width: 100%;"><!-- active -->
	                    	<a data-toggle="tab" href="#tab-layout-preferences" style="text-align: left;">
	                        	<i class="fa fa-gears"></i>
                            	<span>Preferencias</span>
	                    	</a>
	                    </li>
	                    <!--<li style="width: 50%;">
	                    	<a data-toggle="tab" href="#tab-layout-statistics">
	                    		<i class="fa fa-line-chart" aria-hidden="true"></i>	                    		
	                        	<span>Estadísticas</span>
	                    	</a>
	                    </li>-->
	                </ul>
	
	                <div class="tab-content">
						<div id="tab-layout-preferences" class="tab-pane active">
	                        <!--<div class="sidebar-title">
	                            <h3>
	                            	<i class="fa fa-gears"></i>
	                            	<span>Preferencias</span>
	                            </h3>
	                            <small>Configuraciones adicionales del usuario.</small>
	                        </div>-->
	                        <div class="sidebar-title"><!-- class="sidebar-content" -->
	                            <h4>
	                            	<i class="fa fa-info-circle" aria-hidden="true"></i>	                            	
	                            	<span>Información</span>
	                            </h4>
	                            <div class="small">
	                                La configuración de las preferencias es individual por usuario. En caso de tener cuentas asociadas, se deben configurar las preferencias para cada una de ellas.
	                            </div>
	                        </div>
							<!-- Envio correos -->
							<div class="setings-item-title" style="padding-top: 10px;">
								<i class="fa fa-envelope" aria-hidden="true"></i>							
	                            <span>
			                        <b>Envío de correos</b>
			                    </span>
	                        </div>
							<div class="setings-item">
			                    <span id="tooltip-checkbox-emitter-xml-pdf" class="setings-item-tooltip">
			                        Emisor XML y PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-emitter-xml-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-emitter-xml-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>	                            
							</div>
							<div class="setings-item">
			                    <span id="tooltip-checkbox-emitter-xml" class="setings-item-tooltip">
			                        Emisor solo XML
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="checkbox-emitter-xml">
	                                    <label class="onoffswitch-label" for="checkbox-emitter-xml">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-checkbox-emitter-pdf" class="setings-item-tooltip">
			                        Emisor solo PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-emitter-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-emitter-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-checkbox-receiver-xml-pdf" class="setings-item-tooltip">
			                        Receptor XML y PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-receiver-xml-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-receiver-xml-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>	                            
							</div>
							<div class="setings-item">
			                    <span id="tooltip-checkbox-receiver-xml" class="setings-item-tooltip">
			                        Receptor solo XML
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="checkbox-receiver-xml">
	                                    <label class="onoffswitch-label" for="checkbox-receiver-xml">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-checkbox-receiver-pdf" class="setings-item-tooltip">
			                        Receptor solo PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-receiver-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-receiver-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="setings-item" style="display: none;">
			                    <span id="tooltip-checkbox-receiver-preinvoice-pdf" class="setings-item-tooltip">
			                        Receptor prefactura
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-receiver-preinvoice-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-receiver-preinvoice-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="setings-item">
			                    <span id="tooltip-checkbox-contact-xml-pdf" class="setings-item-tooltip">
			                        Contactos XML y PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-contact-xml-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-contact-xml-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>	                            
							</div>
							<div class="setings-item">
			                    <span id="tooltip-checkbox-contact-xml" class="setings-item-tooltip">
			                        Contactos solo XML
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="checkbox-contact-xml">
	                                    <label class="onoffswitch-label" for="checkbox-contact-xml">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-checkbox-contact-pdf" class="setings-item-tooltip">
			                        Contactos solo PDF
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-contact-pdf">
	                                    <label class="onoffswitch-label" for="checkbox-contact-pdf">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Serie/Folio -->
							<div class="setings-item-title">
								<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>							
	                            <span>
			                        <b>Serie y folio</b>
			                    </span>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-reuse-sheet-canceled" class="setings-item-tooltip">
			                        Reutilizar folio cancelado
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-reuse-sheet-canceled">
	                                    <label class="onoffswitch-label" for="checkbox-reuse-sheet-canceled">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-increase-end-sheet" class="setings-item-tooltip">
			                        Incrementar folio final
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-increase-end-sheet">
	                                    <label class="onoffswitch-label" for="checkbox-increase-end-sheet">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Clientes -->
	                        <div class="setings-item-title">
								<i class="fa fa-male" aria-hidden="true"></i>							
	                            <span>
			                        <b>Clientes</b>
			                    </span>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-register-customer" class="setings-item-tooltip">
			                        Registrar clientes
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-register-customer">
	                                    <label class="onoffswitch-label" for="checkbox-register-customer">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-update-customer" class="setings-item-tooltip">
			                        Actualizar clientes
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-update-customer">
	                                    <label class="onoffswitch-label" for="checkbox-update-customer">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Conceptos -->
	                        <div class="setings-item-title">
								<i class="fa fa-cubes" aria-hidden="true"></i>							
	                            <span>
			                        <b>Conceptos</b>
			                    </span>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-register-concept" class="setings-item-tooltip">
			                        Registrar conceptos
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-register-concept">
	                                    <label class="onoffswitch-label" for="checkbox-register-concept">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-update-concept" class="setings-item-tooltip">
			                        Actualizar conceptos
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-update-concept">
	                                    <label class="onoffswitch-label" for="checkbox-update-concept">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Informacion fiscal -->
	                        <div class="setings-item-title">
								<i class="fa fa-money" aria-hidden="true"></i>						
	                            <span>
			                        <b>Información fiscal</b>
			                    </span>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-certificate" class="setings-item-tooltip">
			                        Registrar certificado
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-certificate" disabled="disabled" checked="checked">
	                                    <label class="onoffswitch-label" for="checkbox-certificate">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-register-tax-regime" class="setings-item-tooltip">
			                        Registrar régimen fiscal
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-register-tax-regime">
	                                    <label class="onoffswitch-label" for="checkbox-register-tax-regime">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="setings-item">
			                    <span id="tooltip-update-tax-regime" class="setings-item-tooltip">
			                        Actualizar régimen fiscal
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-update-tax-regime">
	                                    <label class="onoffswitch-label" for="checkbox-update-tax-regime">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Lugar de expedición -->
							<div class="setings-item-title">
								<i class="fa fa-map-marker" aria-hidden="true"></i>							
	                            <span>
			                        <b>Lugar de expedición</b>
			                    </span>
	                        </div>
							<div class="setings-item">
			                    <span id="tooltip-checkbox-postal-code" class="setings-item-tooltip">
			                        Registrar/Actualizar
			                    </span>
	                            <div class="switch">
	                                <div class="onoffswitch">
	                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="checkbox-postal-code">
	                                    <label class="onoffswitch-label" for="checkbox-postal-code">
	                                        <span class="onoffswitch-inner"></span>
	                                        <span class="onoffswitch-switch"></span>
	                                    </label>
	                                </div>
	                            </div>	                            
							</div>
	                        
	                        <div class="sidebar-content"></div>
	                    </div>
	
	                    <div id="tab-layout-statistics" class="tab-pane">
	                        <div class="sidebar-title"><!-- class="sidebar-content" -->
	                            <h4>
	                            	<i class="fa fa-info-circle" aria-hidden="true"></i>	                            	
	                            	<span>Información</span>
	                            </h4>
	                            <div class="small">
	                                La información estadística que se muestra está asociada a la <b>Cuenta activa en el sistema</b>. 
	                            </div>
	                        </div>
	
	                        <ul class="sidebar-list">
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Business valuation</h4>
	                                    It is a long established fact that a reader will be distracted.
	
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
	                                    </div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Contract with Company </h4>
	                                    Many desktop publishing packages and web page editors.
	
	                                    <div class="small">Completion with: 48%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 48%;" class="progress-bar"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Meeting</h4>
	                                    By the readable content of a page when looking at its layout.
	
	                                    <div class="small">Completion with: 14%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <span class="label label-primary pull-right">NEW</span>
	                                    <h4>The generated</h4>
	                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
	                                    There are many variations of passages of Lorem Ipsum available.
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Business valuation</h4>
	                                    It is a long established fact that a reader will be distracted.
	
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
	                                    </div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Contract with Company </h4>
	                                    Many desktop publishing packages and web page editors.
	
	                                    <div class="small">Completion with: 48%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 48%;" class="progress-bar"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <div class="small pull-right m-t-xs">9 hours ago</div>
	                                    <h4>Meeting</h4>
	                                    By the readable content of a page when looking at its layout.
	
	                                    <div class="small">Completion with: 14%</div>
	                                    <div class="progress progress-mini">
	                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
	                                    </div>
	                                </a>
	                            </li>
	                            <li>
	                                <a href="#">
	                                    <span class="label label-primary pull-right">NEW</span>
	                                    <h4>The generated</h4>
	                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
	                                    There are many variations of passages of Lorem Ipsum available.
	                                    <div class="small">Completion with: 22%</div>
	                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
	                                </a>
	                            </li>
	
	                        </ul>
							<div class="sidebar-content"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<div id="wrapper" sec:authorize="!isAuthenticated()">
			<link th:href="@{'/resources/css/app-style/unauthorized/unauthorized.css'}" rel="stylesheet">
			<link th:href="@{'/resources/css/app-style/stub/background.css'}" rel="stylesheet">
			<div th:insert="~{denied/Unauthorized :: unauthorized}"></div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
		    	
		    	var activateTransferStamp = /*[[${activateTransferStamp}]]*/;
		    	var sessionTimeOut = /*[[${sessionTimeOut}]]*/;
		    	var logoutRequest = /*[[@{/logout?cause=lock}]]*/;		    	
		    	var sessionHandlerRequest = /*[[@{/sessionMonitor}]]*/;
		    	
		    	var emitterPreferenceLoadRequest = /*[[@{/emitterPreferenceLoad}]]*/;
		    	var emitterPreferenceUpdateRequest = /*[[@{/emitterPreferenceUpdate}]]*/;
		    	var onOffSwitchOption = null;
		    	var onOffSwitchValue = null;
		    	
		    	var sessionHandlerIntervalId = null;
		    	
		    	var currentView = /*[[${currentView}]]*/;
				//log("CurrentView: " + currentView);
		    
		    	$(document).ready(function(){
		    		systemSessionHandler();
		    		// Verifica la sesion cada 21 min (21 min = 1260 seg = 1260000 miliseg)
		    		sessionTimeOut = parseInt(sessionTimeOut) + 1;
		    		sessionHandlerIntervalId = interval(systemSessionHandler, convertMiliseg(sessionTimeOut));
		    		
		    		stampActivateTransferDisplay();
		    		
		    		//##### Cargando preferencias del usuario
		    		preferenceLoad();
		    		
		    		elementClear('layout-li-messages');
		    		elementClear('layout-li-notifications');
		    		
		    		//##### Emisor XML y PDF
		    		$('#checkbox-emitter-xml-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-emitter-xml');
		    				elementCheckedFalse('checkbox-emitter-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'emisor_xml_pdf';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-checkbox-emitter-xml-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al emisor un correo con el XML y PDF del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Emisor XML
		    		$('#checkbox-emitter-xml').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-emitter-xml-pdf');
		    				elementCheckedFalse('checkbox-emitter-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'emisor_xml';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-checkbox-emitter-xml').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al emisor <br />un correo solamente con el XML del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    				    		
		    		
		    		//##### Emisor PDF
		    		$('#checkbox-emitter-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-emitter-xml-pdf');
		    				elementCheckedFalse('checkbox-emitter-xml');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'emisor_pdf';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-checkbox-emitter-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al emisor <br />un correo solamente con el PDF del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Receptor XML y PDF
		    		$('#checkbox-receiver-xml-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-receiver-xml');
		    				elementCheckedFalse('checkbox-receiver-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'receptor_xml_pdf';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-receiver-xml-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al receptor <br />un correo con el XML y PDF del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});

		    		//##### Receptor XML
		    		$('#checkbox-receiver-xml').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-receiver-xml-pdf');
		    				elementCheckedFalse('checkbox-receiver-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'receptor_xml';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-receiver-xml').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al receptor <br />un correo solamente con el XML del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});

		    		//##### Receptor PDF
		    		$('#checkbox-receiver-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-receiver-xml-pdf');
		    				elementCheckedFalse('checkbox-receiver-xml');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'receptor_pdf';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-receiver-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al receptor <br />un correo solamente con el PDF del CFDI.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		
		    		//##### Receptor Prefactura
		    		$('#checkbox-receiver-preinvoice-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'receptor_prefactura_pdf';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-checkbox-receiver-preinvoice-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente al receptor <br />un correo con el PDF de la prefactura.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Contactos XML y PDF
		    		$('#checkbox-contact-xml-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-contact-xml');
		    				elementCheckedFalse('checkbox-contact-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'contacto_xml_pdf';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-contact-xml-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente a contactos <br />un correo con el XML y PDF del CFDI<br /><br /> ' +
						  			  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
			  			  			  '<b><i class="fa fa-envelope" aria-hidden="true"></i> Contactos</b> se puede gestionar toda la información relacionada a los <b>Contactos</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});

		    		//##### Contactos XML
		    		$('#checkbox-contact-xml').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-contact-xml-pdf');
		    				elementCheckedFalse('checkbox-contact-pdf');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'contacto_xml';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-contact-xml').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente a contactos <br />un correo solamente con el XML del CFDI.<br /><br /> ' +
						  			  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
			  			  			  '<b><i class="fa fa-envelope" aria-hidden="true"></i> Contactos</b> se puede gestionar toda la información relacionada a los <b>Contactos</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});

		    		//##### Contactos PDF
		    		$('#checkbox-contact-pdf').click(function(){
		    			if(isElementChecked(this.id)){
		    				elementCheckedFalse('checkbox-contact-xml-pdf');
		    				elementCheckedFalse('checkbox-contact-xml');
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'contacto_pdf';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-checkbox-contact-pdf').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema envía automáticamente a contactos <br />un correo solamente con el PDF del CFDI.<br /><br /> ' +
		    						  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
						  			  '<b><i class="fa fa-envelope" aria-hidden="true"></i> Contactos</b> se puede gestionar toda la información relacionada a los <b>Contactos</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Reutilizar folio cancelado
		    		$('#checkbox-reuse-sheet-canceled').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'reutilizar_folio_cancelado';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-reuse-sheet-canceled').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si se puede reutilizar el folio de una factura cancelada. El mismo debe ser especificado por el usuario.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Incrementar folio final
		    		$('#checkbox-increase-end-sheet').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'incrementar_folio_final';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-increase-end-sheet').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema incrementa automáticamente el folio una vez que llegue al final definido por el usuario.<br /><br />' +
	    							  '<i class="fa fa-file-text-o" aria-hidden="true"></i> <b>Nota:</b> Mientras existan folios disponibles, el sistema los va incrementando automáticamente.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Registrar cliente
		    		$('#checkbox-register-customer').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'registrar_cliente';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-register-customer').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema registra ' +
	    							  'automáticamente un receptor que no se encuentre en el <b>Catálogo de clientes</b> del emisor.<br /><br />' +
	    							  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-male" aria-hidden="true"></i> Clientes</b> se puede gestionar toda la información relacionada al <b>Catálogo de clientes</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Actualizar cliente
		    		$('#checkbox-update-customer').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'actualizar_cliente';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-update-customer').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema actualiza ' +
	    							  'automáticamente la información del receptor <i>(si pertenece al catálogo)</i> en el <b>Catálogo de clientes</b> del emisor.<br /><br />' +
	    							  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-male" aria-hidden="true"></i> Clientes</b> se puede gestionar toda la información relacionada al <b>Catálogo de clientes</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Registrar concepto
		    		$('#checkbox-register-concept').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'registrar_concepto';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-register-concept').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema registra ' +
	    							  'automáticamente un concepto que no se encuentre en el <b>Catálogo de conceptos</b> del emisor.<br /><br />' +
	    							  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-cubes" aria-hidden="true"></i> Conceptos</b> se puede gestionar toda la información relacionada al <b>Catálogo de conceptos</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Actualizar concepto
		    		$('#checkbox-update-concept').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'actualizar_concepto';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-update-concept').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema actualiza ' +
	    							  'automáticamente la información del receptor <i>(si pertenece al catálogo)</i> en el <b>Catálogo de conceptos</b> del emisor.<br /><br />' +
	    							  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-cubes" aria-hidden="true"></i> Conceptos</b> se puede gestionar toda la información relacionada al <b>Catálogo de conceptos</b>.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		$('#tooltip-certificate').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema registra ' +
	    							  'automáticamente la información del certificado del emisor.<br /><br />' +
	    							  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-info-circle" aria-hidden="true"></i> Información fiscal</b> se puede gestionar toda la información fiscal del emisor. De igual manera ' +
	    							  'el sistema automáticamente registra la información del certificado después de generar el primer CFDI si la misma no ha sido previamente configurada.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Registrar regimen fiscal
		    		$('#checkbox-register-tax-regime').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'registrar_regimen_fiscal';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-register-tax-regime').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema registra ' +
		    						  'automáticamente el régimen fiscal del emisor.<br /><br />' +
		    						  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
	    							  '<b><i class="fa fa-info-circle" aria-hidden="true"></i> Información fiscal</b> se puede gestionar toda la información fiscal del emisor.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});

		    		//##### Actualizar regimen fiscal
		    		$('#checkbox-update-tax-regime').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'actualizar_regimen_fiscal';
		    			preferenceUpdate();
		    		});

		    		$('#tooltip-update-tax-regime').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema actualiza ' +
						  			  'automáticamente el régimen fiscal del emisor en caso de que se genere un CFDI con un régimen fiscal diferente al configurado.<br /><br />' +
						  			  '<b> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nota:</b> Desde <b>Configuración</b> <i>(menú lateral izquierdo)</i>, mediante la opción ' +
						  			  '<b><i class="fa fa-info-circle" aria-hidden="true"></i> Información fiscal</b> se puede gestionar toda la información fiscal del emisor.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    		
		    		//##### Registrar/Actualizar lugar de expedicion
		    		$('#checkbox-postal-code').click(function(){
		    			if(isElementChecked(this.id)){
		    				onOffSwitchValue = 'on'
		    			}else{
		    				onOffSwitchValue = 'off'
		    			}
		    			onOffSwitchOption = 'registrar_actualizar_lugar_expedicion';
		    			preferenceUpdate();
		    		});
		    		
		    		$('#tooltip-checkbox-postal-code').hover(function(){
		    			var message = '<i class="fa fa-info-circle" aria-hidden="true"></i> Indica si el sistema registra o actualiza el Lugar de expedición de la última factura generada.';
		    			elementTagShow(this.id, message, "top");
		    			},function(){
		    				elementTagHide(this.id);
		    		});
		    	});
		    
		    	function systemSessionHandler(){
		    		$.ajax({
						url: sessionHandlerRequest,
				       	type: 'POST',
				       	data: {},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var userSessionActive = objJson.sessionActive;
								if(userSessionActive){
									var sessionDate = decodeValue(objJson.sessionDate);
									var sessionTime = decodeValue(objJson.sessionTime);
									
									console.log("\n========================================================================");
									console.log("[INFO] Session Handler Instanciate at " + sessionDate + " " + sessionTime);
									console.log("========================================================================\n");
								}else{
									intervalClear(sessionHandlerIntervalId);
									window.location = logoutRequest;
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		intervalClear(sessionHandlerIntervalId);
				      		console.log("[ERROR] Session Handler Instanciate");
				      		window.location = logoutRequest;
				        }
					});
		    	}
		    	
		    	function stampActivateTransferDisplay(){
		    		if(activateTransferStamp == "false"){
		    			hiddenClass('li-activate-transfer-stamp');
		    			elementHide('li-activate-transfer-stamp');
		    			elementClear('li-activate-transfer-stamp');
		    		}
		    	}
		    	
		    	function preferenceLoad(){
		    		$.ajax({
						url: emitterPreferenceLoadRequest,
				       	type: 'POST',
				       	data: {},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								
								if(objJson.sendToEmitterXmlAndPdf != null){
									if(objJson.sendToEmitterXmlAndPdf){
										elementCheckedTrue('checkbox-emitter-xml-pdf');
									}else{
										elementCheckedFalse('checkbox-emitter-xml-pdf');
									}
								}
								
								if(objJson.sendToEmitterOnlyXml != null){
									if(objJson.sendToEmitterOnlyXml){
										elementCheckedTrue('checkbox-emitter-xml');
									}else{
										elementCheckedFalse('checkbox-emitter-xml');
									}
								}
								
								if(objJson.sendToEmitterOnlyPdf != null){
									if(objJson.sendToEmitterOnlyPdf){
										elementCheckedTrue('checkbox-emitter-pdf');
									}else{
										elementCheckedFalse('checkbox-emitter-pdf');
									}
								}
								
								if(objJson.sendToReceiverXmlAndPdf != null){
									if(objJson.sendToReceiverXmlAndPdf){
										elementCheckedTrue('checkbox-receiver-xml-pdf');
									}else{
										elementCheckedFalse('checkbox-receiver-xml-pdf');
									}
								}

								if(objJson.sendToReceiverOnlyXml != null){
									if(objJson.sendToReceiverOnlyXml){
										elementCheckedTrue('checkbox-receiver-xml');
									}else{
										elementCheckedFalse('checkbox-receiver-xml');
									}
								}

								if(objJson.sendToReceiverOnlyPdf != null){
									if(objJson.sendToReceiverOnlyPdf){
										elementCheckedTrue('checkbox-receiver-pdf');
									}else{
										elementCheckedFalse('checkbox-receiver-pdf');
									}
								}
								
								if(objJson.sendToThirdPartiesXmlAndPdf != null){
									if(objJson.sendToThirdPartiesXmlAndPdf){
										elementCheckedTrue('checkbox-contact-xml-pdf');
									}else{
										elementCheckedFalse('checkbox-contact-xml-pdf');
									}
								}

								if(objJson.sendToThirdPartiesOnlyXml != null){
									if(objJson.sendToThirdPartiesOnlyXml){
										elementCheckedTrue('checkbox-contact-xml');
									}else{
										elementCheckedFalse('checkbox-contact-xml');
									}
								}

								if(objJson.sendToThirdPartiesOnlyPdf != null){
									if(objJson.sendToThirdPartiesOnlyPdf){
										elementCheckedTrue('checkbox-contact-pdf');
									}else{
										elementCheckedFalse('checkbox-contact-pdf');
									}
								}
								
								if(objJson.reuseSheetCanceled != null){
									if(objJson.reuseSheetCanceled){
										elementCheckedTrue('checkbox-reuse-sheet-canceled');
										
										if(currentView.equalsIgnoreCase('/invoicing/CfdiMaster')){
											hiddenClassRemove('div-checkbox-allow-indicate-sheet');
											elementShow('div-checkbox-allow-indicate-sheet');
											elementDisabledFalse('checkbox-allow-indicate-sheet');
										}		
									}else{
										elementCheckedFalse('checkbox-reuse-sheet-canceled');
										
										if(currentView.equalsIgnoreCase('/invoicing/CfdiMaster')){
											hiddenClass('div-checkbox-allow-indicate-sheet');
											elementHide('div-checkbox-allow-indicate-sheet');
											elementDisabledTrue('checkbox-allow-indicate-sheet');
										}
									}
								}
								
								if(objJson.increaseEndSheet != null){
									if(objJson.increaseEndSheet){
										elementCheckedTrue('checkbox-increase-end-sheet');
									}else{
										elementCheckedFalse('checkbox-increase-end-sheet');
									}
								}
								
								if(objJson.registerCustomer != null){
									if(objJson.registerCustomer){
										elementCheckedTrue('checkbox-register-customer');
									}else{
										elementCheckedFalse('checkbox-register-customer');
									}
								}
								
								if(objJson.updateCustomer != null){
									if(objJson.updateCustomer){
										elementCheckedTrue('checkbox-update-customer');
									}else{
										elementCheckedFalse('checkbox-update-customer');
									}
								}
								
								if(objJson.registerConcept != null){
									if(objJson.registerConcept){
										elementCheckedTrue('checkbox-register-concept');
									}else{
										elementCheckedFalse('checkbox-register-concept');
									}
								}
								
								if(objJson.updateConcept != null){
									if(objJson.updateConcept){
										elementCheckedTrue('checkbox-update-concept');
									}else{
										elementCheckedFalse('checkbox-update-concept');
									}
								}
								
								if(objJson.registerTaxRegime != null){
									if(objJson.registerTaxRegime){
										elementCheckedTrue('checkbox-register-tax-regime');
									}else{
										elementCheckedFalse('checkbox-register-tax-regime');
									}
								}
								
								if(objJson.updateTaxRegime != null){
									if(objJson.updateTaxRegime){
										elementCheckedTrue('checkbox-update-tax-regime');
									}else{
										elementCheckedFalse('checkbox-update-tax-regime');
									}
								}
								
								if(objJson.registerUpdatePostalCode != null){
									if(objJson.registerUpdatePostalCode){
										elementCheckedTrue('checkbox-postal-code');
									}else{
										elementCheckedFalse('checkbox-postal-code');
									}
								}
								
								if(objJson.registerUpdatePostalCode != null){
									if(objJson.registerUpdatePostalCode){
										elementCheckedTrue('checkbox-postal-code');
									}else{
										elementCheckedFalse('checkbox-postal-code');
									}
								}
								
								if(objJson.preInvoicePdf != null){
									if(objJson.preInvoicePdf){
										elementCheckedTrue('checkbox-receiver-preinvoice-pdf');
									}else{
										elementCheckedTrue('checkbox-receiver-preinvoice-pdf');
									}
								}
								
								console.log("[INFO] Emitter Preferences Loaded!");
				       		}else{
				       			
				       			//##### La cuenta activa en el sistema no tiene preferencias configuradas
				       			$('#tab-layout-preferences').html("");
				       			$('#tab-layout-preferences').append(
					       			'<div class="sidebar-title"> ' +
			                            '<h4> ' +
			                            	'<i class="fa fa-warning" aria-hidden="true"></i> ' +	                            	
			                            	'<span>Información</span> ' +
			                            '</h4> ' +
			                            '<div class="small"> ' +
			                            	'La cuenta activa en el sistema no tiene preferencias configuradas. ' +
			                            '</div> ' +
			                        '</div>'
		                        );
				       			
				       			console.log("[WARNING] Emitter don't have configured preferences");
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Emitter Preference Update failed!");
				        }
					});
		    	}
		    	
		    	function preferenceUpdate(){
		    		$.ajax({
			            url: emitterPreferenceUpdateRequest,
			            method: 'POST',
			            data: {
			            	option: encodeValue(onOffSwitchOption),
				       		optionValue : encodeValue(onOffSwitchValue)
			            }
			        }).done(function (data) {
			        	if(onOffSwitchOption.equalsIgnoreCase('reutilizar_folio_cancelado')){
			        		if(onOffSwitchValue.equalsIgnoreCase('on')){
			        			if(currentView.equalsIgnoreCase('/invoicing/CfdiMaster')){
									hiddenClassRemove('div-checkbox-allow-indicate-sheet');
									elementShow('div-checkbox-allow-indicate-sheet');
									elementDisabledFalse('checkbox-allow-indicate-sheet');
									elementCheckedFalse('checkbox-allow-indicate-sheet');
								}
			        		}else if(onOffSwitchValue.equalsIgnoreCase('off')){
			        			if(currentView.equalsIgnoreCase('/invoicing/CfdiMaster')){
									hiddenClass('div-checkbox-allow-indicate-sheet');
									elementHide('div-checkbox-allow-indicate-sheet');
									elementDisabledTrue('checkbox-allow-indicate-sheet');
								}
			        		}
			        	}
			        	console.log("[INFO] Emitter Preference Updated!");
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			        	console.log("[ERROR] Emitter Preference Update failed!");
			        });
		    	}
		    	
				var initialRFC = /*[[${actualRFC}]]*/;
				function enableRfcButton(val){
					var mustbedisabled = val == "" || val == initialRFC; 
					$('#setrfcbutton').prop('disabled', mustbedisabled);
				}
				
				var stampActivatePath = /*[[@{/cfdiMasterActivate}]]*/;
				$('#stampActivateButton').click(function(){
					window.location = stampActivatePath;
				});
				
				$('#rfcActiveByUser').change(function(){
					enableRfcButton($(this).val())
				})
				
				$('#setrfcbutton').click(function(){
					processing('Activando cuenta...');
				});
				
				/*$(function () {
				  	var token = $("meta[name='_csrf']").attr("content");
				  	var header = $("meta[name='_csrf_header']").attr("content");
				  	$(document).ajaxSend(function(e, xhr, options) {
				    	xhr.setRequestHeader(header, token);
				  	});
				});*/
			/*]]>*/
		</script>
		
	</body>
</html>