<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Denied</title>
	</head>
	<body>
		<div th:fragment="content" >
			<!-- Verificando rol y usuario -->
			<div class="hidden" style="display: none;">
				<span id="span-authorities" sec:authentication="principal.authorities">norol</span>
				<span id="span-authentication-name" sec:authentication="name">noname</span>
			</div>
			
			<link th:href="@{'/resources/css/app-style/unauthorized/unauthorized.css'}" rel="stylesheet">
			
			<div class="header">
		    	<div class="">
		    		<div class="logo-menu">
		        		<div class="logo">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megapractical-white.png'}" width="250px">
		            		</a>
		            	</div>
		            	<div class="logo-megafactura">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megafactura-white.png'}" width="250px">
		            		</a>
		            	</div>
		            </div>
				</div>
			</div>
			<div id="authenticated" class="loginscreen animated fadeInDown text-center hidden" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0; display: none;">
				<div id="box-content" class="box-content" style="overflow: auto;">
					<div class="app-logo"></div>
					<div class="div-form-content" style="margin-top: 15px;">
						<h3>
							<i class="fa fa-warning" aria-hidden"true"=""></i>
							<b>El recurso solicitado no está disponible</b>
						</h3>
						<div class="form-group" style="margin-top: 15px;">
							<p>La cuenta activa en el sistema no tiene permisos para acceder al recurso solicitado.</p>
						</div>
						<div class="form-group" style="margin-top: 50px;">
							<a id="rfcAccountConfig1" th:href="@{'/'}" class="btn btn-white" style="width: 150px;">
								<i class="fa fa-undo" aria-hidden="true"></i>							
								<lable>Salir</lable>
							</a>
						</div>
						<div class="form-group" style="margin-top: 70px; margin-bottom: -40px;">
							<p>
								<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="no-authenticated" class="loginscreen animated fadeInDown text-center hidden" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0; display: none;">
				<div id="box-content" class="box-content" style="overflow: auto;">
					<div class="app-logo"></div>
					<div class="div-form-content" style="margin-top: 15px;">
						<div class="alert-danger" role="alert" style="padding: 10px;">
							<h3>
								<i class="fa fa-warning" aria-hidden"true"=""></i>
								<b>Conflicto de inicio de sesión</b>
							</h3>
							<div class="form-group" style="margin-top: 15px;">
								<p>Existe un conflicto entre las cookies del navegador 
								   y las cookies del sistema. Por favor, inicie sesión nuevamente.</p>
							</div>
						</div>
						<div class="form-group" style="margin-top: 50px;">
							<a th:href="@{'/login'}" class="btn btn-white">
								<i class="fa fa-sign-in" aria-hidden="true"></i>								
								<small>Iniciar sesión nuevamente</small>
							</a>
						</div>
						<div class="form-group" style="margin-top: 70px; margin-bottom: -40px;">
							<p>
								<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					var authorities = getElementText('span-authorities');
					var authenticationName = getElementText('span-authentication-name');
					if(authorities == 'norol' && authenticationName == 'noname'){
						hiddenClassRemove('no-authenticated');
						elementShow('no-authenticated');
						hiddenClassRemove('authenticated');
						elementHide('authenticated');
					}else{
						hiddenClassRemove('authenticated');
						elementShow('authenticated');
						hiddenClassRemove('no-authenticated');
						elementHide('no-authenticated');
					}
				/*]]>*/
			</script>
			
		</div>
	</body>
</html>