<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Unauthorized</title>
	</head>
	<body>
		<div th:fragment="unauthorized">
			<div class="header">
		    	<div class="">
		    		<div class="logo-menu">
		        		<div class="logo">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megapractical-white.png'}" width="250px">
		            		</a>
		            	</div>
		            	<div class="logo-megafactura">
		            		<a th:href="@{'/login'}">
		            			<img th:src="@{'/resources/img/dashboard/megafactura-white.png'}" width="250px">
		            		</a>
		            	</div>
		            </div>
				</div>
			</div>
			<div class="loginscreen animated fadeInDown text-center" style="position: absolute; left: 0; top: 10%; right: 0; bottom: 0;">
				<div id="box-content" class="box-content" style="overflow: auto;">
					<div class="app-logo"></div>
					<div class="div-form-content" style="margin-top: 15px;">
						<h3>
							<i class="fa fa-warning" aria-hidden"true"=""></i>
							<b>Conflicto de inicio de sesión</b>
						</h3>
						<div class="form-group" style="margin-top: 15px;">
							<p>Existe un conflicto entre las cookies del navegador 
							   y las cookies del sistema. Por favor, inicie sesión nuevamente.</p>
						</div>
						<div class="form-group" class="btn btn-white" style="margin-top: 50px;">
							<a th:href="@{'/login'}">
								<small>Iniciar sesión</small>
							</a>
							<a th:href="@{'/registerAccount'}" style="margin-left: 10px;">
								<small>Crear cuenta</small>
							</a>
						</div>
						<div class="form-group" style="margin-top: 70px; margin-bottom: -40px;">
							<p>
								<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>