<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.payroll.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
			<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
			
			<style type="text/css">
				.modal-body {
				    min-height: 200px;
				    padding: 10px 0;
				}
			</style>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-12">
					<h3 class="header-title">MegaCFDI - Bandeja de nóminas</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label>Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Nómina
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								<label>Bandeja de nóminas</label>
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight hidden">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="row animated fadeInRight">
								<div class="col-lg-12" style="padding-left: 0;">
                    				<div class="row">
                    					<div class="col-lg-12">
	                    					<!-- Criterios de busqueda -->
											<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
				                                <div class="ibox-title">
				                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
				                                    <label>Criterios de búsqueda</label>
				                                    <div class="ibox-tools pull-right">
				                                        <a class="collapse-link">
				                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
				                                        </a>
				                                    </div>
				                                </div>
				                                <div class="ibox-content" style="padding-bottom: 0; display: none">
				                               		<div class="panel-body" style="padding: 0;">
														<div class="div-form-content">
				                                			<div class="row"><!-- form-group -->
																<div id="div-searchBy" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchBy" class="label-form" for="searchBy">
																		Criterios de búsqueda:
																	</label>
																	<input type="text" id="searchBy" name="searchBy" class="form-control" placeholder="...por CURP, UUID, Serie o Folio">
																	<span id="span-searchBy" class="field-validation-error-extended"></span>
																</div>
																<div id="div-searchDate" class="col-xs-12 col-sm-4 div-form-input-bottom">
																	<label id="label-searchDate" class="label-form" for="searchDate">
																		Fecha timbrado:
																	</label>
																	<input type="text" id="searchDate" name="searchDate" class="form-control" placeholder="dd/mm/yyyy">
																	<span id="span-searchDate" class="field-validation-error-extended"></span>
																</div>
				                                			</div>
				                                		</div>
				                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px; padding-right: 0;">
															<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-search" aria-hidden="true"></i> 
																Buscar
															</button>
															<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																<i class="fa fa-retweet" aria-hidden="true"></i> 
																Limipiar filtros
															</button>
														</div>                                		
				                               		</div>
												</div>
				                            </div>
                    					</div>
                    					
                        				<div class="col-lg-12">
											<div class="div-form-facet" style="margin-top: 0px; padding: 15px 15px 7px;">
												<h4>
													<i class="fa fa-file-code-o" aria-hidden="true"></i>													
													<span>Listado de Nóminas</span> <small id="total-elements-result"></small>
													<div class="panel-heading-controls">
				                						<select id="pagination-page-size" class="form-control input-sm custom-select">
				                                        	<option id="pag-opt-10" value="10">10</option>
				                                        	<option id="pag-opt-50" value="50">50</option>
				                                        	<option id="pag-opt-100" value="100">100</option>
				                                        	<option id="pag-opt-150" value="150">150</option>
				                                        	<option id="pag-opt-200" value="200">200</option>
				                                        	<option id="pag-opt-250" value="250">250</option>
				                                        	<option id="pag-opt-500" value="500">500</option>				                                        	
				                                      	</select>
				                                    </div>
												</h4>
											</div>
											<div class="ibox-content" style="padding: 0;">
												
												<div id="panel-search-result-empty-content" class="hidden" style="padding: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-payroll-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="20%" span="4">
															<col width="10%">
														</colgroup>
														<thead>
															<tr>
																<th>CURP</th>
																<th>Folio fiscal</th>
																<th class="text-center">Serie-Folio</th>
																<th class="text-center">Fecha de timbrado</th>
																<th></th>
															</tr>
														</thead>
														<tbody id="tbdoy-payroll-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-payroll-content" class="hidden">
													<div id="div-pagination-payroll" style="text-align: center;"></div>
												</div>
											</div>
										</div>
                        			</div>
								</div>
							
								<!--Confirmation modal-->											
								<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
								
								<!--Email modal-->											
								<div th:insert="~{modals/EmailModal :: send-email-modal}"></div>
							
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				var payrollSourceRequest = /*[[@{/payrolltry}]]*/;				
				var contextPath = /*[[@{/}]]*/;
				
				var page = null;
				
				//##### Valor del total de registros por pagina
				var paginationPageSize = 10;
				var paginationPageSizeValues = ['10', '50', '100', '150', '200', '250', '500'];
				
				$(document).ready(function() {
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					payrollLoad();
					
					$('#div-searchDate input').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
					
					$('#btn-search').click(function() {
						search();
					});
					
					$('#btn-search-clean').click(function() {
						searchClean();
					});
					
					$('#pagination-page-size').change(function() {
						if (isSelectHasValue(this.id)) {
							globalMessageHide();
							paginationPageSize = getElementValue(this.id);
							if (isElementInArray(paginationPageSizeValues, paginationPageSize)) {
								payrolls = [];
								page = null;
								payrollLoad();
							} else {
								globalMessageShow('El valor de registros por página no es válido', null, true);
							}
						}
					});
				});
				
				var payrolls = [];
				function payrollLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					if (!isElementExist('div-loading-initial-content')) {
						processing(loadingRequest);	
					}
					
					$.ajax({
						url: payrollSourceRequest,
				       	type: 'POST',
				       	data: {
				       		searchBy : encodeValue(getElementValue('searchBy')),
				       		searchDate: encodeValue(getElementValue('searchDate')),
				       		page: page == null ? encodeValue("0") : page,
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.payrolls;
								var payrollPagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (payrollPagination != null) {
									if (payrollPagination.paginator != null) {
										paginator = payrollPagination.paginator;
									}
									
									paginatorPage = payrollPagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.curp = decodeValue(item.curp);
											obj.uuid = decodeValue(item.uuid);
											obj.serieFolio = decodeValue(item.serieFolio);
											obj.stampDate = decodeValue(item.stampDate);
											payrolls[payrolls.length] = obj;
										}
										payrollCustomList();
										pagination('pagination-payroll', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-payroll-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function payrollReload() {
					payrolls = [];
					page = w2utils.isInt(page) ? encodeValue(page) : page;
					$.ajax({
						url: payrollSourceRequest,
				       	type: 'POST',
				       	data: {
				       		searchBy : encodeValue(getElementValue('searchBy')),
				       		searchDate: encodeValue(getElementValue('searchDate')),
				       		page: page == null ? encodeValue("0") : page,
				       		paginateSize : encodeValue(paginationPageSize)
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								var list = objJson.payrolls;
								var payrollPagination = objJson.pagination;
								
								var paginator = null;
								var paginatorPage = null;
								if (payrollPagination != null) {
									if (payrollPagination.paginator != null) {
										paginator = payrollPagination.paginator;
									}
									
									paginatorPage = payrollPagination.page;
									page = paginatorPage.number;
									
									var totalElements = paginatorPage.totalElements;
									totalElements = totalElements + (totalElements == 1 ? ' elemento' : ' elementos');
									elementTextChange('total-elements-result', totalElements);
								}
								
								if (response.success) {
									if (list.length >= 1) {
										for (var i = 0; i < list.length; i++) {
											var item = list[i];
											var obj = new Object();
											obj.curp = decodeValue(item.curp);
											obj.uuid = decodeValue(item.uuid);
											obj.serieFolio = decodeValue(item.serieFolio);
											obj.stampDate = decodeValue(item.stampDate);
											payrolls[payrolls.length] = obj;
										}
										payrollCustomList();
										pagination('pagination-payroll', paginatorPage, paginator);
										hiddenClassRemove('div-pagination-payroll-content');
									} else {
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										emptyCustomList();
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										
										afterDocumentLoad();
									}
									processingEnd();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("ERROR! " + thrownError);
				        }
					});
				}
				
				function payrollCustomList() {
					$('#tbdoy-payroll-custom-list').html("");
					if (payrolls.length >= 1) {
						for (var i = 0; i < payrolls.length; i ++) {
							const item = payrolls[i];
							var curp = item.curp;
							var uuid = item.uuid;
							var serieFolio = item.serieFolio;
							var stampDate = item.stampDate;
							
							var index = encodeValue(i + ',' + uuid);
							
							var xmlDownload = contextPath + 'payrolltry/download/'+uuid+'/xml';
							var pdfDownload = contextPath + 'payrolltry/download/'+uuid+'/pdf';
							
							elementCheckedFalse('checkbox-payroll-all');
							
							$("#tbdoy-payroll-custom-list").append(
								'<tr>' +
									'<td>'+curp+'</td> ' +
									'<td>'+uuid+'</td> ' +
									'<td class="text-center">'+serieFolio+'</td> ' +
									'<td class="text-center">'+stampDate+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div style="float: right;"> ' +
											'<div style="float: left;" title="Descargar XML"> ' +
												'<a href="'+xmlDownload+'"> ' +
													'<i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
											'<div style="float: left; margin-left: 4px;" title="Descargar PDF"> ' +
												'<a href="'+pdfDownload+'"> ' +
													'<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> ' +
												'</a> ' +
											'</div> ' +
										'</div> ' +
									'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-payroll-custom-list');
					} else {
						hiddenClass('div-payroll-custom-list');						
					}
					afterDocumentLoad();
				}
				
				function emptyCustomList() {
					$("#tbdoy-payroll-custom-list").html("");
					hiddenClass('div-payroll-custom-list');
				}
				
				function paginate(pPage) {
					page = pPage;
					payrolls = [];
					payrollLoad();
				}
				
				function search() {
					page = null;
					payrolls = [];
					payrollLoad();
				}
				
				var searchFields = ['searchBy', 'searchDate'];
				function searchClean() {
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if (bValid) {
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if (isCriteriaDefined) {
						formFieldsClear(searchFields);
						search();
					}
				}
				
				function paginationHidden() {
					$('#div-pagination-payroll').html("");
					hiddenClass('div-pagination-payroll-content');
				}
			</script>
		</div>
	</body>
</html>