<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
    		<style type="text/css">
				.tabs-container .tabs-panel-body {
				    background: #fff;
				    border: 1px solid #e7eaec;
				        border-top-width: 1px;
				        border-top-style: solid;
				        border-top-color: rgb(231, 234, 236);
				    border-radius: 2px;
				    padding: 20px;
				    position: relative;
				}
			</style>
    		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">MegaCFDI - Bandeja de archivos</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Nómina
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-inbox" aria-hidden="true"></i>
								Bandeja de archivos
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
                    <ul class="stat-list m-t-lg">
                        <li id="li-stamp-available" class="hidden" style="display: none;">
                            <small id="stamp-available"></small>
                            <div class="progress progress-mini">
                                <div id="stamp-available-progress-bar" class="progress-bar"><!-- style="width: 48%;" --></div>
                            </div>
                        </li>
                    </ul>
                </div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 th:text="#{mega.cfdi.menu.payroll.file.inbox}">Bandeja de archivos</h5>
								<!--<div class="text-right">
									<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
									<span th:text="#{mega.cfdi.legend.required.fields}"></span>
								</div>-->
							</div>							
							<div class="ibox-content">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<!-- TAB :: Emisor -->
										<li id="li-tab-emitter" class="active">
											<a data-toggle="tab" href="#tab-processed">
												<i class="fa fa-database" aria-hidden="true"></i>												
												Procesados
											</a>
										</li>
										<li id="li-tab-receiver">
											<a data-toggle="tab" href="#tab-processing">
												<i class="fa fa-refresh" aria-hidden="true"></i>
												Procesando
											</a>
										</li>
										<li id="li-tab-voucher">
											<a data-toggle="tab" href="#tab-queued">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												En cola
											</a>
										</li>										
										<div id="div-upload-file-content" class="button-form-right">
											<span class="label label-danger right" th:text="${textFileUploadExceeded}"></span>																					
											<a id="upload-file-btn" th:class="${buttonNominaClass}" role="button"  >
												<i class="fa fa-upload" aria-hidden="true"></i>
												<span>Subir archivo</span>
											</a>
										</div>
									</ul>
									<div class="tab-content">
										<!-- TAB CONTENT :: PROCESSED FILES -->
										<div id="tab-processed" class="tab-pane active">
											<div class="panel-body" style="padding-bottom: 0;">
												<!-- Criterios de busqueda -->
												<div id="div-payroll-file-generated-search" class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
					                                <div class="ibox-title" style="border-right: 1px solid #e7eaec;border-left: 1px solid #e7eaec;">
					                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
					                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
					                                    <div class="ibox-tools pull-right">
					                                        <a class="collapse-link">
					                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
					                                        </a>
					                                    </div>
					                                </div>
					                                <div class="ibox-content" style="padding: 0; display: none">
					                               		<div class="panel-body" style="padding: 0;">
															<div class="div-form-content" style="margin-top: 10px;">
					                                			<div class="form-group">
																	<div id="div-search-file-name" class="col-xs-12 col-sm-4 div-form-input-bottom">
																		<label id="label-search-file-name" class="label-form" for="search-file-name">
																			Nombre archivo:
																		</label>
																		<input type="text" id="search-file-name" name="search-file-name" class="form-control">
																		<span id="span-search-file-name" class="field-validation-error-extended"></span>
																	</div>
																	<div id="div-search-period" class="col-xs-12 col-sm-4 div-form-input-bottom">
																		<label id="label-search-period" class="label-form" for="search-period">
																			Periodo:
																		</label>
																		<input type="text" id="search-period" name="search-period" class="form-control">
																		<span id="span-search-period" class="field-validation-error-extended"></span>
																	</div>
																	<div id="div-search-year" class="col-xs-12 col-sm-4 div-form-input-bottom">
																		<label id="label-search-year" class="label-form" for="search-year">
																			Ejercicio:
																		</label>
																		<input type="text" id="search-year" name="search-year" class="form-control">
																		<span id="span-search-year" class="field-validation-error-extended"></span>
																	</div>                                			
					                                			</div>
					                                		</div>
					                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px;">
																<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-search" aria-hidden="true"></i> 
																	Buscar
																</button>
																<button type="button" id="btn-search-clean" name="btn-search-clean" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-retweet" aria-hidden="true"></i> 
																	Limipiar filtros
																</button>
															</div>                                		
					                               		</div>
													</div>
					                            </div>
									
												<div id="panel-search-result-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-payroll-file-generated-custom-list" class="table-responsive hidden" style="margin-top: 20px;">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup id="colgroup-payroll-file-generated-custom-list">
															<col span="2" width="30%">
															<col span="4" width="10%">
														</colgroup>
														<thead id="thead-payroll-file-generated-custom-list">
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.name}">Nombre archivo</span>
																</th>
																<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.period}">Periodo</span>
																</th>
																<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.year}">Ejercicio</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.compacted}">Compactado</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.consolidated}">Consolidado</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.error}">Error</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-payroll-file-generated-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-generated-payroll-file-content" class="hidden">
													<div id="div-pagination-generated-payroll-file" style="text-align: center;"></div>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: PROCESSING FILES -->
										<div id="tab-processing" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-payroll-file-processing-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-payroll-file-processing-empty-message"></div>
												</div>
												
												<div id="div-payroll-file-processing-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="36%">
															<col span="4" width="16%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.name}">Nombre archivo</span>
																</th>
																<!--<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.date.time}">Fecha y hora de inicio</span>
																</th>-->
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.total.payroll}">Total de nóminas</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.total.payroll.stamped}">Nóminas timbradas</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.total.payroll.error}">Nóminas con error</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.estimated.time}">Tiempo estimado</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-payroll-file-processing-custom-list"></tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: QUEUED FILES -->
										<div id="tab-queued" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-payroll-file-queued-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-payroll-file-processing-queued-message"></div>
												</div>
												
												<div id="div-payroll-file-queued-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="50%">
															<col span="2" width="20%">
															<col width="10%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span th:text="#{mega.cfdi.text.payroll.file.name}">Nombre archivo</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.payroll.type}">Tipo de nómina</span>
																</th>
																<th style="text-align: center;">
																	<span th:text="#{mega.cfdi.text.payroll.file.upload.date}">Fecha de carga</span>
																</th>
																<th style="text-align: right;"></th>
															</tr>
														</thead>
														<tbody id="tbdoy-payroll-file-queued-custom-list"></tbody>
													</table>
													<div id="payroll-file-queued-info" class="text-left hidden" style="margin-bottom: 20px;">
														<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i>											
														<span th:text="#{mega.cfdi.legend.payroll.file.stamp.available}"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!--Confirmation modal-->											
									<div th:insert="~{modals/PayrollFileUploadModal :: payroll-file-upload-modal}"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var emptyInformation = /*[[${emptyInformation}]]*/;
				var availableStampError = /*[[${availableStampError}]]*/;
				
				var page = null;
				var action = 'load';
				
				//##### Request
				var payrollRequest = /*[[@{/payrollStamp}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				//##### Arreglo de archivos
				var generatedPayrollFileList = [];
				var processingPayrollFileList = [];
				var queuedPayrollFileList = [];
				
				$(document).ready(function(){
					
					appValidationSetRequiredMessage(requiredMessage);
					
					//##### Load payroll upload file modal
					$('#upload-file-btn').click(function(){
						payrollUploadClear();
						$("#payroll-file-upload-modal").modal();
					});
					
					//##### Payroll upload btn
					$('#payroll-file-modal-btn').click(function(){
						payrollFileUpload();
					});
					
					$('#period').keyup(function(){
						elementFieldClassReset(this.id);
					}).change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#payroll-type').change(function(){			
						elementFieldClassReset(this.id);
					});
					
					$('#payroll-file').change(function(){			
						elementFieldClassReset(this.id);
					});
					
					//##### Listado de archivos
					payrollFileLoad();
					
					//##### Busqueda
					$('#btn-search').click(function(){
						search();
					});
					
					$('#btn-search-clean').click(function(){
						searchClean();
					});
					
					//##### Verifica el estado de los ficheros de nomina cada 1 min (1 min = 60 seg = 60000 miliseg)
		    		payrollFileTime = 1;
		    		payrollFileHandlerIntervalId = interval(payrollFileAsyncCheck, convertMiliseg(payrollFileTime));
				});
				
				//########################################################################################
				//##### Listado de ficheros ##############################################################
				//########################################################################################
				function payrollFileAsyncCheck(){
					if(page != null) {						
						//page = encodeValue(page + 1);
						page = encodeValue(page + 1);
					}
					
					action = 'async';
					payrollFileLoad();
		    	}
				
				function search(){
					page = null;
					action = 'search';
					payrollFileGeneratedLoad();
				}
				
				var searchFields = ['search-file-name', 'search-period', 'search-year'];
				function searchClean(){
					var isCriteriaDefined = false;
					for (var i = 0; i < searchFields.length; i++) {
						var field = searchFields[i];
						var bValid = isElementHasValue(field);
						if(bValid){
							isCriteriaDefined = true;
							break;
						}
					}
					  
					if(isCriteriaDefined){
						formFieldsClear(searchFields);
						search();
					}
				}
				
				function paginate(pPage){
					page = pPage;
					action = 'paginate';
					payrollFileGeneratedLoad();
				}
				
				function paginationHidden(){
					$('#div-pagination-generated-payroll-file').html("");
					hiddenClass('div-pagination-generated-payroll-file-content');
				}
				
				function payrollFileLoad(){
					globalMessageHide();
					
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					panelMessageHide('panel-payroll-file-processing-empty-content', 'panel-payroll-file-processing-empty-message');
					panelMessageHide('panel-payroll-file-queued-empty-content', 'panel-payroll-file-processing-queued-message');
					
					generatedPayrollFileList = [];
					processingPayrollFileList = [];
					queuedPayrollFileList = [];
					
					$.ajax({
						url: payrollRequest + "?payrolFilelList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		searchPeriod: encodeValue(getElementValue('search-period')),
				       		searchYear: encodeValue(getElementValue('search-year')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedPayrollList = objJson.generatedPayrollFiles;
								var processingPayrollList = objJson.processingPayrollFiles;
								var queuedPayrollList = objJson.queuedPayrollFiles;
								
								var payrollFilePagination = objJson.pagination;
								var paginator = payrollFilePagination.paginator;
								var paginatorPage = payrollFilePagination.page;								
								var page = paginatorPage.number;
								
								if(response.success){
									//##### Listado de archivos procesados (con paginado)
									if(generatedPayrollList != null){
										if(generatedPayrollList.length >= 1){
											for (var i = 0; i < generatedPayrollList.length; i++) {
												var item = generatedPayrollList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.payrollType = decodeValue(item.payrollType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.period = decodeValue(item.period);
												obj.year = decodeValue(item.year);
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null){
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null){
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null){
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedPayrollFileList[generatedPayrollFileList.length] = obj;
											}
											
											pagination('pagination-generated-payroll-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-payroll-file-content');	
										}else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos procesandose
									if(processingPayrollList != null){
										if(processingPayrollList.length >= 1){
											for (var i = 0; i < processingPayrollList.length; i++) {
												var item = processingPayrollList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.name = decodeValue(item.name);
												obj.stimatedTime = item.stimatedTime != null ? decodeValue(item.stimatedTime) : null; 
												
												if(item.payrollFileStatistics != null){
													var statistics = item.payrollFileStatistics;
													obj.parserStartDate = statistics.parserStartDate != null ? decodeValue(statistics.parserStartDate) : null;
													obj.parserStartTime = statistics.parserStartTime != null ? decodeValue(statistics.parserStartTime) : null;
													obj.totalPayroll = statistics.totalPayroll != null ? decodeValue(statistics.totalPayroll) : null;
													obj.totalPayrollStamped = statistics.totalPayrollStamped != null ? decodeValue(statistics.totalPayrollStamped) : null;
													obj.totalPayrollError = statistics.totalPayrollError != null ? decodeValue(statistics.totalPayrollError) : null;
												}else{
													obj.parserStartDate = null;
													obj.parserStartTime = null;
													obj.totalPayroll = null;
													obj.totalPayrollStamped = null;
													obj.totalPayrollError = null;
												}
												
												processingPayrollFileList[processingPayrollFileList.length] = obj;
											}
										}else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-payroll-file-processing-custom-list');
											panelMessageShow('panel-payroll-file-processing-empty-content', 'panel-payroll-file-processing-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-payroll-file-processing-custom-list');
										panelMessageShow('panel-payroll-file-processing-empty-content', 'panel-payroll-file-processing-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos en cola
									if(queuedPayrollList != null){
										if(queuedPayrollList.length >= 1){
											for (var i = 0; i < queuedPayrollList.length; i++) {
												var item = queuedPayrollList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.payrollType = decodeValue(item.payrollType);
												obj.name = decodeValue(item.name);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												queuedPayrollFileList[queuedPayrollFileList.length] = obj;
											}
										}else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-payroll-file-queued-custom-list');
											panelMessageShow('panel-payroll-file-queued-empty-content', 'panel-payroll-file-processing-queued-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-payroll-file-queued-custom-list');
										panelMessageShow('panel-payroll-file-queued-empty-content', 'panel-payroll-file-processing-queued-message', emptyMessage, cssClass, dismiss);
									}
									payrollFileCustomList();
								}else if(response.error){
									
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Payroll file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function payrollFileGeneratedLoad(){
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					generatedPayrollFileList = [];
					
					$.ajax({
						url: payrollRequest + "?payrollFileGeneratedList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		searchPeriod: encodeValue(getElementValue('search-period')),
				       		searchYear: encodeValue(getElementValue('search-year')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if(jQuery.parseJSON(data) != null){
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedPayrollList = objJson.generatedPayrollFiles;
								
								var payrollFilePagination = objJson.pagination;
								var paginator = payrollFilePagination.paginator;
								var paginatorPage = payrollFilePagination.page;								
								page = paginatorPage.number;
								
								if(response.success){
									//##### Listado de archivos procesados (con paginado)
									if(generatedPayrollList != null){
										if(generatedPayrollList.length >= 1){
											for (var i = 0; i < generatedPayrollList.length; i++) {
												var item = generatedPayrollList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.payrollType = decodeValue(item.payrollType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.period = decodeValue(item.period);
												obj.year = decodeValue(item.year);
												obj.stampAvailable = item.stampAvailable;
												
												if(item.compactedPath != null){
													obj.compactedPath = decodeValue(item.compactedPath);	
												}
												
												if(item.consolidatedPath != null){
													obj.consolidatedPath = decodeValue(item.consolidatedPath);	
												}
												
												if(item.errorPath != null){
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedPayrollFileList[generatedPayrollFileList.length] = obj;
											}
											
											pagination('pagination-generated-payroll-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-payroll-file-content');	
										}else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									}else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									generatedPayrollFileCustomList();
								}else if(response.error){
									if(notification != null){
										var pageMessage = notification.pageMessage;
										if(pageMessage){
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Payroll generated file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function payrollFileCustomList(){
					generatedPayrollFileCustomList();
					processingPayrollFileCustomList();
					queuedPayrollFileCustomList();
				}
				
				function generatedPayrollFileCustomList(){
					$("#tbdoy-payroll-file-generated-custom-list").html("");
					if(generatedPayrollFileList.length >= 1){
						
						var compactedPath = false;
						var consolidatedPath = false;
						var errorPath = false;
						
						for(var i = 0; i < generatedPayrollFileList.length; i ++){
							var item = generatedPayrollFileList[i];
							
							var id = item.id;
							var name = item.name;
							var period = item.period;
							var year = item.year;
														
							var payrollCompactedPath = item.compactedPath != null ? item.compactedPath : null;
							if(payrollCompactedPath != null){
								compactedPath = true;
							}
							
							var payrollConsolidatedPath = item.consolidatedPath != null ? item.consolidatedPath : null;
							if(payrollConsolidatedPath != null){
								consolidatedPath = true;
							}
								
							var payrollErrorPath = item.errorPath != null ? item.errorPath : null;
							if(payrollErrorPath != null){
								errorPath = true;
							}
							
							var tbodyTr = "tbody-tr-generated-" + i;
							
							$("#tbdoy-payroll-file-generated-custom-list").append('<tr id="'+tbodyTr+'"></tr>');
							$("#" + tbodyTr).append(
								'<td>'+name+'</td> ' +
								'<td>'+period+'</td> ' +
								'<td style="text-align: center;">'+year+'</td>'
							);
								
							if(payrollCompactedPath != null){
								var compactedDownload = contextPath + 'payroll/file/download/'+name+'/compacted';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-compacted" style="text-align: center;"> ' +
										'<div title="Descargar compactado"> ' +
											'<a href="'+compactedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-compacted"></td>');
							}
									
							if(payrollConsolidatedPath != null){
								var consolidatedDownload = contextPath + 'payroll/file/download/'+name+'/consolidated';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-consolidated" style="text-align: center;"> ' +
										'<div title="Descargar consolidado"> ' +
											'<a href="'+consolidatedDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-consolidated"></td>');
							}
									
							if(payrollErrorPath != null){
								var errorDownload = contextPath + 'payroll/file/download/'+name+'/error';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-error" style="text-align: center;"> ' +
										'<div title="Descargar archivo de errores"> ' +
											'<a href="'+errorDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							}else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-error"></td>');
							}
						}
						
						//##### Para eliminar las filas en donde no exista contentido
						if(!compactedPath){
							for(var i = 0; i < generatedPayrollFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-compacted";
								elementRemove(elementId);								
							}
						}
						
						if(!consolidatedPath){
							for(var i = 0; i < generatedPayrollFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-consolidated";
								elementRemove(elementId);								
							}
						}
						
						if(!errorPath){
							for(var i = 0; i < generatedPayrollFileList.length; i ++){
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-error";
								elementRemove(elementId);								
							}	
						}
						
						//##### Determinando el colgroup y el thead
						$('#colgroup-payroll-file-generated-custom-list').html("");
						$('#thead-payroll-file-generated-custom-list').html("");
						$('#thead-payroll-file-generated-custom-list').append('<tr id="thead-tr-generated"></tr>');
						$('#thead-tr-generated').append(
							'<th> ' +
								'<span th:text="#{mega.cfdi.text.payroll.file.name}">Nombre archivo</span> ' +
							'</th> ' +
							'<th> ' +
								'<span th:text="#{mega.cfdi.text.payroll.file.period}">Periodo</span> ' +
							'</th> ' +
							'<th style="text-align: center;"> ' +
								'<span th:text="#{mega.cfdi.text.payroll.file.year}">Ejercicio</span> ' +
							'</th>'
						);
						
						if(compactedPath && consolidatedPath && errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="30%"> ' +
								'<col span="4" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.consolidated}">Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && consolidatedPath && !errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.consolidated}">Consolidado</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.compacted}">Compactado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(compactedPath && !consolidatedPath && !errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.compacted}">Compactado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="35%"> ' +
								'<col span="3" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.consolidated}">Consolidado</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.error}">Error</span> ' +
								'</th>'
							);
						}else if(!compactedPath && consolidatedPath && !errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.consolidated}">Consolidado</span> ' +
								'</th>'
							);
						}else if(!compactedPath && !consolidatedPath && errorPath){
							$('#colgroup-payroll-file-generated-custom-list').append(
								'<col span="2" width="40%"> ' +
								'<col span="2" width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span th:text="#{mega.cfdi.text.payroll.file.error}">Error</span> ' +
								'</th>'
							);
						}
						
						hiddenClassRemove('div-payroll-file-generated-search');
						hiddenClassRemove('div-payroll-file-generated-custom-list');
					}else{
						if(action != 'search'){
							hiddenClass('div-payroll-file-generated-search');	
						}
						hiddenClass('div-payroll-file-generated-custom-list');						
					}
				}
				
				function processingPayrollFileCustomList(){
					$("#tbdoy-payroll-file-processing-custom-list").html("");
					if(processingPayrollFileList.length >= 1){
						for(var i = 0; i < processingPayrollFileList.length; i ++){
							var item = processingPayrollFileList[i];
							
							var id = item.id;
							var name = item.name;
							var dateTime = (item.parserStartDate != null && item.parserStartTime) ? item.parserStartDate + " " + item.parserStartTime : 'Calculando...';  
							var totalPayroll = item.totalPayroll != null ? item.totalPayroll : 'Calculando...';
							var totalPayrollStamped = item.totalPayrollStamped ? item.totalPayrollStamped : 'Calculando...';
							var totalPayrollError = item.totalPayrollError ? item.totalPayrollError : 0;
							var stimatedTime = item.stimatedTime != null ? item.stimatedTime : 'Calculando...';
							
							$("#tbdoy-payroll-file-processing-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
									//'<td>'+dateTime+'</td> ' +
									'<td style="text-align: center;">'+totalPayroll+'</td> ' +
									'<td style="text-align: center;">'+totalPayrollStamped+'</td> ' +
									'<td style="text-align: center;">'+totalPayrollError+'</td> ' +
									'<td style="text-align: center;">'+stimatedTime+'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-payroll-file-processing-custom-list');
					}else{
						hiddenClass('div-payroll-file-processing-custom-list');						
					}
				}
				
				function queuedPayrollFileCustomList(){
					var showInfo = false;
					$("#tbdoy-payroll-file-queued-custom-list").html("");					
					if(queuedPayrollFileList.length >= 1){
						for(var i = 0; i < queuedPayrollFileList.length; i ++){
							var item = queuedPayrollFileList[i];
							
							var id = item.id;
							var name = item.name;
							var payrollType = item.payrollType;
							var uploadDate = item.uploadDate;
							var stampAvailable = item.stampAvailable;
							
							var trStyle = stampAvailable != null ? (!stampAvailable ? 'style="color: red;"' : '') : ''; 
							
							$("#tbdoy-payroll-file-queued-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+name+'</td> ' +
									'<td style="text-align: center;">'+payrollType+'</td> ' +
									'<td style="text-align: center;">'+uploadDate+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=queuedFileLoadRemove("'+id+'")></i> ' +
										'</div> ' +									
									'</td> ' +
								'</tr>'
							);
							
							if(!stampAvailable){
								showInfo = true;
							}
						}
						hiddenClassRemove('div-payroll-file-queued-custom-list');
					}else{
						hiddenClass('div-payroll-file-queued-custom-list');						
					}
					
					if(showInfo){
						hiddenClassRemove('payroll-file-queued-info');
					}else{
						hiddenClass('payroll-file-queued-info');
					}
					
					if(action != 'async'){
						afterDocumentLoad();	
					}
				}
				
				// Eliminar archivos en cola
				let queuedFileId = null;
				const queuedFileLoadRemove = (pId) => {
					if (pId != null) {
						queuedFileId = pId;
						
						elementTextChange('span-conformation-modal', '¿Está seguro que desea eliminar el archivo seleccionado?');
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'queuedFileRemove()');
						$("#confirmation-modal").modal();
					}
				}
				
				const queuedFileRemove = () => {
					if (queuedFileId != null){
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('queuedFileRemoving()', 500);
					}
				}
				
				const queuedFileRemoving = () => {
					$.ajax({
						url: payrollRequest + '?queuedFileRemove',
						type: "POST",
						data: {id: queuedFileId},
					}).done(function (data) {								        	
						if(jQuery.parseJSON(data) != null){
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if (response.success) {
								removeItemFromQueuedList(queuedFileId);
								queuedPayrollFileCustomList();
							} else if(response.error){
								if (notification != null){
									var pageMessage = notification.pageMessage;
									if (pageMessage) {
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
							}
							processingEnd();
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				const removeItemFromQueuedList = (id) => {
				    for (var i = 0; i < queuedPayrollFileList.length; i++) {
				        if (queuedPayrollFileList[i].id === id) {
				        	queuedPayrollFileList.splice(i, 1);
				            break;
				        }
				    }
				}
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var payrollFields = ['period', 'payroll-type', 'payroll-file'];
				
				function payrollUploadClear(){
					panelMessageHide('payroll-file-modal-message-content', 'payroll-file-modal-message');
					formFieldsClear(payrollFields);
				}
				
				function payrollUploadDataReady(){
					action = 'upload';
					elementFieldClassReset('period');
					elementFieldClassReset('payroll-type');
					elementFieldClassReset('payroll-file');
				}
				
				function payrollFileUpload(){
					var bValid = true;
					
					payrollUploadDataReady();
					
					bValid = bValid && fieldsCheck(payrollFields);
					
					if(!bValid){
						if(!isElementHasValue('payroll-file')){
							elementClassAdd('div-payroll-file-error', 'div-file-input-span-has-error');
						}
						return false;
					}else{
						$("#payroll-file-upload-modal").modal('hide');
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
						
						formData.append('period', encodeValue(getElementValue('period')));
						formData.append('payrollType', encodeValue(getElementValue('payroll-type')));
						formData.append('payrollFile', $('#payroll-file')[0].files[0]);
						
						$.ajax({
							url: payrollRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if(jQuery.parseJSON(data) != null){
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									var uploadLimit = response.uploadLimit;
									
									if(uploadLimit)
										elementClassAdd('div-upload-btn', 'disabled');
									
									if(response.success){
										processingEnd();
										
										var toastr = response.notification.toastr;
										var ToastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										systemNotificationShow(ToastrType, toastrMessage, toastrTitle);																														
										
										payrollFileAsyncCheck();
										
									}else if(response.error){
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var code = error['code'];
											
											elementForceError(field, message);
											
											if(field == 'payroll-file'){
												elementClassAdd('div-payroll-file-error', 'div-file-input-span-has-error');
											}													
										}
										
										if(notification != null){
											var modalPanelMessage = notification.modalPanelMessage;
											if(modalPanelMessage){
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												panelMessageShow('payroll-file-modal-message-content', 'payroll-file-modal-message', message, cssClass, dismiss);
											}
										}
										
										$("#payroll-file-upload-modal").modal();
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Generate CFDI failed!");
					      		processingEnd();
					        }
						});
					}
				}
			
			</script>
				
		</div>
	</body>
</html>