<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
		
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- Typehead -->
    		<script th:src="@{'/resources/js/plugins/typehead/bootstrap3-typeahead.min.js'}"></script>
    		
			<style type="text/css">
				.modal-body {
				    height: 290px;
				    padding: 10px 0;
				}
			</style>
		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-4"> <!-- div-heading-nav -->
					<h3 class="header-title">MegaCFDI - Cuentas RFC</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio																
							</a>
						</li>
						<li>
							<i class="fa fa-gear" aria-hidden="true"></i>							
							Configuraci&oacute;n
						</li>
						<li class="active">
							<i class="fa fa-vcard-o" aria-hidden="true"></i>
							<strong>
								Cuentas RFC
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-8">
					<div class="title-action">
						<a id="rfcAccountConfig" th:href="@{/emitterRfcAccount/addAccount/{action}(action=config)}" class="btn btn-white">
							<i class="fa fa-address-book-o" aria-hidden="true"></i>							
							<label>Adicionar cuenta</label>
						</a>
					</div>
				</div>
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message" class="hidden" style="margin-bottom: 5px;">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<span id="global-message-text"></span>
						</div>
						
						<!-- Area de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5 th:text="#{mega.cfdi.text.emitter.account.list}">Configuración Cuentas RFC</h5>
								
								<div class="ibox-tools">
									<form class="form-inline">
										<div class="form-group">
											<input type="text" name="searchString" style="width: 300px;" th:value="${searchPlaceholder}" placeholder="Buscar por RFC..." />
										</div>
										<button type="submit" class="btn btn-primary btn-xs" style="margin-top: 5px;">
											<i class="fa fa-search"></i> 
											Buscar
										</button>
									</form>
								</div>
								
							</div>
							<div class="ibox-content">
								<div th:if="${empty}" class="alert alert-info alert-dismissable">
									<label th:text="#{mega.cfdi.information.empty}">empty</label>
								</div>
							
								<div th:if="${not empty}" class="table-responsive">
									<table class="table table-striped table-hover">
										<colgroup>
											<col span="5" width="20%">
										</colgroup>
										<thead>
											<tr>
												<th>RFC</th>
												<th>Nombre o razón social</th>
												<th>Tipo contribuyente</th>
												<th>Régimen fiscal</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="account,rowStat : *{rfcAccountList}">
												<!-- RFC -->
												<td>
													<span th:text="${{account.rfc}}">rfc</span>
												</td>
												
												<!-- Nombre o razon social -->
												<td>
													<span th:text="${{account.nameOrBusinessName}}">nameOrBusinessName</span>
												</td>
												
												<!-- Tipo contribuyente (tipo persona) -->
												<td>
													<span th:text="${{account.personType}}">personType</span>
												</td>
												
												<!-- Regimen fiscal -->
												<td>
													<span th:text="${{account.taxRegime}}">taxRegime</span>
												</td>
												
												<!-- Numero certificado -->
												<td style="text-align: right;">
													<button type="button" th:id="loadView + ${rowStat.index}" th:name="loadView + ${rowStat.index}" th:value="${rowStat.index}" 
															style="width: 23px; padding-left: 2px;" th:onclick="'javascript:loadViewConcept(\'' + ${rowStat.index} + '\');'">
														<i class="fa fa-search" aria-hidden="true"></i>
													</button>
													<button type="button" th:id="loadEdit + ${rowStat.index}" th:name="loadEdit + ${rowStat.index}" th:value="${rowStat.index}" 
															style="width: 23px; padding-left: 2px;" th:onclick="'javascript:loadEditConcept(\'' + ${rowStat.index} + '\');'">
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													</button>
													<button type="submit" name="removeRow" th:value="${rowStat.index}" style="width: 23px; padding-left: 2px;">
														<i class="fa fa-trash"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				
				$(document).ready(function(){
					$('#rfcAccountConfig').click(function(){
						console.log("Clicked!");
						processing(loadingRequest);
					});
				});
				
			</script>
			
		</div>
	</body>
</html>