<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{mega.cfdi.app.title}">MegaCFDI - Facturación electrónica</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- Datapicker -->
    		<link th:href="@{'/resources/css/plugins/datapicker/datepicker3.css'}" rel="stylesheet">
    		<script th:src="@{'/resources/js/plugins/datapicker/bootstrap-datepicker.js'}"></script>
			
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-6">
					<h2>MegaCFDI - Bandeja de facturación</h2>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.nav.home}">Inicio</label>
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Mis CFDI
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-folder-open" aria-hidden="true"></i>
								<label th:text="#{mega.cfdi.invoicing.inbox}">Bandeja de facturación</label>
							</strong>
						</li>
					</ol>
				</div>
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<!--<div id="global-message" class="hidden" style="margin-bottom: 5px;">
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<span id="global-message-text"></span>
						</div>-->
						<div th:if="${error}" class="alert alert-danger alert-dismissable" style="margin-bottom: 5px;">							
							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
							<i class="fa fa-warning" aria-hidden="true"></i>
							<span th:text="${errorMessage}"></span>
						</div>
					
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<!-- Criterios de busqueda -->
							<div class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
                                <div class="ibox-title">
                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
                                    <div class="ibox-tools pull-right">
                                        <a class="collapse-link" onclick="display()">
                                            <i id="i-collapse" th:classappend="${display.equals('none')}? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="padding-bottom: 0;" th:styleappend="${display.equals('none')} ? 'display: none;'">
                                	<form>
                                		<input type="hidden" id="display" name="display" th:value="${display}">
                                		<div class="panel-body" style="padding: 0;">
											<div class="div-form-content">
	                                			<div class="form-group">
													<div id="div-searchUuid" class="col-xs-4 div-form-input-bottom">
														<label id="label-searchUuid" class="label-form" for="searchUuid">
															Folio fiscal:
														</label>
														<input type="text" id="searchUuid" name="searchUuid" class="form-control" th:value="${searchUuid}">
														<span id="span-searchUuid" class="field-validation-error-extended"></span>
													</div>
													<div id="div-searchRfc" class="col-xs-4 div-form-input-bottom">
														<label id="label-searchRfc" class="label-form" for="searchRfc">
															RFC receptor:
														</label>
														<input type="text" id="searchRfc" name="searchRfc" class="form-control" th:value="${searchRfc}">
														<span id="span-searchRfc" class="field-validation-error-extended"></span>
													</div>
													<div id="div-searchClave" class="col-xs-4 div-form-input-bottom">
														<label id="label-searchClave" class="label-form" for="searchClave">
															Clave de confirmación:
														</label>
														<input type="text" id="searchClave" name="searchClave" class="form-control" th:value="${searchClave}">
														<span id="span-searchClave" class="field-validation-error-extended"></span>
													</div>                                			
	                                			</div>
	                                			<div class="form-group" id="div-datepicker-content">
	                                				<div class="col-xs-4 div-form-input-bottom">
	                                					<label class="label-forml">Rango de fecha:</label>
						                                <div class="input-daterange input-group" id="datepicker" style="margin-top: -3px;">
						                                    <input type="text" id="searchDateStart" name="searchDateStart" class="form-control" th:value="${searchDateStart}" placeholder="dd/mm/yyyy"/>
						                                    <span class="input-group-addon">hasta</span>
						                                    <input type="text" id="searchDateEnd" name="searchDateEnd" class="form-control" th:value="${searchDateEnd}" placeholder="dd/mm/yyyy"/>
						                                </div>
	                                				</div>
					                            </div>
	                                		</div>
	                                		<div class="button-form-right" style="margin-bottom: 5px;">
												<input type="submit" id="btn-search" name="btn-search" value="Buscar" class="btn btn-primary" style="width: 150px;" />
											</div>                                		
                                		</div>
                                	</form>
								</div>
                            </div>
						
						
							<!--<div class="ibox-title" style="display: none;">
								<h5 th:text="#{mega.cfdi.invoicing.inbox.list}">Listado de CFDI</h5>
							</div>-->
							<div th:if="${!error}" class="ibox-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="div-form-facet" style="margin-top: 0px">
											<label>
												<h4 th:text="#{mega.cfdi.invoicing.inbox.list}">Listado de CFDI</h4>
											</label>
										</div>
										<div class="ibox-content" style="padding: 0;">
											
											<div th:if="${empty}" class="alert alert-info alert-dismissable" style="margin-top: 15px; margin-bottom: 0px;">
												<i class="fa fa-info-circle" aria-hidden="true"></i>
												<label th:text="${emptyText}">empty</label>
											</div>
											
											<div th:if="${not empty}" class="table-responsive">
												<table class="table table-striped table-hover">
													<colgroup>
														<col width="36%">
														<col span="3" width="20%">
														<col span="3" width="2%">
													</colgroup>
													<thead>
														<tr>
															<!--<th>
																<div th:replace="/fragments/ColumnHeader :: cfdi-column-header('Folio fiscal', 'uuid', ${cfdiList}, ${page}, ${sortProperty}, ${sortDirection}, ${searchUuid}, ${searchRfc}, ${searchClave}, ${searchDateStart}, ${searchDateEnd})"></div>
															</th>
															<th>
																<div th:replace="/fragments/ColumnHeader :: cfdi-column-header('Fecha de expedición', 'fechaExpedicion', ${cfdiList}, ${page}, ${sortProperty}, ${sortDirection}, ${searchUuid}, ${searchRfc}, ${searchClave}, ${searchDateStart}, ${searchDateEnd})"></div>
															</th>-->
															<th>Folio fiscal</th>
															<th>Fecha de expedición</th>
															<th>Receptor</th>
															<th>Clave confirmación</th>
															<!--<th>XML</th>
															<th>PDF</th>
															<th>Cancelar</th>-->
														</tr>
													</thead>
													<tbody>
														<tr th:each="cfdi,cfdiStat : *{cfdiList}">
															<!-- UUID del cfdi -->
															<td>
																<span th:text="${{cfdi.uuid}}">uuid</span>
															</td>
															
															<!-- Fecha de expedición -->
															<td th:text="${#dates.format(cfdi.fechaExpedicion, 'dd/MM/yyyy')}">fechaExpedicion</td>
															
															<!-- RFC del receptor -->
															<td th:text="${cfdi.contribuyenteReceptor.rfc}"></td>
															
															<!-- Clave de confirmacion -->
															<td th:text="${cfdi.comprobante.claveConfirmacionPac}"></td>
															
															<!-- XML -->
															<td style="text-align: center;">
																<div style="width: 70px;">
																	<div style="float: left;" title="Descargar XML">
																		<a th:href="@{/cfdi/download/{uuid}/{fileType}(uuid=${cfdi.uuid},fileType=xml)}" target="_blanck">
																			<i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i>
																		</a>
																	</div>
																	<div style="float: left; margin-left: 4px;" title="Descargar PDF">
																		<a th:href="@{/cfdi/download/{uuid}/{fileType}(uuid=${cfdi.uuid},fileType=pdf)}" target="_blanck">
																			<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
																		</a>
																	</div>
																	<div style="float: left; margin-left: 2px; margin-top: -3px;" title="Cancelar CFDI">
																		<a th:href="@{/cfdi/download/{uuid}/{fileType}(uuid=${cfdi.uuid},fileType=xml)}" target="_blanck">
																			<span class="fa-stack">
																				<i class="fa fa-file-code-o" aria-hidden="true"></i>
																				<i class="fa fa-ban fa-stack-2x text-danger"></i>														
																			</span>
																		</a>																
																	</div>
																</div>
															</td>
															
															<!-- PDF 
															<td style="text-align: center;">
																<a th:href="@{/cfdi/download/{uuid}/{fileType}(uuid=${cfdi.uuid},fileType=pdf)}" target="_blanck">
																	<i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
																</a>
															</td>-->
															
															<!-- Cancelacion 
															<td style="text-align: center;">
																<span class="fa-stack">
																	<a th:href="@{/cfdi/download/{uuid}/{fileType}(uuid=${cfdi.uuid},fileType=xml)}" target="_blanck">
																		<i class="fa fa-file-code-o" aria-hidden="true"></i>
																		<i class="fa fa-ban fa-stack-2x text-danger"></i>
																	</a>																
																</span>
															</td>-->
														</tr>
													</tbody>
												</table>
											</div>
											<!-- Paginado -->
											<div th:if="${not empty}">
												<div th:replace="/fragments/Pagination :: cfdi-pagination(${cfdiList}, ${sortProperty}, ${sortDirection}, ${searchUuid}, ${searchRfc}, ${searchClave}, ${searchDateStart}, ${searchDateEnd})"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				$(document).ready(function(){
					
					elementClassRemove('application-page-content', 'animated fadeInRight');
					
					$('#div-datepicker-content .input-daterange').datepicker({
						format: 'dd/mm/yyyy',
						language: 'es',
						keyboardNavigation: false,
		                forceParse: false,
		                autoclose: true
		            });
				});
				
				function display(){
					if(isElementHasClass('i-collapse', 'fa-chevron-down')){
						elementValueChange('display', 'show');							
					}else{
						elementValueClear('display');
					}
					log("display: " + getElementValue('display'));
				}				
			</script>
			
		</div>
	</body>
</html>