
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<title>Inicio</title>
</head>
<body>
	<div class="container" th:fragment="content">
	
		<link th:href="@{'/resources/css/app-style/register/register.css'}" rel="stylesheet">
		<!-- iCheck -->
		<link th:href="@{'/resources/css/plugins/iCheck/custom.css'}" rel="stylesheet">
		<script th:src="@{'/resources/js/plugins/iCheck/icheck.min.js'}" type="text/javascript"></script>
		
		<style type="text/css">
			.control-label {
				white-space: nowrap;
			}
			
			.loginscreen.middle-box {
				width: 400px;
			}
			
			.middle-box {
				max-width: 400px;
			}
			
			.col-md-4 {
				text-align: right !important;
			}
		</style>

		<body id="body-content">
			<div class="middle-box text-center loginscreen animated fadeInDown">
				<div id="login-content" class="login-content">
					<!-- <div>
						<h1 class="logo-name" style="font-size: 80px;">CFD-Box</h1>
					</div>
					<h3>Registrarse en CFD-Box</h3>
					<p>Crear cuenta.</p>-->
					<div class="app-logo"></div>
					<div id="create-account-content" class="create-account-content">
						<p>Crear cuenta</p>
					</div>

					<!-- Area de mensajes -->
					<div id="global-message" class="hidden" style="margin-bottom: 5px;">
						<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
						<span id="global-message-text"></span>
					</div>

					<form class="m-t" role="form" action="#" th:action="@{/registerAccount}" th:object="${accountViewModel}" method="post">
						<div><!-- class="form-horizontal" -->
							<input type="hidden" th:field="*{id}">
							
							<!-- Contribuyente :: Nombre o razon social --> 
							<div class="form-group">
								<label class="label-form" for="contribuyenteViewModel.nombreRazonSocial">
									Nombre o razón social (*):
								</label>
								<div>
									<input type="text" class="form-control" th:field="*{contribuyenteViewModel.nombreRazonSocial}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.nombreRazonSocial')}" th:text="${err}">error</span>
								</div>
							</div>
							
							<!-- Contribuyente :: RFC -->
							<div class="form-group">
								<label class="label-form" for="contribuyenteViewModel.rfc">
									RFC (*):
								</label>
								<div>
									<input type="text" class="form-control" th:field="*{contribuyenteViewModel.rfc}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.rfc')}" th:text="${err}">error</span>
								</div>
							</div>
							
							<!-- Usuario :: Correo electronico -->
							<div class="form-group">
								<label class="label-form" for="usuarioViewModel.correoElectronico">
									Correo electrónico (*):
								</label>
								<div>
									<input type="email" class="form-control" th:field="*{usuarioViewModel.correoElectronico}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('usuarioViewModel.correoElectronico')}" th:text="${err}">error</span>
								</div>
							</div>
							
							<!-- Usuario :: Contraseña -->
							<div class="form-group">
								<label class="label-form" for="usuarioViewModel.passwd">
									Contraseña (*):
								</label>
								<div>
									<input type="password" class="form-control" th:field="*{usuarioViewModel.passwd}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('usuarioViewModel.passwd')}" th:text="${err}">error</span>
								</div>
							</div>
							
							<!-- Usuario :: Repetir contraseña -->
							<div class="form-group">
								<label class="label-form" for="usuarioViewModel.passwdRepeat">
									Repetir contraseña (*):
								</label>
								<div>
									<input type="password" class="form-control" th:field="*{usuarioViewModel.passwdRepeat}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('usuarioViewModel.passwdRepeat')}" th:text="${err}">error</span>
								</div>
							</div>
							
							<!-- Contribuyente :: Telefono -->
							<div class="form-group">
								<label class="label-form" for="contribuyenteViewModel.telefono">
									Teléfono/Celular (*):
								</label>
								<div>
									<input type="text" class="form-control" th:field="*{contribuyenteViewModel.telefono}" required="true">
									<span class="field-validation-error" th:each="err : ${#fields.errors('contribuyenteViewModel.telefono')}" th:text="${err}">error</span>
								</div>
							</div>
						</div>
						
						
						<div class="form-group">
							<!-- Terminos y condiciones -->
							<div class="checkbox i-checks">
								<label>
									<input type="checkbox" th:field="*{accept}">
									<i></i>
									Acepto los términos y condiciones
								</label>
							</div>
							<span class="field-validation-error" th:each="err : ${#fields.errors('accept')}" th:text="${err}">error</span>
							
							<div class="login-access">
								<p class="text-muted text-center">
									<small>
										¿Ya tiene una cuenta?
										<a th:href="@{'/login'}">
											Iniciar sesión
										</a>
									</small>
								</p>
							</div>		
						</div>
						
						<div style="text-align: center !important;" class="form-group">
							<button type="submit" class="btn btn-primary" style="width: 100%">
								Registrarse
							</button>
						</div>
					</form>
					<div class="login-signature">
						<p>
							<small>MegaPractical &copy; [[${#dates.year(#dates.createNow())}]]</small>
						</p>
					</div>
				</div>
			</div>

			
			<script th:inline="javascript" type="text/javascript">
				$(document).ready(function() {
					$('.i-checks').iCheck({
						checkboxClass : 'icheckbox_square-green',
						radioClass : 'iradio_square-green',
					});
				});
				
				var fields = [""];
				function register(){
					
				}
				
			</script>
		</body>
	</div>
</body>
</html>




