/*
	@author 	Maikel Guerra Ferrer
	@date		20170113
	@location	D.F, Mexico
*/

.header{
	width: 100%;	
	background-color: #fff;
}

.logo{
	float:left;
	margin-left: 5px;
    margin-top: 5px;
}

.logo h1 a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #1C97CA;
	font-size: 40px;
	font-weight: 100;
	padding: 20px 0px;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
	
}

.box-content {
    background-color: #f5f5f5;
    border: 1px solid #676a6c;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #000;
    margin-left: -30px;
    padding: 40px;
    position: relative;
    width: 610px;
    margin: 0 auto;
}

.app-logo {
    background-image: url("../../../img/login/mega-cfdi-logo.png");
    height: 100px;
    width: 104px;
    margin: 0 auto;
    position: relative;
    margin-top: -15px;
    margin-bottom: 25px;
}

.create-account-content {
    border-bottom: 1px solid #e1e1e1; 
    font-size: 13px;
}

.login-access{
	margin-bottom: 10px;
}

.login-signature {
    left: 40%;
    position: absolute;
}

.login-signature p {
    color: #676a6c;
}