<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>MEGA-CFDI BUSINESS WEBAPP</title>
	</head>
	<body>
		<div th:fragment="content">
			
			<!-- CSS :: Jasny -->
			<link th:href="@{'/resources/css/plugins/jasny/jasny-bootstrap.min.css'}" rel="stylesheet">
			<!-- JS :: Jasny -->
    		<script th:src="@{'/resources/js/plugins/jasny/jasny-bootstrap.min.js'}"></script>
    		<!-- CSS :: Awesome Bootstrap Checkbox -->
    		<link th:href="@{'/resources/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'}" rel="stylesheet">
    		<!-- Paginado -->
			<script th:src="@{'/resources/js/app-script/pagination.js'}"></script>
    		
    		<style type="text/css">
				.tabs-container .tabs-panel-body {
				    background: #fff;
				    border: 1px solid #e7eaec;
				        border-top-width: 1px;
				        border-top-style: solid;
				        border-top-color: rgb(231, 234, 236);
				    border-radius: 2px;
				    padding: 20px;
				    position: relative;
				}
			</style>
    		
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-sm-8">
					<h3 class="header-title">Bandeja de cancelaciones</h3>
					<ol class="breadcrumb">
						<li>
							<a th:href="@{'/'}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Inicio
							</a>
						</li>
						<li>
							<i class="fa fa-file-text" aria-hidden="true"></i>
							Cancelación masiva
						</li>
						<li class="active">
							<strong>
								<i class="fa fa-archive" aria-hidden="true"></i>
								Bandeja de cancelaciones
							</strong>
						</li>
					</ol>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
                    <ul class="stat-list m-t-lg">
                        <li id="li-stamp-available" class="hidden" style="display: none;">
                            <small id="stamp-available"></small>
                            <div class="progress progress-mini">
                                <div id="stamp-available-progress-bar" class="progress-bar"><!-- style="width: 48%;" --></div>
                            </div>
                        </li>
                    </ul>
                </div>
			</div>
			
			<div id="div-loading-initial-content" class="col-lg-12" style="padding: 40px;">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="sk-spinner sk-spinner-wave" style="float: left;">
	                    <div class="sk-rect1"></div>
	                    <div class="sk-rect2"></div>
	                    <div class="sk-rect3"></div>
	                    <div class="sk-rect4"></div>
	                    <div class="sk-rect5"></div>
	                </div>
                	<div style="float: left; margin-top: -2px;">
                		<span style="color: #c1c1c1; font-weight: bold;" th:text="${loadingRequest}">Cargando información...</span>
                	</div>
                </div>
                <div class="col-lg-4"></div>			
			</div>
			
			<div id="application-page-content" class="wrapper wrapper-content hidden">
				<div class="row animated fadeInRight">
					<div class="col-lg-12">
						<!-- Area de mensajes -->
						<div id="global-message-content">
                            <div id="global-message"></div>
                        </div>
						
						<!-- Are de contenido -->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Bandeja de archivos</h5>
							</div>
							<div class="ibox-content">
								<div class="tabs-container">
									<ul class="nav nav-tabs">
										<!-- TAB :: Procesados -->
										<li id="li-tab-emitter" class="active">
											<a data-toggle="tab" href="#tab-processed">
												<i class="fa fa-database" aria-hidden="true"></i>												
												Procesados
											</a>
										</li>
										<!-- TAB :: Procesando -->
										<li id="li-tab-receiver">
											<a data-toggle="tab" href="#tab-processing">
												<i class="fa fa-refresh" aria-hidden="true"></i>
												Procesando
											</a>
										</li>
										<!-- TAB :: En cola -->
										<li id="li-tab-voucher">
											<a data-toggle="tab" href="#tab-queued">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												En cola
											</a>
										</li>
										<div id="div-upload-file-content" class="button-form-right">
											<a id="upload-file-btn" class="btn btn-success">
												<i class="fa fa-upload" aria-hidden="true"></i>
												<span>Subir archivo</span>
											</a>
										</div>
									</ul>
									<div class="tab-content">
										<!-- TAB CONTENT :: PROCESSED FILES -->
										<div id="tab-processed" class="tab-pane active">
											<div class="panel-body" style="padding-bottom: 0;">
												<!-- Criterios de busqueda -->
												<div id="div-cancellation-file-generated-search" class="ibox float-e-margins border-bottom" style="margin-bottom: 10px;">
					                                <div class="ibox-title" style="border-right: 1px solid #e7eaec;border-left: 1px solid #e7eaec;">
					                                    <i class="fa fa-search" aria-hidden="true"></i>				                                    
					                                    <label th:text="#{mega.cfdi.legend.search}">Criterios de búsqueda</label>
					                                    <div class="ibox-tools pull-right">
					                                        <a class="collapse-link">
					                                            <i id="i-collapse" class="fa fa-chevron-down"></i>
					                                        </a>
					                                    </div>
					                                </div>
					                                <div class="ibox-content" style="padding: 0; display: none">
					                               		<div class="panel-body" style="padding: 0;">
															<div class="div-form-content" style="margin-top: 10px;">
					                                			<div class="form-group">
																	<div id="div-search-file-name" class="col-xs-4 div-form-input-bottom">
																		<label id="label-search-file-name" class="label-form" for="search-file-name">
																			Nombre archivo:
																		</label>
																		<input type="text" id="search-file-name" name="search-file-name" class="form-control">
																		<span id="span-search-file-name" class="field-validation-error-extended"></span>
																	</div>                           			
					                                			</div>
					                                		</div>
					                                		<div class="button-form-right col-xs-12" style="margin-bottom: 5px;">
																<button type="button" id="btn-search" name="btn-search" class="btn btn-primary" style="width: 150px;" >
																	<i class="fa fa-search" aria-hidden="true"></i> 
																	Buscar
																</button>
															</div>                                		
					                               		</div>
													</div>
					                            </div>
									
												<div id="panel-search-result-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-search-result-empty-message"></div>
												</div>
												
												<div id="div-cancellation-file-generated-custom-list" class="table-responsive hidden" style="margin-top: 20px;">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup id="colgroup-cancellation-file-generated-custom-list">
															<col width="70%">
															<col span="3" width="10%">
														</colgroup>
														<thead id="thead-cancellation-file-generated-custom-list">
															<tr>
																<th>
																	<span>Nombre archivo</span>
																</th>
																<th style="text-align: center;">
																	<span>Acuses</span>
																</th>
																<th style="text-align: center;">
																	<span>Error</span>
																</th>
															</tr>
														</thead>
														<tbody id="tbdoy-cancellation-file-generated-custom-list"></tbody>
													</table>
												</div>
												
												<!-- Paginado -->
												<div id="div-pagination-generated-cancellation-file-content" class="hidden">
													<div id="div-pagination-generated-cancellation-file" style="text-align: center;"></div>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: PROCESSING FILES -->
										<div id="tab-processing" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-cancellation-file-processing-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-cancellation-file-processing-empty-message"></div>
												</div>
												
												<div id="div-cancellation-file-processing-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<thead>
															<tr>
																<th>
																	<span>Nombre archivo</span>
																</th>																
															</tr>
														</thead>
														<tbody id="tbdoy-cancellation-file-processing-custom-list"></tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- TAB CONTENT :: QUEUED FILES -->
										<div id="tab-queued" class="tab-pane">
											<div class="panel-body" style="padding-bottom: 0;">
												<div id="panel-cancellation-file-queued-empty-content" class="hidden" style="margin-bottom: 15px;">
													<div id="panel-cancellation-file-processing-queued-message"></div>
												</div>
												
												<div id="div-cancellation-file-queued-custom-list" class="table-responsive hidden">
													<table class="table table-striped"><!-- table-hover -->
														<colgroup>
															<col width="70%">
															<col width="20%">
															<col width="10%">
														</colgroup>
														<thead>
															<tr>
																<th>
																	<span>Nombre archivo</span>
																</th>
																<th style="text-align: center;">
																	<span>Fecha de carga</span>
																</th>
																<th style="text-align: right;"></th>
															</tr>
														</thead>
														<tbody id="tbdoy-cancellation-file-queued-custom-list"></tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									
									<!--Confirmation modal-->											
									<div th:insert="~{modals/CancellationFileUploadModal :: cancellation-file-upload-modal}"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--Confirmation modal-->											
			<div th:insert="~{modals/ConfirmationModal :: confirmation-modal}"></div>
			
			<!--Footer-->											
			<div th:insert="~{fragments/Footer :: application-page-footer}"></div>
			
			<!-- JS Inline -->
			<script th:inline="javascript" type="text/javascript">
				//##### Messages
				var requiredMessage = /*[[${requiredMessage}]]*/;
				var processingRequest = /*[[${processingRequest}]]*/;
				var loadingRequest = /*[[${loadingRequest}]]*/;
				var emptyInformation = /*[[${emptyInformation}]]*/;
				var availableStampError = /*[[${availableStampError}]]*/;
				
				var contextPath = /*[[@{/}]]*/;
				
				var page = null;
				var action = 'load';
				
				//##### Request
				var cancellationRequest = /*[[@{/cancellation-tray}]]*/;
				//var cancellationTryRequest = /*[[@{/complementFileTray}]]*/;
				
				//##### Arreglo de archivos
				var generatedCancellationFileList = [];
				var processingCancellationFileList = [];
				var queuedCancellationFileList = [];
				
				$(document).ready(function() {
					
					appValidationSetRequiredMessage(requiredMessage);
					
					//##### Load cancellation upload file modal
					$('#upload-file-btn').click(function() {
						cancellationUploadClear();
						$("#cancellation-file-upload-modal").modal();
					});
					
					//##### Cancellation upload btn
					$('#cancellation-file-modal-btn').click(function() {
						cancellationFileUpload();
					});
					
					$('#period').keyup(function() {
						elementFieldClassReset(this.id);
					}).change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#cancellation-type').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					$('#cancellation-file').change(function() {			
						elementFieldClassReset(this.id);
					});
					
					//##### Listado de archivos
					cancellationFileLoad();
					
					//##### Busqueda
					$('#btn-search').click(function() {
						search();
					});
					
					//##### Verifica el estado de los ficheros de cancelaciones cada 1 min (1 min = 60 seg = 60000 miliseg)
		    		cancellationFileTime = 1;
		    		cancellationFileHandlerIntervalId = interval(cancellationFileAsyncCheck, convertMiliseg(cancellationFileTime));
				});
				
				//########################################################################################
				//##### Listado de ficheros ##############################################################
				//########################################################################################
				function cancellationFileAsyncCheck() {
					page = encodeValue(page + 1);
					action = 'async';
					cancellationFileLoad();
		    	}
				
				function search() {
					page = null;
					action = 'search';
					cancellationFileGeneratedLoad();
				}
				
				function paginate(pPage) {
					page = pPage;
					action = 'paginate';
					cancellationFileGeneratedLoad();
				}
				
				function paginationHidden() {
					$('#div-pagination-generated-cancellation-file').html("");
					hiddenClass('div-pagination-generated-cancellation-file-content');
				}
				
				function cancellationFileLoad() {
					globalMessageHide();
					
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					panelMessageHide('panel-cancellation-file-processing-empty-content', 'panel-cancellation-file-processing-empty-message');
					panelMessageHide('panel-cancellation-file-queued-empty-content', 'panel-cancellation-file-processing-queued-message');
					
					generatedCancellationFileList = [];
					processingCancellationFileList = [];
					queuedCancellationFileList = [];
					
					$.ajax({
						url: cancellationRequest + "?cancellationFileList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedCancellationList = objJson.generatedFiles;
								var processingCancellationList = objJson.processingFiles;
								var queuedCancellationList = objJson.queuedFiles;
								
								var cancellationFilePagination = objJson.pagination;
								var paginator = cancellationFilePagination.paginator;
								var paginatorPage = cancellationFilePagination.page;								
								page = paginatorPage.number;
								
								if (response.success) {
									//##### Listado de archivos procesados (con paginado)
									if (generatedCancellationList != null) {
										if (generatedCancellationList.length >= 1) {
											for (var i = 0; i < generatedCancellationList.length; i++) {
												var item = generatedCancellationList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												if (item.acusesPath != null) {
													obj.acusesPath = decodeValue(item.acusesPath);
												}
												
												if (item.errorPath != null) {
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedCancellationFileList[generatedCancellationFileList.length] = obj;
											}
											
											pagination('pagination-generated-cancellation-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-cancellation-file-content');	
										} else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos procesandose
									if (processingCancellationList != null) {
										if (processingCancellationList.length >= 1) {
											for (var i = 0; i < processingCancellationList.length; i++) {
												var item = processingCancellationList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.name = decodeValue(item.name);
												obj.stimatedTime = item.stimatedTime != null ? decodeValue(item.stimatedTime) : null; 
												
												if (item.cfdiFileStatistics != null) {
													var statistics = item.cfdiFileStatistics;
													obj.parserStartDate = statistics.parserStartDate != null ? decodeValue(statistics.parserStartDate) : null;
													obj.parserStartTime = statistics.parserStartTime != null ? decodeValue(statistics.parserStartTime) : null;
													obj.totalCancellation = statistics.totalCancellation != null ? decodeValue(statistics.totalCancellation) : null;
													obj.totalCancellationStamped = statistics.totalCancellationStamped != null ? decodeValue(statistics.totalCancellationStamped) : null;
													obj.totalCancellationError = statistics.totalCancellationError != null ? decodeValue(statistics.totalCancellationError) : null;
												} else{
													obj.parserStartDate = null;
													obj.parserStartTime = null;
													obj.totalCancellation = null;
													obj.totalCancellationStamped = null;
													obj.totalCancellationError = null;
												}
												
												processingCancellationFileList[processingCancellationFileList.length] = obj;
											}
										} else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-cancellation-file-processing-custom-list');
											panelMessageShow('panel-cancellation-file-processing-empty-content', 'panel-cancellation-file-processing-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-cancellation-file-processing-custom-list');
										panelMessageShow('panel-cancellation-file-processing-empty-content', 'panel-cancellation-file-processing-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									//##### Listado de archivos en cola
									if (queuedCancellationList != null) {
										if (queuedCancellationList.length >= 1) {
											for (var i = 0; i < queuedCancellationList.length; i++) {
												var item = queuedCancellationList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.name = decodeValue(item.name);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												queuedCancellationFileList[queuedCancellationFileList.length] = obj;
											}
										} else{
											var emptyMessage = emptyInformation;
											var cssClass = 'alert alert-info';
											var dismiss = false;
											
											hiddenClass('div-cancellation-file-queued-custom-list');
											panelMessageShow('panel-cancellation-file-queued-empty-content', 'panel-cancellation-file-processing-queued-message', emptyMessage, cssClass, dismiss);
										}
									} else{
										var emptyMessage = emptyInformation;
										var cssClass = 'alert alert-info';
										var dismiss = false;
										
										hiddenClass('div-cancellation-file-queued-custom-list');
										panelMessageShow('panel-cancellation-file-queued-empty-content', 'panel-cancellation-file-processing-queued-message', emptyMessage, cssClass, dismiss);
									}
									cancellationFileCustomList();
								} else if (response.error) {
									
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
									
									afterDocumentLoad();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Cancellation file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function cancellationFileGeneratedLoad() {
					globalMessageHide();
					panelMessageHide('panel-search-result-empty-content', 'panel-search-result-empty-message');
					
					generatedCancellationFileList = [];
					
					$.ajax({
						url: cancellationRequest + "?cancellationFileGeneratedList",
				       	type: 'POST',
				       	data: {
				       		action: encodeValue(action),
				       		searchName: encodeValue(getElementValue('search-file-name')),
				       		page: page == null ? encodeValue("0") : page
				       	},
				       	success:  function(data) {
				       		if (jQuery.parseJSON(data) != null) {
								var objJson = jQuery.parseJSON(data);
								var response = objJson.response;
								var notification = response.notification;
								
								var generatedCancellationList = objJson.generatedFiles;
								
								var cancellationFilePagination = objJson.pagination;
								var paginator = cancellationFilePagination.paginator;
								var paginatorPage = cancellationFilePagination.page;								
								page = paginatorPage.number;
								
								if (response.success) {
									//##### Listado de archivos procesados (con paginado)
									if (generatedCancellationList != null) {
										if (generatedCancellationList.length >= 1) {
											for (var i = 0; i < generatedCancellationList.length; i++) {
												var item = generatedCancellationList[i];
												var obj = new Object();
												obj.id = item.id;
												obj.cfdiType = decodeValue(item.cfdiType);
												obj.fileType = decodeValue(item.fileType);
												obj.fileStatus = decodeValue(item.fileStatus);
												obj.name = decodeValue(item.name);
												obj.path = decodeValue(item.path);
												obj.uploadDate = decodeValue(item.uploadDate);
												obj.stampAvailable = item.stampAvailable;
												
												if (item.acusesPath != null) {
													obj.acusesPath = decodeValue(item.acusesPath);	
												}
												
												if (item.errorPath != null) {
													obj.errorPath = decodeValue(item.errorPath);
												}
												
												generatedCancellationFileList[generatedCancellationFileList.length] = obj;
											}
											
											pagination('pagination-generated-cancellation-file', paginatorPage, paginator);
											hiddenClassRemove('div-pagination-generated-cancellation-file-content');	
										} else{
											var emptyMessage = notification.searchResultMessage;
											var cssClass = notification.cssStyleClass;
											var dismiss = notification.dismiss;
											
											paginationHidden();
											panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
										}
									} else{
										var emptyMessage = notification.searchResultMessage;
										var cssClass = notification.cssStyleClass;
										var dismiss = notification.dismiss;
										
										paginationHidden();
										panelMessageShow('panel-search-result-empty-content', 'panel-search-result-empty-message', emptyMessage, cssClass, dismiss);
									}
									
									generatedCancellationFileCustomList();
								} else if (response.error) {
									if (notification != null) {
										var pageMessage = notification.pageMessage;
										if (pageMessage) {
											var cssClass = notification.cssStyleClass;
											var message = notification.message;
											var dismiss = notification.dismiss;
											var fadeOut = notification.fadeOut;
											globalMessageShow(message, cssClass, dismiss, fadeOut);
										}
									}
									
									paginationHidden();
									processingEnd();
								}
				       		}
				      	},
				      	error: function (xhr, ajaxOptions, thrownError) {
				      		console.log("[ERROR] Cancellation generated file load failed!");
				        }
					});
					
					hiddenClassRemove('div-emitter-account-list-content');
					elementShow('div-emitter-account-list-content');
					
					hiddenClassRemove('h5-list-title');
					elementShow('h5-list-title');
					
					hiddenClassRemove('emitter-account-config');
					elementShow('emitter-account-config');
				}
				
				function cancellationFileCustomList() {
					generatedCancellationFileCustomList();
					processingCancellationFileCustomList();
					queuedCancellationFileCustomList();
				}
				
				function generatedCancellationFileCustomList() {
					$("#tbdoy-cancellation-file-generated-custom-list").html("");
					if (generatedCancellationFileList.length >= 1) {						
						var acusesPath = false;
						var errorPath = false;
						
						for (var i = 0; i < generatedCancellationFileList.length; i ++) {
							var item = generatedCancellationFileList[i];
							
							var id = item.id;
							var name = item.name;
														
							var cancellationAcusesPath = item.acusesPath != null ? item.acusesPath : null;
							if (cancellationAcusesPath != null) {
								acusesPath = true;
							}
							
							var cancellationErrorPath = item.errorPath != null ? item.errorPath : null;
							if (cancellationErrorPath != null) {
								errorPath = true;
							}
							
							var tbodyTr = "tbody-tr-generated-" + i;
							
							$("#tbdoy-cancellation-file-generated-custom-list").append('<tr id="'+tbodyTr+'"></tr>');
							$("#" + tbodyTr).append(
								'<td>'+name+'</td>'
							);
								
							if (cancellationAcusesPath != null) {
								var acusesDownload = contextPath + 'cancellation-tray/file/download/'+name+'/acuses';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-acuses" style="text-align: center;"> ' +
										'<div title="Descargar acuses"> ' +
											'<a href="'+acusesDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							} else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-acuses"></td>');
							}
									
							if (cancellationErrorPath != null) {
								var errorDownload = contextPath + 'cancellation-tray/file/download/'+name+'/error';
								$("#" + tbodyTr).append(
									'<td id="'+tbodyTr+'-td-error" style="text-align: center;"> ' +
										'<div title="Descargar archivo de errores"> ' +
											'<a href="'+errorDownload+'" target="_blank"> ' +
												'<i class="fa fa-download fa-lg" aria-hidden="true"></i> ' +
											'</a> ' +
										'</div> ' +
									'</td>'
								);
							} else{
								$("#" + tbodyTr).append('<td id="'+tbodyTr+'-td-error"></td>');
							}
						}
						
						//##### Para eliminar las filas en donde no exista contentido
						if (!acusesPath) {
							for (var i = 0; i < generatedCancellationFileList.length; i ++) {
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-acuses";
								elementRemove(elementId);								
							}
						}
						
						if (!errorPath) {
							for (var i = 0; i < generatedCancellationFileList.length; i ++) {
								var tbodyTr = "tbody-tr-generated-" + i;
								var elementId = tbodyTr + "-td-error";
								elementRemove(elementId);								
							}	
						}
						
						//##### Determinando el colgroup y el thead
						$('#colgroup-cancellation-file-generated-custom-list').html("");
						$('#thead-cancellation-file-generated-custom-list').html("");
						$('#thead-cancellation-file-generated-custom-list').append('<tr id="thead-tr-generated"></tr>');
						$('#thead-tr-generated').append(
							'<th> ' +
								'<span>Nombre archivo</span> ' +
							'</th>'
						);
						
						if (acusesPath && errorPath) {
							$('#colgroup-cancellation-file-generated-custom-list').append(
								'<col width="80%"> ' +
								'<col span="2" width="10%">'
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Acuses</span> ' +
								'</th> ' +
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						} else if (acusesPath && !errorPath) {
							$('#colgroup-cancellation-file-generated-custom-list').append(
								'<col width="90%"> ' +
								'<col width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Acuses</span> ' +
								'</th> '								
							);
						} else if (!acusesPath && errorPath) {
							$('#colgroup-cancellation-file-generated-custom-list').append(
								'<col width="90%"> ' +
								'<col width="10%">'	
							);
							
							$('#thead-tr-generated').append(
								'<th style="text-align: center;"> ' +
									'<span>Error</span> ' +
								'</th>'
							);
						}
						
						hiddenClassRemove('div-cancellation-file-generated-search');
						hiddenClassRemove('div-cancellation-file-generated-custom-list');
					} else{
						if (action != 'search') {
							hiddenClass('div-cancellation-file-generated-search');	
						}
						hiddenClass('div-cancellation-file-generated-custom-list');						
					}
				}
				
				function processingCancellationFileCustomList() {
					$("#tbdoy-cancellation-file-processing-custom-list").html("");
					if (processingCancellationFileList.length >= 1) {
						for (var i = 0; i < processingCancellationFileList.length; i ++) {
							var item = processingCancellationFileList[i];
							var id = item.id;
							var name = item.name;
							
							$("#tbdoy-cancellation-file-processing-custom-list").append(
								'<tr>' +
									'<td>'+name+'</td> ' +
								'</tr>'
							);
						}
						hiddenClassRemove('div-cancellation-file-processing-custom-list');
					} else{
						hiddenClass('div-cancellation-file-processing-custom-list');						
					}
				}
				
				function queuedCancellationFileCustomList() {
					var showInfo = false;
					$("#tbdoy-cancellation-file-queued-custom-list").html("");					
					if (queuedCancellationFileList.length >= 1) {
						for (var i = 0; i < queuedCancellationFileList.length; i ++) {
							var item = queuedCancellationFileList[i];
							
							var id = item.id;
							var name = item.name;
							var cfdiType = item.cfdiType;
							var uploadDate = item.uploadDate;
							var stampAvailable = item.stampAvailable;
							
							var trStyle = stampAvailable != null ? (!stampAvailable ? 'style="color: red;"' : '') : ''; 
							
							$("#tbdoy-cancellation-file-queued-custom-list").append(
								'<tr '+trStyle+'>' +
									'<td>'+name+'</td> ' +
									'<td style="text-align: center;">'+uploadDate+'</td> ' +
									'<td style="text-align: right;"> ' +
										'<div> ' +
											'<i class="fa fa-trash fa-lg" aria-hidden="true" onclick=queuedFileLoadRemove("'+id+'")></i> ' +
										'</div> ' +									
									'</td> ' +
								'</tr>'
							);
							
							if (!stampAvailable) {
								showInfo = true;
							}
						}
						hiddenClassRemove('div-cancellation-file-queued-custom-list');
					} else{
						hiddenClass('div-cancellation-file-queued-custom-list');						
					}
					
					if (showInfo) {
						hiddenClassRemove('cancellation-file-queued-info');
					} else{
						hiddenClass('cancellation-file-queued-info');
					}
					
					if (action != 'async') {
						afterDocumentLoad();	
					}
				}
				
				// Eliminar archivos en cola
				let queuedFileId = null;
				const queuedFileLoadRemove = (pId) => {
					if (pId != null) {
						queuedFileId = pId;
						
						elementTextChange('span-conformation-modal', '¿Está seguro que desea eliminar el archivo seleccionado?');
						elementAttrEvent('btn-confirmation-modal', 'onclick', 'queuedFileRemove()');
						$("#confirmation-modal").modal();
					}
				}
				
				const queuedFileRemove = () => {
					if (queuedFileId != null) {
						action = 'trash';
						$("#confirmation-modal").modal('hide');
						processing(processingRequest);
						
						setTimeout('queuedFileRemoving()', 500);
					}
				}
				
				const queuedFileRemoving = () => {
					$.ajax({
						url: cancellationRequest + '?queuedFileRemove',
						type: "POST",
						data: {id: queuedFileId},
					}).done(function (data) {								        	
						if (jQuery.parseJSON(data) != null) {
							var objJson = jQuery.parseJSON(data);
							var response = objJson.response;
							var notification = response.notification;
							if (response.success) {
								removeItemFromQueuedList(queuedFileId);
								queuedCancellationFileCustomList();
							} else if (response.error) {
								if (notification != null) {
									var pageMessage = notification.pageMessage;
									if (pageMessage) {
										var cssClass = notification.cssStyleClass;
										var message = notification.message;
										var dismiss = notification.dismiss;
										var fadeOut = notification.fadeOut;
										globalMessageShow(message, cssClass, dismiss, fadeOut);
									}
								}
							}
							processingEnd();
						}					
			        }).fail(function (xhr, ajaxOptions, thrownError) {
			            console.log("ERROR");
			        });
				}
				
				const removeItemFromQueuedList = (id) => {
				    for (var i = 0; i < queuedCancellationFileList.length; i++) {
				        if (queuedCancellationFileList[i].id === id) {
				            queuedCancellationFileList.splice(i, 1);
				            break;
				        }
				    }
				}
				
				//########################################################################################
				//##### Upload file ######################################################################
				//########################################################################################
				var cancellationFields = ['cancellation-file'];
				
				function cancellationUploadClear() {
					panelMessageHide('cancellation-file-modal-message-content', 'cancellation-file-modal-message');
					formFieldsClear(cancellationFields);
				}
				
				function cancellationUploadDataReady() {
					action = 'upload';
					elementFieldClassReset('cancellation-file');
				}
				
				function cancellationFileUpload() {
					var bValid = true;
					
					cancellationUploadDataReady();
					
					bValid = bValid && fieldsCheck(cancellationFields);
					
					if (!bValid) {
						if (!isElementHasValue('cancellation-file')) {
							elementClassAdd('div-cancellation-file-error', 'div-file-input-span-has-error');
						}
						return false;
					} else{
						$("#cancellation-file-upload-modal").modal('hide');
						processing(processingRequest);
						
						//##### Cargando la informacion en el FormData
						var formData = new FormData(jQuery('form')[0]);
						
						formData.append('complementType', encodeValue('cancellation-complement'));
						formData.append('fileUploaded', $('#cancellation-file')[0].files[0]);
						
						$.ajax({
							url: cancellationRequest + "?uploadFile",
					       	type: 'POST',
					       	data: formData,
					       	cache: false,
					       	contentType: false,
					       	processData: false,
					       	success:  function(data) {
					       		if (jQuery.parseJSON(data) != null) {
									var objJson = jQuery.parseJSON(data);
									var response = objJson.response; 
									var notification = response.notification;																				
									
									if (response.success) {
										processingEnd();
										
										var toastr = response.notification.toastr;
										var toastrType = toastr['type'];
										var toastrTitle = toastr['title'];
										var toastrMessage = toastr['message'];
										systemNotificationShow(toastrType, toastrMessage, toastrTitle);
										
										cancellationFileAsyncCheck();
										
									} else if (response.error) {
										var errorSource = response.errors;
										for (var i = 0; i < errorSource.length; i++) {
											var error = errorSource[i];
											var field = error['field'];
											var message = error['message'];
											var code = error['code'];
											
											elementForceError(field, message);
											
											if (field == 'cancellation-file') {
												elementClassAdd('div-cancellation-file-error', 'div-file-input-span-has-error');
											}												
										}
										
										if (notification != null) {
											var modalPanelMessage = notification.modalPanelMessage;
											if (modalPanelMessage) {
												var cssClass = notification.cssStyleClass;
												var message = notification.message;
												var dismiss = notification.dismiss;
												panelMessageShow('cancellation-file-modal-message-content', 'cancellation-file-modal-message', message, cssClass, dismiss);
											}
										}
										
										$("#cancellation-file-upload-modal").modal();
										processingEnd();
									}
					       		}
					      	},
					      	error: function (xhr, ajaxOptions, thrownError) {
					      		console.log("[ERROR] Generate CFDI failed!");
					      		processingEnd();
					        }
						});
					}
				}
			
			</script>
				
		</div>
	</body>
</html>